In [1]:
import pandas as pd
#TN_01
tn01_col = pd.read_csv('TN_01_merged_data_summary.csv', usecols=[0, 1])
print(tn01_col.info())

#TN_16
tn16_col = pd.read_csv('TN_16_merged_data_summary.csv', usecols=[0, 1])
#rename the column 'Unnamed: 0'
tn16_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn16_col.info())

#TN_19
tn19_col = pd.read_csv('TN_19_merged_data_summary.csv', usecols=[0, 1])
tn19_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn19_col.info())

#TN_20
tn20_col = pd.read_csv('TN_20_merged_data_summary.csv', usecols=[0, 1])
tn20_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn20_col.info())

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1578 entries, 0 to 1577
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              1578 non-null   object
 1   Missing Percentage  1578 non-null   float64
dtypes: float64(1), object(1)
memory usage: 24.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              262 non-null    object
 1   Missing Percentage  262 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              875 non-null    object
 1   Missing Percentage  875 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              840 non-null    object
 1   Missing Percentage  840 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.2+ KB
None

In [3]:
# filter out columns with missing values larger than 99%
#TN_01
filtered_tn_01_col_99 = tn01_col[tn01_col['Missing Percentage'] < 99]
# Extract the values from the first column and convert to list
tn_01_col_99 = filtered_tn_01_col_99['header'].tolist()
print('Number of columns in TN_01 with missing values less than 99%: ', len(tn_01_col_99))

#TN_16
filtered_tn_16_col_99 = tn16_col[tn16_col['Missing Percentage'] < 99]
tn_16_col_99 = filtered_tn_16_col_99['header'].tolist()
print('Number of columns in TN_16 with missing values less than 99%: ', len(tn_16_col_99))

#TN_19
filtered_tn_19_col_99 = tn19_col[tn19_col['Missing Percentage'] < 99]
tn_19_col_99 = filtered_tn_19_col_99['header'].tolist()
print('Number of columns in TN_19 with missing values less than 99%: ', len(tn_19_col_99))

#TN_20
filtered_tn_20_col_99 = tn20_col[tn20_col['Missing Percentage'] < 99]
tn_20_col_99 = filtered_tn_20_col_99['header'].tolist()
print('Number of columns in TN_20 with missing values less than 99%: ', len(tn_20_col_99))

Number of columns in TN_01 with missing values less than 99%:  296
Number of columns in TN_16 with missing values less than 99%:  205
Number of columns in TN_19 with missing values less than 99%:  295
Number of columns in TN_20 with missing values less than 99%:  509

In [4]:
df_tn01_99 = pd.read_csv('TN_01_Merged_Data.csv', usecols=tn_01_col_99)
df_tn01_99 = df_tn01_99.astype('category')
df_tn01_99 = df_tn01_99.drop_duplicates()
df_tn01_99.info()

/tmp/ipykernel_21413/3528730019.py:1: DtypeWarning: Columns (1,2,4,5,6,11,14,20,21,88,99,104,111,115,119,123,127,131,135,139,144,149,154,159,164,378,381,384,385,386,388,389,397,410,412,413,414,415,416,417,421,423,426,430,435,440,441,445,446,450,451,508,509,510,511,512,513,515,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,545,547,549,551,552,556,558,560,562,563,564,565,567,568,569,571,573,574,575,576,578,579,580,582,583,586,588,594,595,604,611,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,653,655,657,658,659,660,661,662,663,666,670,676,677,678,679,680,681,682,683,687,691,695,697,700,701,702,703,705,707,708,797,802,806,1296,1297,1547,1549,1550,1551,1553,1556,1557,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn01_99 = pd.read_csv('TN_01_Merged_Data.csv', usecols=tn_01_col_99)

<class 'pandas.core.frame.DataFrame'>
Index: 2920720 entries, 0 to 2923847
Columns: 296 entries, MaskID to LabID
dtypes: category(296)
memory usage: 975.7 MB

In [5]:
df_tn16_99 = pd.read_csv('TN_16_merged_data.csv', usecols=tn_16_col_99)
df_tn16_99 = df_tn16_99.astype('category')
df_tn16_99 = df_tn16_99.drop_duplicates()
df_tn16_99.info()

/tmp/ipykernel_21413/2514492388.py:1: DtypeWarning: Columns (0,1,2,4,6,13,14,15,16,17,22,29,30,45,46,48,50,52,54,55,57,59,60,62,63,64,66,67,68,69,70,71,72,74,76,78,80,99,100,101,103,106,109,113,115,118,120,121,124,126,128,132,139,144,149,150,153,163,164,166,168,169,170,172,178,182,183,184,185,186,187,188,189,190,194,195,196,197,198,200,202,204,206,208,209,210,211,212,213,214,216,217,218,219,220,233,234,236,238,239,240,241,242,254) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn16_99 = pd.read_csv('TN_16_merged_data.csv', usecols=tn_16_col_99)

<class 'pandas.core.frame.DataFrame'>
Index: 2444319 entries, 0 to 2445460
Columns: 205 entries, MaskID to LabID
dtypes: category(205)
memory usage: 573.2 MB

In [6]:
df_tn19_99 = pd.read_csv('TN_19_merged_data.csv', usecols=tn_19_col_99)
df_tn19_99 = df_tn16_99.astype('category')
df_tn19_99 = df_tn19_99.drop_duplicates()
df_tn19_99.info()

/tmp/ipykernel_21413/3306744713.py:1: DtypeWarning: Columns (1,2,4,6,7,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,74,75,76,78,80,81,85,90,91,93,94,98,99,100,101,105,106,107,108,112,113,114,115,116,117,121,124,128,129,130,131,132,133,134,135,136,150,151,152,154,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,182,185,186,187,464,466,468,495,496,515,525,541,570,571,572,573,574,575,576,578,579,580,581,582,583,584,585,586,600,601,602,603,605,606,607,608,609,610,612,613,614,615,616,617,618,619,620,621,622,625,626,627,628,629,630,632,633,634,641,642,643,644,646,647,661,663,668,674,677,678,680,683,686,687,690,691,694,695,698,699,702,703,704,707,708,709,712,713,717,718,722,723,761,763,765,767,768,769,771,773,775,777,779,781,782,783,784,786,789,792,797,799,801,803,804,807) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn19_99 = pd.read_csv('TN_19_merged_data.csv', usecols=tn_19_col_99)

<class 'pandas.core.frame.DataFrame'>
Index: 2444319 entries, 0 to 2445460
Columns: 205 entries, MaskID to LabID
dtypes: category(205)
memory usage: 573.2 MB

In [7]:
df_tn20_99 = pd.read_csv('TN_20_merged_data.csv', usecols=tn_20_col_99, delimiter=',', quotechar='"', on_bad_lines='warn')
df_tn20_99 = df_tn20_99.astype('category')
df_tn20_99 = df_tn20_99.drop_duplicates()
df_tn20_99.info()

/tmp/ipykernel_21413/2469321149.py:1: DtypeWarning: Columns (1,2,3,29,30,31,32,34,37,39,40,66,67,68,69,82,83,84,85,89,93,95,99,100,104,106,107,111,112,116,120,121,131,132,133,141,142,144,146,147,149,151,153,154,156,157,158,159,161,166,167,172,173,175,177,178,203,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,247,248,249,250,251,252,253,255,256,257,258,259,260,269,270,272,273,274,275,281,283,288,295,296,299,300,303,304,307,308,311,312,315,319,323,324,328,329,333,334,338,339,343,344,348,349,350,355,356,358,360,361,365,366,367,368,370,372,373,374,375,376,377,402,404,406,408,409,410,411,412,413,414,416,418,420,422,424,425,426,427,428,439,441,443,444,446,449,450,452,453,455,458,462,466,468,469,471,475,477,478,480,484,486,487,501,503,504,505,506,507,524,525,526,596,597,598,740,741,742,777,781,784,786,788,791,793,796,798,799,801,803,804,806,808,809,811,818,820,821,822,823,824,825,827,828,829,831,833,835,836,837,838) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn20_99 = pd.read_csv('TN_20_merged_data.csv', usecols=tn_20_col_99, delimiter=',', quotechar='"', on_bad_lines='warn')

<class 'pandas.core.frame.DataFrame'>
Index: 599116 entries, 0 to 607203
Columns: 509 entries, MaskID to howmanydoseshastheparticipantm
dtypes: category(509)
memory usage: 320.4 MB

In [8]:
import pandas as pd

# Identify the common headers
common_headers_01_16 = set(df_tn01_99.columns).intersection(df_tn16_99.columns)
print('count of common headers: ', len(common_headers_01_16))

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16:
    if isinstance(df_tn01_99[col].dtype, pd.CategoricalDtype) and isinstance(df_tn16_99[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_99[col].cat.categories).union(set(df_tn16_99[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_99[col] = df_tn01_99[col].cat.set_categories(categories)
        df_tn16_99[col] = df_tn16_99[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16:
    if df_tn01_99[col].dtype != df_tn16_99[col].dtype:
        df_tn01_99[col] = df_tn01_99[col].astype('object')
        df_tn16_99[col] = df_tn16_99[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_merge = pd.merge(df_tn01_99, df_tn16_99, on=list(common_headers_01_16), how='outer', suffixes=('', '_dup_tn16'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_merge.info())
df_tn01_tn16_merge.head()

count of common headers:  31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5365039 entries, 0 to 5365038
Columns: 470 entries, MaskID to Visit_dup12
dtypes: category(470)
memory usage: 2.7 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,StorageOfResidualsDuringTrialN,_15Aug2011ConsentForResidualSa,_15Aug2011ConsentDateDay,_15Aug2011ConsentDateMonth,_15Aug2011ConsentDateYear,Fall2017ConsentDateDay,...,Visit_Dt_dup9,Visit_dup9,TN16ProtocolDeviation,ProtocolDeviationOtherSubcateg,IfMiscellaneousSpecify,SubjectRandomizedInelgibilityA,Visit_Dt_dup10,Visit_dup10,SelectTheVersionOfTN16,Visit_dup12
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Identify the common headers
common_headers_01_16_19 = set(df_tn01_tn16_merge.columns).intersection(df_tn19_99.columns)
print('count of common headers: ', len(common_headers_01_16_19))

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16_19:
    if isinstance(df_tn01_tn16_merge[col].dtype, pd.CategoricalDtype) and isinstance(df_tn19_99[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_tn16_merge[col].cat.categories).union(set(df_tn19_99[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_tn16_merge[col] = df_tn01_tn16_merge[col].cat.set_categories(categories)
        df_tn19_99[col] = df_tn19_99[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16_19:
    if df_tn01_tn16_merge[col].dtype != df_tn19_99[col].dtype:
        df_tn01_tn16_merge[col] = df_tn01_tn16_merge[col].astype('object')
        df_tn19_99[col] = df_tn19_99[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_tn19_merge = pd.merge(df_tn01_tn16_merge, df_tn19_99, on=list(common_headers_01_16_19), how='outer', suffixes=('', '_dup_tn19'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_tn19_merge.info())
df_tn01_tn16_tn19_merge.head()

count of common headers:  205
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5365039 entries, 0 to 5365038
Columns: 470 entries, MaskID to Visit_dup12
dtypes: category(470)
memory usage: 2.7 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,StorageOfResidualsDuringTrialN,_15Aug2011ConsentForResidualSa,_15Aug2011ConsentDateDay,_15Aug2011ConsentDateMonth,_15Aug2011ConsentDateYear,Fall2017ConsentDateDay,...,Visit_Dt_dup9,Visit_dup9,TN16ProtocolDeviation,ProtocolDeviationOtherSubcateg,IfMiscellaneousSpecify,SubjectRandomizedInelgibilityA,Visit_Dt_dup10,Visit_dup10,SelectTheVersionOfTN16,Visit_dup12
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import pandas as pd

# Identify the common headers
common_headers_01_16_19_20 = set(df_tn01_tn16_tn19_merge.columns).intersection(df_tn20_99.columns)

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16_19_20:
    if isinstance(df_tn01_tn16_tn19_merge[col].dtype, pd.CategoricalDtype) and isinstance(df_tn20_99[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_tn16_tn19_merge[col].cat.categories).union(set(df_tn20_99[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_tn16_tn19_merge[col] = df_tn01_tn16_tn19_merge[col].cat.set_categories(categories)
        df_tn20_99[col] = df_tn20_99[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16_19_20:
    if df_tn01_tn16_tn19_merge[col].dtype != df_tn20_99[col].dtype:
        df_tn01_tn16_tn19_merge[col] = df_tn01_tn16_tn19_merge[col].astype('object')
        df_tn20_99[col] = df_tn20_99[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_tn19_tn20_merge = pd.merge(df_tn01_tn16_tn19_merge, df_tn20_99, on=list(common_headers_01_16_19_20), how='outer', suffixes=('', '_dup_tn20'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_tn19_tn20_merge.info())
df_tn01_tn16_tn19_tn20_merge.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5964155 entries, 0 to 5964154
Columns: 889 entries, MaskID to howmanydoseshastheparticipantm
dtypes: category(889)
memory usage: 5.4 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,StorageOfResidualsDuringTrialN,_15Aug2011ConsentForResidualSa,_15Aug2011ConsentDateDay,_15Aug2011ConsentDateMonth,_15Aug2011ConsentDateYear,Fall2017ConsentDateDay,...,TreatmentDesc,ContactDateDay,ContactDateMonth,ContactDateYear,MethodofContact,Informationgatheredfrom,Havetherebeenanychangesinhealt,Havetherebeenanychangesinconco,Istheparticipantcurrentlytakin,howmanydoseshastheparticipantm
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,1.0,Jul,2015.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,NaN,Yes,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5964155 entries, 0 to 5964154
Columns: 889 entries, MaskID to howmanydoseshastheparticipantm
dtypes: category(889)
memory usage: 5.4 GB

In [12]:
# Convert categorical columns with non-string categories to strings
for col in df_tn01_tn16_tn19_tn20_merge.select_dtypes(include=['category']).columns:
    if not all(isinstance(category, str) for category in df_tn01_tn16_tn19_tn20_merge[col].cat.categories):
        df_tn01_tn16_tn19_tn20_merge[col] = df_tn01_tn16_tn19_tn20_merge[col].astype(str)

In [13]:
# Function to check if a value is not an integer
def is_not_integer(val):
    try:
        float_val = float(val)  # Convert to float first
        int_val = int(float_val)
        return float_val != int_val  # Check if float value is not equal to its integer conversion
    except ValueError:
        return True  # Non-numeric values are also considered as not integer

# Apply the function to filter out non-integer values
MaskID_non_integer_values = df_tn01_tn16_tn19_tn20_merge['MaskID'][df_tn01_tn16_tn19_tn20_merge['MaskID'].apply(is_not_integer)]
print(MaskID_non_integer_values)

4140559        3/0.020mg (Drospiren/EthEstrs/.020
4231988                                       nan
4231989                                       nan
4231990                                       nan
4792828                        unknown start date
4799061                                 2000units
4990139    (Does Not Take Over the Summer Months)
5011776                               (1mg/20mcg)
Name: MaskID, dtype: object

In [14]:
df_tn01_tn16_tn19_tn20_merge = df_tn01_tn16_tn19_tn20_merge.drop(MaskID_non_integer_values.index)
print(df_tn01_tn16_tn19_tn20_merge.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5964147 entries, 0 to 5964154
Columns: 889 entries, MaskID to howmanydoseshastheparticipantm
dtypes: category(462), object(427)
memory usage: 21.8+ GB
None

In [15]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5964147 entries, 0 to 5964154
Columns: 889 entries, MaskID to howmanydoseshastheparticipantm
dtypes: category(462), object(427)
memory usage: 21.8+ GB

In [16]:
# List of columns to convert from object to category
columns_to_convert = ['HBsAb', 'ConMedsFrequencyOtherDetail', 'Height', 'Weight', 'ConMedsIntervalOtherDetails', 
                      'TestingPlaceForAutoAntibodyOut', 'SelectStudyForPreventionOfT1D', 'ScoringQ5AndQ6']

for col in columns_to_convert:
    df_tn01_tn16_tn19_tn20_merge[col] = df_tn01_tn16_tn19_tn20_merge[col].astype('category')

In [17]:
import pandas as pd
import numpy as np

# Function to check if all non-NaN values in a column are integers
def all_integers(column):
    return column.dropna().apply(float.is_integer).all()

# Iterate through each column in the DataFrame
for column in df_tn01_tn16_tn19_tn20_merge.columns:
    # Check if the column is of object type and convert 'nan' to np.nan
    if df_tn01_tn16_tn19_tn20_merge[column].dtype == 'object':
        df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].replace('nan', np.nan)

    # Convert object types to numeric (float or int as appropriate)
    if pd.api.types.is_object_dtype(df_tn01_tn16_tn19_tn20_merge[column]):
        df_tn01_tn16_tn19_tn20_merge[column] = pd.to_numeric(df_tn01_tn16_tn19_tn20_merge[column], errors='coerce')
    
    # Check if the column is float
    if pd.api.types.is_float_dtype(df_tn01_tn16_tn19_tn20_merge[column]):
        # If all non-NaN values are integers, convert to 'Int64'
        if all_integers(df_tn01_tn16_tn19_tn20_merge[column]):
            df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].astype('Int64')
        else:
            # Otherwise, check if it is safe to convert to 'float16'
            max_val = df_tn01_tn16_tn19_tn20_merge[column].max()
            min_val = df_tn01_tn16_tn19_tn20_merge[column].min()
            if max_val < np.finfo(np.float16).max and min_val > np.finfo(np.float16).min:
                df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].astype('float16')

In [18]:
for col in columns_to_convert:
    df_tn01_tn16_tn19_tn20_merge[col].replace('nan', np.nan, inplace=True)

In [19]:
import pandas as pd

# Calculate the percentage of missing values
missing_percentage = df_tn01_tn16_tn19_tn20_merge.isnull().mean() * 100

# Calculate the memory usage for each column
memory_usage = df_tn01_tn16_tn19_tn20_merge.memory_usage(deep=True)

# Initialize a list to hold the data for the new DataFrame
data = []

# Iterate through each column in the original DataFrame
for column in df_tn01_tn16_tn19_tn20_merge.columns:
    # Find the top 5 most frequent values (excluding NaN) and their counts
    top_5_values_counts = df_tn01_tn16_tn19_tn20_merge[column].value_counts(dropna=True).head(5)
    top_5_values = top_5_values_counts.index.tolist()
    top_5_counts = top_5_values_counts.tolist()

    # Ensure the lists have 5 elements by padding with None if necessary
    top_5_values += [None] * (5 - len(top_5_values))
    top_5_counts += [None] * (5 - len(top_5_counts))

    # Determine the data type of the column
    column_dtype = str(df_tn01_tn16_tn19_tn20_merge[column].dtype)

    # Get memory usage for the column
    column_memory_usage = memory_usage[column]

    # Append the data for this column to the list
    data.append([missing_percentage[column], column_dtype, column_memory_usage] + top_5_values + top_5_counts)

# Define the columns for the new DataFrame
columns = ['Missing Percentage', 'Value Type', 'Memory Usage (Bytes)',
           'Top 1', 'Top 2', 'Top 3', 'Top 4', 'Top 5',
           'Top 1 Value Count', 'Top 2 Value Count', 'Top 3 Value Count', 
           'Top 4 Value Count', 'Top 5 Value Count']

# Create the new DataFrame
summary_df = pd.DataFrame(data, index=df_tn01_tn16_tn19_tn20_merge.columns, columns=columns)

# Sort the DataFrame by 'Missing Percentage' in descending order
summary_df = summary_df.sort_values(by='Missing Percentage', ascending=False)

# Save the DataFrame to a CSV file
summary_df.to_csv('TN_all_summary_99_2.csv')

In [20]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5964147 entries, 0 to 5964154
Columns: 889 entries, MaskID to howmanydoseshastheparticipantm
dtypes: Int64(233), category(470), float16(182), float64(3), int64(1)
memory usage: 16.7 GB

In [21]:
# save the DataFrame to a Feather file
df_tn01_tn16_tn19_tn20_merge.to_feather('all_merged_99.feather')

In [22]:
!df -h

Filesystem                                                       Size  Used Avail Use% Mounted on
devtmpfs                                                          35G     0   35G   0% /dev
tmpfs                                                             35G     0   35G   0% /dev/shm
tmpfs                                                             35G  816K   35G   1% /run
tmpfs                                                             35G     0   35G   0% /sys/fs/cgroup
/dev/nvme0n1p1                                                   135G   87G   49G  64% /
/dev/nvme1n1                                                      20G   15G  4.4G  77% /home/ec2-user/SageMaker
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1002
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1001
tmpfs                                                            6.9G     0  6.9G   0% /run/user/0
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1000
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_01/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_01
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_19/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_19
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_20/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_20
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_16/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_16