In [2]:
import pandas as pd
#TN_01
tn01_col = pd.read_csv('TN_01_merged_data_summary.csv', usecols=[0, 1])
print(tn01_col.info())

#TN_16
tn16_col = pd.read_csv('TN_16_merged_data_summary.csv', usecols=[0, 1])
#rename the column 'Unnamed: 0'
tn16_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn16_col.info())

#TN_19
tn19_col = pd.read_csv('TN_19_merged_data_summary.csv', usecols=[0, 1])
tn19_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn19_col.info())

#TN_20
tn20_col = pd.read_csv('TN_20_merged_data_summary.csv', usecols=[0, 1])
tn20_col.rename(columns={'Unnamed: 0': 'header'}, inplace=True)
print(tn20_col.info())

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1578 entries, 0 to 1577
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              1578 non-null   object
 1   Missing Percentage  1578 non-null   float64
dtypes: float64(1), object(1)
memory usage: 24.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              262 non-null    object
 1   Missing Percentage  262 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              875 non-null    object
 1   Missing Percentage  875 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   header              840 non-null    object
 1   Missing Percentage  840 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.2+ KB
None

In [3]:
# filter out columns with missing values larger than 95%
#TN_01
filtered_tn_01_col_95 = tn01_col[tn01_col['Missing Percentage'] < 95]
# Extract the values from the first column and convert to list
tn_01_col_95 = filtered_tn_01_col_95['header'].tolist()
print('Number of columns in TN_01 with missing values less than 95%: ', len(tn_01_col_95))

#TN_16
filtered_tn_16_col_95 = tn16_col[tn16_col['Missing Percentage'] < 95]
tn_16_col_95 = filtered_tn_16_col_95['header'].tolist()
print('Number of columns in TN_16 with missing values less than 95%: ', len(tn_16_col_95))

#TN_19
filtered_tn_19_col_95 = tn19_col[tn19_col['Missing Percentage'] < 95]
tn_19_col_95 = filtered_tn_19_col_95['header'].tolist()
print('Number of columns in TN_19 with missing values less than 95%: ', len(tn_19_col_95))

#TN_20
filtered_tn_20_col_95 = tn20_col[tn20_col['Missing Percentage'] < 95]
tn_20_col_95 = filtered_tn_20_col_95['header'].tolist()
print('Number of columns in TN_20 with missing values less than 95%: ', len(tn_20_col_95))

Number of columns in TN_01 with missing values less than 95%:  146
Number of columns in TN_16 with missing values less than 95%:  132
Number of columns in TN_19 with missing values less than 95%:  199
Number of columns in TN_20 with missing values less than 95%:  308

In [4]:
df_tn01_95 = pd.read_csv('TN_01_Merged_Data.csv', usecols=tn_01_col_95)
df_tn01_95 = df_tn01_95.astype('category')
df_tn01_95.info()

/tmp/ipykernel_13007/4085773160.py:1: DtypeWarning: Columns (1,2,4,6,21,378,381,384,385,386,388,389,397,410,412,413,417,421,426,430,440,441,508,509,510,511,517,519,523,525,527,529,531,533,545,547,623,624,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,650,651,653,655,658,659,660,661,662,663,676,679,680,691,697,702,703,707,708,1547,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn01_95 = pd.read_csv('TN_01_Merged_Data.csv', usecols=tn_01_col_95)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2923848 entries, 0 to 2923847
Columns: 146 entries, MaskID to LabID
dtypes: category(146)
memory usage: 510.8 MB

In [5]:
df_tn16_95 = pd.read_csv('TN_16_merged_data.csv', usecols=tn_16_col_95)
df_tn16_95 = df_tn16_95.astype('category')
df_tn16_95.info()

/tmp/ipykernel_13007/391604514.py:1: DtypeWarning: Columns (0,45,46,48,50,52,54,55,59,60,62,63,64,66,68,69,70,72,74,76,78,80,99,100,101,103,106,109,113,115,118,120,121,124,126,128,132,139,144,149,150,153,216,217,218,219,220,233,234,236,238,239,240,242,254) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn16_95 = pd.read_csv('TN_16_merged_data.csv', usecols=tn_16_col_95)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445461 entries, 0 to 2445460
Columns: 132 entries, MaskID to LabID
dtypes: category(132)
memory usage: 384.6 MB

In [6]:
df_tn19_95 = pd.read_csv('TN_19_merged_data.csv', usecols=tn_19_col_95)
df_tn19_95 = df_tn16_95.astype('category')
df_tn19_95.info()

/tmp/ipykernel_13007/3656471304.py:1: DtypeWarning: Columns (1,2,4,6,7,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,74,75,76,78,80,85,90,91,93,94,98,130,131,132,133,134,135,136,150,151,152,154,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,182,570,571,572,573,574,575,576,578,579,580,581,582,583,584,585,586,600,601,602,603,605,606,607,608,609,610,612,613,614,617,618,619,620,621,622,661,663,668,674,677,680,683,686,687,690,691,694,695,698,702,703,707,708,712,713,717,718,722,723,761,763,765,767,769,771,773,775,777) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn19_95 = pd.read_csv('TN_19_merged_data.csv', usecols=tn_19_col_95)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445461 entries, 0 to 2445460
Columns: 132 entries, MaskID to LabID
dtypes: category(132)
memory usage: 384.6 MB

In [7]:
df_tn20_95 = pd.read_csv('TN_20_merged_data.csv', usecols=tn_20_col_95, delimiter=',', quotechar='"', on_bad_lines='warn')
df_tn20_95 = df_tn20_95.astype('category')
df_tn20_95.info()

/tmp/ipykernel_13007/3696682842.py:1: DtypeWarning: Columns (1,2,29,30,31,32,34,37,39,40,66,67,82,83,84,85,89,93,95,99,100,104,106,107,111,112,116,120,131,141,142,144,146,147,149,151,153,154,156,157,159,166,167,172,173,175,177,178,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,247,248,249,250,251,252,253,255,256,257,258,260,269,270,272,273,274,275,281,283,288,295,296,299,300,303,304,307,311,312,315,319,323,324,328,329,333,334,338,343,344,348,350,355,356,358,360,365,375,376,377,402,404,406,408,410,411,412,414,416,418,420,422,424,425,426,427,428,503,504,505,506,507,596,597,598,786,791,818,820,821,822,823,827,828,829,831,833,835,836,837,838) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn20_95 = pd.read_csv('TN_20_merged_data.csv', usecols=tn_20_col_95, delimiter=',', quotechar='"', on_bad_lines='warn')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607204 entries, 0 to 607203
Columns: 308 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(308)
memory usage: 203.6 MB

In [8]:
import pandas as pd

# Identify the common headers
common_headers_01_16 = set(df_tn01_95.columns).intersection(df_tn16_95.columns)
print('count of common headers: ', len(common_headers_01_16))

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16:
    if isinstance(df_tn01_95[col].dtype, pd.CategoricalDtype) and isinstance(df_tn16_95[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_95[col].cat.categories).union(set(df_tn16_95[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_95[col] = df_tn01_95[col].cat.set_categories(categories)
        df_tn16_95[col] = df_tn16_95[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16:
    if df_tn01_95[col].dtype != df_tn16_95[col].dtype:
        df_tn01_95[col] = df_tn01_95[col].astype('object')
        df_tn16_95[col] = df_tn16_95[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_merge = pd.merge(df_tn01_95, df_tn16_95, on=list(common_headers_01_16), how='outer', suffixes=('', '_dup_tn16'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_merge.info())
df_tn01_tn16_merge.head()

count of common headers:  16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369309 entries, 0 to 5369308
Columns: 262 entries, MaskID to Visit_dup12
dtypes: category(262)
memory usage: 1.6 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,_15Aug2011ConsentForResidualSa,WhyAccessingParticipantRecord,ScreeningDay,ScreeningMonth,ScreeningYear,Age,...,ProtcolDeviationMonth,ProtcolDeviationYear,TN16ProtocolDeviation,ProtocolDeviationOtherSubcateg,IfMiscellaneousSpecify,PInotified,Visit_Dt_dup10,Visit_dup10,SelectTheVersionOfTN16,Visit_dup12
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Identify the common headers
common_headers_01_16_19 = set(df_tn01_tn16_merge.columns).intersection(df_tn19_95.columns)
print('count of common headers: ', len(common_headers_01_16_19))

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16_19:
    if isinstance(df_tn01_tn16_merge[col].dtype, pd.CategoricalDtype) and isinstance(df_tn19_95[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_tn16_merge[col].cat.categories).union(set(df_tn19_95[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_tn16_merge[col] = df_tn01_tn16_merge[col].cat.set_categories(categories)
        df_tn19_95[col] = df_tn19_95[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16_19:
    if df_tn01_tn16_merge[col].dtype != df_tn19_95[col].dtype:
        df_tn01_tn16_merge[col] = df_tn01_tn16_merge[col].astype('object')
        df_tn19_95[col] = df_tn19_95[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_tn19_merge = pd.merge(df_tn01_tn16_merge, df_tn19_95, on=list(common_headers_01_16_19), how='outer', suffixes=('', '_dup_tn19'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_tn19_merge.info())
df_tn01_tn16_tn19_merge.head()

count of common headers:  132
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5424851 entries, 0 to 5424850
Columns: 262 entries, MaskID to Visit_dup12
dtypes: category(262)
memory usage: 1.6 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,_15Aug2011ConsentForResidualSa,WhyAccessingParticipantRecord,ScreeningDay,ScreeningMonth,ScreeningYear,Age,...,ProtcolDeviationMonth,ProtcolDeviationYear,TN16ProtocolDeviation,ProtocolDeviationOtherSubcateg,IfMiscellaneousSpecify,PInotified,Visit_Dt_dup10,Visit_dup10,SelectTheVersionOfTN16,Visit_dup12
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import pandas as pd

# Identify the common headers
common_headers_01_16_19_20 = set(df_tn01_tn16_tn19_merge.columns).intersection(df_tn20_95.columns)

# Step 1: Ensure shared categorical columns have the same categories
for col in common_headers_01_16_19_20:
    if isinstance(df_tn01_tn16_tn19_merge[col].dtype, pd.CategoricalDtype) and isinstance(df_tn20_95[col].dtype, pd.CategoricalDtype):
        # Create a union of categories
        categories = set(df_tn01_tn16_tn19_merge[col].cat.categories).union(set(df_tn20_95[col].cat.categories))
        
        # Update the categories for both columns
        df_tn01_tn16_tn19_merge[col] = df_tn01_tn16_tn19_merge[col].cat.set_categories(categories)
        df_tn20_95[col] = df_tn20_95[col].cat.set_categories(categories)

# Step 2: Convert non-matching categorical columns to 'object' type
for col in common_headers_01_16_19_20:
    if df_tn01_tn16_tn19_merge[col].dtype != df_tn20_95[col].dtype:
        df_tn01_tn16_tn19_merge[col] = df_tn01_tn16_tn19_merge[col].astype('object')
        df_tn20_95[col] = df_tn20_95[col].astype('object')

# Merge the DataFrames using Pandas
df_tn01_tn16_tn19_tn20_merge = pd.merge(df_tn01_tn16_tn19_merge, df_tn20_95, on=list(common_headers_01_16_19_20), how='outer', suffixes=('', '_dup_tn20'))

# Print DataFrame information and the first few rows
print(df_tn01_tn16_tn19_tn20_merge.info())
df_tn01_tn16_tn19_tn20_merge.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032055 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(519)
memory usage: 3.4 GB
None

,MaskID,Visit_Dt,Visit,_15Aug2011VisitType,_15Aug2011ConsentForResidualSa,WhyAccessingParticipantRecord,ScreeningDay,ScreeningMonth,ScreeningYear,Age,...,TreatmentStartedDate,TreatmentDesc,ContactDateDay,ContactDateMonth,ContactDateYear,MethodofContact,Informationgatheredfrom,Havetherebeenanychangesinhealt,Havetherebeenanychangesinconco,Istheparticipantcurrentlytakin
0,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200023,07/01/2015,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200071,01/24/2018,PRN,Rescreen/Confirmatory Screening Visit,Yes,To enter or view data from a visit which occur...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200071,01/14/2019,PRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032055 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(519)
memory usage: 3.4 GB

In [14]:
# Convert categorical columns with non-string categories to strings
for col in df_tn01_tn16_tn19_tn20_merge.select_dtypes(include=['category']).columns:
    if not all(isinstance(category, str) for category in df_tn01_tn16_tn19_tn20_merge[col].cat.categories):
        df_tn01_tn16_tn19_tn20_merge[col] = df_tn01_tn16_tn19_tn20_merge[col].astype(str)

In [15]:
# Function to check if a value is not an integer
def is_not_integer(val):
    try:
        float_val = float(val)  # Convert to float first
        int_val = int(float_val)
        return float_val != int_val  # Check if float value is not equal to its integer conversion
    except ValueError:
        return True  # Non-numeric values are also considered as not integer

# Apply the function to filter out non-integer values
MaskID_non_integer_values = df_tn01_tn16_tn19_tn20_merge['MaskID'][df_tn01_tn16_tn19_tn20_merge['MaskID'].apply(is_not_integer)]
print(MaskID_non_integer_values)

4198121        3/0.020mg (Drospiren/EthEstrs/.020
4291800                                       nan
4291801                                       nan
4291802                                       nan
4852640                        unknown start date
4858873                                 2000units
5049951    (Does Not Take Over the Summer Months)
5071588                               (1mg/20mcg)
Name: MaskID, dtype: object

In [16]:
df_tn01_tn16_tn19_tn20_merge = df_tn01_tn16_tn19_tn20_merge.drop(MaskID_non_integer_values.index)
print(df_tn01_tn16_tn19_tn20_merge.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6032047 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(286), object(233)
memory usage: 12.3+ GB
None

In [17]:
# Drop duplicate rows
df_tn01_tn16_tn19_tn20_merge = df_tn01_tn16_tn19_tn20_merge.drop_duplicates()
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5913690 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(286), object(233)
memory usage: 12.1+ GB

In [18]:
# Drop rows where all elements are missing
df_tn01_tn16_tn19_tn20_merge = df_tn01_tn16_tn19_tn20_merge.dropna(how='all')
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5913690 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: category(286), object(233)
memory usage: 12.1+ GB

In [19]:
df_tn01_tn16_tn19_tn20_merge['HBsAb'] = df_tn01_tn16_tn19_tn20_merge['HBsAb'].astype('category')
df_tn01_tn16_tn19_tn20_merge['ConMedsFrequencyOtherDetail'] = df_tn01_tn16_tn19_tn20_merge['ConMedsFrequencyOtherDetail'].astype('category')

In [20]:
import pandas as pd
import numpy as np

# Function to check if all non-NaN values in a column are integers
def all_integers(column):
    return column.dropna().apply(float.is_integer).all()

# Iterate through each column in the DataFrame
for column in df_tn01_tn16_tn19_tn20_merge.columns:
    # Check if the column is of object type and convert 'nan' to np.nan
    if df_tn01_tn16_tn19_tn20_merge[column].dtype == 'object':
        df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].replace('nan', np.nan)

    # Convert object types to numeric (float or int as appropriate)
    if pd.api.types.is_object_dtype(df_tn01_tn16_tn19_tn20_merge[column]):
        df_tn01_tn16_tn19_tn20_merge[column] = pd.to_numeric(df_tn01_tn16_tn19_tn20_merge[column], errors='coerce')
    
    # Check if the column is float
    if pd.api.types.is_float_dtype(df_tn01_tn16_tn19_tn20_merge[column]):
        # If all non-NaN values are integers, convert to 'Int64'
        if all_integers(df_tn01_tn16_tn19_tn20_merge[column]):
            df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].astype('Int64')
        else:
            # Otherwise, check if it is safe to convert to 'float16'
            max_val = df_tn01_tn16_tn19_tn20_merge[column].max()
            min_val = df_tn01_tn16_tn19_tn20_merge[column].min()
            if max_val < np.finfo(np.float16).max and min_val > np.finfo(np.float16).min:
                df_tn01_tn16_tn19_tn20_merge[column] = df_tn01_tn16_tn19_tn20_merge[column].astype('float16')

In [21]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5913690 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: Int64(118), category(288), float16(109), float64(3), int64(1)
memory usage: 9.0 GB

In [15]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032055 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: Int64(44), category(288), float16(10), float64(2), object(175)
memory usage: 12.1+ GB

In [26]:
df_tn01_tn16_tn19_tn20_merge['HBsAb'].replace('nan', np.nan, inplace=True)
df_tn01_tn16_tn19_tn20_merge['ConMedsFrequencyOtherDetail'].replace('nan', np.nan, inplace=True)

In [27]:
import pandas as pd

# Calculate the percentage of missing values
missing_percentage = df_tn01_tn16_tn19_tn20_merge.isnull().mean() * 100

# Calculate the memory usage for each column
memory_usage = df_tn01_tn16_tn19_tn20_merge.memory_usage(deep=True)

# Initialize a list to hold the data for the new DataFrame
data = []

# Iterate through each column in the original DataFrame
for column in df_tn01_tn16_tn19_tn20_merge.columns:
    # Find the top 5 most frequent values (excluding NaN) and their counts
    top_5_values_counts = df_tn01_tn16_tn19_tn20_merge[column].value_counts(dropna=True).head(5)
    top_5_values = top_5_values_counts.index.tolist()
    top_5_counts = top_5_values_counts.tolist()

    # Ensure the lists have 5 elements by padding with None if necessary
    top_5_values += [None] * (5 - len(top_5_values))
    top_5_counts += [None] * (5 - len(top_5_counts))

    # Determine the data type of the column
    column_dtype = str(df_tn01_tn16_tn19_tn20_merge[column].dtype)

    # Get memory usage for the column
    column_memory_usage = memory_usage[column]

    # Append the data for this column to the list
    data.append([missing_percentage[column], column_dtype, column_memory_usage] + top_5_values + top_5_counts)

# Define the columns for the new DataFrame
columns = ['Missing Percentage', 'Value Type', 'Memory Usage (Bytes)',
           'Top 1', 'Top 2', 'Top 3', 'Top 4', 'Top 5',
           'Top 1 Value Count', 'Top 2 Value Count', 'Top 3 Value Count', 
           'Top 4 Value Count', 'Top 5 Value Count']

# Create the new DataFrame
summary_df = pd.DataFrame(data, index=df_tn01_tn16_tn19_tn20_merge.columns, columns=columns)

# Sort the DataFrame by 'Missing Percentage' in descending order
summary_df = summary_df.sort_values(by='Missing Percentage', ascending=False)

# Save the DataFrame to a CSV file
summary_df.to_csv('TN_all_summary_95_3.csv')

In [28]:
df_tn01_tn16_tn19_tn20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5913690 entries, 0 to 6032054
Columns: 519 entries, MaskID to Istheparticipantcurrentlytakin
dtypes: Int64(118), category(288), float16(109), float64(3), int64(1)
memory usage: 9.0 GB

In [29]:
# save the DataFrame to a Feather file
df_tn01_tn16_tn19_tn20_merge.to_feather('all_merged_category_95.feather')

In [30]:
!df -h

Filesystem                                                       Size  Used Avail Use% Mounted on
devtmpfs                                                          35G     0   35G   0% /dev
tmpfs                                                             35G     0   35G   0% /dev/shm
tmpfs                                                             35G  816K   35G   1% /run
tmpfs                                                             35G     0   35G   0% /sys/fs/cgroup
/dev/nvme0n1p1                                                   135G   87G   49G  64% /
/dev/nvme1n1                                                      20G   15G  4.6G  76% /home/ec2-user/SageMaker
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1002
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1001
tmpfs                                                            6.9G     0  6.9G   0% /run/user/0
tmpfs                                                            6.9G     0  6.9G   0% /run/user/1000
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_01/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_01
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_19/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_19
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_20/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_20
459029135025-prod-va-sw-p-studydata:studies/Organization/TN_16/  1.0P     0  1.0P   0% /home/ec2-user/studies/TN_16