In [5]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
first_part_file = "/home/ec2-user/SageMaker/Team-5/data_processing/tests in first part of the merged data.csv"
first = pd.read_csv(first_part_file)

pd.set_option('display.max_rows', 113)
display(first)

first = first.T
first.columns = first.iloc[0]
first = first.drop(first.index[0], axis=0)
display(first)

,testName,D5OtherTestResultResult,D6OtherTestResultUnit
0,A1c at home,6.5%,NaN
1,Albumin,4.4,g/dL
2,Anion Gap,15.0,mmol/L
3,Anion Gap,16.0,mmol/L
4,Anion Gap,20,mmol/L
5,Anion Gap,20,mmol/L
6,Anti GAD Antibodies,70,U/mL
7,BHB,4.77,mmol/L
8,BUN,15.0,mg/dL
9,Base Excess,-8,mmol/L
10,Base excess,-11.0,mmol/L
11,Beta Hydroxybutyrate,2.8,mmol/L
12,Beta Hydroxybutyric Acid,0.78,mmol/L
13,Beta-Hydroxybutyrate,0.2,mmol/L
14,BetaHydroxy,1.0,mmol/L
15,Bicarb,24.5,mEq/L
16,Bicarbonate,18.0,mmol/L
17,Bicarbonate,21.6,meq/L
18,Blood Ketones,0.1,mmol/L
19,Blood Ketones,0.2,mmol/L
20,"Blood gases pO2, blood",41.0,mmHg
21,Blood ketones,3.1,mmol/L
22,C-Peptide,0.54,NG/ML
23,C-Peptide,2.30,NG/ML
24,CBC and diff normal,NaN,NaN
25,CGM,227,mg/dL
26,CGM data,300.0,mg/dl
27,CO2,22,mmol/L
28,CO2,24,mmHg
29,Calcium,9.5,mg/dL
30,Chloride,105,mmol/L
31,Creatinine,0.32,mg/dL
32,Creatinine,46,uMOL/L
33,Free T4,15,PMOL/L
34,Fructosamine,289.0,mcmol/L
35,Glucose-Lab,147,mg/dl
36,HCO3,15.0,mmol/L
37,HCO3,18.0,mmol/L
38,HCO3,10.6,mmol/L
39,HCO3,15,mmol/L
40,HbA1c (point of care analyser),7.1,%
41,HcT,0.4,L/L
42,HgB,138.0,g/L
43,Home test,324,mg/dL
44,IA2 Antibodies,>400,U/mL
45,IgA,1.65,NaN
46,"Insulin, Fasting",14,mU/L
47,Islet Cell Cytoplasmic Autoabs,>160,JDF IU
48,Ketones,0.1,U
49,Ketones,0.4,mmol/L
50,Ketones,15,mg/dL
51,Ketones,15,mg/dl
52,Ketones,4.2,NaN
53,Ketones,mild to moderate,NaN
54,Keyton,Present,NaN
55,Lactate,1.39,mmol/L
56,MCH,29.9,pg
57,MCHC,345.0,g/L
58,MCV,86.8,fl
59,Meta / Myelocytes,0.01,x10(9)/L
60,P-OHBUT,0.2,mmol/l
61,P-OHButyr,0.71,mmol/l
62,PC02,37.0,mmHG
63,PCO2,34.0,mmHG
64,PCO2 Cap,21,mm Hg
65,PCo2,39.0,mm Hg
66,Phosphorus,4.3,mg/dL
67,Platelets,259.0,x1069/L
68,Potassium,3.7,mmol/L
69,Potassium,4.3,mmol/L
70,RANDOM PLASMA GLUCOSE,20.2,MMOL/L
71,RBC,4.61,X10^12/L
72,RDW,11.7%,L
73,Random plasma glucose,248,mg/dL
74,S-IA2Ab,120,NaN
75,Sodium,138,mmol/L
76,Sodium,140,mmol/L
77,TSH,2.33,mIU/L
78,TTG IgA Abs,<1,AU/ml
79,U-Gluk-O,+++,NaN
80,Urea,3.7,mmol/L
81,Urea,3.7,NaN
82,Urine,3+,mg/dL
83,Urine Glucose,1000,mg/dL
84,Urine Glucose,500,mg/dl
85,Urine Screen,3+,glucose
86,"Urine, Ketones",>=80,mg/dL
87,WBC,8.1,X10^9/L
88,blood ketones,0.3,mmol/L
89,blood ketones,2.7,mm0/l
90,c-peptide,0.36,ng/mL
91,c-peptide,1.2,ng/ml
92,cB-pH,7.41,NaN
93,chloride,102,mmol/L
94,creatinine,35,umol/L
95,glycated Protein serum,344,umol/L
96,ketone,7.7,mmol/L
97,ketones,0.2,mmol/L
98,ketones,0.6,mmol/L
99,pH,7.38,%
100,pH,7.39,NaN
101,pH CAP,7.32,NaN
102,ph,7.41,NaN
103,potassium,4.5,mmol/L
104,serum ketones,neg,mmol/L
105,sodium,138,mmol/L
106,urine glucose,28,mmol/L
107,urine glucose,greater than 55,NaN
108,urine ketones,greater than 7.8,NaN
109,venous gases PH,7.25,NaN
110,venous gases PH,7.3,NaN
111,whole blood glucose,178.0,mg/dL
112,whole blood glucose,201.0,mg/dL

testName,A1c at home,Albumin,Anion Gap,Anion Gap,Anion Gap,Anion Gap,Anti GAD Antibodies,BHB,BUN,Base Excess,...,potassium,serum ketones,sodium,urine glucose,urine glucose,urine ketones,venous gases PH,venous gases PH,whole blood glucose,whole blood glucose
D5OtherTestResultResult,6.5%,4.4,15.0,16.0,20,20,70,4.77,15.0,-8,...,4.5,neg,138,28,greater than 55,greater than 7.8,7.25,7.3,178.0,201.0
D6OtherTestResultUnit,NaN,g/dL,mmol/L,mmol/L,mmol/L,mmol/L,U/mL,mmol/L,mg/dL,mmol/L,...,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,mg/dL,mg/dL

In [19]:
second_part_file = "/home/ec2-user/SageMaker/Team-5/data_processing/tests in second part of the merged data.csv"
second = pd.read_csv(second_part_file, low_memory=False)
display(second)

second = second.T
second.columns = second.iloc[0]
second = second.drop(second.index[0], axis=0)
display(second)

        Test_Name Result Result_Type
0             DR3    NaN      NORPTD
1             DR3    NaN      NORPTD
2             DR4    NaN      NORPTD
3             DR4    NaN      NORPTD
4           GAD65    NaN      NORPTD
...           ...    ...         ...
1739218      ZNT8    NaN         NaN
1739219      ZNT8    NaN         NaN
1739220      ZNT8    NaN         NaN
1739221      ZNT8    NaN         NaN
1739222      ZNT8    NaN         NaN

[1739223 rows x 3 columns]

Test_Name,DR3,DR3,DR4,DR4,GAD65,GAD65,GAD65,GAD65,GAD65,GAD65,...,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8,ZNT8
Result,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Result_Type,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,NORPTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN