In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import seaborn as sns

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [5]:
## Notes:
## What to do with greater than/less than/etc. values?
## Handling results such as 'neg'

## Load file
first_part_file = "/home/ec2-user/SageMaker/Team-5/data_processing/tests in first part of the merged data.csv"
first = pd.read_csv(first_part_file)

## Print names of all tests in table
unique_values = first['testName'].unique()
print("Unique tests in First Part of Merged Data:")
print(unique_values)

## Cleaning units
column_to_update = 'D6OtherTestResultUnit'
first[column_to_update] = first[column_to_update].str.replace("/dl", "/dL", case=False)
first[column_to_update] = first[column_to_update].str.replace("/l", "/L", case=False)
first[column_to_update] = first[column_to_update].str.replace("mm Hg", "mmHg", case=False)
first[column_to_update] = first[column_to_update].str.replace("NG/ML", "ng/mL", case=False)
first[column_to_update] = first[column_to_update].str.replace("MMOL", "mmol", case=False)
first[column_to_update] = first[column_to_update].str.replace("mm0/L", "mmol/L", case=False) ## Using best judgement
first[column_to_update] = first[column_to_update].str.replace("x1069/L", "x10^9/L", case=False)
first[column_to_update] = first[column_to_update].str.replace("/ml", "/mL", case=False)

## Sort by test name for readability
first = first.sort_values('testName')

## Print tables
pd.set_option('display.max_rows', 113)
display(first)

Unique tests in First Part of Merged Data:
['A1c at home' 'Albumin' 'Anion Gap' 'Anti GAD Antibodies' 'BHB' 'BUN'
 'Base Excess' 'Base excess' 'Beta Hydroxybutyrate'
 'Beta Hydroxybutyric Acid' 'Beta-Hydroxybutyrate' 'BetaHydroxy' 'Bicarb'
 'Bicarbonate' 'Blood Ketones' 'Blood gases pO2, blood' 'Blood ketones'
 'C-Peptide' 'CBC and diff normal' 'CGM' 'CGM data' 'CO2' 'Calcium'
 'Chloride' 'Creatinine' 'Free T4' 'Fructosamine' 'Glucose-Lab' 'HCO3'
 'HbA1c (point of care analyser)' 'HcT' 'HgB' 'Home test' 'IA2 Antibodies'
 'IgA' 'Insulin, Fasting' 'Islet Cell Cytoplasmic Autoabs' 'Ketones'
 'Keyton' 'Lactate' 'MCH' 'MCHC' 'MCV' 'Meta / Myelocytes' 'P-OHBUT'
 'P-OHButyr' 'PC02' 'PCO2' 'PCO2 Cap' 'PCo2' 'Phosphorus' 'Platelets'
 'Potassium' 'RANDOM PLASMA GLUCOSE' 'RBC' 'RDW' 'Random plasma glucose'
 'S-IA2Ab' 'Sodium' 'TSH' 'TTG IgA Abs' 'U-Gluk-O' 'Urea' 'Urine'
 'Urine Glucose' 'Urine Screen' 'Urine, Ketones' 'WBC' 'blood ketones'
 'c-peptide' 'cB-pH' 'chloride' 'creatinine' 'glycated Protein serum'
 'ketone' 'ketones' 'pH' 'pH CAP' 'ph' 'potassium' 'serum ketones'
 'sodium' 'urine glucose' 'urine ketones' 'venous gases PH'
 'whole blood glucose']

,testName,D5OtherTestResultResult,D6OtherTestResultUnit
0,A1c at home,6.5%,NaN
1,Albumin,4.4,g/dL
2,Anion Gap,15.0,mmol/L
3,Anion Gap,16.0,mmol/L
4,Anion Gap,20,mmol/L
5,Anion Gap,20,mmol/L
6,Anti GAD Antibodies,70,U/mL
7,BHB,4.77,mmol/L
8,BUN,15.0,mg/dL
9,Base Excess,-8,mmol/L
10,Base excess,-11.0,mmol/L
11,Beta Hydroxybutyrate,2.8,mmol/L
12,Beta Hydroxybutyric Acid,0.78,mmol/L
13,Beta-Hydroxybutyrate,0.2,mmol/L
14,BetaHydroxy,1.0,mmol/L
15,Bicarb,24.5,mEq/L
16,Bicarbonate,18.0,mmol/L
17,Bicarbonate,21.6,meq/L
18,Blood Ketones,0.1,mmol/L
19,Blood Ketones,0.2,mmol/L
20,"Blood gases pO2, blood",41.0,mmHg
21,Blood ketones,3.1,mmol/L
22,C-Peptide,0.54,ng/mL
23,C-Peptide,2.30,ng/mL
24,CBC and diff normal,NaN,NaN
25,CGM,227,mg/dL
26,CGM data,300.0,mg/dL
28,CO2,24,mmHg
27,CO2,22,mmol/L
29,Calcium,9.5,mg/dL
30,Chloride,105,mmol/L
31,Creatinine,0.32,mg/dL
32,Creatinine,46,uMOL/L
33,Free T4,15,PMOL/L
34,Fructosamine,289.0,mcmol/L
35,Glucose-Lab,147,mg/dL
36,HCO3,15.0,mmol/L
37,HCO3,18.0,mmol/L
38,HCO3,10.6,mmol/L
39,HCO3,15,mmol/L
40,HbA1c (point of care analyser),7.1,%
41,HcT,0.4,L/L
42,HgB,138.0,g/L
43,Home test,324,mg/dL
44,IA2 Antibodies,>400,U/mL
45,IgA,1.65,NaN
46,"Insulin, Fasting",14,mU/L
47,Islet Cell Cytoplasmic Autoabs,>160,JDF IU
48,Ketones,0.1,U
49,Ketones,0.4,mmol/L
50,Ketones,15,mg/dL
51,Ketones,15,mg/dL
52,Ketones,4.2,NaN
53,Ketones,mild to moderate,NaN
54,Keyton,Present,NaN
55,Lactate,1.39,mmol/L
56,MCH,29.9,pg
57,MCHC,345.0,g/L
58,MCV,86.8,fl
59,Meta / Myelocytes,0.01,x10(9)/L
60,P-OHBUT,0.2,mmol/L
61,P-OHButyr,0.71,mmol/L
62,PC02,37.0,mmHG
63,PCO2,34.0,mmHG
64,PCO2 Cap,21,mmHg
65,PCo2,39.0,mmHg
66,Phosphorus,4.3,mg/dL
67,Platelets,259.0,x10^9/L
69,Potassium,4.3,mmol/L
68,Potassium,3.7,mmol/L
70,RANDOM PLASMA GLUCOSE,20.2,mmol/L
71,RBC,4.61,X10^12/L
72,RDW,11.7%,L
73,Random plasma glucose,248,mg/dL
74,S-IA2Ab,120,NaN
75,Sodium,138,mmol/L
76,Sodium,140,mmol/L
77,TSH,2.33,mIU/L
78,TTG IgA Abs,<1,AU/mL
79,U-Gluk-O,+++,NaN
81,Urea,3.7,NaN
80,Urea,3.7,mmol/L
82,Urine,3+,mg/dL
84,Urine Glucose,500,mg/dL
83,Urine Glucose,1000,mg/dL
85,Urine Screen,3+,glucose
86,"Urine, Ketones",>=80,mg/dL
87,WBC,8.1,X10^9/L
88,blood ketones,0.3,mmol/L
89,blood ketones,2.7,mmol/L
90,c-peptide,0.36,ng/mL
91,c-peptide,1.2,ng/mL
92,cB-pH,7.41,NaN
93,chloride,102,mmol/L
94,creatinine,35,umol/L
95,glycated Protein serum,344,umol/L
96,ketone,7.7,mmol/L
98,ketones,0.6,mmol/L
97,ketones,0.2,mmol/L
99,pH,7.38,%
100,pH,7.39,NaN
101,pH CAP,7.32,NaN
102,ph,7.41,NaN
103,potassium,4.5,mmol/L
104,serum ketones,neg,mmol/L
105,sodium,138,mmol/L
106,urine glucose,28,mmol/L
107,urine glucose,greater than 55,NaN
108,urine ketones,greater than 7.8,NaN
109,venous gases PH,7.25,NaN
110,venous gases PH,7.3,NaN
111,whole blood glucose,178.0,mg/dL
112,whole blood glucose,201.0,mg/dL

In [46]:
## Load file
second_part_file = "/home/ec2-user/SageMaker/Team-5/data_processing/tests in second part of the merged data.csv"
second = pd.read_csv(second_part_file, low_memory=False)

## Print names of all tests in table
unique_values = second['Test_Name'].unique()
print("Unique tests in Second Part of Merged Data:")
print(unique_values)
print('')

## Print names of all result types in table
unique_results = second['Result_Type'].unique()
print("Unique result types in Second Part of Merged Data:")
print(unique_results)

## Print table
display(second)

## Create data frame for each test and get middle 99%
second['Result'] = pd.to_numeric(second['Result'], errors='coerce')
middle_99_values = second.groupby('Test_Name')['Result'].quantile([0.005, 0.995]).unstack(level=1).reset_index()
second = pd.merge(second, middle_99_values, on='Test_Name', suffixes=('', '_middle99'))
second['Within_Middle_99'] = (second['Result'] >= second[0.005]) & (second['Result'] <= second[0.995])
# second = second.drop([0.005, 0.995], axis=1)
display(second)

## Print range for each test
for test_name in unique_values:
    middle_99_range = middle_99_values[middle_99_values['Test_Name'] == test_name][[0.005, 0.995]]
    print(f"Middle 99% range for '{test_name}':")
    print(middle_99_range)
    print("\n")

Unique tests in Second Part of Merged Data:
['DR3' 'DR4' 'GAD65' 'GAD65H' 'GLU-10' 'GLU0' 'GLU120' 'GLU30' 'GLU60'
 'GLU90' 'HLA' 'HLAa' 'HLAb' 'HbA1c' 'IA-2H' 'ICA' 'ICA512' 'INS-10'
 'INS0' 'INS120' 'INS60' 'INST-10' 'INST0' 'INST120' 'INST30' 'INST60'
 'INST90' 'MIAA' 'PEP-10' 'PEP0' 'PEP120' 'PEP30' 'PEP60' 'PEP90' 'ZNT8'
 'INS30' 'INS90']

Unique result types in Second Part of Merged Data:
['NORPTD' 'RPTD' 'RVSD' nan]

        Test_Name Result Result_Type
0             DR3    NaN      NORPTD
1             DR3    NaN      NORPTD
2             DR4    NaN      NORPTD
3             DR4    NaN      NORPTD
4           GAD65    NaN      NORPTD
...           ...    ...         ...
1739218      ZNT8    NaN         NaN
1739219      ZNT8    NaN         NaN
1739220      ZNT8    NaN         NaN
1739221      ZNT8    NaN         NaN
1739222      ZNT8    NaN         NaN

[1739223 rows x 3 columns]

        Test_Name  Result Result_Type   0.005   0.995  Within_Middle_99
0             DR3     NaN      NORPTD     NaN     NaN             False
1             DR3     NaN      NORPTD     NaN     NaN             False
2             DR3     NaN        RPTD     NaN     NaN             False
3             DR3     NaN        RPTD     NaN     NaN             False
4             DR3     NaN        RPTD     NaN     NaN             False
...           ...     ...         ...     ...     ...               ...
1739218     INS90   266.0        RPTD  37.525  265.41             False
1739219     INS90    37.5        RPTD  37.525  265.41             False
1739220     INS90    38.0        RPTD  37.525  265.41              True
1739221     INS90    52.3        RPTD  37.525  265.41              True
1739222     INS90    85.4        RPTD  37.525  265.41              True

[1739223 rows x 6 columns]

Middle 99% range for 'DR3':
   0.005  0.995
0    NaN    NaN


Middle 99% range for 'DR4':
   0.005  0.995
1    NaN    NaN


Middle 99% range for 'GAD65':
   0.005  0.995
2 -0.041   1.04


Middle 99% range for 'GAD65H':
   0.005  0.995
3    0.0  905.0


Middle 99% range for 'GLU-10':
   0.005  0.995
4   66.0  141.0


Middle 99% range for 'GLU0':
   0.005  0.995
5   65.0  140.0


Middle 99% range for 'GLU120':
   0.005  0.995
6   53.0  350.0


Middle 99% range for 'GLU30':
   0.005  0.995
7   84.0  245.0


Middle 99% range for 'GLU60':
   0.005   0.995
8   63.0  306.42


Middle 99% range for 'GLU90':
   0.005   0.995
9   59.0  338.99


Middle 99% range for 'HLA':
    0.005  0.995
10    NaN    NaN


Middle 99% range for 'HLAa':
    0.005  0.995
11    NaN    NaN


Middle 99% range for 'HLAb':
    0.005  0.995
12    NaN    NaN


Middle 99% range for 'HbA1c':
    0.005  0.995
13    4.3    6.7


Middle 99% range for 'IA-2H':
    0.005    0.995
14    0.0  369.895


Middle 99% range for 'ICA':
    0.005   0.995
15    0.0  2560.0


Middle 99% range for 'ICA512':
    0.005  0.995
16  -0.03  0.959


Middle 99% range for 'INS-10':
    0.005    0.995
17    3.2  65.9225


Middle 99% range for 'INS0':
    0.005  0.995
18   3.31  68.08


Middle 99% range for 'INS120':
    0.005   0.995
19   5.83  416.98


Middle 99% range for 'INS60':
     0.005    0.995
21  17.045  340.505


Middle 99% range for 'INST-10':
    0.005  0.995
23    1.0   44.1


Middle 99% range for 'INST0':
    0.005   0.995
24    0.9  44.097


Middle 99% range for 'INST120':
    0.005    0.995
25    2.5  361.242


Middle 99% range for 'INST30':
    0.005     0.995
26    4.1  334.0495


Middle 99% range for 'INST60':
    0.005    0.995
27    5.2  393.991


Middle 99% range for 'INST90':
     0.005    0.995
28  4.6085  375.832


Middle 99% range for 'MIAA':
    0.005  0.995
29 -0.007  0.103


Middle 99% range for 'PEP-10':
    0.005   0.995
30   0.33  5.6049


Middle 99% range for 'PEP0':
    0.005    0.995
31   0.33  5.64765


Middle 99% range for 'PEP120':
    0.005    0.995
32   1.37  21.6074


Middle 99% range for 'PEP30':
    0.005  0.995
33   0.98  18.27


Middle 99% range for 'PEP60':
    0.005    0.995
34   1.43  21.1658


Middle 99% range for 'PEP90':
      0.005     0.995
35  1.51855  21.40015


Middle 99% range for 'ZNT8':
    0.005    0.995
36 -0.013  0.97022


Middle 99% range for 'INS30':
      0.005   0.995
20  38.4145  425.65


Middle 99% range for 'INS90':
     0.005   0.995
22  37.525  265.41