# 1. Date merging

## 1.1 Date merging in TN01_nh08_diabonset_current

1. All data are from "TN01_nh08_diabonset_current.csv".
2. Collected headers with DD indicating day, MM indicating month, and YYYY indicating year; 58 sets in total.

In [1]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

#file_path = ".././studies/TN_01/TrialNet_01_Data/TN01_ADVERSEEVENTS.CSV"
file_path = "/home/ec2-user/SageMaker/studies/TN_01/TrialNet_01_Data/TN01_nh08_diabonset_current.csv"

df1 = pd.read_csv(file_path)
df1.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

,MaskID,Visit_Dt,Visit,CriteriaParticipantDiagnosewit,D1FastingPlasmaGlucDD1_1,D1FastingPlasmaGlucMM1_1,D1FastingPlasmaGlucYYYY1_1,D1FastingPlasmaGlucResult1_1,D1FastingPlasmaGlucUnits1_1,D1FastingPlasmaGlucDD2_1,...,D5OtherTestResultYYYY14_1,D5OtherTestResultYYYY15_1,D5OtherTestResultYYYY16_1,D5OtherTestResultYYYY17_1,D5OtherTestResultYYYY18_1,D5OtherTestResultYYYY19_1,D5OtherTestResultYYYY20_1,D5OtherTestResultYYYY21_1,D5OtherTestResultYYYY22_1,D5OtherTestResultYYYY23_1
0,202411,11/06/2018,PRN,b.DKA or unequivocally symptomatic AND one dia...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202455,10/08/2019,PRN,e.Diagnosis made by criteria other than listed...,16.0,Sep,2019.0,11.6,mmol/L,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,203313,05/19/2020,PRN,e.Diagnosis made by criteria other than listed...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,203899,09/15/2020,PRN,b.DKA or unequivocally symptomatic AND one dia...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,207308,02/04/2019,PRN,a.Two consecutive OGTT clinical alerts,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#CASE SENSITIVE
string = "Time"  # Change this to the string you're searching for
#missmatch of E1aDateOfOnsetYYYY and E1aDateofOnsetYYYY

# Find columns that contain the search string, case-sensitive
matching_columns = [col for col in df1.columns if string in col]
print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = df1[matching_columns].dropna(how='all')
print("DataFrame with filtered columns (rows with all missing values dropped):")
print(filtered_df.info())
#print(filtered_df.head(30))

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(df1[col].value_counts().nlargest(20))
    print()

Found  0 columns:  []
DataFrame with filtered columns (rows with all missing values dropped):
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame
None

In [3]:
# Filter all columns with "DD", "MM", or "YYYY"
search_strings = ["DD", "MM", "YYYY"]  # List of strings to search for

# Find columns that contain any of the search strings
matching_columns = [col for col in df1.columns if any(string in col for string in search_strings)]
print("Found", len(matching_columns), "columns:", matching_columns)

matching_columns2 = ['MaskID', 'Visit_Dt'] + matching_columns
# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = df1[matching_columns2].dropna(how='all', subset=matching_columns)
print()

filtered_df.info()

Found 174 columns: ['D1FastingPlasmaGlucDD1_1', 'D1FastingPlasmaGlucMM1_1', 'D1FastingPlasmaGlucYYYY1_1', 'D1FastingPlasmaGlucDD2_1', 'D1FastingPlasmaGlucMM2_1', 'D1FastingPlasmaGlucYYYY2_1', 'D1FastingPlasmaGlucDD3_1', 'D1FastingPlasmaGlucMM3_1', 'D1FastingPlasmaGlucYYYY3_1', 'D2aOGTTFastingGlucDD1_1', 'D2aOGTTFastingGlucMM1_1', 'D2aOGTTFastingGlucYYYY1_1', 'D2aOGTTFastingGlucDD2_1', 'D2aOGTTFastingGlucMM2_1', 'D2aOGTTFastingGlucYYYY2_1', 'D2b2HourGlucDD1_1', 'D2b2HourGlucMM1_1', 'D2b2HourGlucYYYY1_1', 'D2b2HourGlucDD2_1', 'D2b2HourGlucMM2_1', 'D2b2HourGlucYYYY2_1', 'D3RandomPlasmaGlucDD1_1', 'D3RandomPlasmaGlucMM1_1', 'D3RandomPlasmaGlucYYYY1_1', 'D4HbA1cDD1_1', 'D4HbA1cMM1_1', 'D4HbA1cYYYY1_1', 'D4HbA1cDD2_1', 'D4HbA1cMM2_1', 'D4HbA1cYYYY2_1', 'D5MeterReadingDD1_1', 'D5MeterReadingMM1_1', 'D5MeterReadingYYYY1_1', 'D5MeterReadingDD2_1', 'D5MeterReadingMM2_1', 'D5MeterReadingYYYY2_1', 'D5MeterReadingDD3_1', 'D5MeterReadingMM3_1', 'D5MeterReadingYYYY3_1', 'D5MeterReadingDD4_1', 'D5MeterReadingMM4_1', 'D5MeterReadingYYYY4_1', 'D5OtherTestResultDD1_1', 'D5OtherTestResultMM1_1', 'D5OtherTestResultYYYY1_1', 'D5OtherTestResultDD2_1', 'D5OtherTestResultMM2_1', 'D5OtherTestResultYYYY2_1', 'D5OtherTestResultDD3_1', 'D5OtherTestResultMM3_1', 'D5OtherTestResultYYYY3_1', 'D5OtherTestResultDD4_1', 'D5OtherTestResultMM4_1', 'D5OtherTestResultYYYY4_1', 'D5OtherTestResultDD5_1', 'D5OtherTestResultMM5_1', 'D5OtherTestResultYYYY5_1', 'E1aDateOfOnsetDD', 'E1aDateOfOnsetMM', 'E1aDateofOnsetYYYY', 'E1bDateOfOnsetDD', 'E1bDateOfOnsetMM', 'E1bDateOfOnsetYYYY', 'E1cDateofOnsetDD', 'E1cDateofOnsetMM', 'E1cDateofOnsetYYYY', 'E1dDateOfOnsetDD', 'E1dDateOfOnsetMM', 'E1dDateOfOnsetYYYY', 'f1availableWeightDD', 'f1availableWeightMM', 'f1availableWeightYYYY', 'f2availableWeightDD', 'f2availableWeightMM', 'f2availableWeightYYYY', 'f3availableWeightDD', 'f3availableWeightMM', 'f3availableWeightYYYY', 'F1DateStudyEndpointMetDD', 'F1DateStudyEndpointMetMM', 'F1DateStudyEndpointMetYYYY', 'F2ClinicalDiagnosisDateDD', 'F2ClinicalDiagnosisDateMM', 'F2ClinicalDiagnosisDateYYYY', 'DatestudyendpointmetDD', 'DatestudyendpointmetMM', 'DatestudyendpointmetYYYY', 'D2aFastingPlasmaGlucMM3_1', 'D2b2HourGlucMM3_1', 'D3RandomPlasmaGlucMM2_1', 'D3RandomPlasmaGlucMM3_1', 'D3RandomPlasmaGlucMM4_1', 'D3RandomPlasmaGlucMM5_1', 'D4HbA1cMM3_1', 'D4HbA1cMM4_1', 'D5MeterReadingMM5_1', 'D5MeterReadingMM6_1', 'D5MeterReadingMM7_1', 'D5OtherTestResultMM6_1', 'D5OtherTestResultMM7_1', 'D5OtherTestResultMM8_1', 'D5OtherTestResultMM9_1', 'D5OtherTestResultMM10_1', 'D5OtherTestResultMM11_1', 'D5OtherTestResultMM12_1', 'D5OtherTestResultMM13_1', 'D5OtherTestResultMM14_1', 'D5OtherTestResultMM15_1', 'D5OtherTestResultMM16_1', 'D5OtherTestResultMM17_1', 'D5OtherTestResultMM18_1', 'D5OtherTestResultMM19_1', 'D5OtherTestResultMM20_1', 'D5OtherTestResultMM21_1', 'D5OtherTestResultMM22_1', 'D5OtherTestResultMM23_1', 'D2aFastingPlasmaGlucDD3_1', 'D2aFastingPlasmaGlucYYYY3_1', 'D2b2HourGlucDD3_1', 'D2b2HourGlucYYYY3_1', 'D3RandomPlasmaGlucDD2_1', 'D3RandomPlasmaGlucDD3_1', 'D3RandomPlasmaGlucDD4_1', 'D3RandomPlasmaGlucDD5_1', 'D3RandomPlasmaGlucYYYY2_1', 'D3RandomPlasmaGlucYYYY3_1', 'D3RandomPlasmaGlucYYYY4_1', 'D3RandomPlasmaGlucYYYY5_1', 'D4HbA1cDD3_1', 'D4HbA1cDD4_1', 'D4HbA1cYYYY3_1', 'D4HbA1cYYYY4_1', 'D5MeterReadingDD5_1', 'D5MeterReadingDD6_1', 'D5MeterReadingDD7_1', 'D5MeterReadingYYYY5_1', 'D5MeterReadingYYYY6_1', 'D5MeterReadingYYYY7_1', 'D5OtherTestResultDD6_1', 'D5OtherTestResultDD7_1', 'D5OtherTestResultDD8_1', 'D5OtherTestResultDD9_1', 'D5OtherTestResultDD10_1', 'D5OtherTestResultDD11_1', 'D5OtherTestResultDD12_1', 'D5OtherTestResultDD13_1', 'D5OtherTestResultDD14_1', 'D5OtherTestResultDD15_1', 'D5OtherTestResultDD16_1', 'D5OtherTestResultDD17_1', 'D5OtherTestResultDD18_1', 'D5OtherTestResultDD19_1', 'D5OtherTestResultDD20_1', 'D5OtherTestResultDD21_1', 'D5OtherTestResultDD22_1', 'D5OtherTestResultDD23_1', 'D5OtherTestResultYYYY6_1', 'D5OtherTestResultYYYY7_1', 'D5OtherTestResultYYYY8_1', 'D5OtherTestResultYYYY9_1', 'D5OtherTestResultYYYY10_1', 'D5OtherTestResultYYYY11_1', 'D5OtherTestResultYYYY12_1', 'D5OtherTestResultYYYY13_1', 'D5OtherTestResultYYYY14_1', 'D5OtherTestResultYYYY15_1', 'D5OtherTestResultYYYY16_1', 'D5OtherTestResultYYYY17_1', 'D5OtherTestResultYYYY18_1', 'D5OtherTestResultYYYY19_1', 'D5OtherTestResultYYYY20_1', 'D5OtherTestResultYYYY21_1', 'D5OtherTestResultYYYY22_1', 'D5OtherTestResultYYYY23_1']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Columns: 176 entries, MaskID to D5OtherTestResultYYYY23_1
dtypes: float64(116), int64(1), object(59)
memory usage: 585.9+ KB

In [4]:
# Correct headers of columns that did not follow the naming rules.
filtered_df.rename(columns={'E1aDateofOnsetYYYY': 'E1aDateOfOnsetYYYY'}, inplace=True)

#### If the value of the day is missing while the month and the year values are present, impute the day value as 15 (middle of the month)

In [5]:
import pandas as pd
import numpy as np

# Convert 'NA' strings to np.nan
def convert_na(value):
    if value == 'NA':
        return np.nan
    else:
        return value

# Function to convert month from string to number, handling missing values
def month_to_num(month_str):
    if pd.isna(month_str):
        return np.nan
    try:
        datetime_object = pd.to_datetime(month_str, format='%b')
        return datetime_object.month
    except ValueError:
        return np.nan

# Function to create a date column from day, month, and year columns, handling missing values
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('YYYY')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'DD' + suffix
    month_col = base_col_name + 'MM' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        df[date_col] = df.apply(
            lambda row: f"{int(month_to_num(row[month_col])):02d}/{int(row[day_col]) if pd.notna(row[day_col]) else 15:02d}/{int(row[year_col])}"
            if pd.notna(row[month_col]) and pd.notna(row[year_col])
            else np.nan, axis=1)
    else:
        print(f"Matching columns for '{year_col}' not found.")

# Convert 'NA' strings to np.nan
for col in filtered_df.columns:
    filtered_df[col] = filtered_df[col].apply(convert_na)

original_cols = filtered_df.columns.tolist()

# Iterating over columns and creating date columns
for col in filtered_df.columns:
    if 'YYYY' in col:
        create_date_column(filtered_df, col, original_cols)

print(filtered_df.info())
filtered_df.head()

/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Columns: 234 entries, MaskID to D5OtherTestResultDate23_1
dtypes: float64(116), int64(1), object(117)
memory usage: 778.9+ KB
None

/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(
/tmp/ipykernel_33883/3406821247.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[date_col] = df.apply(

,MaskID,Visit_Dt,D1FastingPlasmaGlucDD1_1,D1FastingPlasmaGlucMM1_1,D1FastingPlasmaGlucYYYY1_1,D1FastingPlasmaGlucDD2_1,D1FastingPlasmaGlucMM2_1,D1FastingPlasmaGlucYYYY2_1,D1FastingPlasmaGlucDD3_1,D1FastingPlasmaGlucMM3_1,...,D5OtherTestResultDate14_1,D5OtherTestResultDate15_1,D5OtherTestResultDate16_1,D5OtherTestResultDate17_1,D5OtherTestResultDate18_1,D5OtherTestResultDate19_1,D5OtherTestResultDate20_1,D5OtherTestResultDate21_1,D5OtherTestResultDate22_1,D5OtherTestResultDate23_1
0,202411,11/06/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202455,10/08/2019,16.0,Sep,2019.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,203313,05/19/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,203899,09/15/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,207308,02/04/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Sort columns alphabetically
filtered_df_sorted = filtered_df.sort_index(axis=1)

filtered_df_sorted.to_csv('date_merging.csv')

## 1.2 date and time merging from other files

### 1.2.1 Patterns of date

We merged data based on their formats. Before the mergement, we need filter out columns for year, month and day. There are two ways: one based on column header; the other based on values (using months) of columns.

1). With month and year:
BirthMonth and BirthYear
'UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear'
'PolyuriaMonth', 'PolyuriaYear'
'PolyphagiaMonth', 'PolyphagiaYear'
'PolydipsiaMonth', 'Polydipsiayear'
'KetoacidosisMonth23', 'KetoacidosisYear23'
'FatigueMonth', 'FatigueYear'

2) With day, month and year
'SamplesCollectionDay', 'SamplesCollectionMonth', 'SamplesCollectionYear'
.......

3) With day, mon, yea
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea'

4) With D, M, Y
DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY'

5)

6) Without day, month, year
MonitoringSchedulingChangeEffe
IfyesDateCOVID19TestAdminister
DateParticipantwascontacted
DateSignedNEWInformedConsentFo
DateControlBecameAutoantibodyP

7) Correct date format
ProtocolVersion
.....

8) Time formating with hh, mm
'TimeOfCollectionHH', 'TimeOfCollectionMM'as well as date-time.
'TimeResultsProcessedByLabHH', 'TimeResultsProcessedByLabMM' as time

In [ ]:
# The following code is to load the first part of merged dataset
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED
import warnings
warnings.filterwarnings('ignore')

file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part = pd.read_csv(file_path)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
# Lookup with shorts of months
string_values_list = ['Dec', 'Aug', 'Apr', 'Jan', 'Feb', 'Jun', 'Jul', 'Sep', 'Oct', 'May', 'Nov', 'Mar']  
string_values_list_lower = [s.lower() for s in string_values_list]

# Filter columns that contain at least one of the string values (case-insensitive)
selected_columns = [col for col in merged_first_part.columns if merged_first_part[col].astype(str).str.lower().isin(string_values_list_lower).any()]

print("Found ", len(selected_columns), "columns: ", selected_columns)

Found  136 columns:  ['_22Jul2009ConsentSignedMonth', '_15Aug2011ConsentDateMonth', 'Fall2017ConsentDateMonth', 'Spring2019ConsentDateMonth', 'StudyDrugStartDateMonth1_1', 'StudyDrugStopDateMonth1_1', 'StudyDrugStartDateMonth2_1', 'StudyDrugStopDateMonth2_1', 'DateofAssessmentMM', 'DateOfBloodDrawMonth', 'DateReportedMonth', 'MonitoringSchedulingChangeEffe2', 'IfyesDateCOVID19TestAdminister2', 'DateParticipantwascontacted1_2', 'DatebloodsamplewasdrawnMonth', 'ScreeningMonth', 'BirthMonth', 'ConsentSignedMonth', 'DateSignedInformedConsentFormM', 'DateSignedNEWInformedConsentFo2', 'Spring2019ConsentDateMonth_dup12', 'DateConsentSignedMonth', 'DateSignedInformedConsentFormM_dup14', 'DateSignedNEWInformedConsentFo2_dup14', 'MechanisticSampleCollectionMon', 'SamplesCollectionMonth', 'Spring2019ConsentDateMonth_dup14', 'MechanisticSampleCollectionMon_dup15', 'SamplesCollectionMonth_dup15', 'DateSignedNEWInformedConsentFo2_dup15', 'DateConsentSignedMonth_dup15', 'DateSignedNEWInformedConsentFo2_dup16', 'MechanisticSampleCollectionMon_dup16', 'SamplesCollectionMonth_dup16', 'DateCompletionMM', 'DateStatusChangeMonth', 'DoRMonth', 'DoWMonth', 'PregnancyCompletionMonth', 'DiagnosisMonth', 'InsulinTreatmentStartedMonth', 'AdmissionMonth', 'DischargeMonth', 'PolyuriaMonth', 'PolydipsiaMonth', 'PolyphagiaMonth', 'FatigueMonth', 'UnexplainedWeightLossMonth', 'KetoacidosisMonth23', 'PlasmaGlucoseMonth', 'pHMonth', 'SerumKetonesMonth', 'AnionGapMonth', 'BicarbonateMonth', 'UrineKetonesMonth', 'GlucoseMonth1_1', 'GlucoseMonth2_1', 'GlucoseMonth3_1', 'GlucoseMonth4_1', 'GlucoseMonth5_1', 'GlucoseMonth6_1', 'GlucoseMonth7_1', 'GlucoseMonth8_1', 'GlucoseMonth9_1', 'GlucoseMonth10_1', 'HbA1cMonth', 'D1FastingPlasmaGlucMM1_1', 'D1FastingPlasmaGlucMM2_1', 'D1FastingPlasmaGlucMM3_1', 'D2aOGTTFastingGlucMM1_1', 'D2aOGTTFastingGlucMM2_1', 'D2b2HourGlucMM1_1', 'D2b2HourGlucMM2_1', 'D3RandomPlasmaGlucMM1_1', 'D4HbA1cMM1_1', 'D4HbA1cMM2_1', 'D5MeterReadingMM1_1', 'D5MeterReadingMM2_1', 'D5MeterReadingMM3_1', 'D5MeterReadingMM4_1', 'D5OtherTestResultMM1_1', 'D5OtherTestResultMM2_1', 'D5OtherTestResultMM3_1', 'D5OtherTestResultMM4_1', 'D5OtherTestResultMM5_1', 'E1aDateOfOnsetMM', 'E1bDateOfOnsetMM', 'E1cDateofOnsetMM', 'E1dDateOfOnsetMM', 'f1availableWeightMM', 'f2availableWeightMM', 'f3availableWeightMM', 'F1DateStudyEndpointMetMM', 'F2ClinicalDiagnosisDateMM', 'DatestudyendpointmetMM', 'D2aFastingPlasmaGlucMM3_1', 'D2b2HourGlucMM3_1', 'D3RandomPlasmaGlucMM2_1', 'D3RandomPlasmaGlucMM3_1', 'D3RandomPlasmaGlucMM4_1', 'D3RandomPlasmaGlucMM5_1', 'D4HbA1cMM3_1', 'D4HbA1cMM4_1', 'D5MeterReadingMM5_1', 'D5MeterReadingMM6_1', 'D5MeterReadingMM7_1', 'D5OtherTestResultMM6_1', 'D5OtherTestResultMM7_1', 'D5OtherTestResultMM8_1', 'D5OtherTestResultMM9_1', 'D5OtherTestResultMM10_1', 'D5OtherTestResultMM11_1', 'D5OtherTestResultMM12_1', 'D5OtherTestResultMM13_1', 'D5OtherTestResultMM14_1', 'D5OtherTestResultMM15_1', 'D5OtherTestResultMM16_1', 'D5OtherTestResultMM17_1', 'D5OtherTestResultMM18_1', 'D5OtherTestResultMM19_1', 'D5OtherTestResultMM20_1', 'D5OtherTestResultMM21_1', 'D5OtherTestResultMM22_1', 'D5OtherTestResultMM23_1', 'DateConsentSignedMonth_dup21', 'BirthMonth_dup21', 'DateSignedNEWInformedConsentFo2_dup21', 'MechanisticSampleCollectionMon_dup21', 'SamplesCollectionMonth_dup21', 'DateSignedInformedConsentFormM_dup22', 'DateConsentSignedMonth_dup22', 'DateSignedNEWInformedConsentFo2_dup22', 'MechanisticSampleCollectionMon_dup22', 'SamplesCollectionMonth_dup22', 'DateControlBecameAutoantibodyP2', 'ProtcolDeviationMonth']

In [14]:
for i in selected_columns:
    if 'Month' not in i and 'MM' not in i and 'Mon' not in i:
        print(i)

IfyesDateCOVID19TestAdminister2
DateParticipantwascontacted1_2
DateSignedInformedConsentFormM
DateSignedNEWInformedConsentFo2
DateSignedInformedConsentFormM_dup14
DateSignedNEWInformedConsentFo2_dup14
DateSignedNEWInformedConsentFo2_dup15
DateSignedNEWInformedConsentFo2_dup16
DateSignedNEWInformedConsentFo2_dup21
DateSignedInformedConsentFormM_dup22
DateSignedNEWInformedConsentFo2_dup22
DateControlBecameAutoantibodyP2

In [3]:
month_column_101 = ['AEReportDtMonth', 'AEOccurDtMonth', 'AEResolveDtMonth', 'AEDateDeathMonth', 'StudyDrugStartDateMonth1_1', 'StudyDrugStopDateMonth1_1', 'StudyDrugStartDateMonth2_1', 'StudyDrugStopDateMonth2_1', 'AEFollowupDateMonth', 'DateOfBloodDrawMonth', 'DateReportedMonth', 'ReasonsNotInterested_MonthlyInfu', 'MonthlyInfusionVisitScheduleRa', 'ReasonsNotInterested_MonthlyInfu_dup8', 'DatebloodsamplewasdrawnMonth', 'ScreeningMonth', 'BirthMonth', 'ConsentSignedMonth', 'Spring2019ConsentDateMonth', 'DateConsentSignedMonth', 'SamplesCollectionMonth', 'Spring2019ConsentDateMonth_dup13', 'AddisonsDiseaseWithinLast6Months', 'AllergiesWithinLast6Months', 'AlopeciaWithinLast6Months', 'AsthmaWithinLast6Months', 'CancerWithinLast6Months', 'CeliacDiseaseWithinLast6Months', 'PsoriasisWithinLast6Months', 'RheumatologicWithinLast6Months', 'ThyroidDiseaseWithinLast6Months', 'VitiligoWithinLast6Months', 'UlcerWithinLast6Months', 'HighBPwithinLast6Months', 'HighCholestrolWithinLast6Months', 'SamplesCollectionMonth_dup14', 'AsthmaWithinLast6Months_dup15', 'CeliacDiseaseWithinLast6Months_dup15', 'AddisonsDiseaseWithinLast6Months_dup15', 'VitiligoWithinLast6Months_dup15', 'ThyroidDiseaseWithinLast6Months_dup15', 'PsoriasisWithinLast6Months_dup15', 'AlopeciaWithinLast6Months_dup15', 'RheumatologicWithinLast6Months_dup15', 'AllergiesWithinLast6Months_dup15', 'CancerWithinLast6Months_dup15', 'UlcerWithinLast6Months_dup15', 'HighBPwithinLast6Months_dup15', 'SamplesCollectionMonth_dup15', 'DateConsentSignedMonth_dup15', 'HighCholesterolWithinLast6Months', 'DateStatusChangeMonth', 'DoRMonth', 'DoWMonth', 'PregnancyCompletionMonth', 'DiagnosisMonth', 'InsulinTreatmentStartedMonth', 'AdmissionMonth', 'DischargeMonth', 'PolyuriaMonth', 'PolydipsiaMonth', 'PolyphagiaMonth', 'FatigueMonth', 'UnexplainedWeightLossMonth', 'KetoacidosisMonth23', 'PlasmaGlucoseMonth', 'pHMonth', 'SerumKetonesMonth', 'AnionGapMonth', 'BicarbonateMonth', 'UrineKetonesMonth', 'GlucoseMonth1_1', 'GlucoseMonth2_1', 'GlucoseMonth3_1', 'GlucoseMonth4_1', 'GlucoseMonth5_1', 'GlucoseMonth6_1', 'GlucoseMonth7_1', 'GlucoseMonth8_1', 'GlucoseMonth9_1', 'GlucoseMonth10_1', 'HbA1cMonth', 'DateConsentSignedMonth_dup20', 'BirthMonth_dup20', 'AsthmaWithinLast6Months_dup20', 'CeliacDiseaseWithinLast6Months_dup20', 'AddisonsDiseaseWithinLast6Months_dup20', 'VitiligoWithinLast6Months_dup20', 'ThyroidDiseaseWithinLast6Months_dup20', 'PsoriasisWithinLast6Months_dup20', 'AlopeciaWithinLast6Months_dup20', 'RheumatologicWithinLast6Months_dup20', 'AllergiesWithinLast6Months_dup20', 'CancerWithinLast6Months_dup20', 'HighBPwithinLast6Months_dup20', 'HighCholesterolWithinLast6Months_dup20', 'UlcerWithinLast6Months_dup20', 'SamplesCollectionMonth_dup20', 'DateConsentSignedMonth_dup21', 'SamplesCollectionMonth_dup21', 'ProtcolDeviationMonth']
# 3 with "monthly", 39 with "6months"

month_column_59 =['AEReportDtMonth', 'AEOccurDtMonth', 'AEResolveDtMonth', 'AEDateDeathMonth', 'StudyDrugStartDateMonth1_1', 'StudyDrugStopDateMonth1_1', 'StudyDrugStartDateMonth2_1', 'StudyDrugStopDateMonth2_1', 'AEFollowupDateMonth', 'DateOfBloodDrawMonth', 'DateReportedMonth', 'DatebloodsamplewasdrawnMonth', 'ScreeningMonth', 'BirthMonth', 'ConsentSignedMonth', 'Spring2019ConsentDateMonth', 'DateConsentSignedMonth', 'SamplesCollectionMonth', 'Spring2019ConsentDateMonth_dup13', 'SamplesCollectionMonth_dup14', 'SamplesCollectionMonth_dup15', 'DateConsentSignedMonth_dup15', 'DateStatusChangeMonth', 'DoRMonth', 'DoWMonth', 'PregnancyCompletionMonth', 'DiagnosisMonth', 'InsulinTreatmentStartedMonth', 'AdmissionMonth', 'DischargeMonth', 'PolyuriaMonth', 'PolydipsiaMonth', 'PolyphagiaMonth', 'FatigueMonth', 'UnexplainedWeightLossMonth', 'KetoacidosisMonth23', 'PlasmaGlucoseMonth', 'pHMonth', 'SerumKetonesMonth', 'AnionGapMonth', 'BicarbonateMonth', 'UrineKetonesMonth', 'GlucoseMonth1_1', 'GlucoseMonth2_1', 'GlucoseMonth3_1', 'GlucoseMonth4_1', 'GlucoseMonth5_1', 'GlucoseMonth6_1', 'GlucoseMonth7_1', 'GlucoseMonth8_1', 'GlucoseMonth9_1', 'GlucoseMonth10_1', 'HbA1cMonth', 'DateConsentSignedMonth_dup20', 'BirthMonth_dup20', 'SamplesCollectionMonth_dup20', 'DateConsentSignedMonth_dup21', 'SamplesCollectionMonth_dup21', 'ProtcolDeviationMonth']

print(sorted(month_column_59))

['AEDateDeathMonth', 'AEFollowupDateMonth', 'AEOccurDtMonth', 'AEReportDtMonth', 'AEResolveDtMonth', 'AdmissionMonth', 'AnionGapMonth', 'BicarbonateMonth', 'BirthMonth', 'BirthMonth_dup20', 'ConsentSignedMonth', 'DateConsentSignedMonth', 'DateConsentSignedMonth_dup15', 'DateConsentSignedMonth_dup20', 'DateConsentSignedMonth_dup21', 'DateOfBloodDrawMonth', 'DateReportedMonth', 'DateStatusChangeMonth', 'DatebloodsamplewasdrawnMonth', 'DiagnosisMonth', 'DischargeMonth', 'DoRMonth', 'DoWMonth', 'FatigueMonth', 'GlucoseMonth10_1', 'GlucoseMonth1_1', 'GlucoseMonth2_1', 'GlucoseMonth3_1', 'GlucoseMonth4_1', 'GlucoseMonth5_1', 'GlucoseMonth6_1', 'GlucoseMonth7_1', 'GlucoseMonth8_1', 'GlucoseMonth9_1', 'HbA1cMonth', 'InsulinTreatmentStartedMonth', 'KetoacidosisMonth23', 'PlasmaGlucoseMonth', 'PolydipsiaMonth', 'PolyphagiaMonth', 'PolyuriaMonth', 'PregnancyCompletionMonth', 'ProtcolDeviationMonth', 'SamplesCollectionMonth', 'SamplesCollectionMonth_dup14', 'SamplesCollectionMonth_dup15', 'SamplesCollectionMonth_dup20', 'SamplesCollectionMonth_dup21', 'ScreeningMonth', 'SerumKetonesMonth', 'Spring2019ConsentDateMonth', 'Spring2019ConsentDateMonth_dup13', 'StudyDrugStartDateMonth1_1', 'StudyDrugStartDateMonth2_1', 'StudyDrugStopDateMonth1_1', 'StudyDrugStopDateMonth2_1', 'UnexplainedWeightLossMonth', 'UrineKetonesMonth', 'pHMonth']

In [10]:
year_column_86 =['AEReportDtYear', 'AEOccurDtYear', 'AEResolveDtYear', 'AEDateDeathYear', 'StudyDrugStartDateYear1_1', 'StudyDrugStopDateYear1_1', 'StudyDrugStartDateYear2_1', 'StudyDrugStopDateYear2_1', 'AEFollowupDateYear', 'DateOfBloodDrawYear', 'DateReportedYear', 'DatebloodsamplewasdrawnYear', 'ScreeningYear', 'BirthYear', 'ConsentSignedYear', 'Spring2019ConsentDateYear', 'DateConsentSignedYear', 'AsthmaWithinLastYear', 'CeliacDiseaseWithinLastYear', 'AddisonsDiseaseWithinLastYear', 'VitiligoWithinLastYear', 'ThyroidDiseaseWithinLastYear', 'PsoriasisWithinLastYear', 'AlopeciaWithinLastYear', 'RheumatologicWithinLastYear', 'AllergiesWithinLastYear', 'CancerWithinLastYear', 'HighBPwithinLastYear', 'PerniciousAnemiaWithinLastYear', 'UlcerWithinLastYear', 'SamplesCollectionYear', 'Spring2019ConsentDateYear_dup13', 'SamplesCollectionYear_dup14', 'SamplesCollectionYear_dup15', 'DateConsentSignedYear_dup15', 'DateStatusChangeYear', 'DoRYear', 'DoWYear', 'PregnancyCompletionYear', 'DiagnosisYear', 'InsulinTreatmentStartedYear', 'AdmissionYear', 'DischargeYear', 'PolyuriaYear', 'Polydipsiayear', 'PolyphagiaYear', 'FatigueYear', 'UnexplainedWeightLossYear', 'KetoacidosisYear23', 'PlasmaGlucoseYear', 'pHYear', 'SerumKetonesYear', 'AnionGapYear', 'BicarbonateYear', 'UrineKetonesYear', 'GlucoseYear1_1', 'GlucoseYear2_1', 'GlucoseYear3_1', 'GlucoseYear4_1', 'GlucoseYear5_1', 'GlucoseYear6_1', 'GlucoseYear7_1', 'GlucoseYear8_1', 'GlucoseYear9_1', 'GlucoseYear10_1', 'HbA1cYear', 'DateConsentSignedYear_dup20', 'BirthYear_dup20', 'SamplesCollectionYear_dup20', 'AsthmaWithinLastYear_dup21', 'CeliacDiseaseWithinLastYear_dup21', 'AddisonsDiseaseWithinLastYear_dup21', 'VitiligoWithinLastYear_dup21', 'ThyroidDiseaseWithinLastYear_dup21', 'PsoriasisWithinLastYear_dup21', 'AlopeciaWithinLastYear_dup21', 'RheumatologicWithinLastYear_dup21', 'AllergiesWithinLastYear_dup21', 'CancerWithinLastYear_dup21', 'HighBPwithinLastYear_dup21', 'HighCholesterolWithinLastYear', 'PerniciousAnemiaWithinLastYear_dup21', 'UlcerWithinLastYear_dup21', 'DateConsentSignedYear_dup21', 'SamplesCollectionYear_dup21', 'ProtcolDeviationYear']
# 27 with "LastYear"

year_column_59 = ['AEReportDtYear', 'AEOccurDtYear', 'AEResolveDtYear', 'AEDateDeathYear', 'StudyDrugStartDateYear1_1', 'StudyDrugStopDateYear1_1', 'StudyDrugStartDateYear2_1', 'StudyDrugStopDateYear2_1', 'AEFollowupDateYear', 'DateOfBloodDrawYear', 'DateReportedYear', 'DatebloodsamplewasdrawnYear', 'ScreeningYear', 'BirthYear', 'ConsentSignedYear', 'Spring2019ConsentDateYear', 'DateConsentSignedYear', 'SamplesCollectionYear', 'Spring2019ConsentDateYear_dup13', 'SamplesCollectionYear_dup14', 'SamplesCollectionYear_dup15', 'DateConsentSignedYear_dup15', 'DateStatusChangeYear', 'DoRYear', 'DoWYear', 'PregnancyCompletionYear', 'DiagnosisYear', 'InsulinTreatmentStartedYear', 'AdmissionYear', 'DischargeYear', 'PolyuriaYear', 'Polydipsiayear', 'PolyphagiaYear', 'FatigueYear', 'UnexplainedWeightLossYear', 'KetoacidosisYear23', 'PlasmaGlucoseYear', 'pHYear', 'SerumKetonesYear', 'AnionGapYear', 'BicarbonateYear', 'UrineKetonesYear', 'GlucoseYear1_1', 'GlucoseYear2_1', 'GlucoseYear3_1', 'GlucoseYear4_1', 'GlucoseYear5_1', 'GlucoseYear6_1', 'GlucoseYear7_1', 'GlucoseYear8_1', 'GlucoseYear9_1', 'GlucoseYear10_1', 'HbA1cYear', 'DateConsentSignedYear_dup20', 'BirthYear_dup20', 'SamplesCollectionYear_dup20', 'DateConsentSignedYear_dup21', 'SamplesCollectionYear_dup21', 'ProtcolDeviationYear']

print(sorted(year_column_59))

['AEDateDeathYear', 'AEFollowupDateYear', 'AEOccurDtYear', 'AEReportDtYear', 'AEResolveDtYear', 'AdmissionYear', 'AnionGapYear', 'BicarbonateYear', 'BirthYear', 'BirthYear_dup20', 'ConsentSignedYear', 'DateConsentSignedYear', 'DateConsentSignedYear_dup15', 'DateConsentSignedYear_dup20', 'DateConsentSignedYear_dup21', 'DateOfBloodDrawYear', 'DateReportedYear', 'DateStatusChangeYear', 'DatebloodsamplewasdrawnYear', 'DiagnosisYear', 'DischargeYear', 'DoRYear', 'DoWYear', 'FatigueYear', 'GlucoseYear10_1', 'GlucoseYear1_1', 'GlucoseYear2_1', 'GlucoseYear3_1', 'GlucoseYear4_1', 'GlucoseYear5_1', 'GlucoseYear6_1', 'GlucoseYear7_1', 'GlucoseYear8_1', 'GlucoseYear9_1', 'HbA1cYear', 'InsulinTreatmentStartedYear', 'KetoacidosisYear23', 'PlasmaGlucoseYear', 'Polydipsiayear', 'PolyphagiaYear', 'PolyuriaYear', 'PregnancyCompletionYear', 'ProtcolDeviationYear', 'SamplesCollectionYear', 'SamplesCollectionYear_dup14', 'SamplesCollectionYear_dup15', 'SamplesCollectionYear_dup20', 'SamplesCollectionYear_dup21', 'ScreeningYear', 'SerumKetonesYear', 'Spring2019ConsentDateYear', 'Spring2019ConsentDateYear_dup13', 'StudyDrugStartDateYear1_1', 'StudyDrugStartDateYear2_1', 'StudyDrugStopDateYear1_1', 'StudyDrugStopDateYear2_1', 'UnexplainedWeightLossYear', 'UrineKetonesYear', 'pHYear']

In [11]:
day_column_56 = ['AEReportDtDay', 'AEOccurDtDay', 'AEResolveDtDay', 'AEDateDeathDay', 'StudyDrugStartDateDay1_1', 'StudyDrugStopDateDay1_1', 'StudyDrugStartDateDay2_1', 'StudyDrugStopDateDay2_1', 'AEFollowupDateDay', 'DateOfBloodDrawDay', 'DateReportedDay', 'DatebloodsamplewasdrawnDay', 'ScreeningDay', 'ConsentSignedDay', 'Spring2019ConsentDateDay', 'DateConsentSignedDay', 'MechanisticSampleCollectionDay', 'SamplesCollectionDay', 'Spring2019ConsentDateDay_dup13', 'MechanisticSampleCollectionDay_dup14', 'SamplesCollectionDay_dup14', 'MechanisticSampleCollectionDay_dup15', 'SamplesCollectionDay_dup15', 'DateConsentSignedDay_dup15', 'DateStatusChangeDay', 'DoRDay', 'DoWDay', 'PregnancyCompletionDay', 'DiagnosisDay', 'InsulinTreatmentStartedDay', 'AdmissionDay', 'DischargeDay', 'PlasmaGlucoseday', 'pHday', 'SerumKetonesday', 'AnionGapDay', 'BicarbonateDay', 'UrineKetonesDay', 'GlucoseDay1_1', 'GlucoseDay2_1', 'GlucoseDay3_1', 'GlucoseDay4_1', 'GlucoseDay5_1', 'GlucoseDay6_1', 'GlucoseDay7_1', 'GlucoseDay8_1', 'GlucoseDay9_1', 'GlucoseDay10_1', 'HbA1cDay', 'DateConsentSignedDay_dup20', 'MechanisticSampleCollectionDay_dup20', 'SamplesCollectionDay_dup20', 'DateConsentSignedDay_dup21', 'MechanisticSampleCollectionDay_dup21', 'SamplesCollectionDay_dup21', 'ProtcolDeviationDay']
print(sorted(day_column_56))

['AEDateDeathDay', 'AEFollowupDateDay', 'AEOccurDtDay', 'AEReportDtDay', 'AEResolveDtDay', 'AdmissionDay', 'AnionGapDay', 'BicarbonateDay', 'ConsentSignedDay', 'DateConsentSignedDay', 'DateConsentSignedDay_dup15', 'DateConsentSignedDay_dup20', 'DateConsentSignedDay_dup21', 'DateOfBloodDrawDay', 'DateReportedDay', 'DateStatusChangeDay', 'DatebloodsamplewasdrawnDay', 'DiagnosisDay', 'DischargeDay', 'DoRDay', 'DoWDay', 'GlucoseDay10_1', 'GlucoseDay1_1', 'GlucoseDay2_1', 'GlucoseDay3_1', 'GlucoseDay4_1', 'GlucoseDay5_1', 'GlucoseDay6_1', 'GlucoseDay7_1', 'GlucoseDay8_1', 'GlucoseDay9_1', 'HbA1cDay', 'InsulinTreatmentStartedDay', 'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionDay_dup14', 'MechanisticSampleCollectionDay_dup15', 'MechanisticSampleCollectionDay_dup20', 'MechanisticSampleCollectionDay_dup21', 'PlasmaGlucoseday', 'PregnancyCompletionDay', 'ProtcolDeviationDay', 'SamplesCollectionDay', 'SamplesCollectionDay_dup14', 'SamplesCollectionDay_dup15', 'SamplesCollectionDay_dup20', 'SamplesCollectionDay_dup21', 'ScreeningDay', 'SerumKetonesday', 'Spring2019ConsentDateDay', 'Spring2019ConsentDateDay_dup13', 'StudyDrugStartDateDay1_1', 'StudyDrugStartDateDay2_1', 'StudyDrugStopDateDay1_1', 'StudyDrugStopDateDay2_1', 'UrineKetonesDay', 'pHday']

In [15]:
string = "DateControlBecameAutoantibodyP"  # change this to the string you're searching for
# Convert the search string to lower case (or upper case)
search_string_lower = string.lower()

# Find columns that contain the search string, case-insensitive
matching_columns = [col for col in merged_first_part.columns if search_string_lower in col.lower()]
print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[matching_columns].dropna(how='all')
print("DataFrame with filtered columns (rows with all missing values dropped):")
print()
print(filtered_df.info())
#print(filtered_df.head(30))

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  3 columns:  ['DateControlBecameAutoantibodyP', 'DateControlBecameAutoantibodyP2', 'DateControlBecameAutoantibodyP3']
DataFrame with filtered columns (rows with all missing values dropped):

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 5379 to 400875
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   DateControlBecameAutoantibodyP   34 non-null     float64
 1   DateControlBecameAutoantibodyP2  34 non-null     object
 2   DateControlBecameAutoantibodyP3  34 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.1+ KB
None
Top 20 values for column DateControlBecameAutoantibodyP:
DateControlBecameAutoantibodyP
12.0    5
13.0    3
28.0    2
18.0    2
27.0    2
15.0    2
5.0     2
23.0    2
21.0    1
7.0     1
9.0     1
19.0    1
14.0    1
22.0    1
16.0    1
26.0    1
4.0     1
25.0    1
11.0    1
10.0    1
Name: count, dtype: int64

Top 20 values for column DateControlBecameAutoantibodyP2:
DateControlBecameAutoantibodyP2
Dec    5
Nov    4
Mar    3
Oct    3
Jan    3
Jun    3
Jul    3
Aug    3
Feb    2
Apr    2
May    2
Sep    1
Name: count, dtype: int64

Top 20 values for column DateControlBecameAutoantibodyP3:
DateControlBecameAutoantibodyP3
2015.0    10
2017.0     8
2018.0     6
2016.0     4
2019.0     3
2010.0     1
2014.0     1
2013.0     1
Name: count, dtype: int64

In [ ]:
# Three Strings to search for: NOT
string1 = "age"  # First string
string2 = "relative"  # Second string, change this to your second string
string3 = "agent"

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()
search_string3_lower = string3.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() and search_string2_lower not in col.lower() and search_string3_lower not in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

In [ ]:
# Two Strings to search for: NOT
string1 = "year"  # First string
string2 = "lastyear"  # Second string, change this to your second string

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() and search_string2_lower not in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

### 1.2.2 Date merge based on month and year

#### Note:
1. With filtered column pairs: one for month and one for year.
2. Do not impute. Only merge when both values are present.
3. Create new column with the following naming fomat: NameMonthYear

Column pairs:
'BirthMonth', 'BirthYear'
'UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear'
'PolyuriaMonth', 'PolyuriaYear'
'PolyphagiaMonth', 'PolyphagiaYear'
'PolydipsiaMonth', 'Polydipsiayear'
'KetoacidosisMonth23', 'KetoacidosisYear23'
'FatigueMonth', 'FatigueYear'

In [14]:
import pandas as pd

column_list = ['BirthMonth', 'BirthYear',
'UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear',
'PolyuriaMonth', 'PolyuriaYear',
'PolyphagiaMonth', 'PolyphagiaYear',
'PolydipsiaMonth', 'Polydipsiayear',
'KetoacidosisMonth23', 'KetoacidosisYear23',
'FatigueMonth', 'FatigueYear']

column_list2 = ['MaskID'] + column_list
# Create a DataFrame with the filtered columns and drop rows with only missing values
df_date_pair = merged_first_part[column_list2].dropna(how='all', subset=column_list)

# Merging the columns by pair
column_pairs = [
    ('BirthMonth', 'BirthYear'),
    ('UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear'),
    ('PolyuriaMonth', 'PolyuriaYear'),
    ('PolyphagiaMonth', 'PolyphagiaYear'),
    ('PolydipsiaMonth', 'Polydipsiayear'),
    ('KetoacidosisMonth23', 'KetoacidosisYear23'),
    ('FatigueMonth', 'FatigueYear')
]

In [15]:
# Show top 20 values by their value counts for all columns in the dataframe
top_20_values_by_column = {}

for column in df_date_pair.columns:
    top_20_values_by_column[column] = df_date_pair[column].value_counts().head(20)

print(top_20_values_by_column)

{'MaskID': MaskID
200906    5
259152    3
754205    3
432775    3
923263    3
896375    3
564312    3
978029    3
567504    3
660426    2
735175    2
596567    2
249000    2
884328    2
682988    2
269699    2
732025    2
677631    2
598360    2
771993    2
Name: count, dtype: int64, 'BirthMonth': BirthMonth
Aug    20599
Jul    20218
Mar    20152
Sep    20081
Oct    19910
May    19712
Jun    19512
Apr    19365
Dec    19154
Jan    19012
Nov    18705
Feb    18131
Name: count, dtype: int64, 'BirthYear': BirthYear
2003.0    7649
2004.0    7605
2002.0    7543
2005.0    7527
2006.0    7341
2001.0    7253
2007.0    6910
2000.0    6804
1999.0    6496
2008.0    6472
1998.0    6058
2009.0    5950
1997.0    5666
2010.0    5323
1996.0    5120
2011.0    4862
1995.0    4592
1973.0    4500
1974.0    4499
2012.0    4472
Name: count, dtype: int64, 'UnexplainedWeightLossMonth': UnexplainedWeightLossMonth
Aug    27
Jan    26
May    21
Dec    18
Jul    17
Apr    17
Nov    15
Oct    14
Feb    13
Sep    13
Jun    10
Mar    10
Name: count, dtype: int64, 'UnexplainedWeightLossYear': UnexplainedWeightLossYear
2017.0    25
2016.0    23
2014.0    20
2012.0    19
2008.0    17
2010.0    16
2015.0    16
2009.0    15
2007.0    14
2011.0    13
2013.0    11
2006.0     7
2018.0     4
2005.0     4
Name: count, dtype: int64, 'PolyuriaMonth': PolyuriaMonth
Apr    62
Jul    59
Jan    59
Feb    58
Dec    57
Aug    48
Jun    47
Oct    46
Sep    41
May    41
Nov    37
Mar    35
Name: count, dtype: int64, 'PolyuriaYear': PolyuriaYear
2017.0    81
2016.0    61
2010.0    51
2011.0    50
2007.0    49
2012.0    46
2014.0    46
2008.0    46
2009.0    44
2015.0    37
2013.0    36
2006.0    19
2018.0    13
2005.0    10
2004.0     2
Name: count, dtype: int64, 'PolyphagiaMonth': PolyphagiaMonth
Dec    20
Aug    20
Apr    16
Jan    16
Feb    16
Jun    13
Jul    13
Sep    12
Oct    10
May     8
Nov     8
Mar     7
Name: count, dtype: int64, 'PolyphagiaYear': PolyphagiaYear
2017.0    22
2012.0    21
2014.0    18
2007.0    17
2011.0    12
2016.0    12
2008.0    12
2015.0    10
2010.0     9
2006.0     8
2009.0     6
2013.0     5
2005.0     5
2018.0     2
Name: count, dtype: int64, 'PolydipsiaMonth': PolydipsiaMonth
Jan    56
Jul    55
Apr    54
Feb    51
Dec    51
Oct    47
Aug    42
May    39
Jun    38
Sep    37
Nov    36
Mar    33
Name: count, dtype: int64, 'Polydipsiayear': Polydipsiayear
2017.0    68
2016.0    58
2010.0    49
2014.0    46
2012.0    44
2007.0    43
2011.0    42
2015.0    39
2008.0    39
2009.0    37
2013.0    34
2006.0    17
2018.0    13
2005.0     8
2004.0     1
Name: count, dtype: int64, 'KetoacidosisMonth23': KetoacidosisMonth23
Dec    1
Name: count, dtype: int64, 'KetoacidosisYear23': KetoacidosisYear23
2017.0    1
Name: count, dtype: int64, 'FatigueMonth': FatigueMonth
Apr    35
Jan    35
Aug    33
Dec    32
Jul    27
Feb    26
May    25
Jun    25
Sep    22
Nov    18
Mar    18
Oct    16
Name: count, dtype: int64, 'FatigueYear': FatigueYear
2017.0    39
2016.0    35
2012.0    29
2015.0    26
2014.0    25
2008.0    24
2011.0    23
2007.0    22
2013.0    21
2010.0    19
2009.0    15
2006.0    11
2018.0     6
2005.0     6
2004.0     1
Name: count, dtype: int64}

In [16]:
import pandas as pd
import numpy as np
from datetime import datetime

# Assuming 'df_date_pair' is your DataFrame and 'column_pairs' is defined as before

# Function to convert month and year to a datetime string
def convert_to_datetime(row, month_col, year_col):
    try:
        # Check if the month and year are not missing
        if pd.notna(row[month_col]) and pd.notna(row[year_col]):
            month = row[month_col].capitalize()  # Capitalizing to match standard abbreviations like Jan, Feb, etc.
            year = int(row[year_col])
            return pd.to_datetime(f"{month} {year}", format='%b %Y').strftime('%b %Y')
        else:
            return np.nan
    except (ValueError, TypeError):
        return np.nan  # Return np.nan if there's an error in conversion

for month_col, year_col in column_pairs:
    new_col_name = month_col + "Year" if "23" not in month_col else month_col.replace("23", "") + "Year23"

    # Apply the conversion function to each row
    df_date_pair[new_col_name] = df_date_pair.apply(convert_to_datetime, axis=1, args=(month_col, year_col))

df_date_pair = df_date_pair.drop_duplicates()
print(df_date_pair.info())
df_date_pair.head()

<class 'pandas.core.frame.DataFrame'>
Index: 235276 entries, 8860 to 398797
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   MaskID                          235276 non-null  int64
 1   BirthMonth                      234550 non-null  object
 2   BirthYear                       234556 non-null  float64
 3   UnexplainedWeightLossMonth      199 non-null     object
 4   UnexplainedWeightLossYear       202 non-null     float64
 5   PolyuriaMonth                   583 non-null     object
 6   PolyuriaYear                    584 non-null     float64
 7   PolyphagiaMonth                 156 non-null     object
 8   PolyphagiaYear                  156 non-null     float64
 9   PolydipsiaMonth                 533 non-null     object
 10  Polydipsiayear                  532 non-null     float64
 11  KetoacidosisMonth23             1 non-null       object
 12  KetoacidosisYear23              1 non-null       float64
 13  FatigueMonth                    307 non-null     object
 14  FatigueYear                     297 non-null     float64
 15  BirthMonthYear                  234550 non-null  object
 16  UnexplainedWeightLossMonthYear  199 non-null     object
 17  PolyuriaMonthYear               579 non-null     object
 18  PolyphagiaMonthYear             154 non-null     object
 19  PolydipsiaMonthYear             528 non-null     object
 20  KetoacidosisMonthYear23         1 non-null       object
 21  FatigueMonthYear                295 non-null     object
dtypes: float64(7), int64(1), object(14)
memory usage: 41.3+ MB
None

,MaskID,BirthMonth,BirthYear,UnexplainedWeightLossMonth,UnexplainedWeightLossYear,PolyuriaMonth,PolyuriaYear,PolyphagiaMonth,PolyphagiaYear,PolydipsiaMonth,...,KetoacidosisYear23,FatigueMonth,FatigueYear,BirthMonthYear,UnexplainedWeightLossMonthYear,PolyuriaMonthYear,PolyphagiaMonthYear,PolydipsiaMonthYear,KetoacidosisMonthYear23,FatigueMonthYear
8860,362328,NaN,NaN,NaN,NaN,Apr,2007.0,Apr,2007.0,Apr,...,NaN,Apr,2007.0,NaN,NaN,Apr 2007,Apr 2007,Apr 2007,NaN,Apr 2007
10960,402858,NaN,NaN,Feb,2010.0,Feb,2010.0,NaN,NaN,Feb,...,NaN,NaN,NaN,NaN,Feb 2010,Feb 2010,NaN,Feb 2010,NaN,NaN
17659,526619,NaN,NaN,NaN,NaN,Jul,2017.0,NaN,NaN,NaN,...,NaN,Jul,2017.0,NaN,NaN,Jul 2017,NaN,NaN,NaN,Jul 2017
24328,648931,NaN,NaN,NaN,NaN,Apr,2012.0,NaN,NaN,Apr,...,NaN,NaN,NaN,NaN,NaN,Apr 2012,NaN,Apr 2012,NaN,NaN
26397,686820,NaN,NaN,Jan,2012.0,Jan,2012.0,NaN,NaN,Jan,...,NaN,Jan,2012.0,NaN,Jan 2012,Jan 2012,NaN,Jan 2012,NaN,Jan 2012

In [17]:
df_date_pair = df_date_pair.drop_duplicates()
df_date_pair_sorted = df_date_pair.sort_index(axis=1)
df_date_pair_sorted.to_csv('date_pair_month_year.csv')

### 1.2.3 Date merge for column with day, mon, yea

3) With day, mon, yea
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea'

In [18]:
# Three Strings to search for: NOT
string1 = "MechanisticSampleCollectionDay"  # First string
string2 = "MechanisticSampleCollectionMon"  # Second string, change this to your second string
string3 = "MechanisticSampleCollectionYea"

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()
search_string3_lower = string3.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() or search_string2_lower in col.lower() or search_string3_lower in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)


column_list2 = ['MaskID'] + matching_columns
# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[column_list2].dropna(how='all', subset=matching_columns)

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  15 columns:  ['MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea', 'MechanisticSampleCollectionDay_dup15', 'MechanisticSampleCollectionMon_dup15', 'MechanisticSampleCollectionYea_dup15', 'MechanisticSampleCollectionDay_dup16', 'MechanisticSampleCollectionMon_dup16', 'MechanisticSampleCollectionYea_dup16', 'MechanisticSampleCollectionDay_dup21', 'MechanisticSampleCollectionMon_dup21', 'MechanisticSampleCollectionYea_dup21', 'MechanisticSampleCollectionDay_dup22', 'MechanisticSampleCollectionMon_dup22', 'MechanisticSampleCollectionYea_dup22']
Top 20 values for column MechanisticSampleCollectionDay:
MechanisticSampleCollectionDay
17.0    34
15.0    30
10.0    29
16.0    28
28.0    26
11.0    23
4.0     23
7.0     23
21.0    23
19.0    23
12.0    21
18.0    21
14.0    19
20.0    19
1.0     19
8.0     18
9.0     18
6.0     18
25.0    18
5.0     17
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionMon:
MechanisticSampleCollectionMon
Nov    57
Apr    55
Jun    55
Aug    53
Jul    53
Mar    52
Feb    51
May    51
Oct    48
Sep    47
Jan    46
Dec    38
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionYea:
MechanisticSampleCollectionYea
2007.0    162
2008.0    156
2006.0    142
2005.0    129
2004.0     17
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionDay_dup15:
MechanisticSampleCollectionDay_dup15
7.0     145
20.0    144
21.0    139
27.0    138
22.0    137
19.0    136
16.0    135
18.0    134
23.0    131
9.0     129
5.0     127
10.0    126
11.0    126
17.0    126
3.0     121
29.0    121
1.0     120
2.0     120
6.0     120
8.0     119
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionMon_dup15:
MechanisticSampleCollectionMon_dup15
Apr    364
Mar    342
Dec    339
May    336
Jun    329
Jul    323
Feb    313
Jan    303
Aug    301
Nov    288
Oct    288
Sep    191
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionYea_dup15:
MechanisticSampleCollectionYea_dup15
2011.0    749
2010.0    661
2009.0    582
2008.0    556
2007.0    440
2012.0    358
2006.0    268
2005.0     92
2004.0      3
2040.0      1
2001.0      1
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionDay_dup16:
MechanisticSampleCollectionDay_dup16
26.0    10
11.0     8
23.0     8
5.0      7
13.0     7
21.0     7
7.0      7
20.0     7
14.0     7
22.0     6
28.0     6
25.0     6
30.0     6
17.0     6
9.0      6
6.0      5
16.0     5
3.0      5
8.0      5
10.0     5
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionMon_dup16:
MechanisticSampleCollectionMon_dup16
Apr    28
Jun    19
May    19
Mar    16
Feb    13
Jul    12
Aug    10
Sep     9
Oct     9
Dec     9
Nov     6
Jan     3
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionYea_dup16:
MechanisticSampleCollectionYea_dup16
2009.0    53
2010.0    45
2011.0    34
2012.0    17
2008.0     3
2006.0     1
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionDay_dup21:
MechanisticSampleCollectionDay_dup21
15.0    4
28.0    4
6.0     3
3.0     3
25.0    3
5.0     3
27.0    3
21.0    3
9.0     2
7.0     2
29.0    2
12.0    2
17.0    2
11.0    2
1.0     2
22.0    2
18.0    2
13.0    2
4.0     2
19.0    2
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionMon_dup21:
MechanisticSampleCollectionMon_dup21
Oct    8
Jul    8
Aug    7
Dec    6
Mar    6
Feb    5
Apr    5
Jan    4
Nov    4
Sep    3
Jun    1
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionYea_dup21:
MechanisticSampleCollectionYea_dup21
2004.0    15
2005.0    12
2009.0    10
2006.0     9
2010.0     5
2008.0     4
2007.0     2
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionDay_dup22:
MechanisticSampleCollectionDay_dup22
23.0    7
24.0    6
25.0    5
4.0     5
20.0    5
3.0     4
17.0    4
22.0    4
13.0    3
19.0    3
5.0     3
1.0     3
14.0    2
2.0     2
9.0     2
10.0    2
21.0    2
15.0    2
8.0     2
27.0    2
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionMon_dup22:
MechanisticSampleCollectionMon_dup22
Feb    11
Jun     9
Apr     9
Oct     9
Aug     8
May     8
Jul     7
Mar     6
Jan     3
Dec     2
Nov     2
Sep     2
Name: count, dtype: int64

Top 20 values for column MechanisticSampleCollectionYea_dup22:
MechanisticSampleCollectionYea_dup22
2008.0    73
2009.0     2
2011.0     1
Name: count, dtype: int64

In [19]:
import pandas as pd
import numpy as np

# Convert 'NA' strings to np.nan
def convert_na(value):
    if value == 'NA':
        return np.nan
    else:
        return value

# Function to convert month from string to number, handling missing values
def month_to_num(month_str):
    if pd.isna(month_str):
        return np.nan
    try:
        datetime_object = pd.to_datetime(month_str, format='%b')
        return datetime_object.month
    except ValueError:
        return np.nan

# Function to create a date column from day, month, and year columns, handling missing values
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Yea')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Mon' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        df[date_col] = df.apply(
            lambda row: f"{int(month_to_num(row[month_col])):02d}/{int(row[day_col]) if pd.notna(row[day_col]) else 15:02d}/{int(row[year_col])}"
            if pd.notna(row[month_col]) and pd.notna(row[year_col])
            else np.nan, axis=1)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [20]:
# Convert 'NA' strings to np.nan
for col in filtered_df.columns:
    filtered_df[col] = filtered_df[col].apply(convert_na)

original_cols = filtered_df.columns.tolist()

# Iterating over columns and creating date columns
for col in filtered_df.columns:
    if 'Yea' in col:
        create_date_column(filtered_df, col, original_cols)

print(filtered_df.info())
filtered_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4606 entries, 9498 to 400806
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   MaskID                                 4606 non-null   int64
 1   MechanisticSampleCollectionDay         606 non-null    float64
 2   MechanisticSampleCollectionMon         606 non-null    object
 3   MechanisticSampleCollectionYea         606 non-null    float64
 4   MechanisticSampleCollectionDay_dup15   3715 non-null   float64
 5   MechanisticSampleCollectionMon_dup15   3717 non-null   object
 6   MechanisticSampleCollectionYea_dup15   3711 non-null   float64
 7   MechanisticSampleCollectionDay_dup16   153 non-null    float64
 8   MechanisticSampleCollectionMon_dup16   153 non-null    object
 9   MechanisticSampleCollectionYea_dup16   153 non-null    float64
 10  MechanisticSampleCollectionDay_dup21   57 non-null     float64
 11  MechanisticSampleCollectionMon_dup21   57 non-null     object
 12  MechanisticSampleCollectionYea_dup21   57 non-null     float64
 13  MechanisticSampleCollectionDay_dup22   76 non-null     float64
 14  MechanisticSampleCollectionMon_dup22   76 non-null     object
 15  MechanisticSampleCollectionYea_dup22   76 non-null     float64
 16  MechanisticSampleCollectionDate        606 non-null    object
 17  MechanisticSampleCollectionDate_dup15  3711 non-null   object
 18  MechanisticSampleCollectionDate_dup16  153 non-null    object
 19  MechanisticSampleCollectionDate_dup21  57 non-null     object
 20  MechanisticSampleCollectionDate_dup22  76 non-null     object
dtypes: float64(10), int64(1), object(10)
memory usage: 791.7+ KB
None

,MaskID,MechanisticSampleCollectionDay,MechanisticSampleCollectionMon,MechanisticSampleCollectionYea,MechanisticSampleCollectionDay_dup15,MechanisticSampleCollectionMon_dup15,MechanisticSampleCollectionYea_dup15,MechanisticSampleCollectionDay_dup16,MechanisticSampleCollectionMon_dup16,MechanisticSampleCollectionYea_dup16,...,MechanisticSampleCollectionMon_dup21,MechanisticSampleCollectionYea_dup21,MechanisticSampleCollectionDay_dup22,MechanisticSampleCollectionMon_dup22,MechanisticSampleCollectionYea_dup22,MechanisticSampleCollectionDate,MechanisticSampleCollectionDate_dup15,MechanisticSampleCollectionDate_dup16,MechanisticSampleCollectionDate_dup21,MechanisticSampleCollectionDate_dup22
9498,374069,NaN,NaN,NaN,20.0,Apr,2012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,04/20/2012,NaN,NaN,NaN
9604,376229,NaN,NaN,NaN,31.0,May,2012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,05/31/2012,NaN,NaN,NaN
11012,404247,NaN,NaN,NaN,20.0,Feb,2012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,02/20/2012,NaN,NaN,NaN
12923,440176,NaN,NaN,NaN,23.0,Mar,2012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,03/23/2012,NaN,NaN,NaN
13168,445279,NaN,NaN,NaN,23.0,May,2012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,05/23/2012,NaN,NaN,NaN

In [21]:
filtered_df = filtered_df.drop_duplicates()
filtered_df.to_csv('date_Day_Mon_Yea.csv')

### 1.2.4 date merge for day, month and year

With day, month and year
'SamplesCollectionDay', 'SamplesCollectionMonth', 'SamplesCollectionYear'

In [22]:
# Three Strings to search for: NOT
string1 = "MechanisticSampleCollection"  # First string
#string2 = "MechanisticSampleCollectionMon"  # Second string, change this to your second string
#string3 = "MechanisticSampleCollectionYea"

# Convert the search strings to lower case
search_string1_lower = string1.lower()
#search_string2_lower = string2.lower()
#search_string3_lower = string3.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)


column_list2 = ['MaskID'] + matching_columns
# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[column_list2].dropna(how='all', subset=matching_columns)

# Print top 20 values for each matching column
#for col in matching_columns:
#    print(f"Top 20 values for column {col}:")
#    print(merged_first_part[col].value_counts().nlargest(20))

Found  15 columns:  ['MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea', 'MechanisticSampleCollectionDay_dup15', 'MechanisticSampleCollectionMon_dup15', 'MechanisticSampleCollectionYea_dup15', 'MechanisticSampleCollectionDay_dup16', 'MechanisticSampleCollectionMon_dup16', 'MechanisticSampleCollectionYea_dup16', 'MechanisticSampleCollectionDay_dup21', 'MechanisticSampleCollectionMon_dup21', 'MechanisticSampleCollectionYea_dup21', 'MechanisticSampleCollectionDay_dup22', 'MechanisticSampleCollectionMon_dup22', 'MechanisticSampleCollectionYea_dup22']

#### Correct names of the following columns:
1. PlasmaGlucoseday: PlasmaGlucoseDay
2. pHday: pHDay
3. SerumKetonesday: SerumKetonesDay

In [24]:
merged_first_part.rename(columns={'PlasmaGlucoseday': 'PlasmaGlucoseDay', 'pHday': 'pHDay', 'SerumKetonesday': 'SerumKetonesDay'}, inplace=True)
file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part.to_csv(file_path)

In [25]:
day_column_list = [col for col in merged_first_part.columns 
                    if "Day" in col and 'MechanisticSampleCollectionDay' not in col]

print("No. of the day columes to be merged: ", len(day_column_list))

No. of the day columes to be merged:  55

In [26]:
# Create lists of column headers for the month and year based on the day
month_column_list = [name.replace("Day", "Month") for name in day_column_list]
year_column_list = [name.replace("Day", "Year") for name in day_column_list]

#Check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list if name not in merged_first_part.columns]
print("No. of month columes in wrong naming format: ", len(unmatched_month_columns))

unmatched_year_columns = [name for name in year_column_list if name not in merged_first_part.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))

No. of month columes in wrong naming format:  0
No. of year columes in wrong naming format:  0

In [27]:
column_list = day_column_list + month_column_list + year_column_list
column_list.sort()

column_list2 = ['MaskID'] + column_list
# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[column_list2].dropna(how='all', subset=column_list)

In [28]:
import pandas as pd
import numpy as np

# Convert 'NA' strings to np.nan
def convert_na(value):
    if value == 'NA':
        return np.nan
    else:
        return value

# Function to convert month from string or number to numeric month, handling missing values
def month_to_num(month):
    if pd.isna(month):
        return np.nan
    try:
        # Handle string representation
        if isinstance(month, str):
            datetime_object = pd.to_datetime(month, format='%b')
            return datetime_object.month
        # Handle numeric representation
        elif isinstance(month, (int, float)):
            return int(month)
    except ValueError:
        return np.nan

# Function to create a date column from day, month, and year columns, handling missing values
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Year')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Month' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        df[date_col] = df.apply(
            lambda row: f"{int(month_to_num(row[month_col])):02d}/{int(row[day_col]):02d}/{int(row[year_col])}"
            if pd.notna(month_to_num(row[month_col])) and pd.notna(row[day_col]) and pd.notna(row[year_col])
            else np.nan, axis=1)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [29]:
# Convert 'NA' strings to np.nan
for col in filtered_df.columns:
    filtered_df[col] = filtered_df[col].apply(convert_na)

original_cols = filtered_df.columns.tolist()

# Iterating over columns and creating date columns
for col in filtered_df.columns:
    if 'Year' in col:
        create_date_column(filtered_df, col, original_cols)

print(filtered_df.info())
filtered_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 304383 entries, 0 to 463770
Columns: 221 entries, MaskID to pHDate
dtypes: float64(115), int64(1), object(105)
memory usage: 515.5+ MB
None

,MaskID,AEDateDeathDay,AEDateDeathMonth,AEDateDeathYear,AEFollowupDateDay,AEFollowupDateMonth,AEFollowupDateYear,AEOccurDtDay,AEOccurDtMonth,AEOccurDtYear,...,Spring2019ConsentDateDate_dup12,Spring2019ConsentDateDate_dup14,StudyDrugStartDateDate1_1,StudyDrugStartDateDate2_1,StudyDrugStopDateDate1_1,StudyDrugStopDateDate2_1,UrineKetonesDate,_15Aug2011ConsentDateDate,_22Jul2009ConsentSignedDate,pHDate
0,200023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/01/2015,NaN,NaN
1,200071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/23/2012,NaN,NaN
4,200082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/13/2012,NaN,NaN
5,200086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/23/2012,NaN,NaN

In [30]:
filtered_df = filtered_df.drop_duplicates()
filtered_df_sorted = filtered_df.sort_index(axis=1)
filtered_df_sorted.to_csv('date_Day_Month_Year.csv')

### 1.2.5 time foramting

# 2. Arrant values

## 2.1 height

In [9]:
# The following code is to load the first part of merged dataset
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED
import warnings
warnings.filterwarnings('ignore')

file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part = pd.read_csv(file_path)

In [10]:
merged_first_part.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519673 entries, 0 to 519672
Columns: 1562 entries, MaskID to SignedConsentFor2017Protocol
dtypes: float64(664), int64(1), object(897)
memory usage: 6.0+ GB

In [11]:
#file_path_23 = "/home/ec2-user/SageMaker/TEAM-5/TN_01_merged_data_23.csv"
#merged_part_23 = pd.read_csv(file_path_23)

In [31]:
# Strings to search for: OR
string1 = "heightcm"  # First string
string2 = "heightin"  # Second string, change this to your second string

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() or search_string2_lower in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
matching_columns2 = ['MaskID', 'Visit_Dt', 'BirthYear_dup21'] + matching_columns
filtered_df = merged_first_part[matching_columns2].dropna(how='all', subset=matching_columns)
print(filtered_df.info())

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  10 columns:  ['Heightcm', 'Heightin', 'Heightcm_dup15', 'Heightin_dup15', 'Heightcm_dup16', 'Heightin_dup16', 'Heightcm_dup21', 'Heightin_dup21', 'Heightcm_dup22', 'Heightin_dup22']
<class 'pandas.core.frame.DataFrame'>
Index: 26425 entries, 368 to 400806
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaskID           26425 non-null  int64
 1   Visit_Dt         26424 non-null  object
 2   BirthYear_dup21  114 non-null    float64
 3   Heightcm         6322 non-null   float64
 4   Heightin         777 non-null    float64
 5   Heightcm_dup15   17899 non-null  float64
 6   Heightin_dup15   1670 non-null   float64
 7   Heightcm_dup16   471 non-null    float64
 8   Heightin_dup16   22 non-null     float64
 9   Heightcm_dup21   98 non-null     float64
 10  Heightin_dup21   26 non-null     float64
 11  Heightcm_dup22   150 non-null    float64
 12  Heightin_dup22   4 non-null      float64
dtypes: float64(11), int64(1), object(1)
memory usage: 2.8+ MB
None
Top 20 values for column Heightcm:
Heightcm
160.0    48
165.0    46
170.0    44
164.0    39
168.0    37
172.0    36
163.0    36
171.0    36
161.0    35
162.5    35
158.0    34
178.0    34
167.0    34
162.0    32
169.0    32
127.0    31
173.0    30
130.0    30
174.0    29
126.0    28
Name: count, dtype: int64

Top 20 values for column Heightin:
Heightin
67.0    35
64.0    25
65.0    24
62.0    22
63.0    21
68.0    21
66.0    21
70.0    18
72.0    18
69.0    17
71.0    17
61.0    11
50.0    11
48.0    10
46.0    10
67.5     8
65.5     8
68.5     8
60.0     8
63.5     7
Name: count, dtype: int64

Top 20 values for column Heightcm_dup15:
Heightcm_dup15
170.0    191
165.0    164
160.0    157
162.0    157
163.0    143
173.0    139
164.0    139
167.0    136
175.0    132
169.0    127
178.0    127
161.0    126
166.0    122
158.0    120
171.0    119
172.0    118
174.0    112
176.0    105
162.5    102
168.0    101
Name: count, dtype: int64

Top 20 values for column Heightin_dup15:
Heightin_dup15
67.0    72
63.0    70
66.0    67
64.0    58
68.0    51
69.0    50
72.0    46
62.0    45
70.0    38
65.0    37
71.0    33
73.0    30
60.0    22
61.0    22
65.5    21
68.5    20
53.0    19
74.0    19
66.5    19
59.0    17
Name: count, dtype: int64

Top 20 values for column Heightcm_dup16:
Heightcm_dup16
169.0    10
163.0     7
182.0     6
164.6     4
164.5     4
173.0     4
131.0     4
163.8     4
181.0     4
163.3     4
182.8     3
144.2     3
158.5     3
166.4     3
165.5     3
168.0     3
168.9     3
168.3     3
161.0     3
166.8     3
Name: count, dtype: int64

Top 20 values for column Heightin_dup16:
Heightin_dup16
66.50    3
41.00    1
59.33    1
51.50    1
44.57    1
66.00    1
62.00    1
63.66    1
65.00    1
66.10    1
68.10    1
71.10    1
72.00    1
57.00    1
60.00    1
40.90    1
48.90    1
59.80    1
53.74    1
52.80    1
Name: count, dtype: int64

Top 20 values for column Heightcm_dup21:
Heightcm_dup21
160.0    4
183.0    3
187.5    2
163.0    2
162.0    2
172.9    2
166.0    2
160.6    2
176.0    2
176.4    1
163.9    1
146.0    1
176.2    1
191.0    1
180.2    1
180.9    1
170.5    1
159.5    1
171.0    1
181.0    1
Name: count, dtype: int64

Top 20 values for column Heightin_dup21:
Heightin_dup21
73.00    3
63.00    2
66.00    2
64.00    1
65.50    1
70.00    1
65.00    1
45.00    1
55.00    1
69.75    1
75.00    1
67.50    1
63.50    1
64.25    1
58.75    1
72.50    1
53.25    1
69.00    1
72.00    1
63.30    1
Name: count, dtype: int64

Top 20 values for column Heightcm_dup22:
Heightcm_dup22
166.8    3
163.5    3
154.8    2
170.5    2
142.0    2
164.1    2
133.5    2
180.0    2
158.5    2
155.5    2
163.0    2
178.2    2
164.4    2
119.5    2
159.5    2
129.0    2
157.9    2
120.0    1
129.6    1
145.5    1
Name: count, dtype: int64

Top 20 values for column Heightin_dup22:
Heightin_dup22
60.9    1
59.5    1
53.0    1
63.0    1
Name: count, dtype: int64

In [32]:
filtered_df = filtered_df.drop_duplicates()
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26291 entries, 368 to 400806
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaskID           26291 non-null  int64
 1   Visit_Dt         26290 non-null  object
 2   BirthYear_dup21  114 non-null    float64
 3   Heightcm         6318 non-null   float64
 4   Heightin         777 non-null    float64
 5   Heightcm_dup15   17789 non-null  float64
 6   Heightin_dup15   1650 non-null   float64
 7   Heightcm_dup16   470 non-null    float64
 8   Heightin_dup16   22 non-null     float64
 9   Heightcm_dup21   98 non-null     float64
 10  Heightin_dup21   26 non-null     float64
 11  Heightcm_dup22   149 non-null    float64
 12  Heightin_dup22   4 non-null      float64
dtypes: float64(11), int64(1), object(1)
memory usage: 2.8+ MB

In [35]:
filtered_df.to_csv('height_AddBirthYear.csv')

## 2.2 weight

In [37]:
# Strings to search for: OR
string1 = "Weightkg"  # First string
string2 = "Weightlbs"  # Second string, change this to your second string

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() or search_string2_lower in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
matching_columns2 = ['MaskID', 'Visit_Dt', 'BirthYear_dup21'] + matching_columns
filtered_df = merged_first_part[matching_columns2].dropna(how='all', subset=matching_columns)
print(filtered_df.info())

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  10 columns:  ['Weightkg', 'Weightlbs', 'Weightkg_dup15', 'Weightlbs_dup15', 'Weightkg_dup16', 'Weightlbs_dup16', 'Weightkg_dup21', 'Weightlbs_dup21', 'Weightkg_dup22', 'Weightlbs_dup22']
<class 'pandas.core.frame.DataFrame'>
Index: 28512 entries, 368 to 400806
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaskID           28512 non-null  int64
 1   Visit_Dt         28511 non-null  object
 2   BirthYear_dup21  115 non-null    float64
 3   Weightkg         6428 non-null   float64
 4   Weightlbs        882 non-null    float64
 5   Weightkg_dup15   19590 non-null  float64
 6   Weightlbs_dup15  2319 non-null   float64
 7   Weightkg_dup16   486 non-null    float64
 8   Weightlbs_dup16  30 non-null     float64
 9   Weightkg_dup21   95 non-null     float64
 10  Weightlbs_dup21  34 non-null     float64
 11  Weightkg_dup22   152 non-null    float64
 12  Weightlbs_dup22  6 non-null      float64
dtypes: float64(11), int64(1), object(1)
memory usage: 3.0+ MB
None
Top 20 values for column Weightkg:
Weightkg
27.8    23
20.0    22
23.0    22
33.0    22
20.5    22
22.0    22
21.0    22
40.0    21
39.0    20
70.0    20
17.0    20
55.0    19
34.0    19
24.5    19
18.6    19
18.5    19
24.0    18
25.0    18
58.0    18
57.0    18
Name: count, dtype: int64

Top 20 values for column Weightlbs:
Weightlbs
55.0     7
170.0    6
180.0    6
148.0    5
35.0     5
114.0    5
162.0    5
125.0    5
145.0    5
46.5     5
135.0    5
160.0    5
64.0     5
128.0    4
41.0     4
50.0     4
181.0    4
140.0    4
127.0    4
124.0    4
Name: count, dtype: int64

Top 20 values for column Weightkg_dup15:
Weightkg_dup15
60.0    101
58.0     77
56.0     73
65.0     72
57.0     71
66.0     66
63.0     65
53.0     62
62.0     62
54.0     60
70.0     59
55.0     56
72.0     55
71.0     55
75.0     52
52.0     52
67.0     51
51.0     50
68.0     50
61.0     48
Name: count, dtype: int64

Top 20 values for column Weightlbs_dup15:
Weightlbs_dup15
130.0    26
140.0    24
160.0    22
145.0    22
180.0    21
190.0    20
175.0    19
200.0    18
135.0    18
165.0    17
170.0    17
155.0    16
150.0    15
110.0    15
138.0    15
120.0    14
210.0    13
128.0    13
125.0    12
220.0    12
Name: count, dtype: int64

Top 20 values for column Weightkg_dup16:
Weightkg_dup16
52.2    6
56.0    5
72.8    4
68.2    4
28.2    4
62.0    4
55.0    4
57.0    3
45.6    3
38.3    3
36.2    3
69.2    3
73.1    3
81.6    3
66.4    3
73.0    3
52.4    3
31.2    3
63.2    3
67.3    3
Name: count, dtype: int64

Top 20 values for column Weightlbs_dup16:
Weightlbs_dup16
41.00     1
150.13    1
84.40     1
51.10     1
39.02     1
55.00     1
82.70     1
286.38    1
62.17     1
175.10    1
188.40    1
355.80    1
136.75    1
146.40    1
115.30    1
182.00    1
109.30    1
65.00     1
62.50     1
59.50     1
Name: count, dtype: int64

Top 20 values for column Weightkg_dup21:
Weightkg_dup21
44.8     2
67.5     2
56.5     2
58.0     2
49.0     2
72.1     2
60.6     2
60.8     2
67.2     2
51.8     2
83.5     1
62.0     1
47.6     1
110.0    1
86.1     1
77.3     1
66.3     1
85.6     1
49.2     1
75.6     1
Name: count, dtype: int64

Top 20 values for column Weightlbs_dup21:
Weightlbs_dup21
164.0    2
66.0     2
44.0     1
174.6    1
302.0    1
175.0    1
146.0    1
121.0    1
186.0    1
142.0    1
280.4    1
124.0    1
201.0    1
116.0    1
172.0    1
129.0    1
80.0     1
258.0    1
155.0    1
109.0    1
Name: count, dtype: int64

Top 20 values for column Weightkg_dup22:
Weightkg_dup22
35.3    3
63.4    3
50.6    3
56.7    3
45.0    3
33.1    2
92.1    2
53.7    2
69.8    2
30.8    2
56.0    2
44.5    2
24.6    2
35.9    2
65.1    2
71.8    2
53.1    1
53.9    1
56.1    1
38.4    1
Name: count, dtype: int64

Top 20 values for column Weightlbs_dup22:
Weightlbs_dup22
96.6     1
83.3     1
118.6    1
129.8    1
62.1     1
206.0    1
Name: count, dtype: int64

In [38]:
filtered_df = filtered_df.drop_duplicates()
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28367 entries, 368 to 400806
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaskID           28367 non-null  int64
 1   Visit_Dt         28366 non-null  object
 2   BirthYear_dup21  115 non-null    float64
 3   Weightkg         6423 non-null   float64
 4   Weightlbs        882 non-null    float64
 5   Weightkg_dup15   19471 non-null  float64
 6   Weightlbs_dup15  2296 non-null   float64
 7   Weightkg_dup16   485 non-null    float64
 8   Weightlbs_dup16  30 non-null     float64
 9   Weightkg_dup21   95 non-null     float64
 10  Weightlbs_dup21  34 non-null     float64
 11  Weightkg_dup22   151 non-null    float64
 12  Weightlbs_dup22  6 non-null      float64
dtypes: float64(11), int64(1), object(1)
memory usage: 3.0+ MB

In [39]:
filtered_df.to_csv('weight_1_AddBirthYear.csv')

#### create another table for availableWeightWeight

In [40]:
# Strings to search for: OR
string1 = "availableWeightWeight"  # First string
string2 = "availableWeightUnits"  # Second string, change this to your second string

# Convert the search strings to lower case
search_string1_lower = string1.lower()
search_string2_lower = string2.lower()

# Find columns that contain both search strings, case-insensitive
matching_columns = [col for col in merged_first_part.columns 
                    if search_string1_lower in col.lower() or search_string2_lower in col.lower()]

print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
matching_columns2 = ['MaskID', 'Visit_Dt'] + matching_columns
filtered_df = merged_first_part[matching_columns2].dropna(how='all', subset=matching_columns)
print(filtered_df.info())

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  6 columns:  ['f1availableWeightWeight', 'f1availableWeightUnits', 'f2availableWeightWeight', 'f2availableWeightUnits', 'f3availableWeightWeight', 'f3availableWeightUnits']
<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 24774 to 399096
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MaskID                   46 non-null     int64
 1   Visit_Dt                 46 non-null     object
 2   f1availableWeightWeight  46 non-null     float64
 3   f1availableWeightUnits   40 non-null     object
 4   f2availableWeightWeight  44 non-null     float64
 5   f2availableWeightUnits   40 non-null     object
 6   f3availableWeightWeight  11 non-null     float64
 7   f3availableWeightUnits   10 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.2+ KB
None
Top 20 values for column f1availableWeightWeight:
f1availableWeightWeight
150.0    2
0.0      2
50.9     2
143.5    1
153.0    1
124.0    1
55.2     1
198.0    1
34.6     1
103.0    1
202.0    1
160.0    1
43.5     1
12.9     1
31.8     1
76.0     1
34.0     1
38.5     1
230.0    1
39.8     1
Name: count, dtype: int64

Top 20 values for column f1availableWeightUnits:
f1availableWeightUnits
Kg     27
lbs    13
Name: count, dtype: int64

Top 20 values for column f2availableWeightWeight:
f2availableWeightWeight
0.0      3
192.0    2
137.5    1
146.0    1
59.5     1
124.0    1
49.9     1
84.0     1
82.0     1
180.0    1
49.2     1
39.0     1
30.6     1
74.0     1
30.0     1
34.8     1
195.0    1
39.7     1
37.7     1
52.1     1
Name: count, dtype: int64

Top 20 values for column f2availableWeightUnits:
f2availableWeightUnits
Kg     26
lbs    14
Name: count, dtype: int64

Top 20 values for column f3availableWeightWeight:
f3availableWeightWeight
77.40     1
39.15     1
35.00     1
46.70     1
36.90     1
25.40     1
76.30     1
13.50     1
37.10     1
74.00     1
212.80    1
Name: count, dtype: int64

Top 20 values for column f3availableWeightUnits:
f3availableWeightUnits
Kg     8
lbs    2
Name: count, dtype: int64

In [41]:
filtered_df = filtered_df.drop_duplicates()
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 24774 to 399096
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MaskID                   46 non-null     int64
 1   Visit_Dt                 46 non-null     object
 2   f1availableWeightWeight  46 non-null     float64
 3   f1availableWeightUnits   40 non-null     object
 4   f2availableWeightWeight  44 non-null     float64
 5   f2availableWeightUnits   40 non-null     object
 6   f3availableWeightWeight  11 non-null     float64
 7   f3availableWeightUnits   10 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.2+ KB

In [42]:
filtered_df.to_csv('weight_2_availableWeight.csv')

## 2.3 Gluocose values

In [1]:
# The following code is to load the first part of merged dataset
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED
import warnings
warnings.filterwarnings('ignore')

file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part = pd.read_csv(file_path)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

Approximate conversion factor of 18 between mg/dl and mmol/L: 1 mmol/L = 18 mg/dl.

In [24]:
# in lower case for case-insensitive comparison
# Example strings to include
contain_list = ['result', 'unit', 'glucosetype', 'lowerreferencerange', 'higherreferencerange'] 
# Example strings to exclude
not_contain_list = ['date', 'znt', 'time', 'sig', 'lymph', 'rbc', 'hemo', 'hema', 'mcv', 'plate', 
                    'neutro', 'eosino', 'gada', 'baso', 'ia2', 'urine', 'd5','d6', 'mch', 'wbc', 
                    'mono','miaa', 'within', 'ica', 'serum', 'aniong','hba','f3','f1','f2','ph']     

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_first_part.columns if 
                    any(contain.lower() in col.lower() for contain in contain_list) and 
                    all(not_contain.lower() not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_first_part[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())
"""
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()
"""

Found  78 columns:  ['PlasmaGlucoseResult', 'PlasmaGlucoseUnits', 'Result1_1', 'Units1_1', 'LowerReferenceRange1_1', 'HigherReferenceRange1_1', 'GlucoseType1_1', 'Result2_1', 'Units2_1', 'LowerReferenceRange2_1', 'HigherReferenceRange2_1', 'GlucoseType2_1', 'Result3_1', 'Units3_1', 'LowerReferenceRange3_1', 'HigherReferenceRange3_1', 'GlucoseType3_1', 'Result4_1', 'Units4_1', 'LowerReferenceRange4_1', 'HigherReferenceRange4_1', 'GlucoseType4_1', 'Result5_1', 'Units5_1', 'LowerReferenceRange5_1', 'HigherReferenceRange5_1', 'GlucoseType5_1', 'Result6_1', 'Units6_1', 'LowerReferenceRange6_1', 'HigherReferenceRange6_1', 'GlucoseType6_1', 'Result7_1', 'Units7_1', 'LowerReferenceRange7_1', 'HigherReferenceRange7_1', 'GlucoseType7_1', 'Result8_1', 'Units8_1', 'LowerReferenceRange8_1', 'HigherReferenceRange8_1', 'GlucoseType8_1', 'Result9_1', 'Units9_1', 'LowerReferenceRange9_1', 'HigherReferenceRange9_1', 'GlucoseType9_1', 'Result10_1', 'Units10_1', 'GlucoseType10_1', 'D1FastingPlasmaGlucResult1_1', 'D1FastingPlasmaGlucUnits1_1', 'D1FastingPlasmaGlucResult2_1', 'D1FastingPlasmaGlucUnits2_1', 'D1FastingPlasmaGlucResult3_1', 'D1FastingPlasmaGlucUnits3_1', 'D2aOGTTFastingGlucResult1_1', 'D2aOGTTFastingGlucUnits1_1', 'D2aOGTTFastingGlucResult2_1', 'D2aOGTTFastingGlucUnits2_1', 'D2b2HourGlucUnits2_1', 'D2b2HourGlucResult1_1', 'D2b2HourGlucUnits1_1', 'D2b2HourGlucResult2_1', 'D3RandomPlasmaGlucResult1_1', 'D3RandomPlasmaGlucUnits1_1', 'D2aFastingPlasmaGlucUnits3_1', 'D2b2HourGlucUnits3_1', 'D3RandomPlasmaGlucUnits2_1', 'D3RandomPlasmaGlucUnits3_1', 'D3RandomPlasmaGlucUnits4_1', 'D3RandomPlasmaGlucUnits5_1', 'D2aFastingPlasmaGlucResult3_1', 'D2b2HourGlucResult3_1', 'D3RandomPlasmaGlucResult2_1', 'D3RandomPlasmaGlucResult3_1', 'D3RandomPlasmaGlucResult4_1', 'D3RandomPlasmaGlucResult5_1']
<class 'pandas.core.frame.DataFrame'>
Index: 1536 entries, 31 to 399148
Data columns (total 78 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   PlasmaGlucoseResult            181 non-null    float64
 1   PlasmaGlucoseUnits             182 non-null    object
 2   Result1_1                      1124 non-null   float64
 3   Units1_1                       1117 non-null   object
 4   LowerReferenceRange1_1         428 non-null    float64
 5   HigherReferenceRange1_1        460 non-null    float64
 6   GlucoseType1_1                 1121 non-null   object
 7   Result2_1                      821 non-null    float64
 8   Units2_1                       802 non-null    object
 9   LowerReferenceRange2_1         291 non-null    float64
 10  HigherReferenceRange2_1        327 non-null    float64
 11  GlucoseType2_1                 814 non-null    object
 12  Result3_1                      414 non-null    float64
 13  Units3_1                       401 non-null    object
 14  LowerReferenceRange3_1         157 non-null    float64
 15  HigherReferenceRange3_1        173 non-null    float64
 16  GlucoseType3_1                 398 non-null    object
 17  Result4_1                      227 non-null    float64
 18  Units4_1                       218 non-null    object
 19  LowerReferenceRange4_1         85 non-null     float64
 20  HigherReferenceRange4_1        91 non-null     float64
 21  GlucoseType4_1                 209 non-null    object
 22  Result5_1                      53 non-null     float64
 23  Units5_1                       51 non-null     object
 24  LowerReferenceRange5_1         24 non-null     float64
 25  HigherReferenceRange5_1        28 non-null     float64
 26  GlucoseType5_1                 50 non-null     object
 27  Result6_1                      16 non-null     float64
 28  Units6_1                       16 non-null     object
 29  LowerReferenceRange6_1         7 non-null      float64
 30  HigherReferenceRange6_1        7 non-null      float64
 31  GlucoseType6_1                 16 non-null     object
 32  Result7_1                      11 non-null     float64
 33  Units7_1                       11 non-null     object
 34  LowerReferenceRange7_1         6 non-null      float64
 35  HigherReferenceRange7_1        7 non-null      float64
 36  GlucoseType7_1                 11 non-null     object
 37  Result8_1                      4 non-null      float64
 38  Units8_1                       4 non-null      object
 39  LowerReferenceRange8_1         3 non-null      float64
 40  HigherReferenceRange8_1        3 non-null      float64
 41  GlucoseType8_1                 4 non-null      object
 42  Result9_1                      2 non-null      float64
 43  Units9_1                       2 non-null      object
 44  LowerReferenceRange9_1         1 non-null      float64
 45  HigherReferenceRange9_1        1 non-null      float64
 46  GlucoseType9_1                 2 non-null      object
 47  Result10_1                     1 non-null      float64
 48  Units10_1                      1 non-null      object
 49  GlucoseType10_1                1 non-null      object
 50  D1FastingPlasmaGlucResult1_1   67 non-null     float64
 51  D1FastingPlasmaGlucUnits1_1    73 non-null     object
 52  D1FastingPlasmaGlucResult2_1   4 non-null      float64
 53  D1FastingPlasmaGlucUnits2_1    5 non-null      object
 54  D1FastingPlasmaGlucResult3_1   1 non-null      float64
 55  D1FastingPlasmaGlucUnits3_1    2 non-null      object
 56  D2aOGTTFastingGlucResult1_1    30 non-null     float64
 57  D2aOGTTFastingGlucUnits1_1     33 non-null     object
 58  D2aOGTTFastingGlucResult2_1    6 non-null      float64
 59  D2aOGTTFastingGlucUnits2_1     6 non-null      object
 60  D2b2HourGlucUnits2_1           5 non-null      object
 61  D2b2HourGlucResult1_1          35 non-null     float64
 62  D2b2HourGlucUnits1_1           36 non-null     object
 63  D2b2HourGlucResult2_1          5 non-null      float64
 64  D3RandomPlasmaGlucResult1_1    131 non-null    float64
 65  D3RandomPlasmaGlucUnits1_1     136 non-null    object
 66  D2aFastingPlasmaGlucUnits3_1   1 non-null      object
 67  D2b2HourGlucUnits3_1           1 non-null      object
 68  D3RandomPlasmaGlucUnits2_1     12 non-null     object
 69  D3RandomPlasmaGlucUnits3_1     7 non-null      object
 70  D3RandomPlasmaGlucUnits4_1     3 non-null      object
 71  D3RandomPlasmaGlucUnits5_1     2 non-null      object
 72  D2aFastingPlasmaGlucResult3_1  1 non-null      float64
 73  D2b2HourGlucResult3_1          1 non-null      float64
 74  D3RandomPlasmaGlucResult2_1    12 non-null     float64
 75  D3RandomPlasmaGlucResult3_1    7 non-null      float64
 76  D3RandomPlasmaGlucResult4_1    2 non-null      float64
 77  D3RandomPlasmaGlucResult5_1    1 non-null      float64
dtypes: float64(43), object(35)
memory usage: 948.0+ KB
None

'\nfor col in filtered_columns:\n    print(f"Top 20 values for column {col}:")\n    print(merged_first_part[col].value_counts().nlargest(20))\n    print()\n'

In [25]:
filtered_df.to_csv('GlucResult.csv', index = False)

# 3. testName

1. Values from both parts of merged datasets of TN_01.
2. Find possible duplications, typos, synonyms, etc. 
3. Check whether we would like to turn that into category values.

## 3.1 Collect values for test name

In [1]:
# The following code is to load the first part of merged dataset
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED
import warnings
warnings.filterwarnings('ignore')

file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part = pd.read_csv(file_path)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [26]:
string = "testName"  # change this to the string you're searching for
# Convert the search string to lower case (or upper case)
search_string_lower = string.lower()

# Find columns that contain the search string, case-insensitive
matching_columns = [col for col in merged_first_part.columns if search_string_lower in col.lower()]
print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[matching_columns].dropna(how='all')
print("DataFrame with filtered columns (rows with all missing values dropped):")
print()
print(filtered_df.info())
#print(filtered_df.head(30))

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  23 columns:  ['testName1_1', 'testName2_1', 'testName3_1', 'testName4_1', 'testName5_1', 'testName6_1', 'testName7_1', 'testName8_1', 'testName9_1', 'testName10_1', 'testName11_1', 'testName12_1', 'testName13_1', 'testName14_1', 'testName15_1', 'testName16_1', 'testName17_1', 'testName18_1', 'testName19_1', 'testName20_1', 'testName21_1', 'testName22_1', 'testName23_1']
DataFrame with filtered columns (rows with all missing values dropped):

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 53825 to 399148
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   testName1_1   46 non-null     object
 1   testName2_1   14 non-null     object
 2   testName3_1   8 non-null      object
 3   testName4_1   6 non-null      object
 4   testName5_1   5 non-null      object
 5   testName6_1   4 non-null      object
 6   testName7_1   4 non-null      object
 7   testName8_1   3 non-null      object
 8   testName9_1   3 non-null      object
 9   testName10_1  3 non-null      object
 10  testName11_1  2 non-null      object
 11  testName12_1  2 non-null      object
 12  testName13_1  2 non-null      object
 13  testName14_1  2 non-null      object
 14  testName15_1  1 non-null      object
 15  testName16_1  1 non-null      object
 16  testName17_1  1 non-null      object
 17  testName18_1  1 non-null      object
 18  testName19_1  1 non-null      object
 19  testName20_1  1 non-null      object
 20  testName21_1  1 non-null      object
 21  testName22_1  1 non-null      object
 22  testName23_1  1 non-null      object
dtypes: object(23)
memory usage: 8.8+ KB
None
Top 20 values for column testName1_1:
testName1_1
Ketones                           6
Sodium                            2
blood ketones                     2
pH                                2
Anion Gap                         2
C-Peptide                         2
Blood Ketones                     2
Random plasma glucose             1
Home test                         1
S-IA2Ab                           1
A1c at home                       1
CGM                               1
glycated Protein serum            1
HbA1c (point of care analyser)    1
HCO3                              1
Urine, Ketones                    1
urine glucose                     1
Urine Screen                      1
Urine Glucose                     1
Glucose-Lab                       1
Name: count, dtype: int64

Top 20 values for column testName2_1:
testName2_1
whole blood glucose    1
P-OHBUT                1
PCo2                   1
Urine                  1
creatinine             1
CO2                    1
ketones                1
potassium              1
Urine Glucose          1
Bicarbonate            1
Potassium              1
c-peptide              1
Anti GAD Antibodies    1
pH CAP                 1
Name: count, dtype: int64

Top 20 values for column testName3_1:
testName3_1
Bicarb                      1
Beta Hydroxybutyric Acid    1
sodium                      1
HCO3                        1
chloride                    1
Creatinine                  1
TTG IgA Abs                 1
PCO2 Cap                    1
Name: count, dtype: int64

Top 20 values for column testName4_1:
testName4_1
Lactate                           1
Potassium                         1
BHB                               1
CO2                               1
TSH                               1
Islet Cell Cytoplasmic Autoabs    1
Name: count, dtype: int64

Top 20 values for column testName5_1:
testName5_1
serum ketones     1
Chloride          1
Calcium           1
Free T4           1
IA2 Antibodies    1
Name: count, dtype: int64

Top 20 values for column testName6_1:
testName6_1
Bicarbonate               1
BUN                       1
WBC                       1
Blood gases pO2, blood    1
Name: count, dtype: int64

Top 20 values for column testName7_1:
testName7_1
Anion Gap            1
Creatinine           1
RBC                  1
Meta / Myelocytes    1
Name: count, dtype: int64

Top 20 values for column testName8_1:
testName8_1
Urea       1
Albumin    1
HgB        1
Name: count, dtype: int64

Top 20 values for column testName9_1:
testName9_1
Beta Hydroxybutyrate    1
Anion Gap               1
HcT                     1
Name: count, dtype: int64

Top 20 values for column testName10_1:
testName10_1
venous gases PH    1
Phosphorus         1
MCV                1
Name: count, dtype: int64

Top 20 values for column testName11_1:
testName11_1
PC02    1
MCH     1
Name: count, dtype: int64

Top 20 values for column testName12_1:
testName12_1
HCO3    1
MCHC    1
Name: count, dtype: int64

Top 20 values for column testName13_1:
testName13_1
Base Excess    1
RDW            1
Name: count, dtype: int64

Top 20 values for column testName14_1:
testName14_1
Urea         1
Platelets    1
Name: count, dtype: int64

Top 20 values for column testName15_1:
testName15_1
IgA    1
Name: count, dtype: int64

Top 20 values for column testName16_1:
testName16_1
urine ketones    1
Name: count, dtype: int64

Top 20 values for column testName17_1:
testName17_1
CBC and diff normal    1
Name: count, dtype: int64

Top 20 values for column testName18_1:
testName18_1
BetaHydroxy    1
Name: count, dtype: int64

Top 20 values for column testName19_1:
testName19_1
venous gases PH    1
Name: count, dtype: int64

Top 20 values for column testName20_1:
testName20_1
PCO2    1
Name: count, dtype: int64

Top 20 values for column testName21_1:
testName21_1
HCO3    1
Name: count, dtype: int64

Top 20 values for column testName22_1:
testName22_1
Base excess    1
Name: count, dtype: int64

Top 20 values for column testName23_1:
testName23_1
urine glucose    1
Name: count, dtype: int64

In [34]:
# Flatten the values from these columns into a single list, removing NaNs
test_name_list_1 = filtered_df.apply(lambda x: x.dropna().tolist(), axis=1).sum()

# Extract unique values
test_name_1 = pd.unique(test_name_list_1)

print("A totoal of ", len(test_name_1), "unique values across columns containing 'testName':")
print(sorted(test_name_1))

A totoal of  86 unique values across columns containing 'testName':
['A1c at home', 'Albumin', 'Anion Gap', 'Anti GAD Antibodies', 'BHB', 'BUN', 'Base Excess', 'Base excess', 'Beta Hydroxybutyrate', 'Beta Hydroxybutyric Acid', 'Beta-Hydroxybutyrate', 'BetaHydroxy', 'Bicarb', 'Bicarbonate', 'Blood Ketones', 'Blood gases pO2, blood', 'Blood ketones', 'C-Peptide', 'CBC and diff normal', 'CGM', 'CGM data', 'CO2', 'Calcium', 'Chloride', 'Creatinine', 'Free T4', 'Fructosamine', 'Glucose-Lab', 'HCO3', 'HbA1c (point of care analyser)', 'HcT', 'HgB', 'Home test', 'IA2 Antibodies', 'IgA', 'Insulin, Fasting', 'Islet Cell Cytoplasmic Autoabs', 'Ketones', 'Keyton', 'Lactate', 'MCH', 'MCHC', 'MCV', 'Meta / Myelocytes', 'P-OHBUT', 'P-OHButyr', 'PC02', 'PCO2', 'PCO2 Cap', 'PCo2', 'Phosphorus', 'Platelets', 'Potassium', 'RANDOM PLASMA GLUCOSE', 'RBC', 'RDW', 'Random plasma glucose', 'S-IA2Ab', 'Sodium', 'TSH', 'TTG IgA Abs', 'U-Gluk-O', 'Urea', 'Urine', 'Urine Glucose', 'Urine Screen', 'Urine, Ketones', 'WBC', 'blood ketones', 'c-peptide', 'cB-pH', 'chloride', 'creatinine', 'glycated Protein serum', 'ketone', 'ketones', 'pH', 'pH CAP', 'ph', 'potassium', 'serum ketones', 'sodium', 'urine glucose', 'urine ketones', 'venous gases PH', 'whole blood glucose']

In [3]:
#Check test_name in the second part of the data
file_path_23 = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_23.csv"
merged_part_23 = pd.read_csv(file_path_23)

merged_part_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968807 entries, 0 to 1968806
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   MaskID                         int64
 1   Date_of_Registration           object
 2   Status                         object
 3   Date_of_Study_Start            object
 4   Date_of_Draw                   object
 5   Event_Title                    object
 6   Spec_Name                      object
 7   SampleMaskID                   object
 8   Test_Name                      object
 9   Result                         object
 10  Result_Type                    object
 11  Visit                          object
 12  Date_at_Test_Results_Reported  object
 13  Date_at_Evaluation             object
 14  Date_Received                  object
 15  Date_Shipped                   object
 16  LabID                          float64
dtypes: float64(1), int64(1), object(15)
memory usage: 255.4+ MB

In [29]:
# Get unique values and their counts for Text_Name
value_counts = merged_part_23['Test_Name'].value_counts()

print("Unique values and their counts in 'column_name':")
print(value_counts)

Unique values and their counts in 'column_name':
Test_Name
MIAA       371707
GAD65H     265604
IA-2H      254721
GAD65      118167
ICA512     118166
ICA         53008
ZNT8        40283
HbA1c       28798
GLU120      26535
GLU-10      25881
GLU0        25866
PEP-10      25861
PEP0        25857
PEP120      25720
GLU60       25524
PEP60       25497
GLU30       25478
PEP30       25451
GLU90       25409
PEP90       25380
INST0       24827
INST-10     24797
INST120     24752
INST60      22505
INST90      22431
INST30      22413
HLA          7008
DR4          6979
DR3          6979
HLAb         6978
HLAa         6978
INS120       1263
INS0         1262
INS-10       1107
INS60          12
INS90          11
INS30           8
Name: count, dtype: int64

In [33]:
# Get unique values for Test_Name
unique_test_name_2 = merged_part_23['Test_Name'].unique()

# Convert to list
unique_test_name_list_2 = list(unique_test_name_2)
test_name_2 = [x for x in unique_test_name_list_2 if not pd.isna(x)]

print("A totoal of ", len(test_name_2),"Unique values in 'Test_Name' as a list:")
print(sorted(test_name_2))

A totoal of  37 Unique values in 'Test_Name' as a list:
['DR3', 'DR4', 'GAD65', 'GAD65H', 'GLU-10', 'GLU0', 'GLU120', 'GLU30', 'GLU60', 'GLU90', 'HLA', 'HLAa', 'HLAb', 'HbA1c', 'IA-2H', 'ICA', 'ICA512', 'INS-10', 'INS0', 'INS120', 'INS30', 'INS60', 'INS90', 'INST-10', 'INST0', 'INST120', 'INST30', 'INST60', 'INST90', 'MIAA', 'PEP-10', 'PEP0', 'PEP120', 'PEP30', 'PEP60', 'PEP90', 'ZNT8']

#### Are there any dictonaries to get standard terms for all those terms? If so, we could create mapping or algorithms to find standard terms based on similarity.

In [35]:
import pandas as pd
import numpy as np

# Convert arrays to lists if they are NumPy arrays
if isinstance(test_name_1, np.ndarray):
    test_name_1 = test_name_1.tolist()
if isinstance(test_name_2, np.ndarray):
    test_name_2 = test_name_2.tolist()

# Custom sort key function to handle np.nan
def sort_key(item):
    return (item is np.nan, item)

# Sort the lists alphabetically, np.nan values will be placed at the end
test_name_1_sorted = sorted(test_name_1, key=sort_key)
test_name_2_sorted = sorted(test_name_2, key=sort_key)

# Pad the shorter list with NaNs
max_length = max(len(test_name_1_sorted), len(test_name_2_sorted))
test_name_1_sorted += [np.nan] * (max_length - len(test_name_1_sorted))
test_name_2_sorted += [np.nan] * (max_length - len(test_name_2_sorted))

# Create DataFrame
df_test_name = pd.DataFrame({'test_name_data_1': test_name_1_sorted, 'test_name_data_2': test_name_2_sorted})

print(df_test_name.info())
df_test_name.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   test_name_data_1  86 non-null     object
 1   test_name_data_2  37 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB
None

      test_name_data_1 test_name_data_2
0          A1c at home              DR3
1              Albumin              DR4
2            Anion Gap            GAD65
3  Anti GAD Antibodies           GAD65H
4                  BHB           GLU-10

In [36]:
df_test_name.to_csv('test_name.csv', index=False)

## 3.2 Generate dictionary of standard terms

#### Check values with loincsnomed.org

In [37]:
test_name_df = pd.read_csv('test_name.csv')
test_name_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   test_name_data_1  86 non-null     object
 1   test_name_data_2  37 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [38]:
test_name_list_1 = test_name_df['test_name_data_1'].tolist()
print("Total value count of test_name_list_1: ", len(test_name_list_1))
print("Test name list #1: ", test_name_list_1)

Total value count of test_name_list_1:  86
Test name list #1:  ['A1c at home', 'Albumin', 'Anion Gap', 'Anti GAD Antibodies', 'BHB', 'BUN', 'Base Excess', 'Base excess', 'Beta Hydroxybutyrate', 'Beta Hydroxybutyric Acid', 'Beta-Hydroxybutyrate', 'BetaHydroxy', 'Bicarb', 'Bicarbonate', 'Blood Ketones', 'Blood gases pO2, blood', 'Blood ketones', 'C-Peptide', 'CBC and diff normal', 'CGM', 'CGM data', 'CO2', 'Calcium', 'Chloride', 'Creatinine', 'Free T4', 'Fructosamine', 'Glucose-Lab', 'HCO3', 'HbA1c (point of care analyser)', 'HcT', 'HgB', 'Home test', 'IA2 Antibodies', 'IgA', 'Insulin, Fasting', 'Islet Cell Cytoplasmic Autoabs', 'Ketones', 'Keyton', 'Lactate', 'MCH', 'MCHC', 'MCV', 'Meta / Myelocytes', 'P-OHBUT', 'P-OHButyr', 'PC02', 'PCO2', 'PCO2 Cap', 'PCo2', 'Phosphorus', 'Platelets', 'Potassium', 'RANDOM PLASMA GLUCOSE', 'RBC', 'RDW', 'Random plasma glucose', 'S-IA2Ab', 'Sodium', 'TSH', 'TTG IgA Abs', 'U-Gluk-O', 'Urea', 'Urine', 'Urine Glucose', 'Urine Screen', 'Urine, Ketones', 'WBC', 'blood ketones', 'c-peptide', 'cB-pH', 'chloride', 'creatinine', 'glycated Protein serum', 'ketone', 'ketones', 'pH', 'pH CAP', 'ph', 'potassium', 'serum ketones', 'sodium', 'urine glucose', 'urine ketones', 'venous gases PH', 'whole blood glucose']

In [39]:
#Correct those with duplications, typos, synonyms
test_name_list_1_modified = ['HBA1c', 'Albumin', 'Anion Gap', 'Anti GAD Antibodies', 'Beta Hydroxybutyrate', 'Blood Urea Nitrogen', 'Base Excess', 'Base Excess', 'Beta Hydroxybutyrate', 'Beta Hydroxybutyrate', 'Beta Hydroxybutyrate', 'BetaHydroxy', 'HCO3', 'HCO3', 'Blood Ketones', 'Blood gases pO2, blood', 'Blood Ketones', 
                             'C-Peptide', 'CBC and diff normal', 'CGM', 'CGM', 'CO2', 'Calcium', 'Chloride', 'Creatinine', 'Free T4', 'Fructosamine', 'Glucose-Lab', 'HCO3', 'HbA1c (point of care analyser)', 'HcT', 'HgB', 'Home test', 'IA2 Antibodies', 'IgA', 'Insulin, Fasting', 'Islet Cell Cytoplasmic Autoabs', 'Ketones', 'Ketones', 
                             'Lactate', 'MCH', 'MCHC', 'MCV', 'Meta / Myelocytes', 'P-OHBUT', 'P-OHButyr', 'PCO2', 'PCO2', 'PCO2', 'PCO2', 'Phosphorus', 'Platelets', 'Potassium', 'Random Plasma Glucose', 'RBC', 'RDW', 'Random Plasma Glucose', 'S-IA2Ab', 'Sodium', 'TSH', 'TTG IgA Abs', 'U-Gluk-O', 'Urea', 'Urine', 'Urine Glucose', 'Urine', 'Urine Ketones', 
                             'WBC', 'Blood Ketones', 'C-Peptide', 'cB-pH', 'Chloride', 'Creatinine', 'Glycated Protein Serum', 'Ketones', 'Ketones', 'pH', 'pH', 'pH', 'Potassium', 'Serum Ketones', 'Sodium', 'Urine Glucose', 'Urine Ketones', 'Venous Gases PH', 'Whole Blood Glucose']
# Unsure: A1c at home, Anti GAD Antibodies, BetaHydroxy, Blood gases pO2, blood, CGM:Continuous Glucose Monitoring, 'P-OHBUT', 'P-OHButyr', S-IA2Ab

In [40]:
unique_test_name_list_1 = set(test_name_list_1_modified)
print("Total number of test names in list_1: ", len(unique_test_name_list_1))

Total number of test names in list_1:  60

There 26 test names are duplicated terms or typos. The mapping will be used in the clean dataset.

## 3.3 Tests (testName) in the first part of the merged dataset

1). All testNames (23 in total) are from the same spread sheet: TN01_nh08_diabonset_current.csv
2). One set of test has 6 components in the dataset: D5OtherTestResultDD, D5OtherTestResultMM, D5OtherTestResultYYYY, testName, D5OtherTestResultResult, D6OtherTestResultUnit
3). There might be a typo. D6OtherTestResultUnit should be D5OtherTestResultUnit.
4). There are 18 columns with D6OtherTestResultUnit, so 5 are missing: D6OtherTestResultUnit15_1, D6OtherTestResultUnit16_1, D6OtherTestResultUnit17_1, D6OtherTestResultUnit19_1, D6OtherTestResultUnit23_1.
5). There are 22 columns with D5OtherTestResultResult, so the missing one is D5OtherTestResultResult17_1.
6). In the data cleaning, we should combine the first 3 columns into one as the date.
7). We might need to check arrant values for the last 3 columns.

In [1]:
# The following code is to load the first part of merged dataset
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED
import warnings
warnings.filterwarnings('ignore')

file_path = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_1.csv"
merged_first_part = pd.read_csv(file_path)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [24]:
string = "D5OtherTestResultResult"  # change this to the string you're searching for
# Convert the search string to lower case (or upper case)
search_string_lower = string.lower()

# Find columns that contain the search string, case-insensitive
matching_columns = [col for col in merged_first_part.columns if search_string_lower in col.lower()]
print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[matching_columns].dropna(how='all')
print("DataFrame with filtered columns (rows with all missing values dropped):")
print()
print(filtered_df.info())
#print(filtered_df.head(30))

# Print top 20 values for each matching column
#for col in matching_columns:
#    print(f"Top 20 values for column {col}:")
#    print(merged_first_part[col].value_counts().nlargest(20))
#    print()

Found  22 columns:  ['D5OtherTestResultResult1_1', 'D5OtherTestResultResult2_1', 'D5OtherTestResultResult3_1', 'D5OtherTestResultResult4_1', 'D5OtherTestResultResult5_1', 'D5OtherTestResultResult6_1', 'D5OtherTestResultResult7_1', 'D5OtherTestResultResult8_1', 'D5OtherTestResultResult9_1', 'D5OtherTestResultResult10_1', 'D5OtherTestResultResult11_1', 'D5OtherTestResultResult12_1', 'D5OtherTestResultResult13_1', 'D5OtherTestResultResult14_1', 'D5OtherTestResultResult15_1', 'D5OtherTestResultResult16_1', 'D5OtherTestResultResult18_1', 'D5OtherTestResultResult19_1', 'D5OtherTestResultResult20_1', 'D5OtherTestResultResult21_1', 'D5OtherTestResultResult22_1', 'D5OtherTestResultResult23_1']
DataFrame with filtered columns (rows with all missing values dropped):

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 53825 to 399148
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   D5OtherTestResultResult1_1   46 non-null     object
 1   D5OtherTestResultResult2_1   14 non-null     object
 2   D5OtherTestResultResult3_1   8 non-null      object
 3   D5OtherTestResultResult4_1   6 non-null      object
 4   D5OtherTestResultResult5_1   5 non-null      object
 5   D5OtherTestResultResult6_1   4 non-null      float64
 6   D5OtherTestResultResult7_1   4 non-null      float64
 7   D5OtherTestResultResult8_1   3 non-null      float64
 8   D5OtherTestResultResult9_1   3 non-null      float64
 9   D5OtherTestResultResult10_1  3 non-null      float64
 10  D5OtherTestResultResult11_1  2 non-null      float64
 11  D5OtherTestResultResult12_1  2 non-null      float64
 12  D5OtherTestResultResult13_1  2 non-null      object
 13  D5OtherTestResultResult14_1  2 non-null      float64
 14  D5OtherTestResultResult15_1  1 non-null      float64
 15  D5OtherTestResultResult16_1  1 non-null      object
 16  D5OtherTestResultResult18_1  1 non-null      float64
 17  D5OtherTestResultResult19_1  1 non-null      float64
 18  D5OtherTestResultResult20_1  1 non-null      float64
 19  D5OtherTestResultResult21_1  1 non-null      float64
 20  D5OtherTestResultResult22_1  1 non-null      float64
 21  D5OtherTestResultResult23_1  1 non-null      object
dtypes: float64(14), object(8)
memory usage: 8.4+ KB
None

In [30]:
import numpy as np

# Step 1: Create DataFrames for each suffix with consistent column names
def create_dataframe_for_suffix(df, suffix):
    column_mapping = {
        f'testName{suffix}': 'testName',
        f'D5OtherTestResultResult{suffix}': 'D5OtherTestResultResult',
        f'D6OtherTestResultUnit{suffix}': 'D6OtherTestResultUnit'
    }
    df_suffix = pd.DataFrame()
    for original_col, new_col in column_mapping.items():
        df_suffix[new_col] = df[original_col] if original_col in df.columns else np.nan
    return df_suffix

# Creating 23 DataFrames
dataframes = []
for i in range(23):
    suffix = str(i+1) + "_1"
    dataframes.append(create_dataframe_for_suffix(merged_first_part, suffix))

# Step 2: Concatenate the corresponding columns across all DataFrames
final_test_name = pd.concat([merged_first_part['testName'] for merged_first_part in dataframes]).reset_index(drop=True)
final_d5 = pd.concat([merged_first_part['D5OtherTestResultResult'] for merged_first_part in dataframes]).reset_index(drop=True)
final_d6 = pd.concat([merged_first_part['D6OtherTestResultUnit'] for merged_first_part in dataframes]).reset_index(drop=True)

# Step 3: Combine into a single DataFrame
final_df = pd.DataFrame({
    'testName': final_test_name,
    'D5OtherTestResultResult': final_d5,
    'D6OtherTestResultUnit': final_d6
})

# Step 4: Clean and sort the resulting DataFrame
final_df.dropna(how='all', inplace=True)
final_df.sort_values(by=['testName', 'D5OtherTestResultResult'], inplace=True)
final_df.info()

In [31]:
final_df.to_csv('tests in first part of the merged data.csv', index = False)

## 3.4 Tests in the second part of the merged dataset

#Check test_name in the second part of the data
file_path_23 = "/home/ec2-user/SageMaker/Team-5/TN_01_merged_data_23.csv"
merged_part_23 = pd.read_csv(file_path_23)

merged_part_23.info()

In [21]:
selected_columns = ['Test_Name', 'Result', 'Result_Type'] 

# Drop rows with all missing values in the selected columns
merged_part_23_test = merged_part_23.loc[:, selected_columns].dropna(how='all')

sort_columns = ['Result_Type', 'Test_Name', 'Result']
merged_part_23_test = merged_part_23_test.sort_values(by=sort_columns)
merged_part_23_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1739223 entries, 66039 to 1962412
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   Test_Name    object
 1   Result       object
 2   Result_Type  object
dtypes: object(3)
memory usage: 53.1+ MB

In [25]:
merged_part_23_test.to_csv('tests in second part of the merged data.csv', index = False)

Comments:
1. find cases with arrant values.
2. It might be possible to impute Result or Result_type based on Test_name.

# 4. ProtocolVersion

In [5]:
string = "ProtocolVersion"  # change this to the string you're searching for
# Convert the search string to lower case (or upper case)
search_string_lower = string.lower()

# Find columns that contain the search string, case-insensitive
matching_columns = [col for col in merged_first_part.columns if search_string_lower in col.lower()]
print("Found ", len(matching_columns), "columns: ", matching_columns)

# Create a DataFrame with the filtered columns and drop rows with only missing values
filtered_df = merged_first_part[matching_columns].dropna(how='all')
print("DataFrame with filtered columns (rows with all missing values dropped):")
print()
print(filtered_df.info())
#print(filtered_df.head(30))

# Print top 20 values for each matching column
for col in matching_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_first_part[col].value_counts().nlargest(20))
    print()

Found  11 columns:  ['WhichProtocolVersion', 'ProtocolVersion', 'WhichProtocolVersion2', 'WhichProtocolVersion_dup12', 'ProtocolVersion_dup14', 'ProtocolVersion_dup15', 'ProtocolVersion_dup16', 'ProtocolVersion_dup17', 'ProtocolVersion_dup22', 'ProtocolVersion_dup24', 'ProtocolVersion_dup27']
DataFrame with filtered columns (rows with all missing values dropped):

<class 'pandas.core.frame.DataFrame'>
Index: 118075 entries, 0 to 519672
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   WhichProtocolVersion        32022 non-null  object
 1   ProtocolVersion             18507 non-null  float64
 2   WhichProtocolVersion2       1827 non-null   object
 3   WhichProtocolVersion_dup12  11686 non-null  object
 4   ProtocolVersion_dup14       1325 non-null   float64
 5   ProtocolVersion_dup15       5963 non-null   float64
 6   ProtocolVersion_dup16       77 non-null     float64
 7   ProtocolVersion_dup17       3498 non-null   float64
 8   ProtocolVersion_dup22       9 non-null      float64
 9   ProtocolVersion_dup24       1469 non-null   float64
 10  ProtocolVersion_dup27       68347 non-null  object
dtypes: float64(7), object(4)
memory usage: 10.8+ MB
None
Top 20 values for column WhichProtocolVersion:
WhichProtocolVersion
15August2011    31229
22July2009        793
Name: count, dtype: int64

Top 20 values for column ProtocolVersion:
ProtocolVersion
3.0    15620
4.0     2456
2.0      431
Name: count, dtype: int64

Top 20 values for column WhichProtocolVersion2:
WhichProtocolVersion2
October 10, 2017    1241
22February2019       586
Name: count, dtype: int64

Top 20 values for column WhichProtocolVersion_dup12:
WhichProtocolVersion_dup12
22February2019      9039
October 10, 2017    2647
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup14:
ProtocolVersion_dup14
3.0    798
4.0    277
2.0    250
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup15:
ProtocolVersion_dup15
3.0    3325
4.0    1571
2.0    1067
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup16:
ProtocolVersion_dup16
3.0    68
4.0     5
2.0     4
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup17:
ProtocolVersion_dup17
3.0    1437
2.0    1163
4.0     898
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup22:
ProtocolVersion_dup22
3.0    9
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup24:
ProtocolVersion_dup24
3.0    842
4.0    408
2.0    219
Name: count, dtype: int64

Top 20 values for column ProtocolVersion_dup27:
ProtocolVersion_dup27
October 10, 2017    43855
15August2011        24492
Name: count, dtype: int64

#### Here are a couple points to be mentioned. 1). It seems there are two systems to indicate protocol versions, one using dates and the other using indices. If we could find the source of those protocol, we may generate a consistent protocol for all files in the system. 2). On the inconsistent date formats, it might be acceptable because they are actually used as labels instead of dates.

# 5.