In [1]:
import pandas as pd
import os
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import re
from sklearn.impute import KNNImputer
import pickle

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# Handling Errant Values

In [2]:
raw_file = "/home/ec2-user/SageMaker/Team-5/Submission/Datasets/TN/TN_allinone01122.csv"
df = pd.read_csv(raw_file)

/tmp/ipykernel_28550/1749200401.py:2: DtypeWarning: Columns (2,3,4,5,9,14,16,20,21,23,24,26,27,29,30,32,34,35,37,39,40,43,44,47,48,51,52,55,56,59,60,61,62,63,64,65,66,67,68,69,70,71,72,74,77,80,81,82,84,85,93,106,107,108,109,110,111,112,113,114,116,118,121,125,127,128,129,131,132,136,137,141,142,146,147,151,152,156,157,161,162,166,167,168,169,170,171,172,174,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,252,255,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,299,301,302,303,304,306,309,312,316,318,321,323,324,327,329,331,333,334,335,337,342,347,348,350,351,352,353,354,355,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,392,394,395,396,398,399,400,403,404,406,408,409,412,415,416,417,511,512,513,514,515,516,517,518,519,520,521,522,523,524,528,535,539,540,541,544,545,546,547,548,549,550,551,552,553,554,555,556,557,560,561,562,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,581,582,583,584,586,587,588,589,590,592,593,595,597,598,600,602,603,605,606,607,608,610,611,612,613,615,616,618,619,620,621,622,623,624,625) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(raw_file)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 706 entries, MaskID to INST
dtypes: float64(350), int64(1), object(355)
memory usage: 1.4+ GB

In [4]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 706 entries, MaskID to INST
dtypes: float64(350), int64(1), object(355)
memory usage: 1.4+ GB

In [7]:
## Converting heights
df['Heightin_to_cm'] = df['Heightin'] * 2.53999863
df['Height_cm'] = df['Heightin_to_cm'] + df['Heightcm']
df.insert(df.columns.get_loc('Height_cm') + 1, 'Height_cm_units', 'cm')
df.drop(['Heightin_to_cm', 'Heightcm', 'Heightin'], axis=1, inplace=True)

df['Weightlbs_to_kg'] = df['Weightlbs'] * 0.45359237
df['Weight_kg'] = df['Weightlbs_to_kg'] + df['Weightkg']
df.insert(df.columns.get_loc('Weight_kg') + 1, 'Weight_kg_units', 'kg')
df.drop(['Weightlbs_to_kg', 'Weightkg', 'Weightlbs'], axis=1, inplace=True)

In [8]:
## Converting glucose units and organizing columns
for column in df.columns:
    if 'mmol' in column.lower() or 'mgdl' in column.lower():
        new_column_name = column.replace('mmol', '_unit').replace('mgdl', '').replace('Mmoll', '_unit').replace('MgDL', '').replace('mmoll', '_unit')
        df.rename(columns={column: new_column_name}, inplace=True)
        
columns_to_process = ['AvgRecordedFastingGlucoses', 'AvgAllRecordedGlucoses', 'LowestGlucose', 'HighestGlucose']
df[columns_to_process] = df[columns_to_process].apply(lambda x: x.where(x >= 45, x * 18.018))

columns_to_convert = ['AvgRecordedFastingGlucoses_unit', 'AvgAllRecordedGlucoses_unit', 'LowestGlucose_unitl', 'HighestGlucose_unit']
df[columns_to_convert] = df[columns_to_convert].replace('mmol/L', 'mg/dl')



Hemoglobin_process = ['HemoglobinResults']
df[Hemoglobin_process] = df[Hemoglobin_process].apply(lambda x: x.where(x <= 30, x / 10))

Hematocrit_process = ['HematocritResults']
df[Hematocrit_process] = df[Hematocrit_process].apply(lambda x: x.where(x >= 1, x * 100))


column_to_move1 = 'AvgRecordedFastingGlucoses_unit'
target_position1 = 'AvgRecordedFastingGlucoses'
current_positions = df.columns.tolist()
current_positions.remove(column_to_move1)
target_index = current_positions.index(target_position1)
new_positions = current_positions[:target_index + 1] + [column_to_move1] + current_positions[target_index + 1:]
df = df[new_positions]

column_to_move2 = 'AvgAllRecordedGlucoses_unit'
target_position2 = 'AvgAllRecordedGlucoses'
current_positions = df.columns.tolist()
current_positions.remove(column_to_move2)
target_index = current_positions.index(target_position2)
new_positions = current_positions[:target_index + 1] + [column_to_move2] + current_positions[target_index + 1:]
df = df[new_positions]

df.replace('mg/dl', 'mg/dL', inplace=True, regex=True)

df.rename(columns={'LowestGlucose_unitl': 'LowestGlucose_unit'}, inplace=True)
print(df.shape)

(259168, 706)

In [9]:
existing_column_index = df.columns.get_loc('HemoglobinResults')
df.insert(existing_column_index + 1, 'HemoglobinResults_Units', "NaN")
df.loc[df['HemoglobinResults'].notna(), 'HemoglobinResults_Units'] = "mg/dL"

existing_column_index = df.columns.get_loc('HbA1c')
df.insert(existing_column_index + 1, 'HbA1c_Units', "NaN")
df.loc[df['HbA1c'].notna(), 'HbA1c_Units'] = "Hb%"

existing_column_index = df.columns.get_loc('MCHresults')
df.insert(existing_column_index + 1, 'MCHresults_Units', "NaN")
df.loc[df['MCHresults'].notna(), 'MCHresults_Units'] = "pg"

existing_column_index = df.columns.get_loc('MCHCresults')
df.insert(existing_column_index + 1, 'MCHCresults_Units', "NaN")
df.loc[df['MCHCresults'].notna(), 'MCHCresults_Units'] = "g/dL"

existing_column_index = df.columns.get_loc('EosinophilsResults')
df.insert(existing_column_index + 1, 'EosinophilsResults_Units', "NaN")
df.loc[df['EosinophilsResults'].notna(), 'EosinophilsResults_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('BasophilsResults')
df.insert(existing_column_index + 1, 'BasophilsResults_Units', "NaN")
df.loc[df['BasophilsResults'].notna(), 'BasophilsResults_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('LymphocytesResults')
df.insert(existing_column_index + 1, 'LymphocytesResults_Units', "NaN")
df.loc[df['LymphocytesResults'].notna(), 'LymphocytesResults_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('HematocritResults')
df.insert(existing_column_index + 1, 'HematocritResults_Units', "NaN")
df.loc[df['HematocritResults'].notna(), 'HematocritResults_Units'] = "% of blood"

existing_column_index = df.columns.get_loc('MCVresults')
df.insert(existing_column_index + 1, 'MCVresults_Units', "NaN")
df.loc[df['MCVresults'].notna(), 'MCVresults_Units'] = "fL"

existing_column_index = df.columns.get_loc('MonocytesResults')
df.insert(existing_column_index + 1, 'MonocytesResults_Units', "NaN")
df.loc[df['MonocytesResults'].notna(), 'MonocytesResults_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('NeutrophilsResults')
df.insert(existing_column_index + 1, 'NeutrophilsResults_Units', "NaN")
df.loc[df['NeutrophilsResults'].notna(), 'NeutrophilsResults_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('WBCresults')
df.insert(existing_column_index + 1, 'WBCresults_Units', "NaN")
df.loc[df['WBCresults'].notna(), 'WBCresults_Units'] = "x10^9 cells/L"

existing_column_index = df.columns.get_loc('Rbcresults')
df.insert(existing_column_index + 1, 'Rbcresults_Units', "NaN")
df.loc[df['Rbcresults'].notna(), 'Rbcresults_Units'] = "x10^12 cells/L"

existing_column_index = df.columns.get_loc('EosinophilsResultsOR')
df.insert(existing_column_index + 1, 'EosinophilsResultsOR_Units', "NaN")
df.loc[df['EosinophilsResultsOR'].notna(), 'EosinophilsResultsOR_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('LymphocytesResultsOR')
df.insert(existing_column_index + 1, 'LymphocytesResultsOR_Units', "NaN")
df.loc[df['LymphocytesResultsOR'].notna(), 'LymphocytesResultsOR_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('BasophilsResultsOR')
df.insert(existing_column_index + 1, 'BasophilsResultsOR_Units', "NaN")
df.loc[df['BasophilsResultsOR'].notna(), 'BasophilsResultsOR_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('MonocytesResultsOR')
df.insert(existing_column_index + 1, 'MonocytesResultsOR_Units', "NaN")
df.loc[df['MonocytesResultsOR'].notna(), 'MonocytesResultsOR_Units'] = "% of WBC"

existing_column_index = df.columns.get_loc('NeutrophilsResultsOR')
df.insert(existing_column_index + 1, 'NeutrophilsResultsOR_Units', "NaN")
df.loc[df['NeutrophilsResultsOR'].notna(), 'NeutrophilsResultsOR_Units'] = "% of WBC"

In [10]:
columns_to_filter = ['Rbcresults', 'HemoglobinResults',
                  'HematocritResults', 'MCVresults',
                  'PlateletCountResultsNormal', 'MCHresults',
                  'MCHCresults', 'WBCresults',
                  'NeutrophilsResultsOR', 'LymphocytesResultsOR',
                  'MonocytesResultsOR', 'EosinophilsResultsOR',
                  'BasophilsResultsOR']
filter_columns = df.columns[df.columns.str.contains('ResultsNormal', case=False)].tolist()
element_to_remove = 'PlateletCountResultsNormal'
filter_columns.remove(element_to_remove)

print(columns_to_filter)
print(filter_columns)

for col, filter_col in zip(columns_to_filter, filter_columns):
    filter_mask = df[filter_col] == 'Yes'
    lower_bound = df[col].quantile(0.0025)
    upper_bound = df[col].quantile(0.9975)
     # Apply np.where only to the relevant subset
    df.loc[~filter_mask, col] = np.where((df.loc[~filter_mask, col] < lower_bound) | 
                                         (df.loc[~filter_mask, col] > upper_bound), 
                                         np.nan, 
                                         df.loc[~filter_mask, col])
print(df)

['Rbcresults', 'HemoglobinResults', 'HematocritResults', 'MCVresults', 'PlateletCountResultsNormal', 'MCHresults', 'MCHCresults', 'WBCresults', 'NeutrophilsResultsOR', 'LymphocytesResultsOR', 'MonocytesResultsOR', 'EosinophilsResultsOR', 'BasophilsResultsOR']
['RBCResultsNormal', 'HemoglobinResultsNormal', 'HematocritResultsNormal', 'MCVresultsNormal', 'PlateletCountResultsNormal2', 'MCHresultsNormal', 'MCHCresultsNormal', 'WBCresultsNormal', 'NeutrophilsResultsNormal', 'LymphocytesResultsNormal', 'MonocytesResultsNormal', 'EosinophilsResultsNormal', 'BasophilsResultsNormal']
        MaskID    Visit_Dt _15Aug2011ConsentForResidualSa  \
0       200000  06/29/2007                            NaN
1       200003  06/29/2015                            Yes
2       200004  08/11/2015                            Yes
3       200007  11/21/2016                            Yes
4       200010  10/21/2016                            Yes
...        ...         ...                            ...
259163  879417  12/30/2015                            NaN
259164  879417  07/01/2016                            NaN
259165  879417  12/30/2016                            NaN
259166  879417  06/23/2017                            NaN
259167  879417  06/19/2015                            NaN

       WhichProtocolVersion ProtocolVersion Spring2019ConsentDateMonth  \
0                       NaN             NaN                        NaN
1                       NaN             NaN                        NaN
2                       NaN             NaN                        NaN
3                       NaN             NaN                        NaN
4                       NaN             NaN                        NaN
...                     ...             ...                        ...
259163                  NaN             New                        NaN
259164                  NaN             New                        NaN
259165                  NaN             New                        NaN
259166                  NaN             New                        NaN
259167                  NaN             New                        NaN

        Spring2019ConsentDateDay  Spring2019ConsentDateYear  \
0                            NaN                        NaN
1                            NaN                        NaN
2                            NaN                        NaN
3                            NaN                        NaN
4                            NaN                        NaN
...                          ...                        ...
259163                       NaN                        NaN
259164                       NaN                        NaN
259165                       NaN                        NaN
259166                       NaN                        NaN
259167                       NaN                        NaN

        DateOfBloodDrawDay DateOfBloodDrawMonth  ...  ALP  ALB  UREA  AST  \
0                      NaN                  NaN  ...  0.0  0.0   0.0  0.0
1                      NaN                  NaN  ...  0.0  0.0   0.0  0.0
2                      NaN                  NaN  ...  0.0  0.0   0.0  0.0
3                      NaN                  NaN  ...  0.0  0.0   0.0  0.0
4                      NaN                  NaN  ...  NaN  NaN   NaN  NaN
...                    ...                  ...  ...  ...  ...   ...  ...
259163                 NaN                  NaN  ...  NaN  NaN   NaN  NaN
259164                 NaN                  NaN  ...  NaN  NaN   NaN  NaN
259165                 NaN                  NaN  ...  NaN  NaN   NaN  NaN
259166                 NaN                  NaN  ...  NaN  NaN   NaN  NaN
259167                 NaN                  NaN  ...  NaN  NaN   NaN  NaN

       CPEP  INST Height_cm  Height_cm_units  Weight_kg  Weight_kg_units
0       0.0   0.0       NaN               cm        NaN               kg
1       0.0   0.0       NaN               cm        NaN               kg
2       0.0   0.0       NaN               cm        NaN               kg
3       0.0   0.0       NaN               cm        NaN               kg
4       NaN   NaN       NaN               cm        NaN               kg
...     ...   ...       ...              ...        ...              ...
259163  NaN   NaN       NaN               cm        NaN               kg
259164  NaN   NaN       NaN               cm        NaN               kg
259165  NaN   NaN       NaN               cm        NaN               kg
259166  NaN   NaN       NaN               cm        NaN               kg
259167  NaN   NaN       NaN               cm        NaN               kg

[259168 rows x 724 columns]

In [11]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 724 entries, MaskID to Weight_kg_units
dtypes: float64(348), int64(1), object(375)
memory usage: 1.4+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,Spring2019ConsentDateMonth,Spring2019ConsentDateDay,Spring2019ConsentDateYear,DateOfBloodDrawDay,DateOfBloodDrawMonth,...,ALP,ALB,UREA,AST,CPEP,INST,Height_cm,Height_cm_units,Weight_kg,Weight_kg_units
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,cm,NaN,kg
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,cm,NaN,kg
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,cm,NaN,kg
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,cm,NaN,kg
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cm,NaN,kg

In [12]:
# Replace both "." and " ." with NaN
df = df.replace({'.': np.nan, ' .': np.nan, '  .':np.nan})

# Date column harmonization

# 1. Columns of Date

#### Steps of date column harmonization:
1. Filter out date column sets based on their headers
2. Create one date column to replace one set of date columns.
3. assign values in the format of date_time to the new created column.

In [13]:
merged_df=df
#This is a tool to find columns based on names of their headers and check their values. 
contain_list_0 = ['SerumKetonesDay'] 
# Example strings to exclude
not_contain_list_0 = []     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  0 columns:  []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame
None

## 1.1 Day, Month, Year

In [14]:
# Filter all columns with "Day", "Month", "Year" as date sets
# in lower case for case-insensitive comparison
# Example strings to include
contain_list_1 = ['Day', "Month", 'Year'] 
# Example strings to exclude
not_contain_list_1 = ['LastYear', 'Last6Months', '3Days', 'Birth', 'MostRecentHbA1c', 'PastYear', 
                      'ChangeInDrugStatusEffective', 'ParticipantDateDispensed', 'MechanisticSampleCollection',
                     'Polydipsia', 'Polyuria', '10days', 'ADHPsoriasisDateofDiagnosis', 'CeliacSprueGlutenDiagnosis',
                     'Datethebloodsamplewasdrawn', 'MHInflammatoryBowelDisease', 'ADHAlopeciaDateofDiagnosis', 
                      'ADHOtherDateofDiagnosis', 'ADHVitiligoDateofDiagnosis', 'VitiligoDiagnosis', 'NextYear',
                      'Polyphagia', 'Fatigue', 'monthly', 'Ketoacidosis', 'UnexplainedWeightLoss', 'HbA1crecordDate']     

# Converting each string in the lists to lower case
contain_list_1_low = [string.lower() for string in contain_list_1]
not_contain_list_1_low = [string.lower() for string in not_contain_list_1]

# Filtering columns with case-insensitive comparison
filtered_date_columns_1 = [col for col in df.columns if 
                    any(contain in col.lower() for contain in contain_list_1_low) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list_1_low)]

print("Found ", len(filtered_date_columns_1), "columns: ", filtered_date_columns_1)

filtered_df = df[filtered_date_columns_1]

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
#for col in filtered_columns:
#    print(f"Top 20 values for column {col}:")
#    print(df[col].value_counts().nlargest(20))
#    print()

Found  42 columns:  ['Spring2019ConsentDateMonth', 'Spring2019ConsentDateDay', 'Spring2019ConsentDateYear', 'DateOfBloodDrawDay', 'DateOfBloodDrawMonth', 'DateOfBloodDrawYear', 'DateReportedDay', 'DateReportedMonth', 'DateReportedYear', 'ScreeningDay', 'ScreeningMonth', 'ScreeningYear', 'ConsentSignedDay', 'ConsentSignedMonth', 'ConsentSignedYear', 'DateConsentSignedDay', 'DateConsentSignedMonth', 'DateConsentSignedYear', 'SamplesCollectionDay', 'SamplesCollectionMonth', 'SamplesCollectionYear', 'LastHbA1cDay', 'LastHbA1cMonth', 'LastHbA1cYear', 'WrittenInformedConsentDay', 'WrittenInformedConsentMonth', 'WrittenInformedConsentYear', 'Type1DiabetesDiagnosisMonth', 'Type1DiabetesDiagnosisDay', 'Type1DiabetesDiagnosisYear', 'FluVaccinationDateMonth', 'FluVaccinationDateDay', 'FluVaccinationDateYear', 'DateTestsRunMonth', 'DateTestsRunDay', 'DateTestsRunYear', 'StudyDrugReturnedDay', 'StudyDrugReturnedMonth', 'StudyDrugReturnedYear', 'StudyDrugDispensedDay', 'StudyDrugDispensedMonth', 'StudyDrugDispensedYear']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Spring2019ConsentDateMonth   15502 non-null   object
 1   Spring2019ConsentDateDay     15502 non-null   float64
 2   Spring2019ConsentDateYear    15502 non-null   float64
 3   DateOfBloodDrawDay           2007 non-null    float64
 4   DateOfBloodDrawMonth         2007 non-null    object
 5   DateOfBloodDrawYear          2007 non-null    float64
 6   DateReportedDay              2007 non-null    float64
 7   DateReportedMonth            2007 non-null    object
 8   DateReportedYear             2007 non-null    float64
 9   ScreeningDay                 233578 non-null  float64
 10  ScreeningMonth               233578 non-null  object
 11  ScreeningYear                233578 non-null  float64
 12  ConsentSignedDay             98795 non-null   float64
 13  ConsentSignedMonth           98785 non-null   object
 14  ConsentSignedYear            98793 non-null   float64
 15  DateConsentSignedDay         4712 non-null    float64
 16  DateConsentSignedMonth       4713 non-null    object
 17  DateConsentSignedYear        4711 non-null    float64
 18  SamplesCollectionDay         6238 non-null    float64
 19  SamplesCollectionMonth       6238 non-null    object
 20  SamplesCollectionYear        6237 non-null    float64
 21  LastHbA1cDay                 1474 non-null    float64
 22  LastHbA1cMonth               1790 non-null    object
 23  LastHbA1cYear                1786 non-null    float64
 24  WrittenInformedConsentDay    110 non-null     float64
 25  WrittenInformedConsentMonth  110 non-null     object
 26  WrittenInformedConsentYear   110 non-null     float64
 27  Type1DiabetesDiagnosisMonth  107 non-null     object
 28  Type1DiabetesDiagnosisDay    107 non-null     float64
 29  Type1DiabetesDiagnosisYear   107 non-null     float64
 30  FluVaccinationDateMonth      107 non-null     object
 31  FluVaccinationDateDay        107 non-null     float64
 32  FluVaccinationDateYear       107 non-null     float64
 33  DateTestsRunMonth            675 non-null     object
 34  DateTestsRunDay              675 non-null     float64
 35  DateTestsRunYear             675 non-null     float64
 36  StudyDrugReturnedDay         281 non-null     float64
 37  StudyDrugReturnedMonth       281 non-null     object
 38  StudyDrugReturnedYear        281 non-null     object
 39  StudyDrugDispensedDay        267 non-null     float64
 40  StudyDrugDispensedMonth      267 non-null     object
 41  StudyDrugDispensedYear       267 non-null     object
dtypes: float64(26), object(16)
memory usage: 83.0+ MB
None

#### Check month and year columns based on day columns

In [15]:
#check columns for the day
day_column_list_1 = [col for col in filtered_date_columns_1 if "Day" in col]
print("No. of the day columes to be merged: ", len(day_column_list_1))

#create columns for the month and the year based on columns of the day
month_column_list_1 = [name.replace("Day", "Month") for name in day_column_list_1]
year_column_list_1 = [name.replace("Day", "Year") for name in day_column_list_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list_1 if name not in df.columns]
print("No. of month columes in wrong naming format:", len(unmatched_month_columns))
print("Month columes in wrong naming format:", unmatched_month_columns)

unmatched_year_columns = [name for name in year_column_list_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  14
No. of month columes in wrong naming format: 0
Month columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

#### Check day and year columns based on month columns

In [16]:
#check columns for the day
month_column_list_1_1 = [col for col in filtered_date_columns_1 if "Month" in col]
print("No. of the day columes to be merged: ", len(month_column_list_1_1))

#create columns for the month and the year based on columns of the day
day_column_list_1_1 = [name.replace("Month", "Day") for name in month_column_list_1_1]
year_column_list_1_1 = [name.replace("Month", "Year") for name in month_column_list_1_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_day_columns = [name for name in day_column_list_1_1 if name not in df.columns]
print("No. of day columes in wrong naming format:", len(unmatched_day_columns))
print("Day columes in wrong naming format:", unmatched_day_columns)

unmatched_year_columns = [name for name in year_column_list_1_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  14
No. of day columes in wrong naming format: 0
Day columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [17]:
import numpy as np
# Convert 'NA' strings to np.nan
def convert_na(value):
    if pd.isna(value) or value == 'NA':  # using pandas function to check for NA
        return np.nan   # converting to numpy NaN
    else:
        return value

# Function to convert month from string or number to numeric month, handling missing values
def month_to_num(month):
    if pd.isna(month):
        return np.nan
    try:
        # Handle string representation
        if isinstance(month, str):
            datetime_object = pd.to_datetime(month, format='%b')
            return datetime_object.month
        # Handle numeric representation
        elif isinstance(month, (int, float)):
            return int(month)
    except ValueError:
        return np.nan
    
# Create a date column and assign values by combine date columns with similar header
def create_date_column(df, year_col, original_cols):
    parts = year_col.split('Year')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Month' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        df[date_col] = pd.NaT  # Initialize column with NaT (Not-a-Time) for datetime objects
        problematic_rows = []

        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    continue  # NaNs are already handled by NaT initialization
                else:
                    year = int(row[year_col])
                    month = int(month_to_num(row[month_col]))
                    day = int(row[day_col])
                    df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = pd.NaT

        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [18]:
# Convert 'NA' strings to np.nan
for col in filtered_date_columns_1:
    df.loc[:, col] = df[col].apply(convert_na)

# Iterating over columns and creating date columns
for col in year_column_list_1:
    create_date_column(df, col, filtered_date_columns_1)

print(df.info())
df.head()

/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-07-22' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018-11-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018-11-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2007-06-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2007-06-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2009-12-15' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2009-12-15' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-04-08' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-08-28' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-07-29' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2015-08-30' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-31' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()
/tmp/ipykernel_28550/1799681261.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = pd.to_datetime(f"{year}-{month:02d}-{day:02d}", errors='coerce').date()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 738 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(353), int64(1), object(384)
memory usage: 1.4+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,Spring2019ConsentDateMonth,Spring2019ConsentDateDay,Spring2019ConsentDateYear,DateOfBloodDrawDay,DateOfBloodDrawMonth,...,ConsentSignedDate,DateConsentSignedDate,SamplesCollectionDate,LastHbA1cDate,WrittenInformedConsentDate,Type1DiabetesDiagnosisDate,FluVaccinationDateDate,DateTestsRunDate,StudyDrugReturnedDate,StudyDrugDispensedDate
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2007-06-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 738 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(353), int64(1), object(384)
memory usage: 1.4+ GB

In [20]:
columns_to_drop = [col for col in filtered_date_columns_1]

print(len(columns_to_drop))
df.drop(columns=columns_to_drop, inplace=True)
df.info()

42
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 696 entries, MaskID to StudyDrugDispensedDate
dtypes: float64(327), int64(1), object(368)
memory usage: 1.3+ GB

## 1.2 Month, Year

'BirthMonth', 'BirthYear'
'MostRecentHbA1cMonth', 'MostRecentHbA1cYear'
'PolyuriaMonth', 'PolyuriaYear'
'PolydipsiaMonth', 'Polydipsiayear', 
'PolyphagiaMonth_dup2', 'PolyphagiaYear_dup2'
'FatigueMonth_dup2', 'FatigueYear_dup2'
'UnexplainedWeightLossMonth', 'UnexplainedWeightLossYear'
'KetoacidosisMonth23', 'KetoacidosisYear23'
'DateOfBirthMonth', 'DateOfBirthYear'
'HbA1crecordDateMonth', 'HbA1crecordDateYear'

In [21]:
column_pairs = [
    ('BirthMonth', 'BirthYear'),
    ('DateOfBirthMonth', 'DateOfBirthYear'),
    ('HbA1crecordDateMonth', 'HbA1crecordDateYear')
]

In [22]:
# Modified convert_to_datetime function to handle missing columns
def convert_to_datetime(row, month_col, year_col):
    try:
        if pd.notna(row[month_col]) and pd.notna(row[year_col]):
            month = row[month_col].capitalize()  # Capitalize to match standard abbreviations
            year = int(row[year_col])
            return pd.to_datetime(f"{month} {year}", format='%b %Y').strftime('%b %Y')
        else:
            return np.nan
    except (ValueError, TypeError):
        return np.nan
    
def safe_convert_to_datetime(df, month_col, year_col):
    if month_col in df.columns and year_col in df.columns:
        return df.apply(lambda row: convert_to_datetime(row, month_col, year_col), axis=1)
    else:
        return pd.Series([np.nan] * len(df))

# Create a new DataFrame for the new columns
new_columns_df = pd.DataFrame()

In [23]:
# Iterate over each pair and create a new column
for month_col, year_col in column_pairs:
    new_col_name = month_col.replace('Month', '') + 'Date'
    new_columns_df[new_col_name] = safe_convert_to_datetime(df, month_col, year_col)

# Check for missing columns and print them
for month_col, year_col in column_pairs:
    if month_col not in df.columns or year_col not in df.columns:
        print(f"Column pair missing: {month_col}, {year_col}")

# Concatenate the new columns with the original DataFrame
df = pd.concat([df, new_columns_df], axis=1)

# Check the result
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 699 entries, MaskID to HbA1crecordDateDate
dtypes: float64(327), int64(1), object(371)
memory usage: 1.3+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,TimeResultsProcessedByLabMM,...,LastHbA1cDate,WrittenInformedConsentDate,Type1DiabetesDiagnosisDate,FluVaccinationDateDate,DateTestsRunDate,StudyDrugReturnedDate,StudyDrugDispensedDate,BirthDate,DateOfBirthDate,HbA1crecordDateDate
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,May 1987,NaN,NaN
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Sep 1994,NaN,NaN
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Aug 1970,NaN,NaN
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Jan 2009,NaN,NaN
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Sep 1982,NaN,NaN

In [24]:
#df = df.drop(['MostRecentHbA1cDate'], axis=1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 699 entries, MaskID to HbA1crecordDateDate
dtypes: float64(327), int64(1), object(371)
memory usage: 1.3+ GB

In [26]:
columns_to_drop = [col for pair in column_pairs for col in pair]

for i in columns_to_drop:
    if i in df.columns:
        df.drop(columns=i, inplace=True)
        
    else:
        continue
        
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 693 entries, MaskID to HbA1crecordDateDate
dtypes: float64(324), int64(1), object(368)
memory usage: 1.3+ GB

## 1.3 DD, MM, YYYY

In [27]:
# Filter all columns with "DD", "MM", or "YYYY"
contain_list_1 = ["DD", "MM", "YYYY"] 
# Example strings to exclude
not_contain_list_1 = ['Autoimmuned', 'MMTT', 'TTT', 'TimeOfCollection', 'TimeResultsProcessedByLab']     

# Converting each string in the lists to lower case
#contain_list_1_low = [string.lower() for string in contain_list_1]
#not_contain_list_1_low = [string.lower() for string in not_contain_list_1]

# Filtering columns with case-insensitive comparison
filtered_date_columns_1 = [col for col in df.columns if 
                    any(contain in col for contain in contain_list_1) and 
                    all(not_contain not in col for not_contain in not_contain_list_1)]

print("Found ", len(filtered_date_columns_1), "columns: ", filtered_date_columns_1)

filtered_df = df[filtered_date_columns_1]

# Output the filtered DataFrame
print(filtered_df.info())

Found  9 columns:  ['DateRecordedDD1', 'DateRecordedMM1', 'DateRecordedYYYY1', 'DateRecordedDD2', 'DateRecordedMM2', 'DateRecordedYYYY2', 'DateRecordedDD3', 'DateRecordedMM3', 'DateRecordedYYYY3']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DateRecordedDD1    855 non-null    float64
 1   DateRecordedMM1    855 non-null    object
 2   DateRecordedYYYY1  854 non-null    float64
 3   DateRecordedDD2    856 non-null    float64
 4   DateRecordedMM2    856 non-null    object
 5   DateRecordedYYYY2  855 non-null    float64
 6   DateRecordedDD3    856 non-null    float64
 7   DateRecordedMM3    856 non-null    object
 8   DateRecordedYYYY3  855 non-null    float64
dtypes: float64(6), object(3)
memory usage: 17.8+ MB
None

In [28]:
#check columns for the day
day_column_list_1 = [col for col in filtered_date_columns_1 if "DD" in col]
print("No. of the day columes to be merged: ", len(day_column_list_1))

#create columns for the month and the year based on columns of the day
month_column_list_1 = [name.replace("DD", "MM") for name in day_column_list_1]
year_column_list_1 = [name.replace("DD", "YYYY") for name in day_column_list_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_month_columns = [name for name in month_column_list_1 if name not in df.columns]
print("No. of month columes in wrong naming format:", len(unmatched_month_columns))
print("Month columes in wrong naming format:", unmatched_month_columns)

unmatched_year_columns = [name for name in year_column_list_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  3
No. of month columes in wrong naming format: 0
Month columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [29]:
#check columns for the day
month_column_list_1_1 = [col for col in filtered_date_columns_1 if "MM" in col]
print("No. of the day columes to be merged: ", len(month_column_list_1_1))

#create columns for the month and the year based on columns of the day
day_column_list_1_1 = [name.replace("MM", "DD") for name in month_column_list_1_1]
year_column_list_1_1 = [name.replace("MM", "YYYY") for name in month_column_list_1_1]

#check whether there are any columns in the dataframe not following the naming rules
unmatched_day_columns = [name for name in day_column_list_1_1 if name not in df.columns]
print("No. of day columes in wrong naming format:", len(unmatched_day_columns))
print("Day columes in wrong naming format:", unmatched_day_columns)

unmatched_year_columns = [name for name in year_column_list_1_1 if name not in df.columns]
print("No. of year columes in wrong naming format: ", len(unmatched_year_columns))
print("Year columes in wrong naming format: ", unmatched_year_columns)

No. of the day columes to be merged:  3
No. of day columes in wrong naming format: 0
Day columes in wrong naming format: []
No. of year columes in wrong naming format:  0
Year columes in wrong naming format:  []

In [30]:
import pandas as pd
import numpy as np

# Function to convert month from string to number, handling missing values
def month_to_num_1(month_str):
    if pd.isna(month_str):
        return np.nan
    try:
        datetime_object = pd.to_datetime(month_str, format='%b')
        return datetime_object.month
    except ValueError:
        return np.nan
    
def create_date_column_2(df, year_col, original_cols):
    parts = year_col.split('YYYY')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'DD' + suffix
    month_col = base_col_name + 'MM' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        problematic_rows = []
        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    df.at[index, date_col] = np.nan
                else:
                    year = int(row[year_col])
                    month = int(month_to_num_1(row[month_col]))
                    day = int(row[day_col])
                    datetime_obj = pd.to_datetime(f"{year}-{month:02d}-{day:02d}")
                    df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = np.nan
        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [31]:
def convert_na(value):
    if pd.isna(value) or value == 'NA':  # using pandas function to check for NA
        return np.nan   # converting to numpy NaN
    else:
        return value

In [32]:
# Convert 'NA' strings to np.nan
for col in filtered_date_columns_1:
    df[col] = df[col].apply(convert_na)

original_cols = df.columns.tolist()

# Iterating over columns and creating date columns
for col in filtered_date_columns_1:
    if 'YYYY' in col:
        create_date_column_2(df, col, original_cols)

print(df.info())
df.head()

/tmp/ipykernel_28550/1088681976.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-07' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_28550/1088681976.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-08' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_28550/1088681976.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2019-02-09' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 696 entries, MaskID to DateRecordedDate3
dtypes: float64(324), int64(1), object(371)
memory usage: 1.3+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,TimeResultsProcessedByLabMM,...,FluVaccinationDateDate,DateTestsRunDate,StudyDrugReturnedDate,StudyDrugDispensedDate,BirthDate,DateOfBirthDate,HbA1crecordDateDate,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,May 1987,NaN,NaN,NaN,NaN,NaN
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Sep 1994,NaN,NaN,NaN,NaN,NaN
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Aug 1970,NaN,NaN,NaN,NaN,NaN
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Jan 2009,NaN,NaN,NaN,NaN,NaN
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,Sep 1982,NaN,NaN,NaN,NaN,NaN

In [33]:
columns_to_drop = [col for col in filtered_date_columns_1]

len(columns_to_drop)

for i in columns_to_drop:
    if i in df.columns:
        df.drop(columns=i, inplace=True)
    else:
        continue
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 687 entries, MaskID to DateRecordedDate3
dtypes: float64(318), int64(1), object(368)
memory usage: 1.3+ GB

## 1.4 day, mon, yea

'ChangeInDrugStatusEffectiveday_dup1', 'ChangeInDrugStatusEffectivemon_dup1', 'ChangeInDrugStatusEffectiveyea_dup1'
'ChangeInDrugStatusEffectiveday_dup2', 'ChangeInDrugStatusEffectivemon_dup2', 'ChangeInDrugStatusEffectiveyea_dup2'
'ParticipantDateDispensedDay1_1', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedYea1_1'
'ParticipantDateDispensedDay2_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedYea2_1'
'ParticipantDateDispensedDay3_1', 'ParticipantDateDispensedMon3_1', 'ParticipantDateDispensedYea3_1'
'ParticipantDateDispensedDay4_1', 'ParticipantDateDispensedMon4_1', 'ParticipantDateDispensedYea4_1'
'ParticipantDateDispensedDay5_1', 'ParticipantDateDispensedMon5_1', 'ParticipantDateDispensedYea5_1
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea'
'ADHPsoriasisDateofDiagnosisDay', 'ADHPsoriasisDateofDiagnosisMon', 'ADHPsoriasisDateofDiagnosisYea'

In [34]:
contain_list_0 = ['mon'] 
# Example strings to exclude
not_contain_list_0 = ['month', 'mont', 'Monitor', 'Mono', 'PastSixMon', 'Whendidthepneumoniaoccur', 'ReasonsNotInterested', 'Monetary']     

# Converting each string in the lists to lower case
contain_list = [string.lower() for string in contain_list_0]
not_contain_list = [string.lower() for string in not_contain_list_0]

# Filtering columns with case-insensitive comparison
filtered_columns = [col for col in merged_df.columns if 
                    any(contain in col.lower() for contain in contain_list) and 
                    all(not_contain not in col.lower() for not_contain in not_contain_list)]

print("Found ", len(filtered_columns), "columns: ", filtered_columns)

filtered_df = merged_df[filtered_columns].dropna(how='all')

# Output the filtered DataFrame
print(filtered_df.info())

# Uncomment if you want to print top 20 values for each column
for col in filtered_columns:
    print(f"Top 20 values for column {col}:")
    print(merged_df[col].value_counts().nlargest(20))
    print()

Found  4 columns:  ['MechanisticSampleCollectionMon', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedMon3_1']
<class 'pandas.core.frame.DataFrame'>
Index: 3923 entries, 190 to 257195
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MechanisticSampleCollectionMon  3664 non-null   object
 1   ParticipantDateDispensedMon1_1  259 non-null    object
 2   ParticipantDateDispensedMon2_1  195 non-null    object
 3   ParticipantDateDispensedMon3_1  110 non-null    object
dtypes: object(4)
memory usage: 153.2+ KB
None
Top 20 values for column MechanisticSampleCollectionMon:
MechanisticSampleCollectionMon
Apr    376
Jun    335
May    334
Mar    332
Dec    331
Jul    317
Feb    308
Aug    292
Jan    290
Oct    278
Nov    277
Sep    194
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon1_1:
ParticipantDateDispensedMon1_1
Aug    33
Sep    29
Oct    26
Jun    25
Dec    25
Jul    23
Nov    22
Mar    18
Feb    17
May    14
Apr    14
Jan    13
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon2_1:
ParticipantDateDispensedMon2_1
Aug    24
Nov    19
Sep    19
Jul    18
Oct    17
Dec    16
Jun    15
Apr    15
Feb    14
Jan    14
Mar    13
May    11
Name: count, dtype: int64

Top 20 values for column ParticipantDateDispensedMon3_1:
ParticipantDateDispensedMon3_1
Aug    17
Jul    11
Oct    11
Mar    11
Nov     9
Apr     9
Jun     8
May     7
Feb     7
Dec     7
Sep     7
Jan     6
Name: count, dtype: int64

In [35]:
col_list = ['ParticipantDateDispensedDay1_1', 'ParticipantDateDispensedMon1_1', 'ParticipantDateDispensedYea1_1',
'ParticipantDateDispensedDay2_1', 'ParticipantDateDispensedMon2_1', 'ParticipantDateDispensedYea2_1',
'ParticipantDateDispensedDay3_1', 'ParticipantDateDispensedMon3_1', 'ParticipantDateDispensedYea3_1',
'MechanisticSampleCollectionDay', 'MechanisticSampleCollectionMon', 'MechanisticSampleCollectionYea']

In [36]:
def create_date_column_3(df, year_col, original_cols):
    parts = year_col.split('Yea')
    base_col_name = parts[0]
    suffix = parts[1] if len(parts) > 1 else ''

    day_col = base_col_name + 'Day' + suffix
    month_col = base_col_name + 'Mon' + suffix

    if day_col in original_cols and month_col in original_cols:
        date_col = base_col_name + 'Date' + suffix
        problematic_rows = []
        for index, row in df.iterrows():
            try:
                if pd.isna(row[year_col]) or pd.isna(row[month_col]) or pd.isna(row[day_col]):
                    df.at[index, date_col] = np.nan
                else:
                    year = int(row[year_col])
                    month = int(month_to_num_1(row[month_col]))
                    day = int(row[day_col])
                    datetime_obj = pd.to_datetime(f"{year}-{month:02d}-{day:02d}")
                    df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
            except (ValueError, OverflowError) as e:
                problematic_rows.append((index, row[year_col], row[month_col], row[day_col]))
                df.at[index, date_col] = np.nan
        if problematic_rows:
            print("Problematic rows:")
            for row in problematic_rows:
                print(row)
    else:
        print(f"Matching columns for '{year_col}' not found.")

In [37]:
# Convert 'NA' strings to np.nan
for col in col_list:
    if col in df.columns:
        df[col] = df[col].apply(convert_na)

original_cols = df.columns.tolist()

# Iterating over columns and creating date columns
for col in col_list:
    if 'Yea' in col:
        create_date_column_3(df, col, original_cols)

print(df.info())
df.head()

/tmp/ipykernel_28550/2485481044.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_28550/2485481044.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-05-02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_28550/2485481044.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2016-08-12' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date
/tmp/ipykernel_28550/2485481044.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2011-07-19' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, date_col] = datetime_obj.strftime('%Y-%m-%d')  # Format to only include the date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 691 entries, MaskID to MechanisticSampleCollectionDate
dtypes: float64(318), int64(1), object(372)
memory usage: 1.3+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,TimeResultsProcessedByLabMM,...,BirthDate,DateOfBirthDate,HbA1crecordDateDate,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,May 1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sep 1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Aug 1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Jan 2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sep 1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
len(col_list)

# Drop the columns from the DataFrame
for i in col_list:
    if i in df.columns:
        df.drop(columns=i, inplace=True)
    else:
        continue
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 679 entries, MaskID to MechanisticSampleCollectionDate
dtypes: float64(313), int64(1), object(365)
memory usage: 1.3+ GB

## 1.5 D, M, Y

DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY'

In [39]:

def create_date_from_components(row):
    # Extracting year, month, and day from the row
    year = row['DateSignedInformedConsentFormY']
    month = row['DateSignedInformedConsentFormM']
    day = row['DateSignedInformedConsentFormD']

    # Check for NaN values and convert floats to integers
    if pd.isna(year) or pd.isna(month) or pd.isna(day):
        return pd.NaT
    try:
        year = int(year)
        day = int(day)
        # Constructing the date string
        date_str = f"{year}-{month}-{day:02d}"
        # Converting to datetime
        return pd.to_datetime(date_str, format='%Y-%b-%d').date()
    except (ValueError, TypeError):
        return pd.NaT

# Apply the function to each row to create the new date column
df['DateSignedInformedConsentFormDate'] = df.apply(create_date_from_components, axis=1)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 680 entries, MaskID to DateSignedInformedConsentFormDate
dtypes: float64(313), int64(1), object(366)
memory usage: 1.3+ GB

In [41]:
# Drop the columns from the DataFrame
df.drop(columns=['DateSignedInformedConsentFormM', 'DateSignedInformedConsentFormD', 'DateSignedInformedConsentFormY'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 677 entries, MaskID to DateSignedInformedConsentFormDate
dtypes: float64(311), int64(1), object(365)
memory usage: 1.3+ GB

## 1.6 Columns without indication of day, month, year

MonitoringSchedulingChangeEffe
IfyesDateCOVID19TestAdminister
DateParticipantwascontacted
DateSignedNEWInformedConsentFo
DateControlBecameAutoantibodyP
'InterferonGammaReleaseAssayIGR3', 'InterferonGammaReleaseAssayIGR', 'InterferonGammaReleaseAssayIGR2'

In [42]:
date_dict_1 ={ 'DateSignedNEWInformedConsentFoDate': ['DateSignedNEWInformedConsentFo', 'DateSignedNEWInformedConsentFo2', 'DateSignedNEWInformedConsentFo3'],
             # 'InterferonGammaReleaseAssayIGRDate': ['InterferonGammaReleaseAssayIGR', 'InterferonGammaReleaseAssayIGR3', 'InterferonGammaReleaseAssayIGR2']
             }

In [43]:
# Function to convert month from short name to number
def month_to_num_2(short_month):
    return {
        'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
        'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
    }[short_month]

# Iterating over the dictionary to create new columns in filtered_df
for date_col, cols in date_dict_1.items():
    day_col, month_col, year_col = cols

    # Create a mask for rows where none of the day, month, or year values are missing
    mask = df[[day_col, month_col, year_col]].notna().all(axis=1)

    # Apply the mask to filter out rows with missing values
    valid_rows = df[mask]

    # Iterate over each row to handle individual errors
    for index, row in valid_rows.iterrows():
        try:
            # Combine the date components for the current row
            combined_date = str(int(row[day_col])) + '/' + \
                            str(month_to_num_2(row[month_col])) + '/' + \
                            str(int(row[year_col]))
            
            # Convert to datetime
            df.at[index, date_col] = pd.to_datetime(combined_date, format='%d/%m/%Y')
        except ValueError as e:
            # Print the problematic date and its index
            print(f"Error at index {index}: {combined_date}")
            print(f"Error message: {e}")

# Display the new DataFrame
print(df.info())
df.head()

Error at index 12142: 31/4/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 128495: 31/2/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 150436: 31/4/2014
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 155147: 31/6/2016
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 180518: 0/9/2013
Error message: time data "0/9/2013" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Error at index 230442: 31/4/2012
Error message: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 678 entries, MaskID to DateSignedNEWInformedConsentFoDate
dtypes: datetime64[ns](1), float64(311), int64(1), object(365)
memory usage: 1.3+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,TimeResultsProcessedByLabMM,...,HbA1crecordDateDate,DateRecordedDate1,DateRecordedDate2,DateRecordedDate3,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate,DateSignedInformedConsentFormDate,DateSignedNEWInformedConsentFoDate
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2015-06-29
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2015-08-11
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2016-11-21
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2016-10-21

In [44]:
columns_to_drop = [column for sublist in date_dict_1.values() for column in sublist]
print(len(columns_to_drop))

# Drop the columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)
df.info()

3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 675 entries, MaskID to DateSignedNEWInformedConsentFoDate
dtypes: datetime64[ns](1), float64(309), int64(1), object(364)
memory usage: 1.3+ GB

## 1.7 time

'OGTTTestStartTimeHrs', 'OGTTTestStartTimeMins'
'MMTTTestStartTimeHrs', 'MMTTTestStartTimeMins'
'TimeOfCollectionHH_dup2', 'TimeOfCollectionMM_dup2'
'TimeOfCollectionHH_dup3', 'TimeOfCollectionMM_dup3'
'TimeOfCollectionHH_dup1', 'TimeOfCollectionMM_dup1'
'TimeResultsProcessedByLabHH_dup2', 'TimeResultsProcessedByLabMM_dup2'
'TimeResultsProcessedByLabHH_dup3', 'TimeResultsProcessedByLabMM_dup3'
'TimeResultsProcessedByLabHH_dup1', 'TimeResultsProcessedByLabMM_dup1'

In [45]:
time_dict = {'OGTTTestStartTime': ['OGTTTestStartTimeHrs', 'OGTTTestStartTimeMins'],
             'MMTTTestStartTime': ['MMTTTestStartTimeHrs', 'MMTTTestStartTimeMins'],
             'TimeOfCollection': ['TimeOfCollectionHH', 'TimeOfCollectionMM'],
             'TimeResultsProcessedByLab': ['TimeResultsProcessedByLabHH', 'TimeResultsProcessedByLabMM']
            }

In [46]:
def create_time_columns(df, time_dict):
    for new_col, time_cols in time_dict.items():
        hour_col, minute_col = time_cols

        if hour_col in df.columns and minute_col in df.columns:
            # Creating a time column with handling missing values and converting to integers
            df[new_col] = df.apply(lambda row: 
                                   f"{int(row[hour_col]):02d}:{int(row[minute_col]):02d}"
                                   if pd.notna(row[hour_col]) and pd.notna(row[minute_col]) and 
                                      row[hour_col] != '.' and row[minute_col] != '.'
                                   else np.nan, axis=1)
            # Converting string to datetime.time object
            df[new_col] = pd.to_datetime(df[new_col], format='%H:%M', errors='coerce').dt.time
        else:
            print(f"Columns for '{new_col}' not found. Hour column: {hour_col}, Minute column: {minute_col}")

    return df

df = create_time_columns(df, time_dict)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 679 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](1), float64(309), int64(1), object(368)
memory usage: 1.3+ GB
None

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,TimeOfCollectionHH,TimeOfCollectionMM,DateResultsReportedByLabUnknow,TimeResultsProcessedByLabHH,TimeResultsProcessedByLabMM,...,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate,DateSignedInformedConsentFormDate,DateSignedNEWInformedConsentFoDate,OGTTTestStartTime,MMTTTestStartTime,TimeOfCollection,TimeResultsProcessedByLab
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,2015-06-29,NaT,NaT,NaT,NaT
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,2015-08-11,NaT,NaT,NaT,NaT
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,2016-11-21,NaT,NaT,NaT,NaT
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,2016-10-21,NaT,NaT,NaT,NaT

In [47]:
columns_to_drop = [column for sublist in time_dict.values() for column in sublist]
print(len(columns_to_drop))

for i in columns_to_drop:
    if i in df.columns:
        df.drop(columns=i, inplace=True)
df.info()

8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 671 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](1), float64(301), int64(1), object(368)
memory usage: 1.3+ GB

In [48]:
#df.to_csv('df_column_harmonization.csv', index = False)

In [49]:
df.to_csv('df_column_harmonization.csv',index=False)

In [205]:
df=pd.read_csv('df_column_harmonization.csv')

/tmp/ipykernel_10651/821926730.py:1: DtypeWarning: Columns (3,28,30,32,35,37,40,42,45,47,50,52,93,120,179,180,181,182,183,185,187,188,189,190,194,196,198,200,201,204,205,207,208,209,210,213,214,223,224,225,226,227,228,229,230,231,232,233,242,243,244,245,246,247,256,257,350,351,355,356,357,361,362,363) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('df_column_harmonization.csv')

In [50]:
df

,MaskID,Visit_Dt,_15Aug2011ConsentForResidualSa,WhichProtocolVersion,ProtocolVersion,DateResultsReportedByLabUnknow,Rbcresults,Rbcresults_Units,RBCResultsNormal,RBCResultAbormalClinicallySign,...,ParticipantDateDispensedDate1_1,ParticipantDateDispensedDate2_1,ParticipantDateDispensedDate3_1,MechanisticSampleCollectionDate,DateSignedInformedConsentFormDate,DateSignedNEWInformedConsentFoDate,OGTTTestStartTime,MMTTTestStartTime,TimeOfCollection,TimeResultsProcessedByLab
0,200000,06/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,200003,06/29/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-06-29,NaN,NaN,NaN,NaN
2,200004,08/11/2015,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-08-11,NaN,NaN,NaN,NaN
3,200007,11/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-11-21,NaN,NaN,NaN,NaN
4,200010,10/21/2016,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-21,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259163,879417,12/30/2015,NaN,NaN,New,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,08:50:00,NaT,NaT
259164,879417,07/01/2016,NaN,NaN,New,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,08:20:00,NaT,NaT
259165,879417,12/30/2016,NaN,NaN,New,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,09:20:00,NaT,NaT
259166,879417,06/23/2017,NaN,NaN,New,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,08:55:00,NaT,NaT
259167,879417,06/19/2015,NaN,NaN,New,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,09:05:00,09:20:00,NaT,NaT

# Missing values

In [51]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 666 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](1), float64(296), int64(1), object(368)
memory usage: 1.3+ GB

In [53]:
#identify categorical columns and numeric columns first 

categorical_columns = df.select_dtypes(include=['object', 'category']).columns
numerical_columns = df.select_dtypes(include=['int', 'float']).columns
date_columns = df.select_dtypes(include=['datetime64']).columns

print("Categorical columns:", categorical_columns)
print('number of categorical columns:',len(categorical_columns))
print("Numerical columns:", numerical_columns) 
print('number of numerical columns:',len(numerical_columns))
print('number of date columns:',len(date_columns))

Categorical columns: Index(['Visit_Dt', '_15Aug2011ConsentForResidualSa', 'WhichProtocolVersion',
       'ProtocolVersion', 'DateResultsReportedByLabUnknow', 'Rbcresults_Units',
       'RBCResultsNormal', 'RBCResultAbormalClinicallySign',
       'HemoglobinResults_Units', 'HemoglobinResultsNormal',
       ...
       'DateRecordedDate3', 'ParticipantDateDispensedDate1_1',
       'ParticipantDateDispensedDate2_1', 'ParticipantDateDispensedDate3_1',
       'MechanisticSampleCollectionDate', 'DateSignedInformedConsentFormDate',
       'OGTTTestStartTime', 'MMTTTestStartTime', 'TimeOfCollection',
       'TimeResultsProcessedByLab'],
      dtype='object', length=368)
number of categorical columns: 368
Numerical columns: Index(['MaskID', 'Rbcresults', 'HemoglobinResults', 'HematocritResults',
       'MCVresults', 'PlateletCountResultsNormal', 'MCHresults', 'MCHCresults',
       'WBCresults', 'NeutrophilsResults',
       ...
       'BIC', 'ALT', 'ALP', 'ALB', 'UREA', 'AST', 'CPEP', 'INST', 'Height_cm',
       'Weight_kg'],
      dtype='object', length=297)
number of numerical columns: 297
number of date columns: 1

In [54]:
#1st handle wrong datatype
#for any categorical variable, if it contains more than 20 unique values, then we can use common sense to judge 
# if it is better to convert it to 'int' datatype.
for i in categorical_columns:
    if len(df[i].unique())>20:
        print(i)
        print(df[i].unique())

Visit_Dt
['06/29/2007' '06/29/2015' '08/11/2015' ... '10/24/2010' '08/28/2011'
 '04/26/2009']
InitialScreeningLocationOtherS
[nan 'JDRF ONE NATION' 'Screening event' 'Bay Area Diabetes Summit'
 'Offsite Screening Event' 'Offsite' 'Family Diabetes Event'
 'T1D Conference' 'FL AQUARIUM' 'offsite' 'DR. xxxxxx OFFICE'
 'SUMMER BLAST' 'M Health Maple Grove' 'Conference' 'JDRF'
 '2017 CWD Falls Church, VA' 'JDRF Summit' 'Primary Health Care Clinic'
 'PEA-ATLANTA' 'JDRF Type 1 Nation Summit' 'Primary health care clinic'
 'Festival' 'CWD' 'Home' 'JDRF One Nation Event' 'TEDDY site'
 'local diabetes event' 'Home Visit' 'HOME' 'Teddy Malmo Gertie'
 'SEED Office' 'primary health care clinic' 'JDRF Summit mtg' 'Zoo Event'
 'Chart Center' 'Travel Clinic - Pikeville, KY' 'JDRF summit'
 'JDRF Picnic' 'JDRF Conference' 'Diabetic Clinic' 'LIONS CAMP'
 'DESCHUTES COUNTY PUBLIC LIBRARY' 'TEDDY clinic Kristianstad'
 'TypeOneNation Summit, Central Coast (California)' 'JDRF Event'
 'at the Meeting in Carlsbad' 'JDRF Fall Festival' 'Camp Bus Stop'
 'Home visit.' 'ADA event' 'JDRF Presentation' 'JDRF Research Summit'
 'LAJDRF PICNIC' 'JDRF Walk' '2016 JDRF Research Summit, Bethesda, MD'
 "participant's home" 'School' 'gp practise' 'SACRAMENTO JDRF'
 'Sam Fuld Sports Camp' 'Screening Event' 'unknown to me' 'JDRF WALK'
 'World Diabetes Day Event' 'HOME VISIT'
 '2015 JDRF Research Summit in Bethesda, MD' 'Event' 'JDRF RETREAT'
 'diabetes 101' 'Level 2 site assigned to level 4 site 3440' 'CBS'
 'Primary health care' 'Church Health Screenings' 'RETREAT'
 'Recruits home' 'Primary Health Care' 'screening event' 'JDRF event'
 'JDRF FAMILY DAY' 'MUVICO' 'Lodi Diabetes Support Group' 'JDRF Symposium'
 'Eagle Scout Event' 'JDRF Peak Event' 'primary health care'
 'CCHMC DIABETES PICNIC' 'JDRF Type one Nation summit'
 'JDRF Annual Summer Picnic and TrialNet Screening Event' 'home'
 'JDRF T1D Summit' 'Type 1 Diabetes Meeting' 'Yankee Staduim'
 'BEARSKIN CAMP #3' 'Boy Scout Screening Clinic' 'Longview event'
 'Eugene screening event' '2018 JDRF Research Summit in Bethesda, MD'
 'FFL' 'JDRF EVENT' 'TrialNet screening event' 'TEDDY Kristianstad'
 'JDRF T1Nation' 'Offsite screening event' 'Friends for Life' 'Residence'
 'JDRF Day of Hope' 'Friend' 'home visit' 'FFL 2017' 'JDRF Boofest'
 'Own GP surgery' 'Hope N Health' 'JDRF TypeOne Nation' "Child's home"
 'JDRF event at Pittsburgh Zoo' 'JDRF Family Day at Six Flags'
 'JDRF picnic' 'TON JDRF' 'JDRF One Nation' 'Touched by Type I'
 'TYPE ONE NATION' 'Fort Collins Clinic'
 'Children with Diabetes event at Disneyland Hotel'
 'Discovery museum event 6-9-12' 'Airheads' 'off site screening event'
 'LA JDRF PICNIC' 'BEARSKIN CAMP #4'
 'JDRF Research Summit in Bethesda, MD' 'JRDRF FAMILY EVENT'
 'Diabetes Event' 'health fair' 'JDRF Type 1 Nation'
 'Student Health Care Center Courtesy Draw' 'Health Fair' 'Helena event'
 'JDRF event at Field Museum' 'Back to School Event'
 'Hospital clin chem lab' 'JDRF Expo' 'JDRF Type 1 Summit'
 'JDRF TYPE 1 NATION' 'family event' 'BEARSKIN CAMP #2'
 'Fort Collins Youth Clinic' 'Missoula event' "Children's hospital Malmo"
 'Diabetes Summit' 'capillary kit' '2016 CWD, Falls Church, VA'
 'CAMP SWEENY' 'DOGS 4 DIABETES' 'Affiliate site' 'CAMP AURORA'
 'Guradians office.  She is a physician.' 'Clinic' 'RAHC- CRU - Harlingen'
 'MORE Health Conference at UTPA' 'Primary Health care' 'SCREENING EVENT'
 'CWD Conference' 'primary Health care' 'Fall Festival'
 '2017 Diabetes Summit' 'JDRF Meet the Scientists' 'ADA Family Retreat'
 'JDRF Research Summit, Bethesda, MD' 'Affiliate Site'
 'Health Partners Woodbury' 'TON Summit' 'JDRF-OneTypeNation Summit'
 'CAMP LITTLE SHOT' 'JDRF Type One Nation education event' 'Teddy Malmo'
 'Santa Rosa Event- 4/30/2016' 'spe programme' 'Petersen Automotive event'
 'Type 1 community event- Reflections- site screening' 'BLUE BONNETT'
 'Taking Care of Your Diabetes San Diego' 'JDRF Vendor Expo' 'M Health MG'
 'T1D SUMMIT' 'RAHC-CRU' 'clinic visit' 'JDRF T1D Summit GSO'
 'Type 1 Nation summitt' 'Home visit' 'CBS home test kit' 'OTHER'
 'FAMILY DIABETES SYMPOSIUM' 'Diabetes 101Class' 'Camp' 'Test kit'
 'Renton event' 'patient home' 'MG M Health' 'JDRF type 1 nation'
 'LOWRY PARK ZOO' 'HEALTH FAIR' 'Helena, MT - Screening event'
 'Jump Planet' 'gp surgery' 'PARTICIPANTS HOME' 'JDRF Type One Nation'
 'offsite event' 'Screening Event at Villagio' 'DR.xxxxxx OFFICE'
 'JDRF One' 'Bus Stop' 'capillary study at home' 'Type 1 Nation Summitt'
 'Hospital' 'JDRF Family Event' 'Diabetes 101' 'Recruit home'
 'JDRF Family Day Greensboro NC' 'GP surgery' 'Family Day' 'SPE PROGRAMME'
 'JDRF TID Nation' 'participants home' 'AT HOME ADDRESS' 'Sam Fuld'
 'TEDDY clinic Helsingborg' 'JDRF/CCHMC BOOFEST' 'JDRF Walk Kickoff'
 'CHOP diabetes conference 2013' 'JEDRF EVENT'
 'Taking Control of Your Diabetes Conference' 'clinic' 'other'
 'Mary Bridge Event' '2016 CWD Falls Church, VA' 'DIABETES SYMPOSIUM'
 'Ft. Myers' 'Consented but never screened' 'I' 'Participants home'
 'Clin chem' 'Internet' 'JDRF T1D SUMMIT' 'At the event  site at the GYS'
 'Sweet Run 2014' 'Quest' "GP's" 'Beat the Bridge' 'Home Address'
 'JDRF Family Day, Greensboro, NC' 'TEDDY Simrishamn'
 '2013 JDRF Research Summit in Bethesda, MD' 'Bozeman screening clinic'
 'screening event in Wheeling,WV' 'GP Surgery' 'WakeMedT1D Day' 'SWEENEY'
 'Dr. xxxxxx' 'Primary helath care clinic' 'Camp Little Shot' 'CBS kit'
 'Boomers, Fresno, CA event on 2-24-14.'
 'JDRF Type One Nation - education event'
 'JDRF INLAND EMPIRE TRIAL NET EVENT' 'Diabetes BootCamp'
 'JDRF City of Hope Meetings' 'FROM A RELATIVE' 'Home vsit'
 'JDRF INLAND EMPIRE TRIAL NET' 'WakeMed T1D Day' 'Family Reunion'
 'Hospital at diabetes clinic' 'ALBUQUERQUE' 'Legacy event'
 'Living Well with Diabetes Conference' 'DR xxxxxx OFFICE' 'pic centre'
 'presentation' 'JDRF Event- Type One Nation' 'lab' 'TEDDY'
 'Diabetes 101 Class' 'Klamath Falls Diabetes fair'
 '2016 JDRF Research Summit in Bethesda, MD' 'JDRF Conference- Greensboro'
 'PATIENTS HOME' 'LIONS' 'Mile Bluff Medical Center- Clinic Lab'
 'M Health Explorer Clinic' 'primary health are clinic'
 'JDRF Family Day, Greensboro NC' '0013' 'MISSOULA EVENT' 'path lab'
 'primary care clinic' '2015 JDRF Research Summit in Bethesda,MD'
 'CONNECT ONE' 'xxxxxx clinic' 'SWEENY' 'Family Event'
 'JDRF Family Day - Greensboro NC' 'Villagio Cinema'
 'JDRF Walk Bethany, WV' 'event' 'pediatric clinic' 'MD office' 'Macon'
 'RESEARCH TEAM' 'Bike tour' 'JEDR Event' 'In-home screening visit'
 '2013 JDRF Research Summit in Bethesa, MD' 'Medical office, xxxxxx 11042'
 'Type 1 Nation' 'FAMILY DIABETES DAY' 'Mother is a nurse' 'Bus stop'
 'Slam Dunk Basketball Camp' 'Diabetes Support Group' 'VMMC'
 'Dr. xxxxxx office' 'TDI' 'T 1 Nation Event' 'Polyclinic'
 'JDRF Lecture event' "DR xxxxxx'S OFFICE" 'Focus on Tech.'
 "Patient's home" 'ADA Family Event' "Recruit's home" 'GP practice'
 'Meeting' 'At the satand at The Great Yorkshire Show' 'BUMC South'
 'Satelite site' 'home screening' 'JDRF T1 NATION SUMMIT'
 "FAMILY CAMP - CHILDREN'S DIABETES FOUNDATION OF NORTH BAY"
 'JDRF at the Field Museum' 'JDRF City of Hope meetings' 'conference'
 'T1 Nation Walk' 'JDRF Family Day Six Flags Great America'
 'friends for life' 'JRDF Event' 'doctors surgery' 'Qwest'
 'LOCAL HOSPITAL' 'Helena, MT - screening event' 'HOME TEST KIT'
 'Primary care clinic' 'Harris Hospital' 'Hospital clinic'
 'Unknown  subject transferred to this site 2002' 'CWD Falls Church 2018'
 "In Subject's Home" 'Teddy Kristianstad' 'BEARSKIN CAMP #1' 'LIONS CONF'
 'Primary health Care' 'friend' 'JDRF VE'
 'Lucille Packards Childrens Hospital Endocrinology'
 'clinic screening event' 'TCOYD conference' 'diabetic research nurse'
 'Eagle Scout Project' 'EVENT' 'Subjects home address'
 'Regional Laboratory' 'JDRF evemt' 'Remote Screening' 'TEDDY visit'
 'Slam Dunk for a Cure Basketball Camp'
 'Walk N Rolla Walk and Health Fair at UTPA'
 'JDRF TYPE ONE NATION SUMMIT CONFERENCE' 'Satellite Office'
 'Spokane, WA -  Screening event' 'At hospital' 'xxxxxx'
 'Golisano Childrens' 'SAM FULD CAMP' 'Teddy Helsingborg'
 'Mom who is a nurse' 'Harvard Vanguard' 'CWD Focus on Tech'
 'JDRF family event' 'Mills Peninsula event on 5-22-12'
 'Legacy Screening event' 'local pediatrician' 'VM screening event'
 'CAMP SWEENEY' 'school' 'T1 diabetes association meeting' 'Renton'
 'Capillary Kit' 'BUMC south campus' 'Mills Peninsula event 5-22-12'
 'N HORIZONS' 'Legacy Screening Event' 'family camp'
 'JDRF Stanford Screening Event San Luis Obispo' 'Type One Nation Summit'
 'San Bernardino JDRF' 'Legacy Diabetes 101 Class' 'JDRF walk kickoff'
 'tcoyd event' 'hospital' 'JDRF TypeOneNation Summit' 'JDRF SUMMER BLAST'
 'Capillary Blood Collection Kit' 'La Jolla' 'DR. xxxxxx MD'
 'OUTREACH CLINIC' 'Capillary Blood Sample Home Kit'
 'Yale Pediatric Diabetes Group Family Day' 'PAEDIATRIC DIABETIC CLINIC'
 'MUCIVO' 'ADA Expo' 'TEDDY Ystad' 'recruits home'
 'SAM FULD SPORTS COMPLEX' 'family member' 'Home via xxxxxx'
 'diabetes group' 'Disneyland Hotel'
 'TrialNet Presention at diabetes camp' 'Essentia Health'
 'Diabetes 101 class' "villagio, 2017 consented but didn't screen"
 'subjects own home' 'level 2 site assigned to level 4 site 3440'
 '2017 JDRF Research Summit in Bethesda, MD' 'JdRF event'
 'Royal Derby Hospital' 'Diabetes 101 Class Dallas'
 'Off Site Screening Event' 'JDRF VENDOR EXPO' 'Own GP Surgery'
 'UM Diabetes health fair' 'participant home' 'Health Care Professional'
 'Off Site screening event' 'JDRF conference' 'Mary Bridge event'
 '2015 JDRF Research Summit' 'JRDF One Nation'
 'Type One Nation Conference' 'Local diabetes bootcamp' 'CLINIC'
 "At patient's home" 'LAKELAND WALK' 'Home address'
 'University Hospital lab' 'Consent completed, no screening'
 'Remote screening' 'RAHC CRU' 'LaRabida' 'offsit'
 'DYF family spring retreat' 'summit' 'MEETING' 'DAISY' 'Ped Office'
 'AQUARIUM' 'Friends for Life 2013' 'TEDDY Malmo' 'Lag at hospital'
 'Living Well Diabetes Conference' 'capillary blood' 'CWD/FFL'
 'Eugene Event' 'JDRF Type1 Summit' 'offsite - CWD'
 'TCOYD in San Diego 2017' 'JDRF Type One Nation Event' 'MARC'
 'Sanford Main Clinic Lab Bemidji' 'Diabetes Superconference'
 'Pullman event' 'GP Practice' 'at TEDDY visit'
 'TrialNet participating JDRF SummerBlast' "at cousin's clnic appointment"
 'Primaty health center' 'Ymca Naples' 'at her job'
 'Off site screening event' 'In patient - CCMC'
 'Scenic Bluffs Health Center' 'JDRF Middle GA Event' 'bus stop'
 'JDRF Picknick' "I don't know (previous coordinator did not state)" 'GP'
 'jdrf guelph' 'JDRF support group event' 'FFL/Podcast'
 'see source documentation' "subject's home" 'JDRF walk' 'MUSC clinic'
 'Taking Care of Your Diabetes San Deigo' 'Naples YMCA'
 'diabetes conference' 'JDRF CONF' 'TCOYD San Diego 2017'
 'T1 Diabetes association meeting' 'CAPILLARY KIT' 'CCMC Core Lab, xxxxxx'
 'SPORTS BASEMENT in WALNUT CREEK' 'ADA FAMILY RETREAT'
 'consented, never screened' 'homeeee' 'Offsite event'
 'Sk?ne University Hospital, Lund'
 'Taking Care of Your Diabetes Conference San Diego' 'not yet screened'
 'Primary helth care' 'Off SIte Screening Event' 'LAIA' 'Hospital lab'
 'jdrf tampa walk' 'pea-duluth' 'local diabetes bootcamp'
 'Diabetes Day Event' 'Discovery Clinic Lab' 'MLab' 'S' 'endocrine clinic'
 'INLAND EMPIRE TRIAL NET EVENT' 'T1D Nation Summit' 'JDRF symposium'
 'SPORTS BASEMENT in WALNUT CREEK / DOGS FOR DIABETES' 'capillary study'
 'At home visit' 'Pediatric clinic' 'USF AND AQUARIUM' '0012'
 "In subject's Home" 'offsite clinic' 'Helena Event' 'offstie'
 'Golisano childrens' 'Portola Family Camp' 'JDRF EVENT SUMMER BLAST'
 'Mary Bridge' 'Clinic Visit' 'Diabetes event in Wheeling, WV'
 'GHS Diabetes Day' 'Offsite cwd' 'JDRF One Walk New Bedford'
 'TCOYD Conference' "Children's Medical Center" 'subjects own GP surgery'
 'Arcadia Clinic' 'ECL satellite clinic' 'Ft myers Golisano'
 'CCMC Core Lab' 'Offsite clinic' 'Spokane, WA - screening event'
 'ADA expo' 'satelite site' 'Travel Clinic-Monticello, KY' 'Gp practice'
 "child's home" 'USF' 'JDRF- Stanford Screening Event San Luis Obispo'
 'Medford' 'JDRF Middle Georgia Event'
 "Lab near participant's home using remote it" 'LIAI' 'VM Issaquah event'
 'test kit' 'FAMILY CAMP' 'TCYOD Conference' 'CarbDM Meeting' 'meeting'
 'TEDDY clinic Ystad' "Akron Children's Hospital" 'TCOYB CONFERENCE'
 'PEA site' 'Satellite site' 'PDX visit' 'xxxxxx xxxxxx' 'PEA' 'Ft myers'
 'Health Care' 'Discovery Museum event 6-9-12' 'JDRF event- Type 1 Nation'
 'Screening event in Eugene' 'Diabetes 101 Class-Legacy'
 'JDRF Walk Kick Off' 'Friends for Life 2103' 'SPE programme'
 'Diabetes Conference' 'Type one Nation JDRF Summit' 'Capillary blood kit'
 'Dallas Diabetes 101 Class' 'Back to School Night'
 'TYPE ONE NATION SUMMIT EVENT' 'Petersen Automotive' 'Bowling'
 'Fresno event' 'Nurse Clinic' 'Sunpark Lab South Calgary'
 'JDRF screening event' 'in home visit' 'participants work Hospital'
 'jdrf walk' 'Offsite - cwd' '8 North' 'Physician'
 'Type 1 Nation  summitt' '2013 JDRF Research Summit at Bethesda, MD'
 'Sweet Run - Bentsen Palm Park, Mission TX' 'ADA WALK' 'BUMC south'
 'Guardian is nurse; blood drawn at home'
 'Slam Dunk for Diabetes Basketball Camp' 'home address' 'Everett event'
 'YMCA Naples' 'SLAM T1D Event' 'Screening event in Wheeling, WV'
 'Subjects own home' 'CHOA Satellite Blvd. Clinic' 'fall picnic'
 'Met TrialNet researchers at university of chicago'
 '2013 JDR Research Summit in Bethesda, MD'
 "CBS kit at Participant's Home" 'SIERRA VISTA HEALTH FAIR' 'JDRF FUN DAY'
 'Endocrinology office' 'meeting YPDG' 'CAPILLARY KIT 647447261170'
 'RECRUITS HOME' 'research team' 'office' 'JDRF WALK KICK OFF'
 'Naples YMCA event'
 'JDRf Annual Summer Picnic and TrialNet Screening Event'
 'JDRF Event at Field Museum' 'Local Diabetes Bootcamp' "Subject's home"
 'LIONS CONFERENCE' 'HUB' 'JDRF Meet the scientists' 'Unknown'
 'Spokane, WA - Screening event' 'PDX Visit' "Child's aunt's home"
 'xxxxxx MD' 'Medlab' 'JDRF Walk -Youngsville , LA' 'CLINIC 5'
 'unable to obtain blood' 'TypeOneNation' 'DR xxxxxx' 'Walk'
 "Child's doctor office" '2016 JDRF Research Presentation, Bethesda, MD'
 'Poole Hospital' 'Type One Nation'
 '2011 JDRF Research Summit in Bethesda Maryland' 'JDRF Family Fun Day'
 'home Visit' 'VM lab' '2018 JDR Research Summit in Bethesda, MD'
 'Naples YMCA Screening Event' 'MD OFFICE' 'JDRF BOOFEST'
 'satellite clinic' 'Screening Kit' 'VM' 'TYPE ONE'
 'JDRF Event Summerfest' 'Valley Medical Center' 'own GP - postal samples'
 'Boot Camp' 'CHI St Alexius Health Dickinson' 'qUEST' 'JDRF meeting'
 'clin chem' 'JDRF T1 Summit' 'hOME VISIT' 'DIABETIC CLINIC' 'TCOYD'
 '4/30/2016 Santa Rosa event' 'Ft Myers' 'JDRF evnet' 'BEARSKIN CAMP 32'
 'CAPILLARY' 'Torbay Hospital' 'Church Health Screening' 'Beat the bridge'
 'primary healt care clinic' 'Letter' 'dr office' 'AUREA'
 'at subjects place of work (in first aid room).' 'Offsite CWD'
 'San Bernardino JDRf' 'TON' 'home screening event' 'TON JDRF Event'
 'MISSOULA SCREENING' '2016 JDRF Research Summit Bethesda'
 'Polyclinic event' 'SAM FULD SPORT CAMP' 'STG' 'BEARSKINS CAMP #2'
 'OWN HOME' "Akron Choldren's Hospital" 'Type 1 National Summit'
 'DIABETES FAMILY EVENT' 'diabetes nurse Vaxjo' 'JDRF/CCHMC Boofest'
 'MORE Health at UTPA' 'Children with Diabetes/ Friends for Life'
 'DR OFFICE' 'JDRF lecture event' "RECRUIT'S HOME" 'San Bernardio JDRF'
 'FROM ENDOCRINOLOGY CLINIC' 'Slam Dunk for Diabetes'
 'Primary health care Norway' 'SAME FULD SPORTS' 'Lab at hospital'
 'Paediatric Clinic' 'Type 1 even/screeing site reflections'
 'Lab at local hospital with study coordinator'
 'changed his mind anddeclined blood draw at this time'
 'primary Health Care' 'PSC' 'Own GP' 'MCRU' 'Capillary kit'
 'paediatric clinic'
 'Medical Office @ 1999 Marcus Ave, Lake Success, NY 11042'
 'MET Office - place of work' 'remote home kit' 'SPE PORGRAMME'
 'Taking Care of Your Diabetes' 'Medical Office at xxxxxx 11042'
 'Diabetes nurse Vaxjo' 'JDRF ALBUQUERQUE' 'Mills Peninsula 5-22-12 event'
 'T1 Nation Summit' 'jdrf' 'Chili Pepper Bike Tour--El Paso'
 'in-home visit' 'friends fr life confrence'
 '2012 JDRF Research Summit in Bethesa, MD' "Participant's home"
 'JDRF TON' 'Teddy Participant' 'At Insulindepence Health Fair'
 'LION CAMP' 'Diabtes seminar' 'U of MI World Diabetes Day Event'
 'Home visit (mum, sib in another study)' 'SAM FULD SPORTS'
 'TDEEY Hesingborg' 'NEW HORIZONS NORTH'
 'screening not yet complete, consent completed'
 'primary health care, Norway' "In subject's home" 'YPDG Family Day'
 'St Michael Avera Health' 'ROYAL OLDHAM HOSPITAL'
 'Participants work in  Karlstad Hospital ward 40' 'Participating MD'
 'Duluth Clinic' "patient's home" 'Site Type 1 Event' 'TCOYD Convention'
 'relative' 'not known' 'quest' 'JDRF Middle GA event' 'own home'
 'Primary Health care clinic' 'Lab' 'at patients home'
 'TrialNet Screening Event' '13' 'theatre' 'JDRF walk kick off event'
 'JDRF Wlak' 'TYPE ONE SUMMIT' 'DIABETES TEAM' 'DIABETES CLINIC'
 'UTSouthwestern Medical Center' 'Maple Grove M Health' 'JDRF Lecture'
 'CBS home kit' 'Bay Area Endo' 'own GP - postal sample'
 'Capillary Blood Sample Pilot' 'Daibetes Conference' 'AFFILIATE SITE'
 'CWD Focus on Technology' "PARTICIPANT'S HOME" 'ymca Naples'
 'Guardians office.  She is a physician' 'CCMC Core Lab xxxxxx'
 'at husbands place of work, MET Office' 'The Royal Oldham Hopsital'
 'Teddy Maria Ask' 'DHMC' 'camp' 'Riley Hospital, Indianapolis'
 'Dr. xxxxxx clinic' 'Meeting/Presentation'
 "daughter's clinic visit at Riley Hospital for Children" 'unknown'
 'Remote Home kit' 'Local lab' 'offsite lab' 'primary health clinic'
 'TEDDY Malmo ?sa' 'patients home' 'JDRF, consented but not screened'
 'JDRF Typ1 Summit' 'JDRF City of Hope Meeting' 'FESTIVAL'
 'Helena, MT Screening event' 'Symposium' 'Vermillion Medical Clinic'
 'own GP Surgery' 'klin chem clinic' 'Offisite' 'QUEST LAB'
 'T1D association meeting' 'Diabetes 101 Class--Legacy' 'Test Kit'
 "PI's office" 'Website' 'home vist' 'Petersen Automotive Event'
 'Total Family Care' 'Minnesota Medical Foundation' 'Chart center'
 '2016 JDRF Research Summit, Bethesda' 'Portland screening' 'Outreach'
 'Online Screening' 'remote' 'Doctors Surgery' 'Everett Event'
 'JDRF SUMMIT' 'Bike Tour' 'Home Capillary Kit'
 'GP surgery - postal blood' 'o' 'CDW Convention in Orlando, FL'
 'Home screen' 'Local' 'Travel Clinic' 'Salem Event' 'TMH'
 '2013 JDRF Research Summit in Bethesda MD' 'JRDR kick off picnic'
 '2016 CWD Falls Church VA' 'seen in clinic with patient'
 'MT Screening event' 'missoula event' 'Local Annual Diabetes Bootcamp'
 'Camp Pick-up' 'Missoula conference' 'LION CONF' 'at his place of work'
 'Type 1 event/reflections for local organization for type 1 kids'
 'capillary blood sample' '08'
 'Local Hospital - Phlebotomy out-patients dept ( Royal Hampshire County Hospital)'
 'JDRF CONFERENCE' 'ADA' 'Diabetes 101 Classroom' 'off' 'online'
 'primary helath care' 'Consents completed, no screening'
 'Capillary blood sampling']
OnlineScreeningReferralSource
[nan 11.0 3670.0 1265.0 '848' '11' '1265walgreens' 3168.0 3174.0 848.0
 '/11' '1265' "Advocate Children's Hospital" 8.0 16.0 1277.0 3428.0 2.0
 'University of Oklahoma' 3475.0 1326.0 10.0 5.0 '1002' '8' 3678.0 125.0
 1341.0 1002.0 6.0 143.0 3439.0 3437.0 '1326' 3483.0 '1277' '10' 4.0 182.0
 'WakeMed']
ScreeningSiteName
['Ponce School of Medicine' nan 'Diabetes Care Center' ...
 "The Chldren's Mercy Hospital" 'Kalispell Regional Med Ctr'
 'UTSW medical center']
Specimencollectionkitshipmentd
[nan '9/23/2020' '9/24/2020' '9/11/2019' '10/6/2020' '10/20/2020'
 '10/30/2019' '11/4/2020' '10/12/2020' '8/17/2010' '11/2/2020' '9/3/2020'
 '10/1/2020' '10/26/2020' '9/1/2020' '12/4/2019' '9/29/2020' '10/19/2020'
 '10/23/2020' '11/11/2020' '9/21/2020' '10/27/2020' '9/17/2020'
 '10/8/2020' '10/13/2020' '9/16/2020' '9/22/2020' '10/21/2020' '9/28/2020'
 '7/20/2016' '11/10/2020' '7/6/2006' '7/25/2017' '3/9/2015' '1/30/2017'

Date_of_Registration
[nan '03/31/2016' '03/17/2016' '04/14/2016' '05/02/2016' '12/06/2016'
 '04/11/2016' '12/15/2015' '08/04/2016' '08/12/2016' '04/20/2016'
 '05/23/2016' '06/29/2016' '10/14/2016' '05/06/2016' '07/15/2016'
 '12/23/2016' '07/14/2016' '08/01/2016' '01/11/2017' '07/06/2016'
 '08/17/2016' '11/11/2016' '07/21/2016' '04/13/2016' '07/22/2016'
 '06/24/2016' '12/21/2016' '05/11/2016' '10/24/2016' '06/14/2016'
 '08/03/2016' '10/18/2016' '01/05/2016' '07/11/2016' '05/31/2016'
 '12/19/2016' '11/04/2016' '08/19/2016' '06/21/2016' '12/12/2016'
 '05/13/2016' '09/28/2016' '06/06/2016' '08/09/2016' '05/12/2016'
 '10/05/2016' '06/17/2016' '09/13/2016' '05/10/2016' '09/19/2016'
 '04/25/2016' '12/20/2016' '03/25/2016' '05/17/2016' '04/27/2016'
 '05/04/2016' '04/21/2016' '12/16/2016' '07/05/2016' '12/22/2016'
 '09/06/2016' '09/12/2016' '04/07/2016' '04/06/2016' '09/14/2016'
 '01/31/2017' '01/03/2017' '12/28/2015' '12/13/2016' '05/25/2016'
 '06/09/2016' '06/05/2016' '10/17/2016' '06/02/2016' '07/07/2016'
 '06/20/2016' '07/26/2016' '06/23/2016' '09/23/2016' '01/27/2017'
 '11/20/2016' '10/26/2016' '08/30/2016' '12/27/2016' '11/22/2016'
 '05/20/2016' '02/17/2017' '12/15/2016' '07/27/2016']
DateOfRegistration
[nan '08/25/2015' '05/05/2016' '01/06/2016' '02/03/2016' '06/23/2016'
 '04/28/2015' '02/25/2016' '12/11/2015' '01/19/2016' '07/22/2015'
 '02/26/2016' '08/12/2015' '07/24/2015' '08/31/2015' '06/02/2015'
 '11/16/2015' '04/10/2015' '06/07/2016' '04/01/2016' '06/21/2016'
 '02/23/2016' '06/24/2015' '02/04/2015' '04/01/2015' '04/25/2016'
 '05/06/2015' '02/22/2016' '03/19/2015' '08/05/2015' '04/15/2016'
 '02/16/2015' '05/08/2015' '06/13/2016' '09/21/2015' '08/04/2015'
 '03/26/2015' '05/07/2015' '12/10/2015' '04/11/2016' '02/18/2016'
 '03/12/2015' '11/09/2015' '03/21/2016' '04/24/2015' '05/13/2015'
 '01/21/2015' '02/02/2015' '08/06/2015' '02/29/2016' '08/20/2015'
 '09/29/2015' '05/04/2015' '04/17/2015' '01/26/2016' '03/14/2016'
 '05/11/2015' '07/06/2016' '02/24/2016' '02/17/2016' '12/18/2015'
 '08/17/2015' '03/02/2015' '05/19/2015' '04/06/2016' '11/11/2015'
 '06/09/2016' '03/25/2016' '05/06/2016' '01/21/2016' '04/18/2016'
 '03/08/2016' '12/17/2014' '09/28/2015' '10/07/2015' '06/26/2015'
 '12/02/2015' '01/12/2015' '06/08/2016' '04/05/2016' '07/28/2015'
 '04/04/2015' '02/27/2015' '03/10/2016' '07/14/2015' '03/20/2015'
 '02/01/2016' '02/23/2015' '09/10/2015' '06/11/2015' '10/08/2015'
 '12/22/2015' '04/07/2016' '03/03/2015' '04/21/2015']
MedicationPackNumber1_1
[nan 'BC#3' 'BC#5' '7' '02' 'BC04' '03' '05' 'BC#4' 'BC#6' 'BC03' 3.0 4.0
 5.0 'BC#02' '06' '04' '07' '3' 'Oral Insulin Capsule 250mg BC 05'
 'Oral Insulin capsule 250mg Bottle no. 2' 2.0 6.0 '4' 'BC-03' 'BC-04'
 'BC-05' 'BC-02' 'BC-06' 'BC#03' '16B0082'
 'Oral Insulin Capsules 250g strength' '05 Insulin capsules 250mg' 'BC#2'
 'BC#05' 'BC 05' 'BC06' 'BC02' 'BC05' 1.0 '2' 'BC3' 'BC #02' 'BC#04' '5'
 'BC # 4' 'BC # 6' 'BC#:03' 'BC#:04' 7.0
 'Oral Insulin Capsule 250mg bottle 3'
 'Oral Insulin Capsules 250mg strength bottle 5' 'BC#01 (5 caps remained)'
 'BC#02 (14 caps remained)' 'BC#03 (20 caps remained)' '1' 'BC #3' 'BC 4'
 'BC 5' 'BC#06' 'Oral Insulin Capsule 67.5mg'
 '05/ Insulin oralcapsules 67.5mg' 'BC# 02' 'BC#03 (re-dispensed)'
 'BC# 04 (re-dispensed)' 'BC#: 03 (2 caps remained)'
 'BC#:04 (full - 4 caps) re-dispensed']
MedicationPackNumber2_1
[nan 'BC#4' 'BC#6' '2' 'BC05' '02' 'BC03' '06' 'BC#5' '03' 'BC04' 2.0 6.0
 'BC#03' '07' 'BC01' '05' '4' 'Oral Insulin Capsule 250mg BC 06' 3.0 5.0
 7.0 'BC-06' 'BC-03' 'BC-05' 'BC-07' 'BC #01  1 capsule'
 'BC#02 12 capsules' '16B0082' 'Oral Insulin Capsules 250mg strength'
 '06 Insulin capsules 250mg' 'BC#04' 'BC#06' 1.0 4.0 'BC07' 'BC06' '3'
 'BC4' 'BC #03' 'BC#05' '04' '6' 'BC # 5' 'BC # 7' 'BC#1' 'BC#:02'
 'Oral Insulin Capsule 250mg bottle 4'
 'Oral Insulin Capsules 250mg strength Bottle 6'
 'BC#02 (full BC - 35 caps)' 'BC#03 (full BC - 35 caps)'
 'BC#04 (full BC - 35 caps)' 'BC 6' 'BC#01'
 '06/ Insulin oral capsules 67.5mg' 'BC# 03' 'BC#05 (re-dispensed)'
 'BC#: 04 (full- 4 caps)' 'BC#:05 (full - 4 caps) re-dispensed']
MedicationPackNumber3_1
[nan 'BC06' 'BC02' '04' 'BC05' 3.0 4.0 'BC03' '05' '03'
 'Oral Insulin Capsule 250mg BC 2 07' 5.0 1.0 6.0 '16B0082'
 '07 Insulin capsules 250mg' 'BC#07' 2.0 'BC07' 'BC#03' '3- redispensed'
 7.0 'BC # 5' 'BC#2' 'BC#3' 'BC-03' 'BC-04'
 'Oral Insulin Capsule 250mg bottle 2'
 'Oral Insulin Capsules 250mg strength bottle 7'
 'BC#03 (full BC - 35 caps)' 'BC#04 (full BC - 35 caps'
 'BC#05 (full BC - 35 caps' '3' 'BC#02' 'BC#05' 'BC#06'
 'BC#:05 (full - 4 caps)' 'BC#:06 (full - 4 caps)' '07']
Spring2019ConsentDateDate
[NaT datetime.date(2019, 7, 22) datetime.date(2019, 6, 1)
 datetime.date(2019, 9, 17) datetime.date(2019, 7, 31)
 datetime.date(2019, 4, 9) datetime.date(2019, 9, 16)
 datetime.date(2020, 1, 27) datetime.date(2020, 4, 25)
 datetime.date(2020, 2, 10) datetime.date(2020, 6, 22)
 datetime.date(2020, 6, 16) datetime.date(2019, 10, 29)
 datetime.date(2020, 10, 9) datetime.date(2019, 5, 3)
 datetime.date(2019, 6, 19) datetime.date(2020, 1, 15)
 datetime.date(2019, 4, 13) datetime.date(2020, 3, 3)
 datetime.date(2020, 10, 27) datetime.date(2019, 9, 11)
 datetime.date(2020, 6, 2) datetime.date(2019, 10, 28)
 datetime.date(2019, 10, 22) datetime.date(2020, 5, 15)
 datetime.date(2019, 11, 26) datetime.date(2020, 11, 7)
 datetime.date(2019, 6, 26) datetime.date(2019, 8, 16)
 datetime.date(2019, 10, 9) datetime.date(2020, 2, 22)
 datetime.date(2019, 9, 15) datetime.date(2019, 9, 29)
 datetime.date(2019, 8, 30) datetime.date(2020, 3, 11)
 datetime.date(2019, 12, 19) datetime.date(2019, 9, 8)
 datetime.date(2019, 7, 26) datetime.date(2019, 8, 25)
 datetime.date(2019, 5, 2) datetime.date(2020, 10, 20)
 datetime.date(2020, 10, 4) datetime.date(2019, 12, 17)
 datetime.date(2019, 12, 30) datetime.date(2019, 4, 24)
 datetime.date(2020, 10, 25) datetime.date(2020, 10, 30)
 datetime.date(2020, 11, 10) datetime.date(2020, 6, 5)
 datetime.date(2019, 11, 17) datetime.date(2020, 1, 1)
 datetime.date(2019, 8, 26) datetime.date(2020, 5, 20)
 datetime.date(2019, 5, 18) datetime.date(2019, 7, 30)
 datetime.date(2019, 11, 27) datetime.date(2019, 6, 27)
 datetime.date(2020, 7, 12) datetime.date(2020, 6, 15)
 datetime.date(2019, 5, 11) datetime.date(2020, 11, 6)
 datetime.date(2019, 9, 5) datetime.date(2019, 6, 28)
 datetime.date(2020, 1, 18) datetime.date(2020, 10, 28)
 datetime.date(2020, 1, 16) datetime.date(2020, 10, 2)
 datetime.date(2020, 9, 18) datetime.date(2019, 8, 9)
 datetime.date(2020, 4, 22) datetime.date(2019, 8, 5)
 datetime.date(2019, 10, 24) datetime.date(2020, 3, 4)
 datetime.date(2019, 10, 4) datetime.date(2019, 6, 25)
 datetime.date(2020, 4, 26) datetime.date(2020, 2, 27)
 datetime.date(2020, 9, 25) datetime.date(2020, 10, 7)
 datetime.date(2019, 12, 3) datetime.date(2019, 10, 10)
 datetime.date(2020, 9, 14) datetime.date(2020, 4, 27)
 datetime.date(2020, 11, 5) datetime.date(2020, 8, 10)
 datetime.date(2020, 1, 24) datetime.date(2019, 9, 27)
 datetime.date(2019, 6, 24) datetime.date(2019, 4, 12)
 datetime.date(2020, 1, 21) datetime.date(2019, 9, 30)
 datetime.date(2019, 11, 21) datetime.date(2019, 5, 22)
 datetime.date(2019, 6, 5) datetime.date(2020, 1, 10)
 datetime.date(2019, 10, 12) datetime.date(2019, 7, 19)
 datetime.date(2020, 5, 29) datetime.date(2019, 10, 14)
 datetime.date(2020, 9, 1) datetime.date(2020, 11, 12)
 datetime.date(2019, 11, 7) datetime.date(2019, 4, 29)
 datetime.date(2020, 1, 7) datetime.date(2020, 11, 18)
 datetime.date(2019, 8, 28) datetime.date(2020, 6, 6)
 datetime.date(2019, 5, 15) datetime.date(2020, 5, 21)
 datetime.date(2019, 6, 9) datetime.date(2020, 11, 22)
 datetime.date(2019, 7, 10) datetime.date(2019, 7, 16)
 datetime.date(2020, 7, 1) datetime.date(2019, 8, 4)
 datetime.date(2020, 7, 14) datetime.date(2019, 9, 19)
 datetime.date(2020, 5, 1) datetime.date(2019, 9, 24)
 datetime.date(2020, 11, 23) datetime.date(2019, 6, 21)
 datetime.date(2019, 6, 14) datetime.date(2020, 8, 3)
 datetime.date(2019, 9, 12) datetime.date(2019, 7, 8)
 datetime.date(2019, 10, 1) datetime.date(2019, 8, 20)
 datetime.date(2020, 1, 20) datetime.date(2019, 8, 7)
 datetime.date(2019, 4, 10) datetime.date(2020, 1, 23)
 datetime.date(2020, 11, 11) datetime.date(2019, 6, 10)
 datetime.date(2019, 6, 20) datetime.date(2019, 8, 12)
 datetime.date(2019, 4, 30) datetime.date(2019, 12, 4)
 datetime.date(2020, 2, 20) datetime.date(2020, 1, 17)
 datetime.date(2019, 4, 14) datetime.date(2020, 2, 17)
 datetime.date(2019, 5, 6) datetime.date(2020, 8, 25)
 datetime.date(2019, 7, 28) datetime.date(2019, 4, 16)
 datetime.date(2020, 3, 2) datetime.date(2019, 7, 23)
 datetime.date(2019, 10, 6) datetime.date(2020, 6, 3)
 datetime.date(2019, 12, 11) datetime.date(2019, 10, 25)
 datetime.date(2020, 3, 22) datetime.date(2020, 1, 9)
 datetime.date(2019, 8, 11) datetime.date(2019, 12, 10)
 datetime.date(2019, 8, 27) datetime.date(2019, 12, 1)
 datetime.date(2020, 1, 30) datetime.date(2019, 9, 6)
 datetime.date(2020, 7, 22) datetime.date(2020, 1, 13)
 datetime.date(2019, 9, 21) datetime.date(2020, 2, 24)
 datetime.date(2020, 2, 7) datetime.date(2019, 11, 1)
 datetime.date(2020, 7, 15) datetime.date(2019, 11, 29)
 datetime.date(2019, 9, 13) datetime.date(2020, 5, 27)
 datetime.date(2019, 4, 18) datetime.date(2019, 10, 5)
 datetime.date(2020, 9, 11) datetime.date(2020, 6, 26)
 datetime.date(2020, 10, 17) datetime.date(2019, 7, 21)
 datetime.date(2020, 10, 15) datetime.date(2019, 9, 7)
 datetime.date(2020, 10, 8) datetime.date(2019, 6, 3)
 datetime.date(2020, 8, 6) datetime.date(2019, 7, 6)
 datetime.date(2020, 10, 22) datetime.date(2019, 9, 28)
 datetime.date(2020, 8, 19) datetime.date(2019, 5, 31)
 datetime.date(2019, 10, 21) datetime.date(2020, 8, 2)
 datetime.date(2020, 9, 17) datetime.date(2020, 10, 1)
 datetime.date(2020, 10, 5) datetime.date(2019, 7, 17)
 datetime.date(2019, 6, 7) datetime.date(2020, 7, 18)
 datetime.date(2020, 2, 6) datetime.date(2020, 5, 4)
 datetime.date(2019, 11, 11) datetime.date(2020, 1, 2)
 datetime.date(2019, 12, 5) datetime.date(2020, 2, 12)
 datetime.date(2020, 11, 3) datetime.date(2019, 9, 25)
 datetime.date(2020, 10, 19) datetime.date(2019, 9, 4)
 datetime.date(2020, 1, 28) datetime.date(2019, 11, 2)
 datetime.date(2020, 1, 11) datetime.date(2020, 5, 28)
 datetime.date(2019, 10, 7) datetime.date(2019, 5, 29)
 datetime.date(2019, 9, 22) datetime.date(2019, 10, 13)
 datetime.date(2020, 2, 1) datetime.date(2020, 8, 17)
 datetime.date(2019, 4, 21) datetime.date(2020, 5, 23)
 datetime.date(2020, 1, 29) datetime.date(2020, 1, 19)
 datetime.date(2019, 8, 3) datetime.date(2020, 9, 15)
 datetime.date(2019, 8, 1) datetime.date(2020, 2, 26)
 datetime.date(2019, 8, 2) datetime.date(2019, 10, 18)
 datetime.date(2019, 10, 20) datetime.date(2019, 10, 31)
 datetime.date(2019, 8, 21) datetime.date(2020, 6, 18)
 datetime.date(2019, 11, 6) datetime.date(2019, 12, 18)
 datetime.date(2020, 3, 10) datetime.date(2020, 4, 15)
 datetime.date(2019, 8, 22) datetime.date(2020, 11, 4)
 datetime.date(2020, 6, 17) datetime.date(2019, 12, 27)
 datetime.date(2020, 9, 7) datetime.date(2020, 9, 6)
 datetime.date(2019, 6, 29) datetime.date(2019, 12, 16)
 datetime.date(2020, 11, 17) datetime.date(2019, 5, 16)
 datetime.date(2020, 7, 9) datetime.date(2019, 11, 25)
 datetime.date(2020, 10, 14) datetime.date(2019, 11, 13)
 datetime.date(2019, 2, 22) datetime.date(2020, 7, 8)
 datetime.date(2019, 5, 7) datetime.date(2020, 6, 1)
 datetime.date(2020, 6, 28) datetime.date(2019, 7, 14)
 datetime.date(2019, 11, 14) datetime.date(2019, 12, 26)
 datetime.date(2019, 12, 2) datetime.date(2020, 3, 8)
 datetime.date(2020, 11, 16) datetime.date(2020, 8, 11)
 datetime.date(2019, 10, 16) datetime.date(2019, 9, 1)
 datetime.date(2019, 12, 22) datetime.date(2019, 9, 26)
 datetime.date(2019, 5, 4) datetime.date(2019, 10, 23)
 datetime.date(2019, 9, 10) datetime.date(2020, 4, 28)
 datetime.date(2019, 10, 15) datetime.date(2019, 6, 13)
 datetime.date(2020, 5, 30) datetime.date(2020, 9, 8)
 datetime.date(2020, 6, 9) datetime.date(2019, 6, 4)
 datetime.date(2019, 7, 9) datetime.date(2020, 3, 17)
 datetime.date(2020, 7, 16) datetime.date(2019, 6, 18)
 datetime.date(2020, 10, 21) datetime.date(2019, 9, 23)
 datetime.date(2020, 9, 16) datetime.date(2020, 6, 14)
 datetime.date(2020, 8, 4) datetime.date(2020, 5, 10)
 datetime.date(2020, 7, 21) datetime.date(2019, 7, 25)
 datetime.date(2020, 11, 20) datetime.date(2020, 3, 7)
 datetime.date(2020, 1, 6) datetime.date(2019, 7, 27)
 datetime.date(2020, 6, 12) datetime.date(2019, 4, 23)
 datetime.date(2019, 12, 15) datetime.date(2020, 7, 4)
 datetime.date(2019, 5, 1) datetime.date(2020, 9, 20)
 datetime.date(2020, 3, 26) datetime.date(2020, 7, 13)
 datetime.date(2019, 7, 7) datetime.date(2020, 6, 30)
 datetime.date(2020, 6, 8) datetime.date(2020, 5, 25)
 datetime.date(2019, 8, 6) datetime.date(2020, 6, 4)
 datetime.date(2020, 5, 2) datetime.date(2019, 7, 12)
 datetime.date(2019, 7, 1) datetime.date(2020, 9, 4)
 datetime.date(2020, 2, 11) datetime.date(2020, 5, 11)
 datetime.date(2020, 2, 19) datetime.date(2020, 10, 26)
 datetime.date(2019, 12, 12) datetime.date(2020, 7, 26)
 datetime.date(2019, 6, 23) datetime.date(2019, 5, 24)
 datetime.date(2019, 5, 19) datetime.date(2019, 6, 15)
 datetime.date(2019, 9, 20) datetime.date(2019, 6, 17)
 datetime.date(2020, 7, 31) datetime.date(2019, 5, 28)
 datetime.date(2019, 8, 18) datetime.date(2019, 10, 27)
 datetime.date(2019, 8, 23) datetime.date(2020, 7, 7)
 datetime.date(2020, 11, 19) datetime.date(2019, 8, 19)
 datetime.date(2019, 5, 25) datetime.date(2020, 9, 26)
 datetime.date(2019, 9, 9) datetime.date(2020, 8, 27)
 datetime.date(2019, 12, 20) datetime.date(2019, 7, 5)
 datetime.date(2019, 11, 5) datetime.date(2020, 11, 9)
 datetime.date(2020, 1, 22) datetime.date(2019, 7, 2)
 datetime.date(2020, 3, 12) datetime.date(2019, 8, 15)
 datetime.date(2020, 3, 6) datetime.date(2019, 5, 27)
 datetime.date(2020, 8, 24) datetime.date(2020, 10, 6)
 datetime.date(2019, 10, 3) datetime.date(2019, 9, 2)
 datetime.date(2020, 2, 15) datetime.date(2019, 4, 11)
 datetime.date(2020, 5, 19) datetime.date(2019, 11, 15)
 datetime.date(2020, 5, 18) datetime.date(2020, 11, 2)
 datetime.date(2019, 5, 23) datetime.date(2020, 9, 2)
 datetime.date(2020, 7, 30) datetime.date(2020, 10, 11)
 datetime.date(2020, 8, 5) datetime.date(2020, 3, 9)
 datetime.date(2020, 4, 10) datetime.date(2019, 9, 18)
 datetime.date(2020, 11, 21) datetime.date(2019, 5, 17)
 datetime.date(2019, 4, 6) datetime.date(2020, 11, 25)
 datetime.date(2020, 10, 24) datetime.date(2020, 5, 6)
 datetime.date(2020, 2, 18) datetime.date(2020, 2, 4)
 datetime.date(2019, 8, 13) datetime.date(2020, 4, 24)
 datetime.date(2020, 5, 24) datetime.date(2019, 10, 17)
 datetime.date(2019, 5, 13) datetime.date(2019, 11, 22)
 datetime.date(2019, 11, 12) datetime.date(2019, 11, 19)
 datetime.date(2019, 12, 9) datetime.date(2020, 1, 8)
 datetime.date(2020, 7, 23) datetime.date(2019, 11, 20)
 datetime.date(2019, 8, 14) datetime.date(2019, 7, 29)
 datetime.date(2020, 7, 3) datetime.date(2019, 11, 9)
 datetime.date(2020, 10, 12) datetime.date(2019, 5, 8)
 datetime.date(2020, 11, 24) datetime.date(2019, 11, 3)
 datetime.date(2020, 10, 3) datetime.date(2020, 2, 28)
 datetime.date(2020, 9, 22) datetime.date(2020, 2, 5)
 datetime.date(2020, 4, 30) datetime.date(2019, 12, 23)
 datetime.date(2020, 1, 25) datetime.date(2020, 6, 19)
 datetime.date(2020, 3, 5) datetime.date(2020, 4, 21)
 datetime.date(2019, 4, 25) datetime.date(2019, 4, 28)
 datetime.date(2020, 4, 17) datetime.date(2020, 8, 14)
 datetime.date(2020, 3, 1) datetime.date(2020, 3, 25)
 datetime.date(2019, 5, 9) datetime.date(2020, 7, 28)
 datetime.date(2020, 9, 28) datetime.date(2019, 11, 28)
 datetime.date(2020, 11, 28) datetime.date(2019, 5, 30)
 datetime.date(2020, 6, 21) datetime.date(2019, 6, 11)
 datetime.date(2019, 6, 22) datetime.date(2019, 11, 16)
 datetime.date(2020, 4, 7) datetime.date(2020, 5, 5)
 datetime.date(2020, 8, 29) datetime.date(2019, 12, 13)
 datetime.date(2020, 7, 10) datetime.date(2020, 8, 15)
 datetime.date(2020, 4, 11) datetime.date(2020, 4, 8)
 datetime.date(2020, 11, 14) datetime.date(2020, 2, 13)
 datetime.date(2020, 4, 29) datetime.date(2020, 8, 18)
 datetime.date(2020, 5, 7) datetime.date(2020, 1, 26)
 datetime.date(2020, 9, 21) datetime.date(2019, 10, 26)
 datetime.date(2020, 9, 5) datetime.date(2020, 9, 23)
 datetime.date(2019, 11, 18) datetime.date(2019, 6, 2)
 datetime.date(2020, 8, 28) datetime.date(2020, 9, 13)
 datetime.date(2019, 7, 20) datetime.date(2019, 8, 29)
 datetime.date(2020, 9, 10) datetime.date(2019, 8, 10)
 datetime.date(2019, 7, 15) datetime.date(2020, 8, 26)
 datetime.date(2020, 2, 8) datetime.date(2019, 4, 27)
 datetime.date(2019, 10, 11) datetime.date(2020, 10, 29)
 datetime.date(2020, 7, 24) datetime.date(2019, 4, 19)
 datetime.date(2020, 4, 23) datetime.date(2020, 4, 1)
 datetime.date(2020, 8, 1) datetime.date(2020, 5, 3)
 datetime.date(2019, 7, 11) datetime.date(2020, 7, 29)
 datetime.date(2020, 9, 30) datetime.date(2020, 1, 4)
 datetime.date(2019, 10, 8) datetime.date(2020, 5, 12)
 datetime.date(2019, 6, 16) datetime.date(2019, 6, 30)
 datetime.date(2019, 7, 3) datetime.date(2020, 7, 19)
 datetime.date(2020, 6, 10) datetime.date(2020, 7, 6)
 datetime.date(2019, 7, 18) datetime.date(2020, 11, 30)
 datetime.date(2019, 12, 31) datetime.date(2020, 4, 2)
 datetime.date(2020, 6, 24) datetime.date(2020, 11, 27)
 datetime.date(2019, 5, 21) datetime.date(2019, 9, 14)
 datetime.date(2020, 6, 29) datetime.date(2020, 10, 16)
 datetime.date(2020, 3, 15) datetime.date(2020, 10, 10)
 datetime.date(2020, 6, 11) datetime.date(2020, 11, 29)
 datetime.date(2020, 8, 16) datetime.date(2019, 10, 30)
 datetime.date(2019, 7, 24) datetime.date(2019, 10, 2)
 datetime.date(2020, 2, 14) datetime.date(2020, 9, 29)
 datetime.date(2019, 4, 1) datetime.date(2019, 8, 8)
 datetime.date(2019, 4, 8) datetime.date(2020, 6, 20)
 datetime.date(2020, 8, 20) datetime.date(2020, 9, 3)
 datetime.date(2020, 5, 14) datetime.date(2019, 4, 26)
 datetime.date(2020, 8, 8) datetime.date(2019, 12, 28)
 datetime.date(2020, 3, 27) datetime.date(2020, 5, 22)
 datetime.date(2020, 2, 21) datetime.date(2019, 4, 17)
 datetime.date(2020, 8, 23) datetime.date(2019, 9, 3)
 datetime.date(2020, 7, 17) datetime.date(2019, 6, 12)
 datetime.date(2020, 9, 24) datetime.date(2020, 2, 3)
 datetime.date(2019, 2, 26) datetime.date(2020, 5, 8)
 datetime.date(2020, 8, 30) datetime.date(2020, 1, 14)
 datetime.date(2020, 4, 13) datetime.date(2019, 7, 4)
 datetime.date(2019, 11, 8) datetime.date(2020, 2, 25)
 datetime.date(2020, 8, 22) datetime.date(2020, 10, 18)
 datetime.date(2020, 10, 23) datetime.date(2019, 5, 20)
 datetime.date(2020, 2, 23) datetime.date(2019, 5, 26)
 datetime.date(2020, 6, 23) datetime.date(2019, 7, 13)
 datetime.date(2019, 3, 6) datetime.date(2020, 9, 12)
 datetime.date(2020, 8, 13) datetime.date(2020, 1, 12)
 datetime.date(2019, 11, 24) datetime.date(2019, 10, 19)
 datetime.date(2020, 8, 7) datetime.date(2020, 11, 8)
 datetime.date(2020, 1, 31) datetime.date(2019, 4, 15)
 datetime.date(2019, 8, 17) datetime.date(2019, 11, 30)
 datetime.date(2020, 9, 9) datetime.date(2020, 2, 16)
 datetime.date(2020, 11, 13) datetime.date(2019, 6, 8)
 datetime.date(2020, 5, 13) datetime.date(2020, 10, 31)
 datetime.date(2020, 8, 31) datetime.date(2020, 3, 28)
 datetime.date(2019, 11, 10) datetime.date(2020, 7, 11)
 datetime.date(2020, 5, 26) datetime.date(2020, 4, 9)
 datetime.date(2020, 8, 21) datetime.date(2019, 12, 21)
 datetime.date(2019, 5, 14) datetime.date(2020, 6, 25)
 datetime.date(2020, 4, 18) datetime.date(2020, 7, 25)
 datetime.date(2019, 5, 10) datetime.date(2019, 11, 23)
 datetime.date(2019, 12, 24) datetime.date(2019, 11, 4)
 datetime.date(2020, 7, 20) datetime.date(2020, 4, 20)
 datetime.date(2020, 7, 5) datetime.date(2020, 4, 14)
 datetime.date(2020, 8, 12) datetime.date(2020, 1, 3)
 datetime.date(2020, 10, 13) datetime.date(2019, 12, 25)

BirthDate
['May 1987' 'Sep 1994' 'Aug 1970' 'Jan 2009' 'Sep 1982' 'Sep 2000'
 'Oct 1997' 'Jul 1989' 'Jul 1961' 'Nov 1990' 'May 1963' 'Jun 1971'
 'Jul 2012' 'Jul 1981' 'Jul 1978' 'Sep 1973' 'Jul 1977' 'Feb 2005'
 'Dec 1969' 'May 1981' 'Mar 2000' 'Aug 1985' 'Dec 2010' 'Aug 1999'
 'Mar 1968' 'Jun 2007' 'Jun 1999' 'Aug 2004' 'Jun 2008' 'Jan 1994'
 'Apr 1966' 'Sep 1967' 'Jan 2000' 'Oct 1975' 'Nov 1995' 'Nov 1988'
 'May 2010' 'Oct 1993' 'Oct 2001' 'Mar 2011' 'Jan 1986' 'Nov 2000'
 'May 1997' nan 'Sep 2007' 'May 1985' 'Feb 1964' 'Jul 2007' 'Dec 2006'
 'Feb 1992' 'Jan 2002' 'Sep 2006' 'Jul 1972' 'Jan 2004' 'Oct 2002'
 'Dec 1976' 'Jan 2015' 'Aug 2005' 'May 2008' 'May 1989' 'Feb 2003'
 'Jul 2006' 'Dec 2015' 'Jan 1982' 'Apr 1989' 'Oct 2013' 'Mar 2004'
 'Nov 1976' 'Feb 1978' 'Oct 1971' 'Mar 2001' 'Sep 1974' 'Aug 1996'
 'Oct 1989' 'Dec 1990' 'Jan 1997' 'Oct 2009' 'Sep 1985' 'Dec 1970'
 'Aug 1982' 'Dec 1995' 'Sep 1970' 'Mar 1986' 'May 1975' 'Nov 2006'
 'Apr 2000' 'Aug 1969' 'Oct 1992' 'Apr 1998' 'Jan 2006' 'Jan 1999'
 'Mar 1981' 'Dec 1994' 'Jul 1991' 'Jul 2000' 'Mar 1980' 'Sep 1999'
 'Jun 1967' 'Feb 1986' 'Apr 2007' 'Jun 2000' 'Jan 1971' 'May 1993'
 'Apr 2004' 'Aug 2000' 'Dec 2008' 'Jan 1978' 'Jan 1967' 'Jun 1987'
 'May 2007' 'Jun 1993' 'Sep 1997' 'Apr 1994' 'Nov 2007' 'Dec 2007'
 'Jul 1988' 'May 2013' 'Apr 2006' 'Sep 1975' 'Sep 1966' 'Feb 2009'
 'Jun 2004' 'Mar 1973' 'Oct 2008' 'May 2001' 'Jul 1999' 'Oct 2007'
 'Mar 2006' 'Nov 2008' 'Dec 1964' 'Sep 2003' 'Nov 1999' 'Sep 1971'
 'Jun 1970' 'May 1977' 'Apr 1995' 'Oct 2003' 'Oct 1995' 'Feb 2007'
 'Nov 1964' 'Jan 2010' 'Nov 2005' 'Jun 1975' 'Nov 1984' 'Apr 1978'
 'Jan 1984' 'Jan 2011' 'Apr 2009' 'Aug 1979' 'Jan 1989' 'Jul 1980'
 'Jan 2001' 'Aug 1994' 'Oct 1974' 'Dec 1998' 'Jan 2014' 'Feb 1991'
 'Sep 2009' 'Jun 2006' 'Nov 1972' 'Mar 2010' 'Feb 1995' 'Jan 1992'
 'Jun 1997' 'Feb 1983' 'May 1969' 'May 2003' 'Mar 1998' 'Sep 1978'
 'Aug 1988' 'Dec 2016' 'Mar 2012' 'Jun 1976' 'Apr 1976' 'Dec 2000'
 'Jul 1976' 'May 2009' 'Jun 1995' 'Aug 2001' 'Nov 1986' 'Jun 2009'
 'Nov 2009' 'May 1999' 'Jan 1972' 'Oct 1999' 'Jan 1993' 'Oct 2004'
 'May 1995' 'May 1978' 'Feb 1973' 'Mar 1994' 'Jun 1984' 'Feb 1985'
 'Sep 2011' 'Mar 1972' 'Nov 1969' 'Apr 1981' 'Jun 2012' 'Apr 1970'
 'Jul 2013' 'Jul 2004' 'Apr 2008' 'Feb 1984' 'Apr 1974' 'Oct 1968'
 'Dec 1981' 'Dec 1962' 'Jun 1968' 'Aug 1974' 'Aug 1995' 'Apr 1986'
 'Oct 2012' 'Oct 1978' 'Aug 2015' 'Feb 1994' 'Nov 2010' 'Dec 1988'
 'May 1967' 'Sep 2005' 'Mar 2007' 'Sep 1968' 'Sep 1969' 'Jul 1996'
 'May 1962' 'Nov 1991' 'Dec 1987' 'Jan 1975' 'Dec 1991' 'Sep 1962'
 'Nov 1982' 'May 2005' 'Feb 2002' 'Jan 1965' 'Jul 1993' 'Feb 1975'
 'Jul 2010' 'Sep 1990' 'Dec 2005' 'Jul 1990' 'Mar 2009' 'Aug 2008'
 'Dec 1973' 'Dec 2004' 'Oct 2014' 'Oct 1973' 'Jun 2001' 'Apr 1971'
 'Aug 1976' 'May 1998' 'Jul 1971' 'Jul 1992' 'Aug 1984' 'Mar 1985'
 'Apr 1980' 'Nov 1978' 'Dec 2014' 'May 2006' 'Nov 1998' 'Aug 2011'
 'Jul 2003' 'Feb 1993' 'Sep 1981' 'Jan 1991' 'Oct 2000' 'Nov 2002'
 'Nov 1979' 'Apr 2012' 'Feb 1990' 'Aug 2010' 'Feb 1977' 'Mar 1971'
 'Jun 2003' 'Feb 1974' 'Jun 2013' 'Aug 2013' 'May 1973' 'Feb 2001'
 'Nov 1965' 'Mar 1978' 'Oct 1996' 'Jul 1997' 'Jan 2007' 'Jun 1990'
 'Feb 1971' 'Mar 1996' 'Jul 2005' 'Aug 2009' 'Mar 1999' 'Aug 1998'
 'Feb 1982' 'Oct 2010' 'May 1976' 'Jan 1970' 'Apr 1965' 'Jan 1961'
 'Apr 1979' 'Mar 1964' 'Oct 1982' 'Feb 1972' 'Sep 1983' 'Apr 2015'
 'Dec 1985' 'Dec 2003' 'Jan 1976' 'Mar 1976' 'Apr 1985' 'Sep 1965'
 'Sep 1993' 'Jun 1978' 'May 2004' 'Dec 2013' 'Jul 2009' 'Mar 2013'
 'Apr 1967' 'Nov 1968' 'Feb 2017' 'Mar 1977' 'Aug 2006' 'Jul 1986'
 'Apr 1984' 'Nov 1987' 'Nov 1993' 'Sep 1998' 'Jan 1963' 'Jun 1992'
 'Mar 1992' 'May 2012' 'Jul 1967' 'May 1994' 'Jul 1983' 'Dec 1989'
 'Jun 1973' 'Oct 1967' 'Mar 1983' 'Feb 1996' 'Feb 1968' 'Apr 1993'
 'Mar 2008' 'Sep 2016' 'Feb 1963' 'Dec 1965' 'Jan 1973' 'Apr 2016'
 'Aug 1967' 'Mar 2002' 'Jul 2001' 'Dec 1971' 'Dec 2001' 'Feb 1997'
 'Feb 1980' 'Jan 2013' 'Apr 1996' 'May 1974' 'Sep 2008' 'Jul 1966'
 'Jun 2002' 'Sep 1976' 'Aug 2003' 'Jan 1990' 'May 2000' 'Dec 1972'
 'Jul 2014' 'Apr 1987' 'Sep 1964' 'Mar 2014' 'Apr 1973' 'Oct 1994'
 'Oct 1985' 'Jul 1970' 'Dec 2012' 'Jul 1985' 'Nov 2011' 'Nov 1974'
 'Oct 2015' 'Aug 2007' 'Apr 1968' 'Jul 1982' 'Apr 2003' 'Aug 1965'
 'Dec 1992' 'Apr 1992' 'Dec 1984' 'Dec 1982' 'Sep 2014' 'Sep 1980'
 'Mar 2003' 'Jul 2002' 'Sep 1987' 'Jun 1986' 'Nov 1963' 'Apr 2002'
 'Jul 1975' 'Apr 1962' 'Nov 1966' 'Feb 2000' 'Mar 1993' 'Jul 2011'
 'Apr 1977' 'May 1991' 'Oct 1983' 'Jul 2008' 'Jun 2011' 'Jan 2008'
 'Jun 2010' 'Jan 1966' 'Oct 1964' 'Nov 2001' 'Feb 2014' 'Apr 2001'
 'Nov 1973' 'Dec 1974' 'Nov 2013' 'Dec 2002' 'Apr 1961' 'Jun 2016'
 'Mar 1989' 'Sep 2002' 'Feb 1970' 'Jan 1995' 'Apr 1972' 'Oct 1980'
 'Oct 1998' 'Dec 2011' 'Jan 2005' 'May 1968' 'Feb 2004' 'Jul 1979'
 'Jun 1977' 'Dec 1968' 'Sep 1996' 'Oct 2006' 'Mar 1991' 'Jun 2014'
 'Jun 1994' 'Jun 1964' 'Nov 2003' 'Jun 1980' 'Jun 1974' 'Sep 1972'
 'May 1988' 'Apr 2005' 'Aug 2014' 'Sep 1995' 'Aug 1990' 'Oct 1979'
 'Jun 1989' 'May 1979' 'Jul 1995' 'Mar 1995' 'Dec 1963' 'Jul 2017'
 'Mar 1982' 'Sep 2012' 'Nov 2016' 'Apr 1999' 'Sep 1992' 'Mar 1974'
 'Aug 1981' 'Jul 1987' 'Nov 1977' 'Aug 1987' 'Jun 2005' 'Nov 1997'
 'Sep 2001' 'Dec 1975' 'Oct 2005' 'Jun 1981' 'Jan 1968' 'May 1990'
 'Jun 1966' 'Mar 1979' 'Apr 1983' 'Jun 1963' 'Jan 2003' 'Jun 1996'
 'Aug 1975' 'Feb 2008' 'Jan 1980' 'Aug 1983' 'May 1983' 'Sep 1984'
 'Jun 1982' 'Oct 1981' 'Feb 2016' 'Sep 1961' 'Oct 1963' 'Aug 1978'
 'Jul 1994' 'May 1972' 'Jul 1963' 'Jan 1962' 'Aug 2002' 'Oct 2011'
 'May 1970' 'Sep 1979' 'Jan 1979' 'Dec 1999' 'Jul 1968' 'Jun 1983'
 'Apr 2014' 'May 2011' 'Feb 2006' 'Jul 1998' 'Dec 1986' 'Aug 1997'
 'Mar 1963' 'Nov 2015' 'Aug 1973' 'Jan 1974' 'Aug 1980' 'Mar 2005'
 'Aug 2012' 'Jan 1987' 'Mar 2015' 'Jan 1969' 'Apr 2011' 'Feb 1998'
 'Oct 1988' 'May 2015' 'Nov 2012' 'Dec 1977' 'Dec 1996' 'Jun 1961'
 'Nov 1975' 'Jul 1973' 'Sep 1977' 'Jun 1985' 'Apr 2013' 'Feb 2011'
 'May 2016' 'Sep 2010' 'Nov 1996' 'Jun 2017' 'Sep 1989' 'Aug 1972'
 'Sep 1960' 'May 1986' 'Apr 1969' 'May 1966' 'Dec 1980' 'Nov 2004'
 'Aug 2016' 'Nov 1967' 'Oct 2016' 'Mar 1969' 'Aug 1966' 'Jan 1977'
 'Feb 1979' 'May 2002' 'Jul 1984' 'Jan 1998' 'Apr 1964' 'Aug 1977'
 'Aug 1993' 'Jun 1972' 'Apr 1975' 'Sep 2004' 'Jun 1998' 'Feb 1999'
 'Oct 1984' 'Dec 1997' 'Mar 1975' 'Apr 1991' 'Aug 1968' 'Oct 1986'
 'Jun 1979' 'Jan 1981' 'Jun 2015' 'Oct 1970' 'Jul 2016' 'Mar 1966'
 'Jan 2016' 'May 1964' 'Mar 1965' 'Jun 1991' 'Jul 1974' 'May 1992'
 'Nov 2014' 'Jul 2015' 'Jan 2012' 'Mar 1997' 'Jun 1960' 'Oct 1976'
 'Dec 1967' 'Oct 1972' 'Jul 1964' 'Nov 1981' 'Mar 1984' 'May 1984'
 'Jan 1996' 'Nov 1970' 'Jul 1969' 'Mar 1962' 'Aug 1971' 'Aug 1963'
 'Feb 1967' 'Feb 2010' 'May 2014' 'Feb 1987' 'Aug 1992' 'May 1996'
 'Nov 1994' 'Nov 1961' 'Dec 1993' 'Feb 1981' 'Dec 1978' 'Sep 1986'
 'Jan 1985' 'Apr 1997' 'Aug 1964' 'Jul 1960' 'Dec 1983' 'May 1965'
 'Apr 1982' 'Sep 2013' 'Dec 2009' 'Nov 2017' 'Sep 1988' 'Oct 1969'
 'Mar 1988' 'Nov 1980' 'Sep 2015' 'Oct 1965' 'Dec 1979' 'Feb 1976'
 'Feb 1988' 'May 1982' 'Oct 1956' 'May 1971' 'Apr 1963' 'Feb 1966'
 'Jan 1988' 'Apr 2017' 'Feb 1965' 'Feb 2012' 'Nov 1962' 'Dec 1966'
 'Aug 1989' 'Nov 1983' 'Oct 1961' 'Apr 2010' 'Apr 1990' 'Jan 2018'
 'Nov 1989' 'Aug 2017' 'Sep 1963' 'Jun 1955' 'Oct 1966' 'May 1980'
 'Jun 1969' 'Oct 1987' 'Feb 1969' 'Feb 2013' 'Jun 1988' 'Apr 1988'
 'Jul 1965' 'May 2017' 'Nov 1992' 'Mar 2017' 'Aug 1960' 'Mar 1990'
 'Jan 1983' 'Mar 1987' 'Oct 1977' 'Oct 1990' 'Oct 1991' 'Jul 1962'
 'Dec 1959' 'Jun 1965' 'Mar 2016' 'Nov 1971' 'Feb 2015' 'Aug 1991'
 'Sep 1991' 'May 1961' 'Dec 1961' 'Mar 1960' 'Mar 1961' 'Jan 1964'
 'Nov 1985' 'Oct 1962' 'Aug 1986' 'Mar 1970' 'Apr 2018' 'Mar 1967'
 'Jun 1962' 'Aug 1961' 'Feb 2018' 'Oct 1960' 'Feb 1989' 'Sep 2017'
 'Sep 1959' 'Dec 2017' 'Jan 2017' 'Apr 1960' 'Mar 1959' 'Jan 1959'
 'Oct 2017' 'Nov 1960' 'Oct 1959' 'Dec 1960' 'Aug 1962' 'Aug 1958'
 'Feb 1962' 'Mar 2018' 'Feb 1961' 'Jan 1960' 'May 1959' 'Nov 1954'
 'Jul 1937' 'Jun 1959' 'Sep 1958' 'Jan 1955' 'Mar 1956' 'Jul 1959'
 'Jul 1958' 'Apr 1959' 'Oct 2018' 'May 1960' 'Sep 1956' 'Dec 1947'
 'Aug 1959' 'Dec 1958' 'Oct 1958' 'Feb 1959' 'Nov 1959' 'Feb 1960'
 'Jul 1953' 'May 1951' 'May 2018' 'Nov 1958' 'Jun 1958' 'Nov 1949'
 'Mar 1958' 'Jan 1958' 'Sep 2018' 'Nov 1953' 'Nov 1956' 'Sep 1955'
 'Feb 1958' 'Jul 1957' 'Jun 1946' 'Feb 1953' 'Aug 1957' 'Jun 2018'
 'Dec 1957' 'May 1956' 'Jan 1954' 'May 1954' 'May 1955' 'May 1957'
 'Dec 1953' 'Dec 1955' 'Jul 1955' 'Apr 1958' 'Apr 1957' 'Jun 1957'
 'Jan 1950' 'Dec 2019' 'Nov 1955' 'May 1958' 'Sep 1953']
DateOfBirthDate
[nan 'Feb 2003' 'Dec 2003' 'May 1998' 'May 2001' 'Dec 2001' 'Sep 1998'
 'Apr 2001' 'Jan 1999' 'Aug 1991' 'Aug 1988' 'Feb 1999' 'Apr 1999'
 'Jun 1999' 'Dec 1977' 'Dec 2000' 'Sep 1991' 'Jan 2001' 'Oct 1988'
 'Dec 1998' 'Sep 1994' 'Jul 1987' 'Jul 1997' 'Oct 1998' 'Mar 2004'
 'Mar 1995' 'May 1993' 'Sep 2002' 'Oct 1992' 'Jun 2000' 'Oct 2003'
 'Mar 1997' 'Jul 2002' 'Mar 2003' 'Jul 1993' 'Nov 1982' 'Apr 1986'
 'Feb 2001' 'Sep 2000' 'Apr 1989' 'Jul 1996' 'Sep 2001' 'Apr 2002'
 'Oct 2000' 'Jun 2003' 'May 1995' 'Jul 1989' 'Sep 2003' 'Feb 2002'
 'Jun 2004' 'Jan 2002' 'Sep 1973' 'Nov 1985' 'Oct 2001' 'Mar 1990'
 'Jul 2003' 'Aug 2001' 'Jul 1999' 'Nov 1999' 'Jul 1972' 'Dec 1986'
 'Jan 2003' 'Mar 1994' 'Feb 1996' 'Apr 1997' 'Jun 2002' 'Dec 2002'
 'Oct 2002' 'May 1999' 'Mar 2000' 'Dec 1999' 'Sep 1999' 'Jan 1994'
 'Aug 1996' 'Jan 2000' 'Sep 1996' 'Aug 1998' 'Aug 2002' 'May 1996']
HbA1crecordDateDate
[nan 'Mar 2016' 'Dec 2015' 'Apr 2016' 'Feb 2015' 'Oct 2015' 'Nov 2015'
 'Jun 2015' 'Jan 2016' 'Jul 2015' 'Sep 2015' 'May 2016' 'Dec 2014'
 'Mar 2015' 'Jan 2015' 'Feb 2016' 'Aug 2015' 'May 2015' 'Oct 2014'
 'Apr 2015' 'Jun 2016' 'Nov 2014']
DateRecordedDate1
[nan '2019-02-07' '2016-12-10' '2017-06-16' '2018-02-23' '2018-07-24'
 '2019-05-14' '2018-12-16' '2017-05-18' '2017-11-12' '2018-11-30'
 '2019-05-31' '2018-07-06' '2016-03-27' '2016-07-25' '2017-07-26'
 '2018-10-16' '2015-07-09' '2018-12-02' '2018-02-11' '2017-05-20'
 '2018-01-29' '2017-02-28' '2017-11-16' '2017-06-02' '2017-01-08'
 '2019-06-16' '2016-09-15' '2016-11-06' '2017-11-04' '2018-10-25'
 '2018-05-18' '2018-08-19' '2018-02-21' '2017-06-24' '2017-12-25'
 '2018-12-30' '2016-12-28' '2018-07-07' '2016-11-19' '2018-09-22'
 '2019-09-17' '2019-04-08' '2017-04-22' '2017-11-11' '2018-06-26'
 '2017-06-20' '2018-04-28' '2019-03-30' '2018-10-29' '2019-08-20'
 '2017-12-30' '2017-07-08' '2017-03-20' '2017-08-24' '2018-03-05'
 '2018-07-08' '2017-03-10' '2016-12-25' '2017-12-26' '2018-06-25'
 '2019-02-15' '2016-09-14' '2018-02-13' '2018-12-17' '2019-06-03'
 '2018-06-16' '2017-04-25' '2018-07-09' '2018-12-25' '2016-11-22'
 '2017-04-26' '2017-10-03' '2018-04-17' '2013-10-17' '2014-04-25'
 '2014-10-15' '2015-05-15' '2015-10-07' '2016-03-15' '2016-10-12'
 '2017-03-21' '2013-06-06' '2016-09-23' '2017-05-10' '2017-06-10'
 '2017-11-19' '2018-05-20' '2017-05-14' '2017-10-30' '2016-12-03'
 '2017-01-29' '2017-07-09' '2017-10-22' '2018-08-06' '2017-01-15'
 '2017-06-13' '2018-02-26' '2018-10-04' '2017-08-07' '2018-09-05'
 '2017-01-06' '2018-02-10' '2017-01-14' '2017-07-17' '2018-02-19'
 '2018-07-22' '2019-01-27' '2016-11-11' '2017-07-02' '2018-06-22'
 '2018-12-26' '2019-06-04' '2017-12-19' '2018-07-12' '2018-12-23'
 '2016-12-23' '2019-08-23' '2019-04-11' '2016-12-17' '2017-02-18'
 '2017-07-11' '2018-07-15' '2019-03-28' '2018-08-05' '2017-02-20'
 '2016-10-02' '2017-11-05' '2017-12-16' '2018-07-16' '2019-03-08'
 '2017-06-28' '2017-03-31' '2017-09-23' '2016-10-29' '2019-08-21'
 '2018-10-20' '2018-05-08' '2018-02-01' '2016-12-06' '2017-04-27'
 '2017-11-09' '2018-04-26' '2018-10-23' '2019-10-17' '2019-04-15'
 '2016-12-09' '2017-07-06' '2016-09-26' '2019-02-10' '2016-12-16'
 '2017-06-08' '2017-12-02' '2018-12-04' '2019-05-21' '2019-03-10'
 '2017-04-14' '2017-11-13' '2018-03-15' '2018-09-13' '2019-04-12'
 '2017-05-03' '2018-03-28' '2019-01-23' '2017-08-15' '2018-08-16'
 '2017-04-02' '2017-08-16' '2018-07-26' '2018-10-27' '2017-08-28'
 '2019-02-02' '2017-01-09' '2017-10-16' '2018-10-09' '2017-12-12'
 '2018-05-22' '2018-12-14' '2018-06-24' '2019-01-02' '2018-11-03'
 '2016-11-28' '2017-05-29' '2017-11-28' '2018-05-28' '2018-11-26'
 '2017-01-24' '2019-03-02' '2017-01-19' '2017-08-14' '2018-02-20'
 '2017-01-25' '2018-01-28' '2019-02-21' '2017-01-16' '2017-09-04'
 '2018-01-08' '2019-01-19' '2016-09-13' '2017-11-08' '2016-10-18'
 '2018-11-19' '2014-10-31' '2015-05-29' '2015-10-02' '2018-12-31'
 '2019-05-20' '2018-02-06' '2016-09-05' '2018-04-21' '2019-04-02'
 '2017-08-29' '2018-03-06' '2018-09-11' '2018-12-24' '2018-08-03'
 '2016-10-09' '2017-05-07' '2017-04-16' '2018-10-21' '2016-11-20'
 '2017-05-30' '2017-11-26' '2018-05-29' '2018-12-08' '2019-06-10'
 '2017-11-18' '2018-10-31' '2017-06-23' '2018-08-26' '2019-08-17'
 '2016-06-23' '2017-01-03' '2017-07-16' '2015-12-09' '2016-11-08'
 '2017-01-23' '2018-09-24' '2019-03-17' '2016-11-26' '2017-05-12'
 '2017-11-25' '2018-05-14' '2019-05-06' '2013-08-02' '2017-04-07'
 '2017-09-18' '2018-05-01' '2018-08-27' '2018-03-24' '2018-10-24'
 '2017-01-31' '2018-01-20' '2018-08-10' '2019-02-04' '2017-04-15'
 '2017-06-17' '2018-01-09' '2019-01-03' '2018-03-16' '2018-12-09'
 '2016-11-17' '2017-04-10' '2017-09-25' '2018-08-21' '2018-12-19'
 '2016-12-07' '2017-10-07' '2018-03-27' '2017-11-20' '2018-04-01'
 '2018-10-07' '2016-12-19' '2018-01-24' '2017-06-03' '2018-05-26'
 '2017-06-18' '2018-06-18' '2016-08-28' '2017-07-30' '2017-02-11'
 '2018-11-02' '2017-11-15' '2018-10-11' '2017-10-14' '2019-07-15'
 '2018-01-01' '2019-09-23' '2019-04-13' '2017-12-15' '2017-06-12'
 '2017-12-10' '2017-09-28' '2018-06-11' '2019-01-10' '2017-08-05'
 '2019-06-08' '2017-01-02' '2017-11-27' '2018-09-06' '2019-04-25'
 '2017-02-27' '2017-05-16' '2017-05-19' '2019-01-13' '2019-01-07'
 '2018-08-23' '2017-03-24' '2017-09-08' '2018-01-30' '2018-09-04'
 '2019-02-19' '2017-03-22' '2018-08-04' '2018-04-19' '2019-04-05'
 '2017-04-24' '2017-09-22' '2018-03-09' '2018-09-07' '2019-03-15'
 '2019-09-13' '2017-02-10' '2017-03-13' '2017-04-30' '2018-12-05'
 '2018-06-08' '2017-04-18' '2018-01-05' '2018-07-02' '2019-01-05'
 '2016-12-26' '2017-06-06' '2018-05-31' '2019-02-11' '2018-10-30'
 '2019-10-22' '2017-10-09' '2018-02-12' '2018-07-30' '2017-03-04'
 '2016-08-04' '2017-07-04' '2018-07-21' '2019-05-11' '2016-10-30'
 '2018-04-12' '2016-11-07' '2017-11-17' '2017-10-13' '2019-06-09'
 '2016-12-12' '2017-05-22' '2017-10-05' '2018-04-15' '2019-03-26'
 '2016-10-14' '2017-04-09' '2018-06-17' '2018-12-07' '2019-03-05'
 '2017-04-05' '2018-05-09' '2017-02-01' '2017-05-09' '2017-03-27'
 '2018-10-08' '2017-11-14' '2016-10-11' '2018-09-30' '2016-10-10'
 '2018-04-20' '2018-11-15' '2018-11-28' '2019-06-22' '2016-10-03'
 '2017-02-25' '2017-12-17' '2018-03-02' '2018-08-11' '2019-01-15'
 '2019-08-03' '2018-07-31' '2017-08-11' '2018-04-08' '2018-10-28'
 '2019-03-12' '2017-05-21' '2019-02-18' '2018-03-30' '2018-09-09'
 '2019-03-13' '2017-09-29' '2019-05-15' '2019-02-01' '2019-06-19'
 '2018-07-20' '2018-09-20' '2019-04-18' '2016-10-22' '2017-08-12'
 '2018-11-20' '2016-09-22' '2017-02-17' '2017-08-06' '2018-02-16'
 '2017-06-21' '2017-12-24' '2018-08-17' '2017-03-05' '2018-11-17'
 '2017-02-13' '2018-07-17' '2019-06-11' '2016-11-15' '2016-09-09'
 '2017-03-12' '2017-07-22' '2018-04-16' '2017-04-11' '2017-12-06'
 '2018-08-08' '2018-01-06' '2014-01-21' '2014-07-08' '2015-02-02'
 '2015-10-26' '2016-03-14' '2016-07-18' '2017-02-04' '2013-08-13'
 '2018-09-01' '2017-01-12' '2016-12-24' '2017-06-09' '2018-06-21'
 '2018-11-13' '2017-11-07' '2019-02-14' '2018-02-18' '2018-07-18'
 '2019-01-21' '2018-04-04' '2019-05-03' '2016-01-13' '2018-12-01'
 '2018-03-13' '2018-07-23' '2018-03-18' '2016-10-24' '2019-03-25'
 '2019-10-11' '2017-09-15' '2018-12-20' '2017-10-02' '2018-03-04'
 '2018-09-03' '2019-03-22' '2018-01-07' '2018-12-13' '2019-06-18'
 '2018-04-18' '2016-11-30' '2017-11-10' '2018-10-02' '2019-10-20'
 '2018-10-19' '2017-08-03' '2019-03-24' '2017-12-29' '2017-06-15'
 '2019-08-18' '2016-10-19' '2017-08-17' '2019-02-08' '2018-09-28'
 '2019-07-23' '2019-01-09' '2018-08-07' '2018-07-28' '2017-06-11'
 '2017-12-11' '2018-07-01' '2018-12-27' '2018-06-07' '2016-12-11'
 '2018-01-10' '2017-02-06' '2017-09-17' '2018-01-16' '2019-03-04'
 '2018-02-05' '2019-01-12' '2017-06-30' '2018-07-10' '2019-01-18'
 '2018-06-04' '2019-05-07' '2017-09-06' '2018-02-04' '2019-09-06'
 '2018-06-15' '2019-01-08' '2019-08-13' '2018-05-12' '2019-07-28'
 '2017-08-20' '2017-10-26' '2018-01-25' '2019-03-19' '2016-12-20'
 '2017-06-25' '2018-06-02' '2018-12-10' '2019-06-29' '2019-03-03'
 '2017-02-02' '2019-01-06' '2019-01-11' '2017-06-27' '2017-12-13'
 '2017-04-28' '2018-05-06' '2019-04-09' '2018-09-16' '2019-01-26'
 '2018-04-07' '2019-02-12' '2017-03-11' '2016-09-03' '2017-12-01'
 '2018-08-28' '2016-12-04' '2018-02-09' '2019-06-13' '2015-01-02'
 '2015-05-04' '2016-05-19' '2018-01-26' '2018-11-06' '2019-07-06'
 '2017-01-04' '2016-09-12' '2017-10-21' '2018-03-12' '2018-09-17'
 '2019-04-27' '2017-03-06' '2017-07-18' '2019-03-27' '2018-03-29'
 '2017-03-17' '2019-06-07' '2017-04-13' '2017-08-08' '2017-01-27'
 '2016-10-23' '2017-04-21' '2018-09-29' '2019-03-01' '2017-03-01'
 '2018-10-06' '2017-09-02' '2019-05-16' '2018-04-14' '2016-12-18'
 '2017-02-09' '2017-10-29' '2017-07-10' '2017-05-04' '2018-05-21'
 '2019-02-03' '2019-04-03' '2018-02-17' '2019-02-23' '2018-02-15'
 '2019-05-08' '2018-05-05' '2018-06-19' '2016-12-27']
DateRecordedDate2
[nan '2019-02-08' '2016-12-11' '2017-06-17' '2018-02-24' '2018-07-30'
 '2019-05-15' '2018-12-15' '2017-05-17' '2017-11-11' '2018-12-01'
 '2019-06-01' '2018-07-07' '2016-03-26' '2016-07-24' '2017-07-25'
 '2018-10-17' '2015-07-08' '2018-12-03' '2018-02-10' '2017-05-21'
 '2018-01-30' '2017-02-27' '2017-11-15' '2017-06-03' '2017-01-09'
 '2019-06-17' '2016-09-14' '2016-11-05' '2017-11-05' '2018-10-24'
 '2018-05-19' '2018-08-18' '2018-02-20' '2017-06-25' '2017-12-26'
 '2018-12-31' '2016-12-27' '2018-07-08' '2016-11-20' '2018-09-23'
 '2019-09-18' '2019-04-09' '2017-04-23' '2017-11-12' '2018-06-25'
 '2017-06-19' '2018-04-29' '2019-03-31' '2018-10-28' '2019-08-21'
 '2017-12-31' '2017-07-09' '2018-02-13' '2017-03-19' '2017-08-23'
 '2018-03-07' '2018-07-09' '2017-03-11' '2016-12-26' '2017-06-21'
 '2017-12-27' '2018-06-26' '2019-02-16' '2016-09-13' '2018-02-14'
 '2018-12-16' '2019-06-04' '2018-06-17' '2017-04-24' '2018-12-26'
 '2016-11-21' '2017-04-25' '2017-10-02' '2018-04-10' '2013-10-16'
 '2014-04-24' '2014-10-14' '2015-05-14' '2015-10-06' '2016-03-14'
 '2016-10-11' '2017-03-20' '2013-06-05' '2016-09-24' '2017-05-08'
 '2017-06-11' '2017-11-18' '2017-05-15' '2017-10-29' '2016-12-04'
 '2017-01-28' '2017-07-08' '2017-10-21' '2018-08-05' '2017-01-16'
 '2017-06-14' '2018-02-25' '2018-10-03' '2017-08-06' '2018-09-06'
 '2017-01-07' '2018-02-11' '2017-01-15' '2017-07-14' '2018-07-23'
 '2019-01-28' '2016-11-12' '2017-06-29' '2018-06-23' '2018-12-25'
 '2019-06-03' '2017-12-20' '2018-07-13' '2018-12-24' '2016-12-24'
 '2019-08-24' '2019-04-12' '2016-12-18' '2017-02-19' '2017-07-12'
 '2018-02-27' '2019-03-27' '2018-08-06' '2017-02-21' '2016-10-01'
 '2017-11-06' '2018-07-16' '2017-12-17' '2018-07-15' '2019-03-09'
 '2017-06-27' '2017-04-01' '2017-09-24' '2017-04-26' '2016-10-30'
 '2019-08-20' '2018-10-21' '2018-05-09' '2018-02-02' '2016-12-07'
 '2017-11-08' '2018-04-25' '2018-09-24' '2019-10-18' '2019-04-16'
 '2016-12-10' '2016-09-27' '2019-02-11' '2016-12-17' '2017-06-09'
 '2017-12-03' '2018-12-05' '2019-05-22' '2019-03-11' '2018-08-20'
 '2017-04-14' '2017-11-14' '2018-03-14' '2018-09-12' '2019-04-13'
 '2017-05-02' '2018-03-27' '2019-01-22' '2017-08-14' '2018-08-15'
 '2017-08-15' '2018-07-25' '2017-08-29' '2019-02-04' '2017-01-10'
 '2017-10-17' '2018-10-10' '2017-12-13' '2018-05-23' '2019-01-01'
 '2018-11-04' '2016-11-29' '2017-05-31' '2017-11-29' '2018-05-29'
 '2018-11-27' '2017-01-25' '2019-03-03' '2017-01-18' '2017-08-13'
 '2018-02-21' '2017-01-26' '2018-01-29' '2019-02-20' '2017-01-17'
 '2017-09-05' '2018-01-09' '2019-01-20' '2016-09-12' '2017-11-07'
 '2016-10-17' '2018-11-18' '2014-11-01' '2015-05-30' '2015-10-03'

In [55]:
for i in numerical_columns:
    if len(df[i].unique())<10:
        print(i)
        print(df[i].unique())

DegreeOfRelative_1st
[ 0.  1. nan]
DegreeOfRelative_2ndor3rd
[ 1.  0. nan]
Race_AmericanIndianorAlaskaNat
[ 0. nan  1.]
Race_Asian
[ 0.  1. nan]
Race_BlackorAfricanAmerican
[ 0. nan  1.]
Race_NativeHawaiianorOtherPaci
[ 0. nan  1.]
Race_Refused
[ 0. nan  1.]
Race_Unknownornotreported
[ 1.  0. nan]
Race_White
[ 0.  1. nan]
FirstHearAboutTrialN_ExistingTri
[ 0.  1. nan]
FirstHearAboutTrialN_FamilyFrien
[ 0.  1. nan]
FirstHearAboutTrialN_Brochure
[ 0.  1. nan]
FirstHearAboutTrialN_Healthcarep
[ 1.  0. nan]
FirstHearAboutTrialN_Tollfreepho
[ 0. nan  1.]
FirstHearAboutTrialN_NewspaperMa
[ 0. nan  1.]
FirstHearAboutTrialN_Poster
[ 0. nan  1.]
FirstHearAboutTrialN_Camp
[ 0.  1. nan]
FirstHearAboutTrialN_MeetingPres
[ 0.  1. nan]
FirstHearAboutTrialN_RadioTV
[ 0. nan  1.]
FirstHearAboutTrialN_Internet
[ 0.  1. nan]
FirstHearAboutTrialN_Other
[ 0.  1. nan]
IsHeightMeasured
[nan  1.]
IsWeightMeasured
[nan  1.]
IfSpecimensNotCollec_Other
[nan  1.]
OGTTTimeToConsumeGlucola
[nan  2.  4.  1.  3.  5. 10.  0.  6.]
RespiratoryRateBPM
[nan 16. 20. 12. 18. 17. 15. 14.]
InterferonGammaReleaseAssayIGR2
[  nan 2015. 2016. 2014.]
PreInfusionRespRate
[nan 16. 18. 20. 14. 22.]
InfusionStartTimeHour
[nan  6.  8.  9.  7. 10. 14. 12. 11.]
_30MinAfteStartTimeHour
[nan  7.  9. 10.  8. 14. 12. 11.]
_60MinAfteStartTimeHour
[nan  8.  7.  9. 10. 11. 15. 13. 12.]
_90MinAfteStartTimehour
[nan  8. 10. 11.  9. 15. 13. 12.]
_120MinAfteStartTimeHour
[nan  9.  8. 10. 11. 12. 16. 14. 13.]
_3HrsAftStartTimeHour
[nan 10.  9. 11. 12. 13. 17. 15. 14.]
_4HrsAftStartTimeMissedHour
[nan 11. 10. 12. 13. 14. 18. 16. 15.]
_5HrsAftStartTimeHour
[nan 12. 11. 13. 14. 15. 19. 17. 16.]
_5HrsAftStartTimeHours
[nan 13. 12. 14. 15. 16. 20. 18. 17.]
_7HrsAftStartTimeHours
[nan 14. 13. 15. 16. 17. 21. 19. 18.]
_8HrsAftStartTimeHours
[nan 15. 14. 16. 17. 18. 22. 20. 19.]
AcetaminophenGivenToPartici1_1
[  nan  500.  600.  650.  588.  325. 1000.]
MethylprednisoneGivenDoseTi1_1
[nan  6.  8.  7.  9. 13. 10. 11. 15.]
DiphenhydramineDoseGivenDos1_1
[nan 25. 50.]
SpecificGravity
[  nan 1.015 1.025 1.02  1.005 1.01  1.    1.03 ]
pH
[nan  5.  6.  7.  8.]
HLAb
[ 0. nan]
HLAa
[ 0. nan]
HLA
[ 0. nan]
DR4
[ 0. nan]
DR3
[ 0. nan]
INS30
[  0.    nan 218.  426.  339.   71.9 135.6 416.   37.2]
EBVVCAIGG
[ 0. nan]
EBNA
[ 0. nan]
CMVIGM
[ 0. nan]
HEPC
[ 0. nan]
CMVIGG
[ 0. nan]
EBVVL
[   0.   nan 6575. 2883.]
CMVVL
[ 0. nan]
HIV
[ 0. nan]
HEPBC
[ 0. nan]
HEPB
[ 0. nan]
EBVVCAIGM
[ 0. nan]

In [56]:
#these columns only have  value of 0 in itï¼Œ so we can just drop them
element_to_remove =['EBVVCAIGM','EBVVCAIGG','EBNA','CMVIGM','HEPC','CMVIGG','HIV', 'HEPBC','HEPB','DR3','DR4','HLA','HLAa','HLAb']

for i in element_to_remove:
    df=df.drop(i,axis=1)

In [57]:
#columns should be coverted to categorical variables 
to_convert_cat=['DateResultsReportedByLabUnknow',
            'DegreeOfRelative_1st',
            'DegreeOfRelative_2ndor3rd',
            'Race_AmericanIndianorAlaskaNat',
            'Race_Asian',
            'Race_BlackorAfricanAmerican',
            'Race_NativeHawaiianorOtherPaci',
            'Race_Refused',
            'Race_Unknownornotreported',
            'Race_White',
            'FirstHearAboutTrialN_ExistingTri',
            'FirstHearAboutTrialN_FamilyFrien',
            'FirstHearAboutTrialN_Brochure',
            'FirstHearAboutTrialN_Healthcarep',
            'FirstHearAboutTrialN_Tollfreepho',
            'FirstHearAboutTrialN_NewspaperMa',
            'FirstHearAboutTrialN_Poster',
            'FirstHearAboutTrialN_Camp',
            'FirstHearAboutTrialN_MeetingPres',
            'FirstHearAboutTrialN_RadioTV',
            'FirstHearAboutTrialN_Internet',
            'FirstHearAboutTrialN_Other',
            
            'Rbcnotdone',
            'HemoglobinNotDone','HematocritNotDone','MCVNotDone',
            'WBCNotDone','bloodpressureDiastolicNotDone','WeightNotDone',
            'HeightNotDone']

In [58]:
#convert some numerical variables to categorical variables 
for i in to_convert_cat:
    df[i] = df[i].astype(object)

In [74]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
numerical_columns = df.select_dtypes(include=['int', 'float']).columns
date_columns = df.select_dtypes(include=['datetime64[ns]']).columns
#statistic the columns with <50% missing value; >=50% & <=99% missing value; >99% missing value
missing_60=[]
drop_95=[]
between_50_99=[]
for i in numerical_columns:
    count_null=df[i].isnull().sum()
    print(i)
    all1=len(df[i])
    null_per=count_null/all1
    print(null_per*100,'%')
    if null_per*100<50:
        missing_60.append(i)
    if null_per*100>=50 and null_per*100<=99:
        between_50_99.append(i)
    if null_per*100>99:
        drop_95.append(i)
     #   df = df.drop(i, axis=1)

MaskID
0.0 %
Rbcresults
99.22984319051736 %
HemoglobinResults
99.22984319051736 %
HematocritResults
99.2310007408322 %
MCVresults
99.22984319051736 %
PlateletCountResultsNormal
99.23215829114706 %
MCHresults
99.23061489072725 %
MCHCresults
99.23833189282627 %
WBCresults
99.2310007408322 %
NeutrophilsResults
99.60566119273984 %
NeutrophilsResultsOR
99.61646499567848 %
LymphocytesResults
99.59022718854179 %
LymphocytesResultsOR
99.60488949252995 %
MonocytesResults
99.5925422891715 %
MonocytesResultsOR
99.60450364242499 %
EosinophilsResults
99.59369983948636 %
EosinophilsResultsOR
99.60450364242499 %
BasophilsResults
99.5948573898012 %
BasophilsResultsOR
99.60720459315965 %
Age
9.927537350290159 %
clinicalcenternumber
65.77663909124584 %
ScreeningSiteNumber
30.9991974317817 %
NumOfRelativesWithT1D
18.32054883318928 %
AgeOfRelativeWithT1D1_1
16.348083096678604 %
AgeOfOnsetInRelativeWithT1D1_1
13.854333868378813 %
AgeRelativeWithT1DStartedIn1_1
16.417536115569824 %
AgeOfRelativeWithT1D2_1
84.67287628102234 %
AgeOfOnsetInRelativeWithT1D2_1
83.23635634028892 %
AgeRelativeWithT1DStartedIn2_1
84.0775095690826 %
AgeOfRelativeWithT1D3_1
96.04619397456476 %
AgeOfOnsetInRelativeWithT1D3_1
95.64722496604519 %
AgeRelativeWithT1DStartedIn3_1
95.88105012964564 %
AgeOfRelativeWithT1D4_1
98.88257809606125 %
AgeOfOnsetInRelativeWithT1D4_1
98.7903599209779 %
AgeRelativeWithT1DStartedIn4_1
98.85556858871466 %
AgeOfRelativeWithT1D5_1
99.63344240029633 %
AgeOfOnsetInRelativeWithT1D5_1
99.60411779232004 %
AgeRelativeWithT1DStartedIn5_1
99.63035559945672 %
AgeOfRelativeWithT1D6_1
99.86533831337202 %
AgeOfOnsetInRelativeWithT1D6_1
99.8545345104334 %
AgeRelativeWithT1DStartedIn6_1
99.86456661316213 %
AgeOfRelativeWithT1D7_1
99.94019323373256 %
AgeOfOnsetInRelativeWithT1D7_1
99.94559513520188 %
AgeRelativeWithT1DStartedIn7_1
99.95061118656623 %
SeatedArmBPSystolic
94.68375725398197 %
SeatedArmBPDiastolic
94.68838745524138 %
IsHeightMeasured
99.9984565995802 %
IsWeightMeasured
99.9984565995802 %
SeatedHeartRate
97.62470675392024 %
SeatedRespiratoryRate
97.67178046672429 %
Weight
99.92668848005927 %
Height
99.93286208173848 %
WeightKg
99.2310007408322 %
HeightCm
99.24334794419065 %
TotalOfHomeBloodGlucoseOver3Da
99.72064452401531 %
TotalOfHBGMonitoringsLessThan6
99.71987282380542 %
AvgRecordedFastingGlucoses
99.72990492653415 %
AvgAllRecordedGlucoses
99.72141622422521 %
LowestGlucose
99.72025867391035 %
HighestGlucose
99.72025867391035 %
AvgUnitsShortActingInsulin
99.69826521792814 %
AverageUnitsOfItermediateInsul
99.70135201876775 %
LastHbA1cValue
99.30431226077293 %
IfSpecimensNotCollec_Other
99.94791023583159 %
OGTTAmountConsumed
99.9185856278553 %
OGTTTimeToConsumeGlucola
99.91819977775035 %
MMTTAmountConsumed
99.5111279170268 %
MMTTTimeToConsumeBoost
99.5126713174466 %
InsulinDoseLast24Hrs
99.65080565501914 %
AnthopometricsWeightKg
99.95871403877021 %
AnthopometricsHeightCM
99.95871403877021 %
SeatedArmBloodPressureSystolic
99.95871403877021 %
SeatedArmBloodPressureDiastoli
99.95871403877021 %
TemperatureDegreeCelcius
99.95871403877021 %
HeartRateBPM
99.95871403877021 %
RespiratoryRateBPM
99.95909988887517 %
RecentHbA1cDiagnosis
99.96064328929496 %
InterferonGammaReleaseAssayIGR
99.95871403877021 %
InterferonGammaReleaseAssayIGR2
99.95871403877021 %
ATGweight
99.96604519076429 %
ATGdose
99.96604519076429 %
PreInfusionTimeHour
99.96604519076429 %
PreInfusionTimeMin
99.96604519076429 %
PreInfusionSystolic
99.96604519076429 %
PreInfusionDiastolic
99.96604519076429 %
PreInfusionTemperature
99.96604519076429 %
PreInfusionHeartRate
99.96604519076429 %
PreInfusionRespRate
99.96604519076429 %
InfusionStartTimeHour
99.96836029139399 %
InfusionStartTimeMin
99.96836029139399 %
InfusionStartTimeSystolic
99.96836029139399 %
InfusionStartTimeDiastolic
99.96836029139399 %
InfusionStartTimeTemperature
99.96836029139399 %
InfusionStartTimeHeartrate
99.96836029139399 %
InfusionStartTimeResprate
99.96836029139399 %
_30MinAfteStartTimeHour
99.96643104086924 %
_30MinAfteStartTimeMin
99.96643104086924 %
_30MinAfteStartTimeSystolic
99.96643104086924 %
_30MinAfteStartTimeDiastolic
99.96643104086924 %
_30MinAfteStartTimeHeartRate
99.96643104086924 %
_30MinAfteStartTimeTemp
99.96643104086924 %
_30MinAfteStartTimeRespRate
99.96643104086924 %
_60MinAfteStartTimeHour
99.96643104086924 %
_60MinAfteStartTimemin
99.96643104086924 %
_60MinAfteStartTimeSystolic
99.96643104086924 %
_60MinAfteStartTimeDiastolic
99.96643104086924 %
_60MinAfteStartTimeHeartRate
99.96643104086924 %
_60MinAfteStartTimeTemp
99.96643104086924 %
_60MinAfteStartTimeRespRate
99.96643104086924 %
_90MinAfteStartTimehour
99.96643104086924 %
_90MinAfteStartTimeMin
99.96643104086924 %
_90MinAfteStartTimesystolic
99.96643104086924 %
_90MinAfteStartTimeHeartrate
99.96643104086924 %
_90MinAfteStartTimetemp
99.96643104086924 %
_90MinAfteStartTimeRespRate
99.96643104086924 %
_90MinAfteStartTimeDiastolic
99.96643104086924 %
_120MinAfteStartTimeHour
99.96643104086924 %
_120MinAfteStartTimeMin
99.96643104086924 %
_120MinAfteStartTimeSystolic
99.96643104086924 %
_120MinAfteStartTimeDiastolic
99.96643104086924 %
_120MinAfteStartTimeHeartRate
99.96643104086924 %
_120MinAfteStartTimeTemp
99.96643104086924 %
_120MinAfteStartTimeRespRate
99.96643104086924 %
_3HrsAftStartTimeHour
99.96643104086924 %
_3HrsAftStartTimeMin
99.96643104086924 %
_3HoursSystolic
99.96643104086924 %
_3HrsAftStartTimeDiastolic
99.96643104086924 %
_3HrsAftStartTimeHeartRate
99.96643104086924 %
_3HrsAftStartTimeTemp
99.96643104086924 %
_3HrsAftStartTimeRespRate
99.96643104086924 %
_4HrsAftStartTimeMissedHour
99.96643104086924 %
_4HrsAftStartTimeMin
99.96643104086924 %
_4HrsAftStartTimeSystolic
99.96643104086924 %
_4HrsAftStartTimeDiastolic
99.96643104086924 %
_4HrsAftStartTimeHeartRate
99.96643104086924 %
_4HrsAftStartTimeTemp
99.96643104086924 %
_4HrsAftStartTimeRespRate
99.96643104086924 %
_5HrsAftStartTimeHour
99.96604519076429 %
_5HrsAftStartTimeMin
99.96604519076429 %
_5HrsAftStartTimeSystolic
99.96604519076429 %
_5HrsAftStartTimeDiastolic
99.96604519076429 %
_5HrsAftStartTimeHeartRate
99.96604519076429 %
_5HrsAftStartTimeTemp
99.96604519076429 %
_5HrsAftStartTimeRespRate
99.96604519076429 %
_5HrsAftStartTimeHours
99.96604519076429 %
_6HrsAftStartTimeMin
99.96604519076429 %
_6HrsAftStartTimeSystolic
99.96604519076429 %
_6HrsAftStartTimeDiastolic
99.96604519076429 %
_6HrsAftStartTimeHeartRate
99.96604519076429 %
_6HrsAftStartTimeTemp
99.96604519076429 %
_6HrsAftStartTimeRespRate
99.96604519076429 %
_7HrsAftStartTimeHours
99.96604519076429 %
_7HrsAftStartTimeMin
99.96604519076429 %
_7HrsAftStartTimeSystolic
99.96604519076429 %
_7HrsAftStartTimeDiastolic
99.96604519076429 %
_7HrsAftStartTimeHeart
99.96604519076429 %
_7HrsAftStartTimeTemperature
99.96604519076429 %
_7HrsAftStartTimeRespRate
99.96604519076429 %
_8HrsAftStartTimeHours
99.96643104086924 %
_8HrsAftStartTimeMin
99.96643104086924 %
_8HrsAftStartTimeSystolic
99.96643104086924 %
_8HrsAftStartTimeDiastolic
99.96643104086924 %
_8HrsAftStartTimeHeartRate
99.96643104086924 %
_8HrsAftStartTimeTemp
99.96643104086924 %
_8HrsAftStartTimeRespRate
99.96643104086924 %
OtherHour1_1
99.97800654401779 %
OtherMin1_1
99.97800654401779 %
OtherSystolic1_1
99.97800654401779 %
OtherDiastolic1_1
99.97800654401779 %
OtherHeartRate1_1
99.97800654401779 %
OtherTemp1_1
99.97800654401779 %
OtherRespRate1_1
99.97800654401779 %
AcetaminophenGivenToPartici1_1
99.96604519076429 %
AcetaminophenGivenDoseTimeH1_1
99.96604519076429 %
AcetaminophenGivenDoseTimeM1_1
99.96604519076429 %
MethylprednisoneGivenDose1_1
99.96604519076429 %
MethylprednisoneGivenDoseTi1_1
99.96604519076429 %
MethylprednisoneGivenDoseTi1_2
99.96604519076429 %
MethylprednisoneGivenDose2_1
99.97221879244351 %
MethylprednisoneGivenDoseTi2_1
99.97221879244351 %
MethylprednisoneGivenDoseTi2_2
99.97221879244351 %
DiphenhydramineDoseGivenDos1_1
99.96643104086924 %
DiphenhydramineDosageTimeHo1_1
99.96643104086924 %
DiphenhydramineDosageTimeMi1_1
99.96643104086924 %
SpecificGravity
99.95755648845537 %
pH
99.95755648845537 %
bloodpressureSystolic
99.92861773058402 %
bloodpressureDiastolic
99.92861773058402 %
PreDoseGlucose
99.96565934065934 %
TimeDoseGivenMin
99.96604519076429 %
CapsulesReturned
99.8915761205087 %
CapsulesDispensed
99.89697802197803 %
RandomizationNumber
99.89736387208298 %
ParticipantDateDispensedDay4_1
99.984180145697 %
GAD65H
17.34048956661316 %
MIAA
17.34048956661316 %
IA-2H
17.34048956661316 %
ZNT8
17.34048956661316 %
ICA512
17.34048956661316 %
ICA
17.34048956661316 %
GAD65
17.34048956661316 %
GLU60
17.34048956661316 %
PEP120
17.34048956661316 %
PEP60
17.34048956661316 %
INST-10
17.34048956661316 %
PEP-10
17.34048956661316 %
INST60
17.34048956661316 %
INST0
17.34048956661316 %
GLU30
17.34048956661316 %
HbA1c
17.34048956661316 %
GLU-10
17.34048956661316 %
GLU0
17.34048956661316 %
PEP30
17.34048956661316 %
INST30
17.34048956661316 %
INST120
17.34048956661316 %
GLU90
17.34048956661316 %
PEP90
17.34048956661316 %
GLU120
17.34048956661316 %
INST90
17.34048956661316 %
PEP0
17.34048956661316 %
INS0
17.34048956661316 %
INS120
17.34048956661316 %
INS-10
17.34048956661316 %
INS60
17.34048956661316 %
INS30
17.34048956661316 %
INS90
17.34048956661316 %
GLU15
17.34048956661316 %
PEP15
17.34048956661316 %
PEP240
17.34048956661316 %
GLU240
17.34048956661316 %
PEP150
17.34048956661316 %
GLU180
17.34048956661316 %
PEP180
17.34048956661316 %
GLU150
17.34048956661316 %
PEP210
17.34048956661316 %
EBVVL
17.34048956661316 %
CMVVL
17.34048956661316 %
GLU210
17.34048956661316 %
CD8P
17.34048956661316 %
CD8A
17.34048956661316 %
CD4P
17.34048956661316 %
CD4CD8
17.34048956661316 %
CD4A
17.34048956661316 %
TPRO
17.34048956661316 %
TBIL
17.34048956661316 %
SOD
17.34048956661316 %
POT
17.34048956661316 %
GLU
17.34048956661316 %
GLOIgG
17.34048956661316 %
DBIL
17.34048956661316 %
CREA
17.34048956661316 %
CHL
17.34048956661316 %
BIC
17.34048956661316 %
ALT
17.34048956661316 %
ALP
17.34048956661316 %
ALB
17.34048956661316 %
UREA
17.34048956661316 %
AST
17.34048956661316 %
CPEP
17.34048956661316 %
INST
17.34048956661316 %
Height_cm
99.75845783430053 %
Weight_kg
99.63151314977158 %

In [78]:
df=df.drop(columns=drop_95)

In [68]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259168 entries, 0 to 259167
Columns: 652 entries, MaskID to TimeResultsProcessedByLab
dtypes: datetime64[ns](1), float64(261), int64(1), object(389)
memory usage: 1.3+ GB

In [75]:
len(missing_60)

73

In [76]:
len(drop_95)

175

In [77]:
len(between_50_99)

14

In [80]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [81]:
# get date columns out of the categorical columns. Use the remaining categorical columns for encoding
date_col = [col for col in categorical_columns]

def separate_columns_by_date(column_names):
    
    date_columns = []
    non_date_columns = []

    # Regular expression pattern for common date-related keywords
    date_pattern = re.compile(r'date|time', re.IGNORECASE)

    for column_name in column_names:
        if date_pattern.search(column_name):
            date_columns.append(column_name)
        else:
            non_date_columns.append(column_name)

    return date_columns, non_date_columns


date_columns, non_date_columns = separate_columns_by_date(date_col)
#these two columns are also date columns
date_columns.extend(['Visit_Dt'])

element_to_remove =['Visit_Dt']
for i in element_to_remove:
    if i in non_date_columns:
        non_date_columns.remove(i)


print("Columns that likely represent dates:")
print(date_columns)

print("\nColumns that do not appear to represent dates:")
print(non_date_columns)

Columns that likely represent dates:
['DateResultsReportedByLabUnknow', 'Date_of_Registration', 'RememberDateOfMostRecentHbA1c', 'DateOfRegistration', 'DiabeticKetoacidosisTimeOfDiag', 'MethylprednisoneGivenDoseTimeM', 'TimeDoseGivenHr', 'ParticipantDateDispensedYea4_1', 'Spring2019ConsentDateDate', 'DateOfBloodDrawDate', 'DateReportedDate', 'ScreeningDate', 'ConsentSignedDate', 'DateConsentSignedDate', 'SamplesCollectionDate', 'LastHbA1cDate', 'WrittenInformedConsentDate', 'Type1DiabetesDiagnosisDate', 'FluVaccinationDateDate', 'DateTestsRunDate', 'StudyDrugReturnedDate', 'StudyDrugDispensedDate', 'BirthDate', 'DateOfBirthDate', 'HbA1crecordDateDate', 'DateRecordedDate1', 'DateRecordedDate2', 'DateRecordedDate3', 'ParticipantDateDispensedDate1_1', 'ParticipantDateDispensedDate2_1', 'ParticipantDateDispensedDate3_1', 'MechanisticSampleCollectionDate', 'DateSignedInformedConsentFormDate', 'OGTTTestStartTime', 'MMTTTestStartTime', 'TimeOfCollection', 'TimeResultsProcessedByLab', 'Visit_Dt']

Columns that do not appear to represent dates:
['_15Aug2011ConsentForResidualSa', 'WhichProtocolVersion', 'ProtocolVersion', 'Rbcresults_Units', 'RBCResultsNormal', 'RBCResultAbormalClinicallySign', 'HemoglobinResults_Units', 'HemoglobinResultsNormal', 'HemoglobinResultAbormalClinica', 'HematocritResults_Units', 'HematocritResultsNormal', 'HematocritResultAbormalClinica', 'MCVresults_Units', 'MCVresultsNormal', 'MCVResultAbormalClinicallySign', 'PlateletCountResultsNormal2', 'MCHresults_Units', 'MCHresultsNormal', 'MCHResultAbormalClinicallySign', 'MCHCresults_Units', 'MCHCresultsNormal', 'WBCresults_Units', 'WBCresultsNormal', 'WBCResultAbormalClinicallySign', 'NeutrophilsResults_Units', 'NeutrophilsResultsOR_Units', 'NeutrophilsResultsNormal', 'NeutrophilsResultAbormalClinic', 'LymphocytesResults_Units', 'LymphocytesResultsOR_Units', 'LymphocytesResultsNormal', 'LymphocytesResultAbormalClinic', 'MonocytesResults_Units', 'MonocytesResultsOR_Units', 'MonocytesResultsNormal', 'MonocytesResultAbormalClinical', 'EosinophilsResults_Units', 'EosinophilsResultsOR_Units', 'EosinophilsResultsNormal', 'EosinophilsResultAbormalClinic', 'BasophilsResults_Units', 'BasophilsResultsOR_Units', 'BasophilsResultsNormal', 'Hastheparticipantbeentoahealth', 'Hastheparticipanthadknownconta', 'Hastheparticipanthadknownconta2', 'Hastheparticipantbeentestedfor', 'Hastheparticipanthadafever', 'Hastheparticipanthadchillsasso', 'Hastheparticipanthadacough', 'Hastheparticipanthadanydifficu', 'Hastheparticipanthadanypersist', 'Hastheparticipanthadalossreduc', 'Hastheparticipantexperiencedvo', '_8Hastheparticipantbeendiagnos', 'Visit_Type', 'RelativeWithT1D', 'DegreeOfRelative_1st', 'DegreeOfRelative_2ndor3rd', 'HaveDiabetes', 'ParticipantLocation', 'Sex', 'Ethnicity', 'Race_AmericanIndianorAlaskaNat', 'Race_Asian', 'Race_BlackorAfricanAmerican', 'Race_NativeHawaiianorOtherPaci', 'Race_Refused', 'Race_Unknownornotreported', 'Race_White', 'Relationship', 'FirstHearAboutTrialN_ExistingTri', 'FirstHearAboutTrialN_FamilyFrien', 'FirstHearAboutTrialN_Brochure', 'FirstHearAboutTrialN_Healthcarep', 'FirstHearAboutTrialN_Tollfreepho', 'FirstHearAboutTrialN_NewspaperMa', 'FirstHearAboutTrialN_Poster', 'FirstHearAboutTrialN_Camp', 'FirstHearAboutTrialN_MeetingPres', 'FirstHearAboutTrialN_RadioTV', 'FirstHearAboutTrialN_Internet', 'FirstHearAboutTrialN_Other', 'InitialScreeningLocation', 'InitialScreeningLocationOtherS', 'BloodSamplesFutureTestingPermi', 'BloodTestForFindOut', 'CommunicationWhenNegAutoantibo', 'InformedTestResultWithin', 'PermissionToControlIfTheyTestA', 'participanthaveautoantibodies', 'OnlineScreeningReferralSource', 'ScreeningSiteName', 'shipspecimencollectionkit', 'Specimencollectionkitshipmentd', 'selecttestkittype', 'RelativeWithT1D1_1', 'SexOfRelativeWithT1D1_1', 'RelativeWithT1D2_1', 'SexOfRelativeWithT1D2_1', 'RelativeWithT1D3_1', 'SexOfRelativeWithT1D3_1', 'RelativeWithT1D4_1', 'SexOfRelativeWithT1D4_1', 'RelativeWithT1D5_1', 'SexOfRelativeWithT1D5_1', 'RelativeWithT1D6_1', 'SexOfRelativeWithT1D6_1', 'RelativeWithT1D7_1', 'SexOfRelativeWithT1D7_1', 'SexOfRelativeWithT1D8_1', 'ParticipantDiagnosedWithT1D', 'ParticipantUsedInsulinOrOtherG', 'ParticipantHasKnownSevereActiv', 'ParticipantPregnant', 'PermissionForHLAgeneticTesting', 'PermissionForSampleStorage', 'AsthmaEver', 'AsthmaWithinLastYear', 'CeliacDiseaseEver', 'CeliacDiseaseWithinLastYear', 'InflammatoryBowelDiseaseEver', 'InflammatoryBowelDiseaseWithin', 'AddisonsDiseaseEver', 'AddisonsDiseaseWithinLastYear', 'VitiligoEver', 'VitiligoWithinLastYear', 'ThyroidDiseaseEver', 'ThyroidDiseaseWithinLastYear', 'PsoriasisEver', 'PsoriasisWithinLastYear', 'AlopeciaEver', 'AlopeciaWithinLastYear', 'RheumatologicEver', 'RheumatologicWithinLastYear', 'MultipleSclerosisEver', 'MultipleSclerosisWithinLastYea', 'OtherAutoimmuneDiseasesEver', 'OtherAutoimmuneDiseasesWithinL', 'EverParticipatedInPreventionSt', 'ParticipateInDPT1', 'AllergiesEver', 'AllergiesWithinLastYear', 'AntibodySampleCollected', 'BetaBlockers', 'BllodForDNASampleCollected', 'BloodForCellsSampleCollected', 'BloodForRNASampleCollected', 'CancerEver', 'CancerWithinLastYear', 'ColitisOrColonProblemsEver', 'ColitisOrColonProblemsWithinLa', 'CongenitalHeartDiseaseEver', 'CongenitalHeartDiseaseWithinLa', 'ConsenToContinuedStorageOfBloo', 'Corticosteroids', 'Diphenylhydantoin', 'EpilepsyConvulsionsSeizuresEve', 'EpilepsyConvulsionsSeizuresWit', 'HLASamplesCollected', 'HbA1cSamplesCollected', 'HepatitisOrLiverDiseaseEver', 'HepatitisOrLiverDiseaseWithinL', 'HighBPever', 'HighBPwithinLastYear', 'HighcholesterolEver', 'IVGTTSampleCollected', 'ImmunosuppressiveTherapies', 'InfectiousMononucleosisEver', 'InfectiousMononucleosisWithinL', 'Niacin', 'OGTTSampleCollected', 'ParticipantHasOneRelativeWithT', 'ParticipantUsedImmunosuppresiv', 'ParticipantUsingImmunosuppresi', 'PerniciousAnemiaEver', 'PerniciousAnemiaWithinLastYear', 'PlasmaSampleCollected', 'PotassiumDepletingDiurectics', 'SerumForProteomicsSampleCollec', 'UlcerEver', 'UlcerWithinLastYear', 'SelectStudyForPreventionOfT1D', 'TestingPlaceForAutoAntibodyOut', 'LimitedLifeExpectancyOrImmunos', 'AsthmaWithinLast6Months', 'CeliacDiseaseWithinLast6Months', 'AddisonsDiseaseWithinLast6Months', 'VitiligoWithinLast6Months', 'ThyroidDiseaseWithinLast6Months', 'PsoriasisWithinLast6Months', 'AlopeciaWithinLast6Months', 'RheumatologicWithinLast6Months', 'AllergiesWithinLast6Months', 'CancerWithinLast6Months', 'UlcerWithinLast6Months', 'HighBPwithinLast6Months', 'PerniciousAnemiaWithinLast6Mo', 'MultipleSclerosisWithinLast6Mo', 'hyperglycemia', 'immunomodulatory', 'systemicsteroids', 'Metformin', 'Thiazolidinediones', 'AlphaGlucosidaseInhibitors', 'OtherGlucoseLoweringAgents', 'SerumMechanisticSerumSampleCol', 'WholeBloodPBMCPlasmaSampleColl', 'participantdiagnosedT1D', 'IsParticipantPregnant', 'SignedMonitoringConsentProtoco', 'HighCholesterolWithinLast6Months', 'Meglitinides', 'HighCholestrolWithinLast6Months', 'Meglinitides', 'CurrentPhase', 'Status', 'HospitalizedSinceLastVisit', 'OtherChronicDiseases', 'HaveHadComplicationsFromYourDi', 'HowIsWeightObtained', 'HowIsHeightObtained', 'SubjectUsingCGMS', 'AreThere3GlucoseValuesAvailabl', 'InsulDoseInfoAvailableFor3Days', 'AvgRecordedFastingGlucoses_unit', 'AvgAllRecordedGlucoses_unit', 'LowestGlucose_unit', 'HighestGlucose_unit', 'InsulinRoutineDaily', 'RememberValueOfMostRecentHbA1c', 'SeizuresFaintingLowBloodGlucos', 'HospitalizationsForHighGlucose', 'RequiredSpecimensCollected', 'OGTTCollected', 'MMTTCollected', 'AreYouUsingInjections', 'InsulinPump', 'DiagnosedAutoImmuneDisease', 'Asthma', 'Allergies', 'Eczema', 'OtherInfections', 'Other', 'HeentFindings', 'NeckThyroidFindings', 'HeartFindings', 'MusculoskeletalFindings', 'GenitaliaFindings', 'AbdomenFindings', 'LymphaticsFindings', 'SkinFindings', 'NeurologicFindings', 'OtherFindings', 'ReproductiveChildbearingPotent', 'UrinePregnancyTest', 'UrinePregnancyTestPositive', 'PlateletCountNotDone', 'MCHNotDone', 'MCHCNotDone', 'NeutrophilsNotDone', 'LymphocytesNotDone', 'MonocytesNotDone', 'EosinophilsNotDone', 'BasophilsNotDone', 'Subject18', 'ReceivedInfluenzaVaccination', 'EvidenceOfTuberculosisInfectio', 'UseImmunosuppressiveAgents', 'ComplicatedMedIssuesOrAbnormal', 'Gender', 'CollectBloodSamples', 'EligibileToBeScreenedForTheStu', 'SexGenderPerson', 'HospitalizedOtherthanDiabetes', 'AdmittedHospitalDiagnosis', 'IGRATestPositive', 'InterferonGammaReleaseAssayIGR3', 'PregTestPos', 'FebrileIllness10Days', 'ExacerbationOfCRS', 'FeverPresent', 'SkinRashHypersentivityPresent', 'FatigueMalaisePresent', 'DizyLightHeadedPresent', 'NauseeVomitPresent', 'HypotensionPresent', 'HypertensionPresent', 'HeadcahePresent', 'IVinfiltrationPresent', 'InfusionRelatedEventAnaphylaxi', 'InfusionRelatedEventOther', 'FullDoseInfused', 'AnyProblemsRecievingStudyDrugt', 'AcetaminophenGivenToParticipan', 'DiphenhydramineDoseGiven', 'AnyOtherMedications', 'Color', 'Appearance', 'Leukocytes', 'Nitrite', 'Protein', 'Glucose', 'Ketones', 'Urobilinogen', 'Bilirubin', 'Blood', 'Rbcnotdone', 'HemoglobinNotDone', 'HematocritNotDone', 'MCVNotDone', 'WBCNotDone', 'Doestheparticipanthavereproduc', 'Wasaurinepregnancytestcomplete', 'Wasthetestresultpositive', 'bloodpressureDiastolicNotDone', 'WeightNotDone', 'HeightNotDone', 'Wasaphysicalexamperformedatthi', 'HEENT', 'NeckThyroid', 'Heart', 'Lungs', 'Pulses', 'Musculoskeletal', 'Genitalia', 'Abdomen', 'Lymphatics', 'Skin', 'Neurologic', 'GivenStudyDrugDoseInClinic', 'StudyDrugDose', 'SignsOfHypoglycemia', 'OtherProblems', 'StudyDrugReturned', 'StudyDrugDispensed', 'ParticipantReceiveStudyDrug', 'MedicationPackNumber1_1', 'LotNumber1_1', 'MedicationPackNumber2_1', 'LotNumber2_1', 'MedicationPackNumber3_1', 'LotNumber3_1', 'UnusualCircumstances', 'STHavetherebeenanychangesinhea', 'STHavetherebeenanychangesincon', 'STIstheparticipantcurrentlytak', 'STWastheparticipantcontactedat', 'HbA1c_Units', 'Height_cm_units', 'Weight_kg_units']

In [82]:
len(date_columns)+len(non_date_columns)

389

In [108]:
len(non_date_columns)

351

In [83]:
numerical_columns = df.select_dtypes(include=['int', 'float']).columns

In [84]:
len(numerical_columns)

87

In [85]:
#fill in zero for the null values in Date/Time columns
df[date_columns]=df[date_columns].fillna(0)

In [86]:
#encode all the cateogrical variables except date and time

embed=[]
for i in non_date_columns:
    print(i)
    df[i]=df[i].astype('str')
    column_name=i
    value_counts = df[column_name].value_counts()
    #print(value_counts)
    my_dict={}
    key=df[column_name].unique()
    print('unique values:',key)
    null_count = df[column_name].isnull().sum()
    #print(f"Number of null values in column '{column_name}': {null_count}")
    le = LabelEncoder()
    df[column_name] = le.fit_transform(df[column_name])
    value=df[column_name].unique()
    # Fill the dictionary with keys and values using a loop
    for k, v in zip(key, value):
        my_dict[k] = v

    dict1={'Column':column_name,'Details':my_dict}
    value_counts = df[column_name].value_counts()
   # print(value_counts)
    null_count = df[column_name].isnull().sum()
    print(f"Number of null values after preprocessing in column '{column_name}': {null_count}")
    
    embed.append(dict1)

_15Aug2011ConsentForResidualSa
unique values: ['nan' 'Yes' 'No' 'Unknown']
Number of null values after preprocessing in column '_15Aug2011ConsentForResidualSa': 0
WhichProtocolVersion
unique values: ['nan' 'October 10, 2017' '22February2019']
Number of null values after preprocessing in column 'WhichProtocolVersion': 0
ProtocolVersion
unique values: ['nan' '3.0' '2.0' '4.0' 'New' 'Old']
Number of null values after preprocessing in column 'ProtocolVersion': 0
Rbcresults_Units
unique values: ['NaN' 'x10^12 cells/L']
Number of null values after preprocessing in column 'Rbcresults_Units': 0
RBCResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'RBCResultsNormal': 0
RBCResultAbormalClinicallySign
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'RBCResultAbormalClinicallySign': 0
HemoglobinResults_Units
unique values: ['NaN' 'mg/dL']
Number of null values after preprocessing in column 'HemoglobinResults_Units': 0
HemoglobinResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'HemoglobinResultsNormal': 0
HemoglobinResultAbormalClinica
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HemoglobinResultAbormalClinica': 0
HematocritResults_Units
unique values: ['NaN' '% of blood']
Number of null values after preprocessing in column 'HematocritResults_Units': 0
HematocritResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'HematocritResultsNormal': 0
HematocritResultAbormalClinica
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HematocritResultAbormalClinica': 0
MCVresults_Units
unique values: ['NaN' 'fL']
Number of null values after preprocessing in column 'MCVresults_Units': 0
MCVresultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'MCVresultsNormal': 0
MCVResultAbormalClinicallySign
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'MCVResultAbormalClinicallySign': 0
PlateletCountResultsNormal2
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'PlateletCountResultsNormal2': 0
MCHresults_Units
unique values: ['NaN' 'pg']
Number of null values after preprocessing in column 'MCHresults_Units': 0
MCHresultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'MCHresultsNormal': 0
MCHResultAbormalClinicallySign
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'MCHResultAbormalClinicallySign': 0
MCHCresults_Units
unique values: ['NaN' 'g/dL']
Number of null values after preprocessing in column 'MCHCresults_Units': 0
MCHCresultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'MCHCresultsNormal': 0
WBCresults_Units
unique values: ['NaN' 'x10^9 cells/L']
Number of null values after preprocessing in column 'WBCresults_Units': 0
WBCresultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'WBCresultsNormal': 0
WBCResultAbormalClinicallySign
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'WBCResultAbormalClinicallySign': 0
NeutrophilsResults_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'NeutrophilsResults_Units': 0
NeutrophilsResultsOR_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'NeutrophilsResultsOR_Units': 0
NeutrophilsResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'NeutrophilsResultsNormal': 0
NeutrophilsResultAbormalClinic
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'NeutrophilsResultAbormalClinic': 0
LymphocytesResults_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'LymphocytesResults_Units': 0
LymphocytesResultsOR_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'LymphocytesResultsOR_Units': 0
LymphocytesResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'LymphocytesResultsNormal': 0
LymphocytesResultAbormalClinic
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'LymphocytesResultAbormalClinic': 0
MonocytesResults_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'MonocytesResults_Units': 0
MonocytesResultsOR_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'MonocytesResultsOR_Units': 0
MonocytesResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'MonocytesResultsNormal': 0
MonocytesResultAbormalClinical
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'MonocytesResultAbormalClinical': 0
EosinophilsResults_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'EosinophilsResults_Units': 0
EosinophilsResultsOR_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'EosinophilsResultsOR_Units': 0
EosinophilsResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'EosinophilsResultsNormal': 0
EosinophilsResultAbormalClinic
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'EosinophilsResultAbormalClinic': 0
BasophilsResults_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'BasophilsResults_Units': 0
BasophilsResultsOR_Units
unique values: ['NaN' '% of WBC']
Number of null values after preprocessing in column 'BasophilsResultsOR_Units': 0
BasophilsResultsNormal
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'BasophilsResultsNormal': 0
Hastheparticipantbeentoahealth
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipantbeentoahealth': 0
Hastheparticipanthadknownconta
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadknownconta': 0
Hastheparticipanthadknownconta2
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadknownconta2': 0
Hastheparticipantbeentestedfor
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipantbeentestedfor': 0
Hastheparticipanthadafever
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadafever': 0
Hastheparticipanthadchillsasso
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadchillsasso': 0
Hastheparticipanthadacough
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadacough': 0
Hastheparticipanthadanydifficu
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadanydifficu': 0
Hastheparticipanthadanypersist
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipanthadanypersist': 0
Hastheparticipanthadalossreduc
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'Hastheparticipanthadalossreduc': 0
Hastheparticipantexperiencedvo
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Hastheparticipantexperiencedvo': 0
_8Hastheparticipantbeendiagnos
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column '_8Hastheparticipantbeendiagnos': 0
Visit_Type
unique values: ['nan' 'Online Screening' 'Remote' 'In-Person']
Number of null values after preprocessing in column 'Visit_Type': 0
RelativeWithT1D
unique values: ['Yes' 'nan' 'No']
Number of null values after preprocessing in column 'RelativeWithT1D': 0
DegreeOfRelative_1st
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'DegreeOfRelative_1st': 0
DegreeOfRelative_2ndor3rd
unique values: ['1.0' '0.0' 'nan']

Number of null values after preprocessing in column 'DegreeOfRelative_2ndor3rd': 0
HaveDiabetes
unique values: ['No' 'Yes' 'nan']
Number of null values after preprocessing in column 'HaveDiabetes': 0
ParticipantLocation
unique values: ['nan' 'International' 'North American']
Number of null values after preprocessing in column 'ParticipantLocation': 0
Sex
unique values: ['Male' 'Female' 'nan']
Number of null values after preprocessing in column 'Sex': 0
Ethnicity
unique values: ['Hispanic or Latino' 'Not Hispanic or Latino' 'Unknown' 'nan'
 'Not Hispanic, Latino, or Spanish Origin'
 'Hispanic, Latino, or Spanish Origin']
Number of null values after preprocessing in column 'Ethnicity': 0
Race_AmericanIndianorAlaskaNat
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'Race_AmericanIndianorAlaskaNat': 0
Race_Asian
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'Race_Asian': 0
Race_BlackorAfricanAmerican
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'Race_BlackorAfricanAmerican': 0
Race_NativeHawaiianorOtherPaci
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'Race_NativeHawaiianorOtherPaci': 0
Race_Refused
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'Race_Refused': 0
Race_Unknownornotreported
unique values: ['1.0' '0.0' 'nan']
Number of null values after preprocessing in column 'Race_Unknownornotreported': 0
Race_White
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'Race_White': 0
Relationship
unique values: ['nan' 'Mother' 'Father' 'Guardian(s)']
Number of null values after preprocessing in column 'Relationship': 0
FirstHearAboutTrialN_ExistingTri
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_ExistingTri': 0
FirstHearAboutTrialN_FamilyFrien
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_FamilyFrien': 0
FirstHearAboutTrialN_Brochure
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Brochure': 0
FirstHearAboutTrialN_Healthcarep
unique values: ['1.0' '0.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Healthcarep': 0
FirstHearAboutTrialN_Tollfreepho
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Tollfreepho': 0
FirstHearAboutTrialN_NewspaperMa
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_NewspaperMa': 0
FirstHearAboutTrialN_Poster
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Poster': 0
FirstHearAboutTrialN_Camp
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Camp': 0
FirstHearAboutTrialN_MeetingPres
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_MeetingPres': 0
FirstHearAboutTrialN_RadioTV
unique values: ['0.0' 'nan' '1.0']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_RadioTV': 0
FirstHearAboutTrialN_Internet
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Internet': 0
FirstHearAboutTrialN_Other
unique values: ['0.0' '1.0' 'nan']
Number of null values after preprocessing in column 'FirstHearAboutTrialN_Other': 0
InitialScreeningLocation
unique values: ['nan' 'TrialNet Site' 'Kit (Lab/Participating MD)' 'Camp' 'Walk' 'Other']
Number of null values after preprocessing in column 'InitialScreeningLocation': 0
InitialScreeningLocationOtherS
unique values: ['nan' 'JDRF ONE NATION' 'Screening event' 'Bay Area Diabetes Summit'
 'Offsite Screening Event' 'Offsite' 'Family Diabetes Event'
 'T1D Conference' 'FL AQUARIUM' 'offsite' 'DR. xxxxxx OFFICE'
 'SUMMER BLAST' 'M Health Maple Grove' 'Conference' 'JDRF'
 '2017 CWD Falls Church, VA' 'JDRF Summit' 'Primary Health Care Clinic'
 'PEA-ATLANTA' 'JDRF Type 1 Nation Summit' 'Primary health care clinic'
 'Festival' 'CWD' 'Home' 'JDRF One Nation Event' 'TEDDY site'
 'local diabetes event' 'Home Visit' 'HOME' 'Teddy Malmo Gertie'
 'SEED Office' 'primary health care clinic' 'JDRF Summit mtg' 'Zoo Event'
 'Chart Center' 'Travel Clinic - Pikeville, KY' 'JDRF summit'
 'JDRF Picnic' 'JDRF Conference' 'Diabetic Clinic' 'LIONS CAMP'
 'DESCHUTES COUNTY PUBLIC LIBRARY' 'TEDDY clinic Kristianstad'
 'TypeOneNation Summit, Central Coast (California)' 'JDRF Event'
 'at the Meeting in Carlsbad' 'JDRF Fall Festival' 'Camp Bus Stop'
 'Home visit.' 'ADA event' 'JDRF Presentation' 'JDRF Research Summit'
 'LAJDRF PICNIC' 'JDRF Walk' '2016 JDRF Research Summit, Bethesda, MD'
 "participant's home" 'School' 'gp practise' 'SACRAMENTO JDRF'
 'Sam Fuld Sports Camp' 'Screening Event' 'unknown to me' 'JDRF WALK'
 'World Diabetes Day Event' 'HOME VISIT'
 '2015 JDRF Research Summit in Bethesda, MD' 'Event' 'JDRF RETREAT'
 'diabetes 101' 'Level 2 site assigned to level 4 site 3440' 'CBS'
 'Primary health care' 'Church Health Screenings' 'RETREAT'
 'Recruits home' 'Primary Health Care' 'screening event' 'JDRF event'
 'JDRF FAMILY DAY' 'MUVICO' 'Lodi Diabetes Support Group' 'JDRF Symposium'
 'Eagle Scout Event' 'JDRF Peak Event' 'primary health care'
 'CCHMC DIABETES PICNIC' 'JDRF Type one Nation summit'
 'JDRF Annual Summer Picnic and TrialNet Screening Event' 'home'
 'JDRF T1D Summit' 'Type 1 Diabetes Meeting' 'Yankee Staduim'
 'BEARSKIN CAMP #3' 'Boy Scout Screening Clinic' 'Longview event'
 'Eugene screening event' '2018 JDRF Research Summit in Bethesda, MD'
 'FFL' 'JDRF EVENT' 'TrialNet screening event' 'TEDDY Kristianstad'
 'JDRF T1Nation' 'Offsite screening event' 'Friends for Life' 'Residence'
 'JDRF Day of Hope' 'Friend' 'home visit' 'FFL 2017' 'JDRF Boofest'
 'Own GP surgery' 'Hope N Health' 'JDRF TypeOne Nation' "Child's home"
 'JDRF event at Pittsburgh Zoo' 'JDRF Family Day at Six Flags'
 'JDRF picnic' 'TON JDRF' 'JDRF One Nation' 'Touched by Type I'
 'TYPE ONE NATION' 'Fort Collins Clinic'
 'Children with Diabetes event at Disneyland Hotel'
 'Discovery museum event 6-9-12' 'Airheads' 'off site screening event'
 'LA JDRF PICNIC' 'BEARSKIN CAMP #4'
 'JDRF Research Summit in Bethesda, MD' 'JRDRF FAMILY EVENT'
 'Diabetes Event' 'health fair' 'JDRF Type 1 Nation'
 'Student Health Care Center Courtesy Draw' 'Health Fair' 'Helena event'
 'JDRF event at Field Museum' 'Back to School Event'
 'Hospital clin chem lab' 'JDRF Expo' 'JDRF Type 1 Summit'
 'JDRF TYPE 1 NATION' 'family event' 'BEARSKIN CAMP #2'
 'Fort Collins Youth Clinic' 'Missoula event' "Children's hospital Malmo"
 'Diabetes Summit' 'capillary kit' '2016 CWD, Falls Church, VA'
 'CAMP SWEENY' 'DOGS 4 DIABETES' 'Affiliate site' 'CAMP AURORA'
 'Guradians office.  She is a physician.' 'Clinic' 'RAHC- CRU - Harlingen'
 'MORE Health Conference at UTPA' 'Primary Health care' 'SCREENING EVENT'
 'CWD Conference' 'primary Health care' 'Fall Festival'
 '2017 Diabetes Summit' 'JDRF Meet the Scientists' 'ADA Family Retreat'
 'JDRF Research Summit, Bethesda, MD' 'Affiliate Site'
 'Health Partners Woodbury' 'TON Summit' 'JDRF-OneTypeNation Summit'
 'CAMP LITTLE SHOT' 'JDRF Type One Nation education event' 'Teddy Malmo'
 'Santa Rosa Event- 4/30/2016' 'spe programme' 'Petersen Automotive event'
 'Type 1 community event- Reflections- site screening' 'BLUE BONNETT'
 'Taking Care of Your Diabetes San Diego' 'JDRF Vendor Expo' 'M Health MG'
 'T1D SUMMIT' 'RAHC-CRU' 'clinic visit' 'JDRF T1D Summit GSO'
 'Type 1 Nation summitt' 'Home visit' 'CBS home test kit' 'OTHER'
 'FAMILY DIABETES SYMPOSIUM' 'Diabetes 101Class' 'Camp' 'Test kit'
 'Renton event' 'patient home' 'MG M Health' 'JDRF type 1 nation'
 'LOWRY PARK ZOO' 'HEALTH FAIR' 'Helena, MT - Screening event'
 'Jump Planet' 'gp surgery' 'PARTICIPANTS HOME' 'JDRF Type One Nation'
 'offsite event' 'Screening Event at Villagio' 'DR.xxxxxx OFFICE'
 'JDRF One' 'Bus Stop' 'capillary study at home' 'Type 1 Nation Summitt'
 'Hospital' 'JDRF Family Event' 'Diabetes 101' 'Recruit home'
 'JDRF Family Day Greensboro NC' 'GP surgery' 'Family Day' 'SPE PROGRAMME'
 'JDRF TID Nation' 'participants home' 'AT HOME ADDRESS' 'Sam Fuld'
 'TEDDY clinic Helsingborg' 'JDRF/CCHMC BOOFEST' 'JDRF Walk Kickoff'
 'CHOP diabetes conference 2013' 'JEDRF EVENT'
 'Taking Control of Your Diabetes Conference' 'clinic' 'other'
 'Mary Bridge Event' '2016 CWD Falls Church, VA' 'DIABETES SYMPOSIUM'
 'Ft. Myers' 'Consented but never screened' 'I' 'Participants home'
 'Clin chem' 'Internet' 'JDRF T1D SUMMIT' 'At the event  site at the GYS'
 'Sweet Run 2014' 'Quest' "GP's" 'Beat the Bridge' 'Home Address'
 'JDRF Family Day, Greensboro, NC' 'TEDDY Simrishamn'
 '2013 JDRF Research Summit in Bethesda, MD' 'Bozeman screening clinic'
 'screening event in Wheeling,WV' 'GP Surgery' 'WakeMedT1D Day' 'SWEENEY'
 'Dr. xxxxxx' 'Primary helath care clinic' 'Camp Little Shot' 'CBS kit'
 'Boomers, Fresno, CA event on 2-24-14.'
 'JDRF Type One Nation - education event'
 'JDRF INLAND EMPIRE TRIAL NET EVENT' 'Diabetes BootCamp'
 'JDRF City of Hope Meetings' 'FROM A RELATIVE' 'Home vsit'
 'JDRF INLAND EMPIRE TRIAL NET' 'WakeMed T1D Day' 'Family Reunion'
 'Hospital at diabetes clinic' 'ALBUQUERQUE' 'Legacy event'
 'Living Well with Diabetes Conference' 'DR xxxxxx OFFICE' 'pic centre'
 'presentation' 'JDRF Event- Type One Nation' 'lab' 'TEDDY'
 'Diabetes 101 Class' 'Klamath Falls Diabetes fair'
 '2016 JDRF Research Summit in Bethesda, MD' 'JDRF Conference- Greensboro'
 'PATIENTS HOME' 'LIONS' 'Mile Bluff Medical Center- Clinic Lab'
 'M Health Explorer Clinic' 'primary health are clinic'
 'JDRF Family Day, Greensboro NC' '0013' 'MISSOULA EVENT' 'path lab'
 'primary care clinic' '2015 JDRF Research Summit in Bethesda,MD'
 'CONNECT ONE' 'xxxxxx clinic' 'SWEENY' 'Family Event'
 'JDRF Family Day - Greensboro NC' 'Villagio Cinema'
 'JDRF Walk Bethany, WV' 'event' 'pediatric clinic' 'MD office' 'Macon'
 'RESEARCH TEAM' 'Bike tour' 'JEDR Event' 'In-home screening visit'
 '2013 JDRF Research Summit in Bethesa, MD' 'Medical office, xxxxxx 11042'
 'Type 1 Nation' 'FAMILY DIABETES DAY' 'Mother is a nurse' 'Bus stop'
 'Slam Dunk Basketball Camp' 'Diabetes Support Group' 'VMMC'
 'Dr. xxxxxx office' 'TDI' 'T 1 Nation Event' 'Polyclinic'
 'JDRF Lecture event' "DR xxxxxx'S OFFICE" 'Focus on Tech.'
 "Patient's home" 'ADA Family Event' "Recruit's home" 'GP practice'
 'Meeting' 'At the satand at The Great Yorkshire Show' 'BUMC South'
 'Satelite site' 'home screening' 'JDRF T1 NATION SUMMIT'
 "FAMILY CAMP - CHILDREN'S DIABETES FOUNDATION OF NORTH BAY"
 'JDRF at the Field Museum' 'JDRF City of Hope meetings' 'conference'
 'T1 Nation Walk' 'JDRF Family Day Six Flags Great America'
 'friends for life' 'JRDF Event' 'doctors surgery' 'Qwest'
 'LOCAL HOSPITAL' 'Helena, MT - screening event' 'HOME TEST KIT'
 'Primary care clinic' 'Harris Hospital' 'Hospital clinic'
 'Unknown  subject transferred to this site 2002' 'CWD Falls Church 2018'
 "In Subject's Home" 'Teddy Kristianstad' 'BEARSKIN CAMP #1' 'LIONS CONF'
 'Primary health Care' 'friend' 'JDRF VE'
 'Lucille Packards Childrens Hospital Endocrinology'
 'clinic screening event' 'TCOYD conference' 'diabetic research nurse'
 'Eagle Scout Project' 'EVENT' 'Subjects home address'
 'Regional Laboratory' 'JDRF evemt' 'Remote Screening' 'TEDDY visit'
 'Slam Dunk for a Cure Basketball Camp'
 'Walk N Rolla Walk and Health Fair at UTPA'
 'JDRF TYPE ONE NATION SUMMIT CONFERENCE' 'Satellite Office'
 'Spokane, WA -  Screening event' 'At hospital' 'xxxxxx'
 'Golisano Childrens' 'SAM FULD CAMP' 'Teddy Helsingborg'
 'Mom who is a nurse' 'Harvard Vanguard' 'CWD Focus on Tech'
 'JDRF family event' 'Mills Peninsula event on 5-22-12'
 'Legacy Screening event' 'local pediatrician' 'VM screening event'
 'CAMP SWEENEY' 'school' 'T1 diabetes association meeting' 'Renton'
 'Capillary Kit' 'BUMC south campus' 'Mills Peninsula event 5-22-12'
 'N HORIZONS' 'Legacy Screening Event' 'family camp'
 'JDRF Stanford Screening Event San Luis Obispo' 'Type One Nation Summit'
 'San Bernardino JDRF' 'Legacy Diabetes 101 Class' 'JDRF walk kickoff'
 'tcoyd event' 'hospital' 'JDRF TypeOneNation Summit' 'JDRF SUMMER BLAST'
 'Capillary Blood Collection Kit' 'La Jolla' 'DR. xxxxxx MD'
 'OUTREACH CLINIC' 'Capillary Blood Sample Home Kit'
 'Yale Pediatric Diabetes Group Family Day' 'PAEDIATRIC DIABETIC CLINIC'
 'MUCIVO' 'ADA Expo' 'TEDDY Ystad' 'recruits home'
 'SAM FULD SPORTS COMPLEX' 'family member' 'Home via xxxxxx'
 'diabetes group' 'Disneyland Hotel'
 'TrialNet Presention at diabetes camp' 'Essentia Health'
 'Diabetes 101 class' "villagio, 2017 consented but didn't screen"
 'subjects own home' 'level 2 site assigned to level 4 site 3440'
 '2017 JDRF Research Summit in Bethesda, MD' 'JdRF event'
 'Royal Derby Hospital' 'Diabetes 101 Class Dallas'
 'Off Site Screening Event' 'JDRF VENDOR EXPO' 'Own GP Surgery'
 'UM Diabetes health fair' 'participant home' 'Health Care Professional'
 'Off Site screening event' 'JDRF conference' 'Mary Bridge event'
 '2015 JDRF Research Summit' 'JRDF One Nation'
 'Type One Nation Conference' 'Local diabetes bootcamp' 'CLINIC'
 "At patient's home" 'LAKELAND WALK' 'Home address'
 'University Hospital lab' 'Consent completed, no screening'
 'Remote screening' 'RAHC CRU' 'LaRabida' 'offsit'
 'DYF family spring retreat' 'summit' 'MEETING' 'DAISY' 'Ped Office'
 'AQUARIUM' 'Friends for Life 2013' 'TEDDY Malmo' 'Lag at hospital'
 'Living Well Diabetes Conference' 'capillary blood' 'CWD/FFL'
 'Eugene Event' 'JDRF Type1 Summit' 'offsite - CWD'
 'TCOYD in San Diego 2017' 'JDRF Type One Nation Event' 'MARC'
 'Sanford Main Clinic Lab Bemidji' 'Diabetes Superconference'
 'Pullman event' 'GP Practice' 'at TEDDY visit'
 'TrialNet participating JDRF SummerBlast' "at cousin's clnic appointment"
 'Primaty health center' 'Ymca Naples' 'at her job'
 'Off site screening event' 'In patient - CCMC'
 'Scenic Bluffs Health Center' 'JDRF Middle GA Event' 'bus stop'
 'JDRF Picknick' "I don't know (previous coordinator did not state)" 'GP'
 'jdrf guelph' 'JDRF support group event' 'FFL/Podcast'
 'see source documentation' "subject's home" 'JDRF walk' 'MUSC clinic'
 'Taking Care of Your Diabetes San Deigo' 'Naples YMCA'
 'diabetes conference' 'JDRF CONF' 'TCOYD San Diego 2017'
 'T1 Diabetes association meeting' 'CAPILLARY KIT' 'CCMC Core Lab, xxxxxx'
 'SPORTS BASEMENT in WALNUT CREEK' 'ADA FAMILY RETREAT'
 'consented, never screened' 'homeeee' 'Offsite event'
 'Sk?ne University Hospital, Lund'
 'Taking Care of Your Diabetes Conference San Diego' 'not yet screened'
 'Primary helth care' 'Off SIte Screening Event' 'LAIA' 'Hospital lab'
 'jdrf tampa walk' 'pea-duluth' 'local diabetes bootcamp'
 'Diabetes Day Event' 'Discovery Clinic Lab' 'MLab' 'S' 'endocrine clinic'
 'INLAND EMPIRE TRIAL NET EVENT' 'T1D Nation Summit' 'JDRF symposium'
 'SPORTS BASEMENT in WALNUT CREEK / DOGS FOR DIABETES' 'capillary study'
 'At home visit' 'Pediatric clinic' 'USF AND AQUARIUM' '0012'
 "In subject's Home" 'offsite clinic' 'Helena Event' 'offstie'
 'Golisano childrens' 'Portola Family Camp' 'JDRF EVENT SUMMER BLAST'
 'Mary Bridge' 'Clinic Visit' 'Diabetes event in Wheeling, WV'
 'GHS Diabetes Day' 'Offsite cwd' 'JDRF One Walk New Bedford'
 'TCOYD Conference' "Children's Medical Center" 'subjects own GP surgery'
 'Arcadia Clinic' 'ECL satellite clinic' 'Ft myers Golisano'
 'CCMC Core Lab' 'Offsite clinic' 'Spokane, WA - screening event'
 'ADA expo' 'satelite site' 'Travel Clinic-Monticello, KY' 'Gp practice'
 "child's home" 'USF' 'JDRF- Stanford Screening Event San Luis Obispo'
 'Medford' 'JDRF Middle Georgia Event'
 "Lab near participant's home using remote it" 'LIAI' 'VM Issaquah event'
 'test kit' 'FAMILY CAMP' 'TCYOD Conference' 'CarbDM Meeting' 'meeting'
 'TEDDY clinic Ystad' "Akron Children's Hospital" 'TCOYB CONFERENCE'
 'PEA site' 'Satellite site' 'PDX visit' 'xxxxxx xxxxxx' 'PEA' 'Ft myers'
 'Health Care' 'Discovery Museum event 6-9-12' 'JDRF event- Type 1 Nation'
 'Screening event in Eugene' 'Diabetes 101 Class-Legacy'
 'JDRF Walk Kick Off' 'Friends for Life 2103' 'SPE programme'
 'Diabetes Conference' 'Type one Nation JDRF Summit' 'Capillary blood kit'
 'Dallas Diabetes 101 Class' 'Back to School Night'
 'TYPE ONE NATION SUMMIT EVENT' 'Petersen Automotive' 'Bowling'
 'Fresno event' 'Nurse Clinic' 'Sunpark Lab South Calgary'
 'JDRF screening event' 'in home visit' 'participants work Hospital'
 'jdrf walk' 'Offsite - cwd' '8 North' 'Physician'
 'Type 1 Nation  summitt' '2013 JDRF Research Summit at Bethesda, MD'
 'Sweet Run - Bentsen Palm Park, Mission TX' 'ADA WALK' 'BUMC south'
 'Guardian is nurse; blood drawn at home'
 'Slam Dunk for Diabetes Basketball Camp' 'home address' 'Everett event'
 'YMCA Naples' 'SLAM T1D Event' 'Screening event in Wheeling, WV'
 'Subjects own home' 'CHOA Satellite Blvd. Clinic' 'fall picnic'
 'Met TrialNet researchers at university of chicago'
 '2013 JDR Research Summit in Bethesda, MD'
 "CBS kit at Participant's Home" 'SIERRA VISTA HEALTH FAIR' 'JDRF FUN DAY'
 'Endocrinology office' 'meeting YPDG' 'CAPILLARY KIT 647447261170'
 'RECRUITS HOME' 'research team' 'office' 'JDRF WALK KICK OFF'
 'Naples YMCA event'
 'JDRf Annual Summer Picnic and TrialNet Screening Event'
 'JDRF Event at Field Museum' 'Local Diabetes Bootcamp' "Subject's home"
 'LIONS CONFERENCE' 'HUB' 'JDRF Meet the scientists' 'Unknown'
 'Spokane, WA - Screening event' 'PDX Visit' "Child's aunt's home"
 'xxxxxx MD' 'Medlab' 'JDRF Walk -Youngsville , LA' 'CLINIC 5'
 'unable to obtain blood' 'TypeOneNation' 'DR xxxxxx' 'Walk'
 "Child's doctor office" '2016 JDRF Research Presentation, Bethesda, MD'
 'Poole Hospital' 'Type One Nation'
 '2011 JDRF Research Summit in Bethesda Maryland' 'JDRF Family Fun Day'
 'home Visit' 'VM lab' '2018 JDR Research Summit in Bethesda, MD'
 'Naples YMCA Screening Event' 'MD OFFICE' 'JDRF BOOFEST'
 'satellite clinic' 'Screening Kit' 'VM' 'TYPE ONE'
 'JDRF Event Summerfest' 'Valley Medical Center' 'own GP - postal samples'
 'Boot Camp' 'CHI St Alexius Health Dickinson' 'qUEST' 'JDRF meeting'
 'clin chem' 'JDRF T1 Summit' 'hOME VISIT' 'DIABETIC CLINIC' 'TCOYD'
 '4/30/2016 Santa Rosa event' 'Ft Myers' 'JDRF evnet' 'BEARSKIN CAMP 32'
 'CAPILLARY' 'Torbay Hospital' 'Church Health Screening' 'Beat the bridge'
 'primary healt care clinic' 'Letter' 'dr office' 'AUREA'
 'at subjects place of work (in first aid room).' 'Offsite CWD'
 'San Bernardino JDRf' 'TON' 'home screening event' 'TON JDRF Event'
 'MISSOULA SCREENING' '2016 JDRF Research Summit Bethesda'
 'Polyclinic event' 'SAM FULD SPORT CAMP' 'STG' 'BEARSKINS CAMP #2'
 'OWN HOME' "Akron Choldren's Hospital" 'Type 1 National Summit'
 'DIABETES FAMILY EVENT' 'diabetes nurse Vaxjo' 'JDRF/CCHMC Boofest'
 'MORE Health at UTPA' 'Children with Diabetes/ Friends for Life'
 'DR OFFICE' 'JDRF lecture event' "RECRUIT'S HOME" 'San Bernardio JDRF'
 'FROM ENDOCRINOLOGY CLINIC' 'Slam Dunk for Diabetes'
 'Primary health care Norway' 'SAME FULD SPORTS' 'Lab at hospital'
 'Paediatric Clinic' 'Type 1 even/screeing site reflections'
 'Lab at local hospital with study coordinator'
 'changed his mind anddeclined blood draw at this time'
 'primary Health Care' 'PSC' 'Own GP' 'MCRU' 'Capillary kit'
 'paediatric clinic'
 'Medical Office @ 1999 Marcus Ave, Lake Success, NY 11042'
 'MET Office - place of work' 'remote home kit' 'SPE PORGRAMME'
 'Taking Care of Your Diabetes' 'Medical Office at xxxxxx 11042'
 'Diabetes nurse Vaxjo' 'JDRF ALBUQUERQUE' 'Mills Peninsula 5-22-12 event'
 'T1 Nation Summit' 'jdrf' 'Chili Pepper Bike Tour--El Paso'
 'in-home visit' 'friends fr life confrence'
 '2012 JDRF Research Summit in Bethesa, MD' "Participant's home"
 'JDRF TON' 'Teddy Participant' 'At Insulindepence Health Fair'

unique values: ['Yes' 'nan' 'No' 'Unknown']
Number of null values after preprocessing in column 'BloodSamplesFutureTestingPermi': 0
BloodTestForFindOut
unique values: ['nan'
 'I have autoantibodies which means I am at risk of getting Type 1 diabetes'
 'I have Type 1 diabetes' 'I don?t know' 'I have Type 2 diabetes']
Number of null values after preprocessing in column 'BloodTestForFindOut': 0
CommunicationWhenNegAutoantibo
unique values: ['nan' 'Letter' 'Phone Call'
 'We will only notify you if you are positive for autoantibodies'
 'I don?t know']
Number of null values after preprocessing in column 'CommunicationWhenNegAutoantibo': 0
InformedTestResultWithin
unique values: ['nan' '4-6 weeks' '1 week' '3 months' '1 year']
Number of null values after preprocessing in column 'InformedTestResultWithin': 0
PermissionToControlIfTheyTestA
unique values: ['nan' 'No' 'Unknown' 'Yes']
Number of null values after preprocessing in column 'PermissionToControlIfTheyTestA': 0
participanthaveautoantibodies
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'participanthaveautoantibodies': 0
OnlineScreeningReferralSource
unique values: ['nan' '11.0' '3670.0' '1265.0' '848' '11' '1265walgreens' '3168.0'
 '3174.0' '848.0' '/11' '1265' "Advocate Children's Hospital" '8.0' '16.0'
 '1277.0' '3428.0' '2.0' 'University of Oklahoma' '3475.0' '1326.0' '10.0'
 '5.0' '1002' '8' '3678.0' '125.0' '1341.0' '1002.0' '6.0' '143.0'
 '3439.0' '3437.0' '1326' '3483.0' '1277' '10' '4.0' '182.0' 'WakeMed']
Number of null values after preprocessing in column 'OnlineScreeningReferralSource': 0
ScreeningSiteName
unique values: ['Ponce School of Medicine' 'nan' 'Diabetes Care Center' ...
 "The Chldren's Mercy Hospital" 'Kalispell Regional Med Ctr'
 'UTSW medical center']
Number of null values after preprocessing in column 'ScreeningSiteName': 0
shipspecimencollectionkit
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'shipspecimencollectionkit': 0
Specimencollectionkitshipmentd
unique values: ['nan' '9/23/2020' '9/24/2020' '9/11/2019' '10/6/2020' '10/20/2020'
 '10/30/2019' '11/4/2020' '10/12/2020' '8/17/2010' '11/2/2020' '9/3/2020'
 '10/1/2020' '10/26/2020' '9/1/2020' '12/4/2019' '9/29/2020' '10/19/2020'
 '10/23/2020' '11/11/2020' '9/21/2020' '10/27/2020' '9/17/2020'
 '10/8/2020' '10/13/2020' '9/16/2020' '9/22/2020' '10/21/2020' '9/28/2020'
 '7/20/2016' '11/10/2020' '7/6/2006' '7/25/2017' '3/9/2015' '1/30/2017'
 '4/10/2007' '10/5/2020' '9/30/2020' '2/7/2018' '9/10/2020' '3/20/2019'
 '8/16/2006' '2/24/2010' '11/14/2020' '4/15/2020' '7/19/2011' '11/12/2019'
 '3/4/2013' '10/22/2020' '11/6/2019' '7/22/2015' '9/14/2020' '3/11/2020'
 '7/2/2014' '9/2/2020' '6/26/2013' '10/7/2020' '5/10/2016' '12/7/2011'
 '7/22/2020' '6/22/2011' '10/15/2020' '10/9/2020' '10/17/2017' '8/18/2010'
 '9/18/2020' '10/29/2020' '8/26/2020' '10/30/2014' '6/4/2020' '11/24/2020'
 '7/31/2017' '11/3/2015' '11/5/2020' '10/16/2020' '5/4/2015' '3/26/2018'
 '8/2/2016' '11/12/2020']
Number of null values after preprocessing in column 'Specimencollectionkitshipmentd': 0
selecttestkittype
unique values: ['nan' 'Venipuncture' 'Capillary']
Number of null values after preprocessing in column 'selecttestkittype': 0
RelativeWithT1D1_1
unique values: ['C=Cousin' 'P=Parent' 'CH=Child' 'FS=Brother/Sister' 'AU=Aunt/Uncle'
 'GP=Grandparent' 'N=Niece/Nephew' 'nan' 'HS=Half Brother/Sister'
 'HC=Half-Cousin' 'NT=Non-identical Twin' 'IT=Identical Twin']
Number of null values after preprocessing in column 'RelativeWithT1D1_1': 0
SexOfRelativeWithT1D1_1
unique values: ['Female' 'Male' 'nan']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D1_1': 0
RelativeWithT1D2_1
unique values: ['nan' 'FS=Brother/Sister' 'GP=Grandparent' 'C=Cousin' 'AU=Aunt/Uncle'
 'P=Parent' 'CH=Child' 'NT=Non-identical Twin' 'HS=Half Brother/Sister'
 'N=Niece/Nephew' 'IT=Identical Twin' 'HC=Half-Cousin']
Number of null values after preprocessing in column 'RelativeWithT1D2_1': 0
SexOfRelativeWithT1D2_1
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D2_1': 0
RelativeWithT1D3_1
unique values: ['nan' 'GP=Grandparent' 'CH=Child' 'AU=Aunt/Uncle' 'C=Cousin'
 'FS=Brother/Sister' 'HS=Half Brother/Sister' 'P=Parent' 'N=Niece/Nephew'
 'NT=Non-identical Twin' 'HC=Half-Cousin' 'IT=Identical Twin']
Number of null values after preprocessing in column 'RelativeWithT1D3_1': 0
SexOfRelativeWithT1D3_1
unique values: ['nan' 'Male' 'Female']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D3_1': 0
RelativeWithT1D4_1
unique values: ['nan' 'AU=Aunt/Uncle' 'GP=Grandparent' 'C=Cousin' 'CH=Child'
 'HS=Half Brother/Sister' 'N=Niece/Nephew' 'P=Parent' 'FS=Brother/Sister'
 'HC=Half-Cousin' 'NT=Non-identical Twin']
Number of null values after preprocessing in column 'RelativeWithT1D4_1': 0
SexOfRelativeWithT1D4_1
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D4_1': 0
RelativeWithT1D5_1
unique values: ['nan' 'GP=Grandparent' 'CH=Child' 'AU=Aunt/Uncle' 'C=Cousin'
 'FS=Brother/Sister' 'N=Niece/Nephew' 'P=Parent' 'HS=Half Brother/Sister'
 'HC=Half-Cousin']
Number of null values after preprocessing in column 'RelativeWithT1D5_1': 0
SexOfRelativeWithT1D5_1
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D5_1': 0
RelativeWithT1D6_1
unique values: ['nan' 'C=Cousin' 'AU=Aunt/Uncle' 'FS=Brother/Sister' 'GP=Grandparent'
 'N=Niece/Nephew' 'CH=Child' 'HS=Half Brother/Sister' 'P=Parent']
Number of null values after preprocessing in column 'RelativeWithT1D6_1': 0
SexOfRelativeWithT1D6_1
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D6_1': 0
RelativeWithT1D7_1
unique values: ['nan' 'AU=Aunt/Uncle' 'CH=Child' 'C=Cousin' 'N=Niece/Nephew'
 'GP=Grandparent' 'FS=Brother/Sister']
Number of null values after preprocessing in column 'RelativeWithT1D7_1': 0
SexOfRelativeWithT1D7_1
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D7_1': 0
SexOfRelativeWithT1D8_1
unique values: ['nan' 'Male' 'Female']
Number of null values after preprocessing in column 'SexOfRelativeWithT1D8_1': 0
ParticipantDiagnosedWithT1D
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'ParticipantDiagnosedWithT1D': 0
ParticipantUsedInsulinOrOtherG
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'ParticipantUsedInsulinOrOtherG': 0
ParticipantHasKnownSevereActiv
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ParticipantHasKnownSevereActiv': 0
ParticipantPregnant
unique values: ['nan' 'No' 'Not applicable' 'Yes']
Number of null values after preprocessing in column 'ParticipantPregnant': 0
PermissionForHLAgeneticTesting
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'PermissionForHLAgeneticTesting': 0
PermissionForSampleStorage
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'PermissionForSampleStorage': 0
AsthmaEver
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AsthmaEver': 0
AsthmaWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AsthmaWithinLastYear': 0
CeliacDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'CeliacDiseaseEver': 0
CeliacDiseaseWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'CeliacDiseaseWithinLastYear': 0
InflammatoryBowelDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'InflammatoryBowelDiseaseEver': 0
InflammatoryBowelDiseaseWithin
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'InflammatoryBowelDiseaseWithin': 0
AddisonsDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AddisonsDiseaseEver': 0
AddisonsDiseaseWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AddisonsDiseaseWithinLastYear': 0
VitiligoEver
unique values: ['nan' 'No']

Number of null values after preprocessing in column 'VitiligoEver': 0
VitiligoWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'VitiligoWithinLastYear': 0
ThyroidDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ThyroidDiseaseEver': 0
ThyroidDiseaseWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ThyroidDiseaseWithinLastYear': 0
PsoriasisEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'PsoriasisEver': 0
PsoriasisWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'PsoriasisWithinLastYear': 0
AlopeciaEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AlopeciaEver': 0
AlopeciaWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AlopeciaWithinLastYear': 0
RheumatologicEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'RheumatologicEver': 0
RheumatologicWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'RheumatologicWithinLastYear': 0
MultipleSclerosisEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'MultipleSclerosisEver': 0
MultipleSclerosisWithinLastYea
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'MultipleSclerosisWithinLastYea': 0
OtherAutoimmuneDiseasesEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'OtherAutoimmuneDiseasesEver': 0
OtherAutoimmuneDiseasesWithinL
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'OtherAutoimmuneDiseasesWithinL': 0
EverParticipatedInPreventionSt
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'EverParticipatedInPreventionSt': 0
ParticipateInDPT1
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ParticipateInDPT1': 0
AllergiesEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AllergiesEver': 0
AllergiesWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'AllergiesWithinLastYear': 0
AntibodySampleCollected
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'AntibodySampleCollected': 0
BetaBlockers
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'BetaBlockers': 0
BllodForDNASampleCollected
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'BllodForDNASampleCollected': 0
BloodForCellsSampleCollected
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'BloodForCellsSampleCollected': 0
BloodForRNASampleCollected
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'BloodForRNASampleCollected': 0
CancerEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'CancerEver': 0
CancerWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'CancerWithinLastYear': 0
ColitisOrColonProblemsEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ColitisOrColonProblemsEver': 0
ColitisOrColonProblemsWithinLa
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'ColitisOrColonProblemsWithinLa': 0
CongenitalHeartDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'CongenitalHeartDiseaseEver': 0
CongenitalHeartDiseaseWithinLa
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'CongenitalHeartDiseaseWithinLa': 0
ConsenToContinuedStorageOfBloo
unique values: ['nan' 'Yes' 'No' 'Not applicable']
Number of null values after preprocessing in column 'ConsenToContinuedStorageOfBloo': 0
Corticosteroids
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Corticosteroids': 0
Diphenylhydantoin
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Diphenylhydantoin': 0
EpilepsyConvulsionsSeizuresEve
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'EpilepsyConvulsionsSeizuresEve': 0
EpilepsyConvulsionsSeizuresWit
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'EpilepsyConvulsionsSeizuresWit': 0
HLASamplesCollected
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'HLASamplesCollected': 0
HbA1cSamplesCollected
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'HbA1cSamplesCollected': 0
HepatitisOrLiverDiseaseEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'HepatitisOrLiverDiseaseEver': 0
HepatitisOrLiverDiseaseWithinL
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HepatitisOrLiverDiseaseWithinL': 0
HighBPever
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'HighBPever': 0
HighBPwithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'HighBPwithinLastYear': 0
HighcholesterolEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'HighcholesterolEver': 0
IVGTTSampleCollected
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'IVGTTSampleCollected': 0
ImmunosuppressiveTherapies
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'ImmunosuppressiveTherapies': 0
InfectiousMononucleosisEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'InfectiousMononucleosisEver': 0
InfectiousMononucleosisWithinL
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'InfectiousMononucleosisWithinL': 0
Niacin
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Niacin': 0
OGTTSampleCollected
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'OGTTSampleCollected': 0
ParticipantHasOneRelativeWithT
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'ParticipantHasOneRelativeWithT': 0
ParticipantUsedImmunosuppresiv
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ParticipantUsedImmunosuppresiv': 0
ParticipantUsingImmunosuppresi
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ParticipantUsingImmunosuppresi': 0
PerniciousAnemiaEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'PerniciousAnemiaEver': 0
PerniciousAnemiaWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'PerniciousAnemiaWithinLastYear': 0
PlasmaSampleCollected
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'PlasmaSampleCollected': 0
PotassiumDepletingDiurectics
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'PotassiumDepletingDiurectics': 0
SerumForProteomicsSampleCollec
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'SerumForProteomicsSampleCollec': 0
UlcerEver
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'UlcerEver': 0
UlcerWithinLastYear
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'UlcerWithinLastYear': 0
SelectStudyForPreventionOfT1D
unique values: ['nan' '6778.0' 'OTHER']
Number of null values after preprocessing in column 'SelectStudyForPreventionOfT1D': 0
TestingPlaceForAutoAntibodyOut
unique values: ['nan' '6778.0' 'OTHER']
Number of null values after preprocessing in column 'TestingPlaceForAutoAntibodyOut': 0
LimitedLifeExpectancyOrImmunos
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'LimitedLifeExpectancyOrImmunos': 0
AsthmaWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AsthmaWithinLast6Months': 0
CeliacDiseaseWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'CeliacDiseaseWithinLast6Months': 0
AddisonsDiseaseWithinLast6Months
unique values: ['nan' 'No' 'Yes']

Number of null values after preprocessing in column 'AddisonsDiseaseWithinLast6Months': 0
VitiligoWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'VitiligoWithinLast6Months': 0
ThyroidDiseaseWithinLast6Months
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'ThyroidDiseaseWithinLast6Months': 0
PsoriasisWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'PsoriasisWithinLast6Months': 0
AlopeciaWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AlopeciaWithinLast6Months': 0
RheumatologicWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'RheumatologicWithinLast6Months': 0
AllergiesWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AllergiesWithinLast6Months': 0
CancerWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'CancerWithinLast6Months': 0
UlcerWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'UlcerWithinLast6Months': 0
HighBPwithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HighBPwithinLast6Months': 0
PerniciousAnemiaWithinLast6Mo
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'PerniciousAnemiaWithinLast6Mo': 0
MultipleSclerosisWithinLast6Mo
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'MultipleSclerosisWithinLast6Mo': 0
hyperglycemia
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'hyperglycemia': 0
immunomodulatory
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'immunomodulatory': 0
systemicsteroids
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'systemicsteroids': 0
Metformin
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Metformin': 0
Thiazolidinediones
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Thiazolidinediones': 0
AlphaGlucosidaseInhibitors
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AlphaGlucosidaseInhibitors': 0
OtherGlucoseLoweringAgents
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'OtherGlucoseLoweringAgents': 0
SerumMechanisticSerumSampleCol
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'SerumMechanisticSerumSampleCol': 0
WholeBloodPBMCPlasmaSampleColl
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'WholeBloodPBMCPlasmaSampleColl': 0
participantdiagnosedT1D
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'participantdiagnosedT1D': 0
IsParticipantPregnant
unique values: ['nan' 'Not applicable' 'No']
Number of null values after preprocessing in column 'IsParticipantPregnant': 0
SignedMonitoringConsentProtoco
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'SignedMonitoringConsentProtoco': 0
HighCholesterolWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HighCholesterolWithinLast6Months': 0
Meglitinides
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Meglitinides': 0
HighCholestrolWithinLast6Months
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HighCholestrolWithinLast6Months': 0
Meglinitides
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'Meglinitides': 0
CurrentPhase
unique values: ['Screening (former Phase 1)' 'nan'
 'Baseline Monitoring  (former Phase 2)'
 'Follow-up Monitoring (former Phase 3)'
 'DPT-1 Monitoring Entry (former Phase 3)'
 'Control Entry - (former Phase 3)']
Number of null values after preprocessing in column 'CurrentPhase': 0
Status
unique values: ['nan' 'Not Eligible' 'Eligible' 'Registered']
Number of null values after preprocessing in column 'Status': 0
HospitalizedSinceLastVisit
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'HospitalizedSinceLastVisit': 0
OtherChronicDiseases
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'OtherChronicDiseases': 0
HaveHadComplicationsFromYourDi
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'HaveHadComplicationsFromYourDi': 0
HowIsWeightObtained
unique values: ['nan' 'Measured' 'Reported' 'Not Collected']
Number of null values after preprocessing in column 'HowIsWeightObtained': 0
HowIsHeightObtained
unique values: ['nan' 'Measured' 'Reported' 'Not Collected']
Number of null values after preprocessing in column 'HowIsHeightObtained': 0
SubjectUsingCGMS
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'SubjectUsingCGMS': 0
AreThere3GlucoseValuesAvailabl
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AreThere3GlucoseValuesAvailabl': 0
InsulDoseInfoAvailableFor3Days
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'InsulDoseInfoAvailableFor3Days': 0
AvgRecordedFastingGlucoses_unit
unique values: ['nan' 'mg/dL']
Number of null values after preprocessing in column 'AvgRecordedFastingGlucoses_unit': 0
AvgAllRecordedGlucoses_unit
unique values: ['nan' 'mg/dL']
Number of null values after preprocessing in column 'AvgAllRecordedGlucoses_unit': 0
LowestGlucose_unit
unique values: ['nan' 'mg/dL']
Number of null values after preprocessing in column 'LowestGlucose_unit': 0
HighestGlucose_unit
unique values: ['nan' 'mg/dL']
Number of null values after preprocessing in column 'HighestGlucose_unit': 0
InsulinRoutineDaily
unique values: ['nan' 'Insulin Pump (CSII)' '3+ Injections per day (MDI)'
 '1-2 Injections per day' 'No insulin']
Number of null values after preprocessing in column 'InsulinRoutineDaily': 0
RememberValueOfMostRecentHbA1c
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'RememberValueOfMostRecentHbA1c': 0
SeizuresFaintingLowBloodGlucos
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'SeizuresFaintingLowBloodGlucos': 0
HospitalizationsForHighGlucose
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'HospitalizationsForHighGlucose': 0
RequiredSpecimensCollected
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'RequiredSpecimensCollected': 0
OGTTCollected
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'OGTTCollected': 0
MMTTCollected
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'MMTTCollected': 0
AreYouUsingInjections
unique values: ['nan' 'Yes' 'No' 'Unknown']
Number of null values after preprocessing in column 'AreYouUsingInjections': 0
InsulinPump
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'InsulinPump': 0
DiagnosedAutoImmuneDisease
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'DiagnosedAutoImmuneDisease': 0
Asthma
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Asthma': 0
Allergies
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'Allergies': 0
Eczema
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'Eczema': 0
OtherInfections
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'OtherInfections': 0
Other
unique values: ['nan' 'No' 'Yes' 'Unknown']
Number of null values after preprocessing in column 'Other': 0
HeentFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'HeentFindings': 0
NeckThyroidFindings
unique values: ['nan' 'Normal' 'Abnormal']

Number of null values after preprocessing in column 'NeckThyroidFindings': 0
HeartFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'HeartFindings': 0
MusculoskeletalFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'MusculoskeletalFindings': 0
GenitaliaFindings
unique values: ['nan' 'Normal' 'Not Assessed']
Number of null values after preprocessing in column 'GenitaliaFindings': 0
AbdomenFindings
unique values: ['nan' 'Normal' 'Abnormal' 'Not Assessed']
Number of null values after preprocessing in column 'AbdomenFindings': 0
LymphaticsFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'LymphaticsFindings': 0
SkinFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'SkinFindings': 0
NeurologicFindings
unique values: ['nan' 'Normal' 'Abnormal']
Number of null values after preprocessing in column 'NeurologicFindings': 0
OtherFindings
unique values: ['nan' 'Not Assessed' 'Abnormal']
Number of null values after preprocessing in column 'OtherFindings': 0
ReproductiveChildbearingPotent
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'ReproductiveChildbearingPotent': 0
UrinePregnancyTest
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'UrinePregnancyTest': 0
UrinePregnancyTestPositive
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'UrinePregnancyTestPositive': 0
PlateletCountNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'PlateletCountNotDone': 0
MCHNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'MCHNotDone': 0
MCHCNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'MCHCNotDone': 0
NeutrophilsNotDone
unique values: ['nan' '1' '1.0']
Number of null values after preprocessing in column 'NeutrophilsNotDone': 0
LymphocytesNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'LymphocytesNotDone': 0
MonocytesNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'MonocytesNotDone': 0
EosinophilsNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'EosinophilsNotDone': 0
BasophilsNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'BasophilsNotDone': 0
Subject18
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'Subject18': 0
ReceivedInfluenzaVaccination
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'ReceivedInfluenzaVaccination': 0
EvidenceOfTuberculosisInfectio
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'EvidenceOfTuberculosisInfectio': 0
UseImmunosuppressiveAgents
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'UseImmunosuppressiveAgents': 0
ComplicatedMedIssuesOrAbnormal
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'ComplicatedMedIssuesOrAbnormal': 0
Gender
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'Gender': 0
CollectBloodSamples
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'CollectBloodSamples': 0
EligibileToBeScreenedForTheStu
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'EligibileToBeScreenedForTheStu': 0
SexGenderPerson
unique values: ['nan' 'Female' 'Male']
Number of null values after preprocessing in column 'SexGenderPerson': 0
HospitalizedOtherthanDiabetes
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HospitalizedOtherthanDiabetes': 0
AdmittedHospitalDiagnosis
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AdmittedHospitalDiagnosis': 0
IGRATestPositive
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'IGRATestPositive': 0
InterferonGammaReleaseAssayIGR3
unique values: ['nan' 'Sep' 'May' 'Jan' 'Feb' 'Jul' 'Mar' 'Dec' 'Aug' 'Nov' 'Apr' 'Jun'
 'Oct']
Number of null values after preprocessing in column 'InterferonGammaReleaseAssayIGR3': 0
PregTestPos
unique values: ['nan' 'No' 'Not applicable']
Number of null values after preprocessing in column 'PregTestPos': 0
FebrileIllness10Days
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'FebrileIllness10Days': 0
ExacerbationOfCRS
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'ExacerbationOfCRS': 0
FeverPresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'FeverPresent': 0
SkinRashHypersentivityPresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'SkinRashHypersentivityPresent': 0
FatigueMalaisePresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'FatigueMalaisePresent': 0
DizyLightHeadedPresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'DizyLightHeadedPresent': 0
NauseeVomitPresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'NauseeVomitPresent': 0
HypotensionPresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HypotensionPresent': 0
HypertensionPresent
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'HypertensionPresent': 0
HeadcahePresent
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'HeadcahePresent': 0
IVinfiltrationPresent
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'IVinfiltrationPresent': 0
InfusionRelatedEventAnaphylaxi
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'InfusionRelatedEventAnaphylaxi': 0
InfusionRelatedEventOther
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'InfusionRelatedEventOther': 0
FullDoseInfused
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'FullDoseInfused': 0
AnyProblemsRecievingStudyDrugt
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'AnyProblemsRecievingStudyDrugt': 0
AcetaminophenGivenToParticipan
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'AcetaminophenGivenToParticipan': 0
DiphenhydramineDoseGiven
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'DiphenhydramineDoseGiven': 0
AnyOtherMedications
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'AnyOtherMedications': 0
Color
unique values: ['nan' 'Yellow' 'Colorless' 'Amber']
Number of null values after preprocessing in column 'Color': 0
Appearance
unique values: ['nan' 'Clear' 'Hazy' 'Cloudy']
Number of null values after preprocessing in column 'Appearance': 0
Leukocytes
unique values: ['nan' 'Negative' 'Trace' '1+' '2+']
Number of null values after preprocessing in column 'Leukocytes': 0
Nitrite
unique values: ['nan' 'Negative' 'Positive']
Number of null values after preprocessing in column 'Nitrite': 0
Protein
unique values: ['nan' 'Trace' 'Negative' '+/30']
Number of null values after preprocessing in column 'Protein': 0
Glucose
unique values: ['nan' 'Normal' '1000' '1000.0' '500' '100.0' '250.0' '50.0' '250' '500.0'
 '100' 'Not Done']
Number of null values after preprocessing in column 'Glucose': 0
Ketones
unique values: ['nan' '+Small' 'Negative' '+++Large']
Number of null values after preprocessing in column 'Ketones': 0
Urobilinogen
unique values: ['nan' 'Normal' '12' '1' '1.0' '12.0']
Number of null values after preprocessing in column 'Urobilinogen': 0
Bilirubin
unique values: ['nan' 'Negative' '+']
Number of null values after preprocessing in column 'Bilirubin': 0
Blood
unique values: ['nan' 'Normal' 'Trace' '250.0' '50.0']
Number of null values after preprocessing in column 'Blood': 0
Rbcnotdone
unique values: ['nan' '1']

Number of null values after preprocessing in column 'Rbcnotdone': 0
HemoglobinNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'HemoglobinNotDone': 0
HematocritNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'HematocritNotDone': 0
MCVNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'MCVNotDone': 0
WBCNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'WBCNotDone': 0
Doestheparticipanthavereproduc
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'Doestheparticipanthavereproduc': 0
Wasaurinepregnancytestcomplete
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'Wasaurinepregnancytestcomplete': 0
Wasthetestresultpositive
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'Wasthetestresultpositive': 0
bloodpressureDiastolicNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'bloodpressureDiastolicNotDone': 0
WeightNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'WeightNotDone': 0
HeightNotDone
unique values: ['nan' '1']
Number of null values after preprocessing in column 'HeightNotDone': 0
Wasaphysicalexamperformedatthi
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'Wasaphysicalexamperformedatthi': 0
HEENT
unique values: ['nan' 'Normal' 'Abnormal' 'Not Assessed']
Number of null values after preprocessing in column 'HEENT': 0
NeckThyroid
unique values: ['nan' 'Normal' 'Not Assessed' 'Abnormal']
Number of null values after preprocessing in column 'NeckThyroid': 0
Heart
unique values: ['nan' 'Normal' 'Not Assessed']
Number of null values after preprocessing in column 'Heart': 0
Lungs
unique values: ['nan' 'Normal' 'Not Assessed' 'Abnormal']
Number of null values after preprocessing in column 'Lungs': 0
Pulses
unique values: ['nan' 'Normal' 'Not Assessed']
Number of null values after preprocessing in column 'Pulses': 0
Musculoskeletal
unique values: ['nan' 'Normal' 'Not Assessed' 'Abnormal']
Number of null values after preprocessing in column 'Musculoskeletal': 0
Genitalia
unique values: ['nan' 'Normal' 'Not Assessed']
Number of null values after preprocessing in column 'Genitalia': 0
Abdomen
unique values: ['nan' 'Normal' 'Abnormal' 'Not Assessed']
Number of null values after preprocessing in column 'Abdomen': 0
Lymphatics
unique values: ['nan' 'Normal' 'Not Assessed']
Number of null values after preprocessing in column 'Lymphatics': 0
Skin
unique values: ['nan' 'Normal' 'Abnormal' 'Not Assessed']
Number of null values after preprocessing in column 'Skin': 0
Neurologic
unique values: ['nan' 'Normal' 'Not Assessed' 'Abnormal']
Number of null values after preprocessing in column 'Neurologic': 0
GivenStudyDrugDoseInClinic
unique values: ['nan' 'Yes']
Number of null values after preprocessing in column 'GivenStudyDrugDoseInClinic': 0
StudyDrugDose
unique values: ['nan' '500' '67.5' '500.0']
Number of null values after preprocessing in column 'StudyDrugDose': 0
SignsOfHypoglycemia
unique values: ['nan' 'No']
Number of null values after preprocessing in column 'SignsOfHypoglycemia': 0
OtherProblems
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'OtherProblems': 0
StudyDrugReturned
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'StudyDrugReturned': 0
StudyDrugDispensed
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'StudyDrugDispensed': 0
ParticipantReceiveStudyDrug
unique values: ['nan' 'At Clinical Center' 'By Courier']
Number of null values after preprocessing in column 'ParticipantReceiveStudyDrug': 0
MedicationPackNumber1_1
unique values: ['nan' 'BC#3' 'BC#5' '7' '02' 'BC04' '03' '05' 'BC#4' 'BC#6' 'BC03' '3.0'
 '4.0' '5.0' 'BC#02' '06' '04' '07' '3' 'Oral Insulin Capsule 250mg BC 05'
 'Oral Insulin capsule 250mg Bottle no. 2' '2.0' '6.0' '4' 'BC-03' 'BC-04'
 'BC-05' 'BC-02' 'BC-06' 'BC#03' '16B0082'
 'Oral Insulin Capsules 250g strength' '05 Insulin capsules 250mg' 'BC#2'
 'BC#05' 'BC 05' 'BC06' 'BC02' 'BC05' '1.0' '2' 'BC3' 'BC #02' 'BC#04' '5'
 'BC # 4' 'BC # 6' 'BC#:03' 'BC#:04' '7.0'
 'Oral Insulin Capsule 250mg bottle 3'
 'Oral Insulin Capsules 250mg strength bottle 5' 'BC#01 (5 caps remained)'
 'BC#02 (14 caps remained)' 'BC#03 (20 caps remained)' '1' 'BC #3' 'BC 4'
 'BC 5' 'BC#06' 'Oral Insulin Capsule 67.5mg'
 '05/ Insulin oralcapsules 67.5mg' 'BC# 02' 'BC#03 (re-dispensed)'
 'BC# 04 (re-dispensed)' 'BC#: 03 (2 caps remained)'
 'BC#:04 (full - 4 caps) re-dispensed']
Number of null values after preprocessing in column 'MedicationPackNumber1_1': 0
LotNumber1_1
unique values: ['nan' '16B0083' '16B0082' '16B0246' '16B0247' 'BC4' '16B0356' '16B0353'
 'Lot#: 16B0246' '16B00083' 'Lot#: 16B0247' '705065']
Number of null values after preprocessing in column 'LotNumber1_1': 0
MedicationPackNumber2_1
unique values: ['nan' 'BC#4' 'BC#6' '2' 'BC05' '02' 'BC03' '06' 'BC#5' '03' 'BC04' '2.0'
 '6.0' 'BC#03' '07' 'BC01' '05' '4' 'Oral Insulin Capsule 250mg BC 06'
 '3.0' '5.0' '7.0' 'BC-06' 'BC-03' 'BC-05' 'BC-07' 'BC #01  1 capsule'
 'BC#02 12 capsules' '16B0082' 'Oral Insulin Capsules 250mg strength'
 '06 Insulin capsules 250mg' 'BC#04' 'BC#06' '1.0' '4.0' 'BC07' 'BC06' '3'
 'BC4' 'BC #03' 'BC#05' '04' '6' 'BC # 5' 'BC # 7' 'BC#1' 'BC#:02'
 'Oral Insulin Capsule 250mg bottle 4'
 'Oral Insulin Capsules 250mg strength Bottle 6'
 'BC#02 (full BC - 35 caps)' 'BC#03 (full BC - 35 caps)'
 'BC#04 (full BC - 35 caps)' 'BC 6' 'BC#01'
 '06/ Insulin oral capsules 67.5mg' 'BC# 03' 'BC#05 (re-dispensed)'
 'BC#: 04 (full- 4 caps)' 'BC#:05 (full - 4 caps) re-dispensed']
Number of null values after preprocessing in column 'MedicationPackNumber2_1': 0
LotNumber2_1
unique values: ['nan' '16B0083' '16B083' '16B0082' '16B0246' '16B0247' 'BC5' '16N0247'
 '16B0356' '16B0353' 'Lot#: 16B0246' '16B00083' 'Lot#: 16B0247']
Number of null values after preprocessing in column 'LotNumber2_1': 0
MedicationPackNumber3_1
unique values: ['nan' 'BC06' 'BC02' '04' 'BC05' '3.0' '4.0' 'BC03' '05' '03'
 'Oral Insulin Capsule 250mg BC 2 07' '5.0' '1.0' '6.0' '16B0082'
 '07 Insulin capsules 250mg' 'BC#07' '2.0' 'BC07' 'BC#03' '3- redispensed'
 '7.0' 'BC # 5' 'BC#2' 'BC#3' 'BC-03' 'BC-04'
 'Oral Insulin Capsule 250mg bottle 2'
 'Oral Insulin Capsules 250mg strength bottle 7'
 'BC#03 (full BC - 35 caps)' 'BC#04 (full BC - 35 caps'
 'BC#05 (full BC - 35 caps' '3' 'BC#02' 'BC#05' 'BC#06'
 'BC#:05 (full - 4 caps)' 'BC#:06 (full - 4 caps)' '07']
Number of null values after preprocessing in column 'MedicationPackNumber3_1': 0
LotNumber3_1
unique values: ['nan' '16B0083' '16B0082' '16B0246' '16B0247' 'BC6' '16B0356' '16B0353'
 'Lot#: 16B0246' 'Lot#: 16B0247']
Number of null values after preprocessing in column 'LotNumber3_1': 0
UnusualCircumstances
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'UnusualCircumstances': 0
STHavetherebeenanychangesinhea
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'STHavetherebeenanychangesinhea': 0
STHavetherebeenanychangesincon
unique values: ['nan' 'No' 'Yes']
Number of null values after preprocessing in column 'STHavetherebeenanychangesincon': 0
STIstheparticipantcurrentlytak
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'STIstheparticipantcurrentlytak': 0
STWastheparticipantcontactedat
unique values: ['nan' 'Yes' 'No']
Number of null values after preprocessing in column 'STWastheparticipantcontactedat': 0
HbA1c_Units
unique values: ['Hb%' 'NaN']
Number of null values after preprocessing in column 'HbA1c_Units': 0
Height_cm_units
unique values: ['cm']
Number of null values after preprocessing in column 'Height_cm_units': 0
Weight_kg_units
unique values: ['kg']
Number of null values after preprocessing in column 'Weight_kg_units': 0

In [88]:
#save it to create data dictionary
#with open('encoding.pickle', 'wb') as file:
#    pickle.dump(embed, file)

In [89]:
# Loop through the specified columns and add a missing indicator column for each
# 1 means misssing , 0 means not missing
for col in between_50_99:
    df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)

/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)
/tmp/ipykernel_28550/420081964.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{col}_missing_indicator'] = df[col].isnull().astype(int)

In [93]:
#fill NaN with 0 for the columns with missing values between 50% and 99%
df[between_50_99]=df[between_50_99].fillna(0)

In [96]:
df.shape

(259168, 491)

In [ ]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=5)  # You can adjust 'n_neighbors' as needed
# Impute missing values using the KNN imputer for each numeric column with less than 50% missing value
j=0
for column in missing_60[1:]:
    print(column)
    print(j)
    j+=1
    df[column] = imputer.fit_transform(df[column].values.reshape(-1, 1))

GAD65H_y
0
MIAA
1
IA-2H
2
ZNT8
3
ICA512
4
ICA
5
GAD65
6
GLU60
7
PEP120
8
PEP60
9
INST-10
10
PEP-10
11
INST60
12
INST0
13
GLU30
14
HbA1c
15
GLU-10
16
GLU0
17
PEP30
18
INST30
19
INST120
20
GLU90
21
PEP90
22
GLU120
23
INST90
24
PEP0
25
INS0
26
INS120
27
INS-10
28
INS60
29
INS30
30
INS90
31
GLU15
32
PEP15
33
PEP240
34
GLU240
35
PEP150
36
GLU180
37
PEP180
38
GLU150
39
PEP210
40
EBVVL
41
CMVVL
42
GLU210
43
CD8P
44
CD8A
45
CD4P
46
CD4CD8
47
CD4A
48
TPRO
49
TBIL
50
SOD
51
POT
52
GLU
53
GLOIgG
54
DBIL
55
CREA
56
CHL
57
BIC
58
ALT
59
ALP
60
ALB
61
UREA
62

In [ ]:
df.to_csv('AI_Ready.csv',index=False)

In [227]:
d=pd.read_csv('AI_Ready.csv')

/tmp/ipykernel_28550/2546570015.py:1: DtypeWarning: Columns (85,226,241,278,289,309,436,437,438,439,440,441,442,444,445,446,447,448,449,450,451,455,456,457,458,459) have mixed types. Specify dtype option on import or set low_memory=False.
  d=pd.read_csv('AI_Ready.csv')

In [229]:
# Check if there are any null values in the DataFrame
if d.isnull().any().any():
    print("There are null values in the DataFrame.")
else:
    print("There are no null values in the DataFrame.")

There are no null values in the DataFrame.

In [222]:
d[columns_with_null]=df[columns_with_null].fillna(0)

In [201]:
dfc=pd.merge(df1,old,on='Variable Name',how='left')
dfc

,Variable Name,Details,Description,Variable Type,Measurement Units as applicable,Corresponding Code List,Missingness Representation,Variable Manipulation
0,_15Aug2011ConsentForResidualSa,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",Did participant consent to continued storage o...,object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation,Yes
1,WhichProtocolVersion,"{'nan': 2, 'October 10, 2017': 1, '22February2...",Which version of the Natural History protocol ...,object,NaN,"{'nan': 4, '15August2011': 0, '22July2009': 2,...",KNN Imputation,Yes
2,ProtocolVersion,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",Protocol Version,object,NaN,"{'nan': 7, '3.0': 2, '4.0': 3, '2.0': 1, 'Octo...",KNN Imputation,Yes
3,Rbcresults_Units,"{'NaN': 0, 'x10^12 cells/L': 1}",Unit of RBC results,object,NaN,"{'nan': 0, 'x10^12 cells/L': 1}",KNN Imputation,Yes
4,RBCResultsNormal,"{'nan': 2, 'Yes': 1, 'No': 0}",RBC results normal,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
...,...,...,...,...,...,...,...,...
347,STIstheparticipantcurrentlytak,"{'nan': 2, 'Yes': 1, 'No': 0}",ST Is the participant currently taking study drug,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
348,STWastheparticipantcontactedat,"{'nan': 2, 'Yes': 1, 'No': 0}",ST Was the participant contacted at a minimum ...,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
349,HbA1c_Units,"{'Hb%': 0, 'NaN': 1}",Unit of HbA1c,object,NaN,"{'nan': 1, 'Hb%': 0}",KNN Imputation,Yes
350,Height_cm_units,{'cm': 0},unit of height,object,NaN,{'cm': 0},KNN Imputation,Yes
351,Weight_kg_units,{'kg': 0},unit of weight,object,NaN,{'kg': 0},KNN Imputation,Yes

In [202]:
dfc.drop('Corresponding Code List',axis=1,inplace=True)
dfc

,Variable Name,Details,Description,Variable Type,Measurement Units as applicable,Missingness Representation,Variable Manipulation
0,_15Aug2011ConsentForResidualSa,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",Did participant consent to continued storage o...,object,NaN,KNN Imputation,Yes
1,WhichProtocolVersion,"{'nan': 2, 'October 10, 2017': 1, '22February2...",Which version of the Natural History protocol ...,object,NaN,KNN Imputation,Yes
2,ProtocolVersion,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",Protocol Version,object,NaN,KNN Imputation,Yes
3,Rbcresults_Units,"{'NaN': 0, 'x10^12 cells/L': 1}",Unit of RBC results,object,NaN,KNN Imputation,Yes
4,RBCResultsNormal,"{'nan': 2, 'Yes': 1, 'No': 0}",RBC results normal,object,NaN,KNN Imputation,Yes
...,...,...,...,...,...,...,...
347,STIstheparticipantcurrentlytak,"{'nan': 2, 'Yes': 1, 'No': 0}",ST Is the participant currently taking study drug,object,NaN,KNN Imputation,Yes
348,STWastheparticipantcontactedat,"{'nan': 2, 'Yes': 1, 'No': 0}",ST Was the participant contacted at a minimum ...,object,NaN,KNN Imputation,Yes
349,HbA1c_Units,"{'Hb%': 0, 'NaN': 1}",Unit of HbA1c,object,NaN,KNN Imputation,Yes
350,Height_cm_units,{'cm': 0},unit of height,object,NaN,KNN Imputation,Yes
351,Weight_kg_units,{'kg': 0},unit of weight,object,NaN,KNN Imputation,Yes

In [203]:
# Step 1: Extract the second column ('B')
second_column = dfc.pop('Details')

# Step 2: Remove the second column from the DataFrame
# Now, df does not have the 'B' column

# Step 3: Insert the second_column Series at the fifth position
dfc.insert(4, 'Details', second_column)

In [204]:
dfc

,Variable Name,Description,Variable Type,Measurement Units as applicable,Details,Missingness Representation,Variable Manipulation
0,_15Aug2011ConsentForResidualSa,Did participant consent to continued storage o...,object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation,Yes
1,WhichProtocolVersion,Which version of the Natural History protocol ...,object,NaN,"{'nan': 2, 'October 10, 2017': 1, '22February2...",KNN Imputation,Yes
2,ProtocolVersion,Protocol Version,object,NaN,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",KNN Imputation,Yes
3,Rbcresults_Units,Unit of RBC results,object,NaN,"{'NaN': 0, 'x10^12 cells/L': 1}",KNN Imputation,Yes
4,RBCResultsNormal,RBC results normal,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
...,...,...,...,...,...,...,...
347,STIstheparticipantcurrentlytak,ST Is the participant currently taking study drug,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
348,STWastheparticipantcontactedat,ST Was the participant contacted at a minimum ...,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
349,HbA1c_Units,Unit of HbA1c,object,NaN,"{'Hb%': 0, 'NaN': 1}",KNN Imputation,Yes
350,Height_cm_units,unit of height,object,NaN,{'cm': 0},KNN Imputation,Yes
351,Weight_kg_units,unit of weight,object,NaN,{'kg': 0},KNN Imputation,Yes

In [205]:
dfc1=dfc.rename(columns={'Details': 'Corresponding Code List'}, inplace=True)


dfc1

In [207]:
dfc

,Variable Name,Description,Variable Type,Measurement Units as applicable,Corresponding Code List,Missingness Representation,Variable Manipulation
0,_15Aug2011ConsentForResidualSa,Did participant consent to continued storage o...,object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation,Yes
1,WhichProtocolVersion,Which version of the Natural History protocol ...,object,NaN,"{'nan': 2, 'October 10, 2017': 1, '22February2...",KNN Imputation,Yes
2,ProtocolVersion,Protocol Version,object,NaN,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",KNN Imputation,Yes
3,Rbcresults_Units,Unit of RBC results,object,NaN,"{'NaN': 0, 'x10^12 cells/L': 1}",KNN Imputation,Yes
4,RBCResultsNormal,RBC results normal,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
...,...,...,...,...,...,...,...
347,STIstheparticipantcurrentlytak,ST Is the participant currently taking study drug,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
348,STWastheparticipantcontactedat,ST Was the participant contacted at a minimum ...,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
349,HbA1c_Units,Unit of HbA1c,object,NaN,"{'Hb%': 0, 'NaN': 1}",KNN Imputation,Yes
350,Height_cm_units,unit of height,object,NaN,{'cm': 0},KNN Imputation,Yes
351,Weight_kg_units,unit of weight,object,NaN,{'kg': 0},KNN Imputation,Yes

In [209]:
dfd = d.drop(index=range(440))

In [213]:
import pandas as pd


# Concatenate (union) the two DataFrames
result_df = pd.concat([dfd, dfc])

print(result_df)

                      Variable Name  \
440   willingToConsiderAtALaterTime
441  DateParticipantwascontacted1_2
442     HospitalizedAtDiagnosisTime
443            Date_of_Registration
444             Date_of_Study_Start
..                              ...
347  STIstheparticipantcurrentlytak
348  STWastheparticipantcontactedat
349                     HbA1c_Units
350                 Height_cm_units
351                 Weight_kg_units

                                           Description Variable Type  \
440  Did the participant indicate they may be willi...        object
441                     Date participant was contacted        object
442                        HospitalizedAtDiagnosisTime        object
443                               Date of Registration        object
444                                Date of Study Start        object
..                                                 ...           ...
347  ST Is the participant currently taking study drug        object
348  ST Was the participant contacted at a minimum ...        object
349                                      Unit of HbA1c        object
350                                     unit of height        object
351                                     unit of weight        object

     Measurement Units as applicable        Corresponding Code List  \
440                              NaN                            NaN
441                              NaN                            NaN
442                              NaN                            NaN
443                              NaN                            NaN
444                              NaN                            NaN
..                               ...                            ...
347                              NaN  {'nan': 2, 'Yes': 1, 'No': 0}
348                              NaN  {'nan': 2, 'Yes': 1, 'No': 0}
349                              NaN           {'Hb%': 0, 'NaN': 1}
350                              NaN                      {'cm': 0}
351                              NaN                      {'kg': 0}

    Missingness Representation Variable Manipulation
440                          0                   Yes
441                          0                   Yes
442                          0                   Yes
443                          0                    No
444                          0                   Yes
..                         ...                   ...
347             KNN Imputation                   Yes
348             KNN Imputation                   Yes
349             KNN Imputation                   Yes
350             KNN Imputation                   Yes
351             KNN Imputation                   Yes

[535 rows x 7 columns]

In [215]:
result_df.to_csv('data_dictionary.csv',index=False)

In [208]:
d.head(440)

,Variable Name,Description,Variable Type,Measurement Units as applicable,Corresponding Code List,Missingness Representation,Variable Manipulation
0,Visit,Visit,object,NaN,"{'PRN': 70, '4 years': 36, 'Baseline': 63, '6 ...",KNN Imputation,Yes
1,_22Jul2009VisitType,NaN,object,NaN,"{'nan': 4, 'Initial Screening Visit': 1, 'Resc...",KNN Imputation,Yes
2,_15Aug2011VisitType,Visit type,object,NaN,"{'nan': 5, 'Rescreen/Confirmatory Screening Vi...",KNN Imputation,Yes
3,StorageOfResidualsDuringTrialN,Did participant consent to current storage of ...,object,NaN,"{'nan': 1, 'Not applicable': 0, 'no': 2, 'yes'...",KNN Imputation,Yes
4,_15Aug2011ConsentForResidualSa,Did participant consent to continued storage o...,object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation,Yes
...,...,...,...,...,...,...,...
435,Havetherebeenanychangesinconco,Have there been any changes in concomitant med...,object,NaN,"{'nan': 2, 'No': 0, 'Yes': 1}",KNN Imputation,Yes
436,Istheparticipantcurrentlytakin,Is the participant currently taking study drug,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation,Yes
437,HbA1c_Units,Unit of HbA1c,object,NaN,"{'nan': 1, 'Hb%': 0}",KNN Imputation,Yes
438,Height_cm_units,unit of height,object,NaN,{'cm': 0},KNN Imputation,Yes
439,Weight_kg_units,unit of weight,object,NaN,{'kg': 0},KNN Imputation,Yes

In [112]:
d1=pd.read_csv('df_encode.csv')

In [178]:
d1

,Variable Name,Variable Type,Measurement Units as applicable,Corresponding Code List,Missingness Representation
0,Visit,object,NaN,"{'PRN': 70, '4 years': 36, 'Baseline': 63, '6 ...",KNN Imputation
1,_22Jul2009VisitType,object,NaN,"{'nan': 4, 'Initial Screening Visit': 1, 'Resc...",KNN Imputation
2,_15Aug2011VisitType,object,NaN,"{'nan': 5, 'Rescreen/Confirmatory Screening Vi...",KNN Imputation
3,StorageOfResidualsDuringTrialN,object,NaN,"{'nan': 1, 'Not applicable': 0, 'no': 2, 'yes'...",KNN Imputation
4,_15Aug2011ConsentForResidualSa,object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation
...,...,...,...,...,...
434,Havetherebeenanychangesinconco,object,NaN,"{'nan': 2, 'No': 0, 'Yes': 1}",KNN Imputation
435,Istheparticipantcurrentlytakin,object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation
436,HbA1c_Units,object,NaN,"{'nan': 1, 'Hb%': 0}",KNN Imputation
437,Height_cm_units,object,NaN,{'cm': 0},KNN Imputation
438,Weight_kg_units,object,NaN,{'kg': 0},KNN Imputation

In [114]:
embed

[{'Column': '_15Aug2011ConsentForResidualSa',
  'Details': {'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}},
 {'Column': 'WhichProtocolVersion',
  'Details': {'nan': 2, 'October 10, 2017': 1, '22February2019': 0}},
 {'Column': 'ProtocolVersion',
  'Details': {'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New': 3, 'Old': 4}},
 {'Column': 'Rbcresults_Units', 'Details': {'NaN': 0, 'x10^12 cells/L': 1}},
 {'Column': 'RBCResultsNormal', 'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'RBCResultAbormalClinicallySign',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'HemoglobinResults_Units', 'Details': {'NaN': 0, 'mg/dL': 1}},
 {'Column': 'HemoglobinResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'HemoglobinResultAbormalClinica',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'HematocritResults_Units', 'Details': {'NaN': 1, '% of blood': 0}},
 {'Column': 'HematocritResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'HematocritResultAbormalClinica',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'MCVresults_Units', 'Details': {'NaN': 0, 'fL': 1}},
 {'Column': 'MCVresultsNormal', 'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'MCVResultAbormalClinicallySign',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'PlateletCountResultsNormal2',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'MCHresults_Units', 'Details': {'NaN': 0, 'pg': 1}},
 {'Column': 'MCHresultsNormal', 'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'MCHResultAbormalClinicallySign',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'MCHCresults_Units', 'Details': {'NaN': 0, 'g/dL': 1}},
 {'Column': 'MCHCresultsNormal', 'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'WBCresults_Units', 'Details': {'NaN': 0, 'x10^9 cells/L': 1}},
 {'Column': 'WBCresultsNormal', 'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'WBCResultAbormalClinicallySign',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'NeutrophilsResults_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'NeutrophilsResultsOR_Units',
  'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'NeutrophilsResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'NeutrophilsResultAbormalClinic',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'LymphocytesResults_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'LymphocytesResultsOR_Units',
  'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'LymphocytesResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'LymphocytesResultAbormalClinic',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'MonocytesResults_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'MonocytesResultsOR_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'MonocytesResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'MonocytesResultAbormalClinical',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'EosinophilsResults_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'EosinophilsResultsOR_Units',
  'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'EosinophilsResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'EosinophilsResultAbormalClinic',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'BasophilsResults_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'BasophilsResultsOR_Units', 'Details': {'NaN': 1, '% of WBC': 0}},
 {'Column': 'BasophilsResultsNormal',
  'Details': {'nan': 2, 'Yes': 1, 'No': 0}},
 {'Column': 'Hastheparticipantbeentoahealth',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadknownconta',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadknownconta2',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipantbeentestedfor',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadafever',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadchillsasso',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadacough',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadanydifficu',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadanypersist',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Hastheparticipanthadalossreduc', 'Details': {'nan': 1, 'No': 0}},
 {'Column': 'Hastheparticipantexperiencedvo',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': '_8Hastheparticipantbeendiagnos',
  'Details': {'nan': 2, 'No': 0, 'Yes': 1}},
 {'Column': 'Visit_Type',
  'Details': {'nan': 3, 'Online Screening': 1, 'Remote': 2, 'In-Person': 0}},
 {'Column': 'RelativeWithT1D', 'Details': {'Yes': 1, 'nan': 2, 'No': 0}},
 {'Column': 'DegreeOfRelative_1st', 'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'DegreeOfRelative_2ndor3rd',
  'Details': {'1.0': 1, '0.0': 0, 'nan': 2}},
 {'Column': 'HaveDiabetes', 'Details': {'No': 0, 'Yes': 1, 'nan': 2}},
 {'Column': 'ParticipantLocation',
  'Details': {'nan': 2, 'International': 0, 'North American': 1}},
 {'Column': 'Sex', 'Details': {'Male': 1, 'Female': 0, 'nan': 2}},
 {'Column': 'Ethnicity',
  'Details': {'Hispanic or Latino': 0,
   'Not Hispanic or Latino': 2,
   'Unknown': 4,
   'nan': 5,
   'Not Hispanic, Latino, or Spanish Origin': 3,
   'Hispanic, Latino, or Spanish Origin': 1}},
 {'Column': 'Race_AmericanIndianorAlaskaNat',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'Race_Asian', 'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'Race_BlackorAfricanAmerican',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'Race_NativeHawaiianorOtherPaci',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'Race_Refused', 'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'Race_Unknownornotreported',
  'Details': {'1.0': 1, '0.0': 0, 'nan': 2}},
 {'Column': 'Race_White', 'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'Relationship',
  'Details': {'nan': 3, 'Mother': 2, 'Father': 0, 'Guardian(s)': 1}},
 {'Column': 'FirstHearAboutTrialN_ExistingTri',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_FamilyFrien',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_Brochure',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_Healthcarep',
  'Details': {'1.0': 1, '0.0': 0, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_Tollfreepho',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'FirstHearAboutTrialN_NewspaperMa',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'FirstHearAboutTrialN_Poster',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'FirstHearAboutTrialN_Camp',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_MeetingPres',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_RadioTV',
  'Details': {'0.0': 0, 'nan': 2, '1.0': 1}},
 {'Column': 'FirstHearAboutTrialN_Internet',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'FirstHearAboutTrialN_Other',
  'Details': {'0.0': 0, '1.0': 1, 'nan': 2}},
 {'Column': 'InitialScreeningLocation',
  'Details': {'nan': 5,
   'TrialNet Site': 3,
   'Kit (Lab/Participating MD)': 1,
   'Camp': 0,
   'Walk': 4,
   'Other': 2}},
 {'Column': 'InitialScreeningLocationOtherS',
  'Details': {'nan': 809,
   'JDRF ONE NATION': 322,
   'Screening event': 614,
   'Bay Area Diabetes Summit': 66,
   'Offsite Screening Event': 504,
   'Offsite': 501,
   'Family Diabetes Event': 210,
   'T1D Conference': 640,
   'FL AQUARIUM': 205,
   'offsite': 817,
   'DR. xxxxxx OFFICE': 153,
   'SUMMER BLAST': 595,
   'M Health Maple Grove': 448,
   'Conference': 135,
   'JDRF': 282,
   '2017 CWD Falls Church, VA': 22,
   'JDRF Summit': 338,
   'Primary Health Care Clinic': 543,
   'PEA-ATLANTA': 522,
   'JDRF Type 1 Nation Summit': 353,
   'Primary health care clinic': 550,
   'Festival': 213,
   'CWD': 102,
   'Home': 256,
   'JDRF One Nation Event': 325,
   'TEDDY site': 663,
   'local diabetes event': 804,
   'Home Visit': 259,
   'HOME': 241,
   'Teddy Malmo Gertie': 682,
   'SEED Office': 586,
   'primary health care clinic': 848,
   'JDRF Summit mtg': 339,
   'Zoo Event': 740,
   'Chart Center': 120,
   'Travel Clinic - Pikeville, KY': 692,
   'JDRF summit': 387,
   'JDRF Picnic': 329,
   'JDRF Conference': 292,
   'Diabetic Clinic': 175,
   'LIONS CAMP': 417,
   'DESCHUTES COUNTY PUBLIC LIBRARY': 140,
   'TEDDY clinic Kristianstad': 661,
   'TypeOneNation Summit, Central Coast (California)': 712,
   'JDRF Event': 297,
   'at the Meeting in Carlsbad': 748,
   'JDRF Fall Festival': 304,
   'Camp Bus Stop': 109,
   'Home visit.': 265,
   'ADA event': 35,
   'JDRF Presentation': 330,
   'JDRF Research Summit': 332,
   'LAJDRF PICNIC': 411,
   'JDRF Walk': 368,
   '2016 JDRF Research Summit, Bethesda, MD': 21,
   "participant's home": 831,
   'School': 610,
   'gp practise': 781,
   'SACRAMENTO JDRF': 579,
   'Sam Fuld Sports Camp': 600,
   'Screening Event': 611,
   'unknown to me': 877,
   'JDRF WALK': 366,
   'World Diabetes Day Event': 734,
   'HOME VISIT': 243,
   '2015 JDRF Research Summit in Bethesda, MD': 12,
   'Event': 194,
   'JDRF RETREAT': 331,
   'diabetes 101': 765,
   'Level 2 site assigned to level 4 site 3440': 434,
   'CBS': 86,
   'Primary health care': 548,
   'Church Health Screenings': 131,
   'RETREAT': 564,
   'Recruits home': 568,
   'Primary Health Care': 542,
   'screening event': 862,
   'JDRF event': 377,
   'JDRF FAMILY DAY': 302,
   'MUVICO': 464,
   'Lodi Diabetes Support Group': 443,
   'JDRF Symposium': 340,
   'Eagle Scout Event': 188,
   'JDRF Peak Event': 327,
   'primary health care': 847,
   'CCHMC DIABETES PICNIC': 91,
   'JDRF Type one Nation summit': 359,
   'JDRF Annual Summer Picnic and TrialNet Screening Event': 284,
   'home': 785,
   'JDRF T1D Summit': 344,
   'Type 1 Diabetes Meeting': 698,
   'Yankee Staduim': 738,
   'BEARSKIN CAMP #3': 56,
   'Boy Scout Screening Clinic': 75,
   'Longview event': 444,
   'Eugene screening event': 193,
   '2018 JDRF Research Summit in Bethesda, MD': 26,
   'FFL': 202,
   'JDRF EVENT': 295,
   'TrialNet screening event': 697,
   'TEDDY Kristianstad': 655,
   'JDRF T1Nation': 346,
   'Offsite screening event': 508,
   'Friends for Life': 219,
   'Residence': 575,
   'JDRF Day of Hope': 294,
   'Friend': 218,
   'home visit': 790,
   'FFL 2017': 203,
   'JDRF Boofest': 286,
   'Own GP surgery': 513,
   'Hope N Health': 267,
   'JDRF TypeOne Nation': 361,
   "Child's home": 124,
   'JDRF event at Pittsburgh Zoo': 379,
   'JDRF Family Day at Six Flags': 308,
   'JDRF picnic': 385,
   'TON JDRF': 667,
   'JDRF One Nation': 324,
   'Touched by Type I': 690,
   'TYPE ONE NATION': 671,
   'Fort Collins Clinic': 215,
   'Children with Diabetes event at Disneyland Hotel': 125,
   'Discovery museum event 6-9-12': 179,
   'Airheads': 44,
   'off site screening event': 814,
   'LA JDRF PICNIC': 409,
   'BEARSKIN CAMP #4': 57,
   'JDRF Research Summit in Bethesda, MD': 333,
   'JRDRF FAMILY EVENT': 405,
   'Diabetes Event': 169,
   'health fair': 784,
   'JDRF Type 1 Nation': 352,
   'Student Health Care Center Courtesy Draw': 627,
   'Health Fair': 249,
   'Helena event': 252,
   'JDRF event at Field Museum': 378,
   'Back to School Event': 64,
   'Hospital clin chem lab': 270,
   'JDRF Expo': 301,
   'JDRF Type 1 Summit': 354,
   'JDRF TYPE 1 NATION': 349,
   'family event': 776,
   'BEARSKIN CAMP #2': 55,
   'Fort Collins Youth Clinic': 216,
   'Missoula event': 484,
   "Children's hospital Malmo": 128,
   'Diabetes Summit': 170,
   'capillary kit': 753,
   '2016 CWD, Falls Church, VA': 16,
   'CAMP SWEENY': 82,
   'DOGS 4 DIABETES': 147,
   'Affiliate site': 43,
   'CAMP AURORA': 79,
   'Guradians office.  She is a physician.': 239,
   'Clinic': 133,
   'RAHC- CRU - Harlingen': 559,
   'MORE Health Conference at UTPA': 459,
   'Primary Health care': 544,
   'SCREENING EVENT': 585,
   'CWD Conference': 103,
   'primary Health care': 843,
   'Fall Festival': 208,
   '2017 Diabetes Summit': 23,
   'JDRF Meet the Scientists': 317,
   'ADA Family Retreat': 33,
   'JDRF Research Summit, Bethesda, MD': 334,
   'Affiliate Site': 42,
   'Health Partners Woodbury': 250,
   'TON Summit': 669,
   'JDRF-OneTypeNation Summit': 396,
   'CAMP LITTLE SHOT': 80,
   'JDRF Type One Nation education event': 358,
   'Teddy Malmo': 681,
   'Santa Rosa Event- 4/30/2016': 605,
   'spe programme': 867,
   'Petersen Automotive event': 535,
   'Type 1 community event- Reflections- site screening': 704,
   'BLUE BONNETT': 60,
   'Taking Care of Your Diabetes San Diego': 677,
   'JDRF Vendor Expo': 365,
   'M Health MG': 447,
   'T1D SUMMIT': 642,
   'RAHC-CRU': 560,
   'clinic visit': 761,
   'JDRF T1D Summit GSO': 345,
   'Type 1 Nation summitt': 702,
   'Home visit': 263,
   'CBS home test kit': 88,
   'OTHER': 493,
   'FAMILY DIABETES SYMPOSIUM': 200,
   'Diabetes 101Class': 165,
   'Camp': 108,
   'Test kit': 686,
   'Renton event': 574,
   'patient home': 835,
   'MG M Health': 455,
   'JDRF type 1 nation': 390,
   'LOWRY PARK ZOO': 421,
   'HEALTH FAIR': 240,
   'Helena, MT - Screening event': 253,
   'Jump Planet': 407,
   'gp surgery': 782,
   'PARTICIPANTS HOME': 516,
   'JDRF Type One Nation': 355,
   'offsite event': 820,
   'Screening Event at Villagio': 612,
   'DR.xxxxxx OFFICE': 154,
   'JDRF One': 323,
   'Bus Stop': 77,
   'capillary study at home': 755,
   'Type 1 Nation Summitt': 701,
   'Hospital': 268,
   'JDRF Family Event': 311,
   'Diabetes 101': 158,
   'Recruit home': 566,
   'JDRF Family Day Greensboro NC': 306,
   'GP surgery': 231,
   'Family Day': 209,
   'SPE PROGRAMME': 590,
   'JDRF TID Nation': 347,
   'participants home': 832,
   'AT HOME ADDRESS': 40,
   'Sam Fuld': 599,
   'TEDDY clinic Helsingborg': 660,
   'JDRF/CCHMC BOOFEST': 397,
   'JDRF Walk Kickoff': 372,
   'CHOP diabetes conference 2013': 98,
   'JEDRF EVENT': 401,
   'Taking Control of Your Diabetes Conference': 678,
   'clinic': 759,
   'other': 824,
   'Mary Bridge Event': 468,
   '2016 CWD Falls Church, VA': 15,
   'DIABETES SYMPOSIUM': 144,
   'Ft. Myers': 225,
   'Consented but never screened': 137,
   'I': 273,
   'Participants home': 527,
   'Clin chem': 132,
   'Internet': 281,
   'JDRF T1D SUMMIT': 343,
   'At the event  site at the GYS': 52,
   'Sweet Run 2014': 633,
   'Quest': 556,
   "GP's": 233,
   'Beat the Bridge': 68,
   'Home Address': 257,
   'JDRF Family Day, Greensboro, NC': 310,
   'TEDDY Simrishamn': 658,
   '2013 JDRF Research Summit in Bethesda, MD': 10,
   'Bozeman screening clinic': 76,
   'screening event in Wheeling,WV': 863,
   'GP Surgery': 229,
   'WakeMedT1D Day': 730,
   'SWEENEY': 596,
   'Dr. xxxxxx': 182,
   'Primary helath care clinic': 551,
   'Camp Little Shot': 110,
   'CBS kit': 89,
   'Boomers, Fresno, CA event on 2-24-14.': 72,
   'JDRF Type One Nation - education event': 356,
   'JDRF INLAND EMPIRE TRIAL NET EVENT': 314,
   'Diabetes BootCamp': 166,
   'JDRF City of Hope Meetings': 290,
   'FROM A RELATIVE': 206,
   'Home vsit': 266,
   'JDRF INLAND EMPIRE TRIAL NET': 313,
   'WakeMed T1D Day': 729,
   'Family Reunion': 212,
   'Hospital at diabetes clinic': 269,
   'ALBUQUERQUE': 38,
   'Legacy event': 432,
   'Living Well with Diabetes Conference': 436,
   'DR xxxxxx OFFICE': 150,
   'pic centre': 840,
   'presentation': 841,
   'JDRF Event- Type One Nation': 300,
   'lab': 801,
   'TEDDY': 654,
   'Diabetes 101 Class': 159,
   'Klamath Falls Diabetes fair': 408,
   '2016 JDRF Research Summit in Bethesda, MD': 19,
   'JDRF Conference- Greensboro': 293,
   'PATIENTS HOME': 517,
   'LIONS': 416,
   'Mile Bluff Medical Center- Clinic Lab': 478,
   'M Health Explorer Clinic': 446,
   'primary health are clinic': 846,
   'JDRF Family Day, Greensboro NC': 309,
   '0013': 1,
   'MISSOULA EVENT': 456,
   'path lab': 834,
   'primary care clinic': 844,
   '2015 JDRF Research Summit in Bethesda,MD': 13,
   'CONNECT ONE': 101,
   'xxxxxx clinic': 881,
   'SWEENY': 597,
   'Family Event': 211,
   'JDRF Family Day - Greensboro NC': 305,
   'Villagio Cinema': 728,
   'JDRF Walk Bethany, WV': 370,
   'event': 773,
   'pediatric clinic': 839,
   'MD office': 452,
   'Macon': 465,
   'RESEARCH TEAM': 563,
   'Bike tour': 71,
   'JEDR Event': 400,
   'In-home screening visit': 280,
   '2013 JDRF Research Summit in Bethesa, MD': 8,
   'Medical office, xxxxxx 11042': 473,
   'Type 1 Nation': 699,
   'FAMILY DIABETES DAY': 199,
   'Mother is a nurse': 486,
   'Bus stop': 78,
   'Slam Dunk Basketball Camp': 619,
   'Diabetes Support Group': 172,
   'VMMC': 725,
   'Dr. xxxxxx office': 184,
   'TDI': 653,
   'T 1 Nation Event': 635,
   'Polyclinic': 537,
   'JDRF Lecture event': 316,
   "DR xxxxxx'S OFFICE": 151,
   'Focus on Tech.': 214,
   "Patient's home": 530,
   'ADA Family Event': 32,
   "Recruit's home": 567,
   'GP practice': 230,
   'Meeting': 475,
   'At the satand at The Great Yorkshire Show': 53,
   'BUMC South': 61,
   'Satelite site': 606,
   'home screening': 788,
   'JDRF T1 NATION SUMMIT': 341,
   "FAMILY CAMP - CHILDREN'S DIABETES FOUNDATION OF NORTH BAY": 198,
   'JDRF at the Field Museum': 374,
   'JDRF City of Hope meetings': 291,
   'conference': 762,
   'T1 Nation Walk': 638,
   'JDRF Family Day Six Flags Great America': 307,
   'friends for life': 779,
   'JRDF Event': 402,
   'doctors surgery': 770,
   'Qwest': 557,
   'LOCAL HOSPITAL': 420,
   'Helena, MT - screening event': 254,
   'HOME TEST KIT': 242,
   'Primary care clinic': 546,
   'Harris Hospital': 245,
   'Hospital clinic': 271,
   'Unknown  subject transferred to this site 2002': 720,
   'CWD Falls Church 2018': 104,
   "In Subject's Home": 276,
   'Teddy Kristianstad': 680,
   'BEARSKIN CAMP #1': 54,
   'LIONS CONF': 418,
   'Primary health Care': 547,
   'friend': 778,
   'JDRF VE': 363,
   'Lucille Packards Childrens Hospital Endocrinology': 445,
   'clinic screening event': 760,
   'TCOYD conference': 649,
   'diabetic research nurse': 769,
   'Eagle Scout Project': 189,
   'EVENT': 187,
   'Subjects home address': 629,
   'Regional Laboratory': 569,
   'JDRF evemt': 376,
   'Remote Screening': 571,
   'TEDDY visit': 664,
   'Slam Dunk for a Cure Basketball Camp': 622,
   'Walk N Rolla Walk and Health Fair at UTPA': 732,
   'JDRF TYPE ONE NATION SUMMIT CONFERENCE': 350,
   'Satellite Office': 607,
   'Spokane, WA -  Screening event': 623,
   'At hospital': 50,
   'xxxxxx': 879,
   'Golisano Childrens': 234,
   'SAM FULD CAMP': 580,
   'Teddy Helsingborg': 679,
   'Mom who is a nurse': 485,
   'Harvard Vanguard': 246,
   'CWD Focus on Tech': 105,
   'JDRF family event': 382,
   'Mills Peninsula event on 5-22-12': 481,
   'Legacy Screening event': 431,
   'local pediatrician': 805,
   'VM screening event': 724,
   'CAMP SWEENEY': 81,
   'school': 861,
   'T1 diabetes association meeting': 639,
   'Renton': 573,
   'Capillary Kit': 115,
   'BUMC south campus': 63,
   'Mills Peninsula event 5-22-12': 480,
   'N HORIZONS': 487,
   'Legacy Screening Event': 430,
   'family camp': 775,
   'JDRF Stanford Screening Event San Luis Obispo': 337,
   'Type One Nation Summit': 709,
   'San Bernardino JDRF': 601,
   'Legacy Diabetes 101 Class': 429,
   'JDRF walk kickoff': 393,
   'tcoyd event': 872,
   'hospital': 793,
   'JDRF TypeOneNation Summit': 362,
   'JDRF SUMMER BLAST': 335,
   'Capillary Blood Collection Kit': 112,
   'La Jolla': 422,
   'DR. xxxxxx MD': 152,
   'OUTREACH CLINIC': 494,
   'Capillary Blood Sample Home Kit': 113,
   'Yale Pediatric Diabetes Group Family Day': 737,
   'PAEDIATRIC DIABETIC CLINIC': 514,
   'MUCIVO': 462,
   'ADA Expo': 30,
   'TEDDY Ystad': 659,
   'recruits home': 854,
   'SAM FULD SPORTS COMPLEX': 583,
   'family member': 777,
   'Home via xxxxxx': 262,
   'diabetes group': 767,
   'Disneyland Hotel': 180,

In [126]:
for item in embed:
    item['Details'] = str(item['Details'])  # or list(item['Details'].items())

# Create DataFrame
df1= pd.DataFrame(embed)

df1.rename(columns={'Column'ï¼š'Variable Name'})

SyntaxError: invalid character 'ï¼š' (U+FF1A) (2060851917.py, line 7)

In [127]:
df1=df1.rename(columns={'Column': 'Variable Name'})

In [128]:
df1

,Variable Name,Details
0,_15Aug2011ConsentForResidualSa,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}"
1,WhichProtocolVersion,"{'nan': 2, 'October 10, 2017': 1, '22February2..."
2,ProtocolVersion,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'..."
3,Rbcresults_Units,"{'NaN': 0, 'x10^12 cells/L': 1}"
4,RBCResultsNormal,"{'nan': 2, 'Yes': 1, 'No': 0}"
...,...,...
346,STIstheparticipantcurrentlytak,"{'nan': 2, 'Yes': 1, 'No': 0}"
347,STWastheparticipantcontactedat,"{'nan': 2, 'Yes': 1, 'No': 0}"
348,HbA1c_Units,"{'Hb%': 0, 'NaN': 1}"
349,Height_cm_units,{'cm': 0}
350,Weight_kg_units,{'kg': 0}

In [131]:



result_df = pd.merge(df1, d1, on='Variable Name', how='left')

In [135]:
result_df

,Variable Name,Details,Variable Type,Measurement Units as applicable,Corresponding Code List,Missingness Representation
0,_15Aug2011ConsentForResidualSa,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",object,NaN,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",KNN Imputation
1,WhichProtocolVersion,"{'nan': 2, 'October 10, 2017': 1, '22February2...",object,NaN,"{'nan': 4, '15August2011': 0, '22July2009': 2,...",KNN Imputation
2,ProtocolVersion,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",object,NaN,"{'nan': 7, '3.0': 2, '4.0': 3, '2.0': 1, 'Octo...",KNN Imputation
3,Rbcresults_Units,"{'NaN': 0, 'x10^12 cells/L': 1}",object,NaN,"{'nan': 0, 'x10^12 cells/L': 1}",KNN Imputation
4,RBCResultsNormal,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation
...,...,...,...,...,...,...
346,STIstheparticipantcurrentlytak,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation
347,STWastheparticipantcontactedat,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,"{'nan': 2, 'Yes': 1, 'No': 0}",KNN Imputation
348,HbA1c_Units,"{'Hb%': 0, 'NaN': 1}",object,NaN,"{'nan': 1, 'Hb%': 0}",KNN Imputation
349,Height_cm_units,{'cm': 0},object,NaN,{'cm': 0},KNN Imputation
350,Weight_kg_units,{'kg': 0},object,NaN,{'kg': 0},KNN Imputation

In [138]:
result=result_df.drop('Corresponding Code List',axis=1)

In [141]:
result['Missingness Representation']='add Null as a category'

In [143]:
result['Variable Type']='object'

In [151]:
result=result.rename(columns={'Details':'Corresponding Code List'})

In [152]:
result

,Variable Name,Corresponding Code List,Variable Type,Measurement Units as applicable,Missingness Representation
0,_15Aug2011ConsentForResidualSa,"{'nan': 3, 'Yes': 2, 'No': 0, 'Unknown': 1}",object,NaN,add Null as a category
1,WhichProtocolVersion,"{'nan': 2, 'October 10, 2017': 1, '22February2...",object,NaN,add Null as a category
2,ProtocolVersion,"{'nan': 5, '3.0': 1, '2.0': 0, '4.0': 2, 'New'...",object,NaN,add Null as a category
3,Rbcresults_Units,"{'NaN': 0, 'x10^12 cells/L': 1}",object,NaN,add Null as a category
4,RBCResultsNormal,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,add Null as a category
...,...,...,...,...,...
346,STIstheparticipantcurrentlytak,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,add Null as a category
347,STWastheparticipantcontactedat,"{'nan': 2, 'Yes': 1, 'No': 0}",object,NaN,add Null as a category
348,HbA1c_Units,"{'Hb%': 0, 'NaN': 1}",object,NaN,add Null as a category
349,Height_cm_units,{'cm': 0},object,NaN,add Null as a category
350,Weight_kg_units,{'kg': 0},object,NaN,add Null as a category

In [176]:
result2=pd.DataFrame({'Variable Name':date_columns})

In [177]:
result2['Corresponding Code List']=None
result2['Variable Type']='datetime64'
result2['Measurement Units as applicable']=None
result2['Missingness Representation']=0

In [175]:
result2

,Variable Name,Corresponding Code List,Variable Type,Measurement Units as applicable,Missingness Representation
0,DateSignedNEWInformedConsentFoDate,None,object,None,0

In [168]:

categorical_columns = df.select_dtypes(include=['object', 'category']).columns
numerical_columns = df.select_dtypes(include=['int', 'float']).columns
date_columns = df.select_dtypes(include=['datetime64']).columns

print("Categorical columns:", categorical_columns)
print('number of categorical columns:',len(categorical_columns))
print("Numerical columns:", numerical_columns) 
print('number of numerical columns:',len(numerical_columns))
print('number of date columns:',len(date_columns))

Categorical columns: Index(['Visit_Dt', 'DateResultsReportedByLabUnknow', 'Date_of_Registration',
       'RememberDateOfMostRecentHbA1c', 'DateOfRegistration',
       'DiabeticKetoacidosisTimeOfDiag', 'MethylprednisoneGivenDoseTimeM',
       'TimeDoseGivenHr', 'ParticipantDateDispensedYea4_1',
       'Spring2019ConsentDateDate', 'DateOfBloodDrawDate', 'DateReportedDate',
       'ScreeningDate', 'ConsentSignedDate', 'DateConsentSignedDate',
       'SamplesCollectionDate', 'LastHbA1cDate', 'WrittenInformedConsentDate',
       'Type1DiabetesDiagnosisDate', 'FluVaccinationDateDate',
       'DateTestsRunDate', 'StudyDrugReturnedDate', 'StudyDrugDispensedDate',
       'BirthDate', 'DateOfBirthDate', 'HbA1crecordDateDate',
       'DateRecordedDate1', 'DateRecordedDate2', 'DateRecordedDate3',
       'ParticipantDateDispensedDate1_1', 'ParticipantDateDispensedDate2_1',
       'ParticipantDateDispensedDate3_1', 'MechanisticSampleCollectionDate',
       'DateSignedInformedConsentFormDate', 'OGTTTestStartTime',
       'MMTTTestStartTime', 'TimeOfCollection', 'TimeResultsProcessedByLab'],
      dtype='object')
number of categorical columns: 38
Numerical columns: Index(['MaskID', '_15Aug2011ConsentForResidualSa', 'WhichProtocolVersion',
       'ProtocolVersion', 'Rbcresults_Units', 'RBCResultsNormal',
       'RBCResultAbormalClinicallySign', 'HemoglobinResults_Units',
       'HemoglobinResultsNormal', 'HemoglobinResultAbormalClinica',
       ...
       'AgeOfRelativeWithT1D3_1_missing_indicator',
       'AgeOfOnsetInRelativeWithT1D3_1_missing_indicator',
       'AgeRelativeWithT1DStartedIn3_1_missing_indicator',
       'AgeOfRelativeWithT1D4_1_missing_indicator',
       'AgeOfOnsetInRelativeWithT1D4_1_missing_indicator',
       'AgeRelativeWithT1DStartedIn4_1_missing_indicator',
       'SeatedArmBPSystolic_missing_indicator',
       'SeatedArmBPDiastolic_missing_indicator',
       'SeatedHeartRate_missing_indicator',
       'SeatedRespiratoryRate_missing_indicator'],
      dtype='object', length=452)
number of numerical columns: 452
number of date columns: 1

In [170]:
date_columns

Index(['DateSignedNEWInformedConsentFoDate'], dtype='object')